@charset "UTF-8";

@import "app/styles/lacsso/abstracts/variables";

//@import 'bower_components/rancher-icons/style.scss';
@import "app/styles/lacsso/fonts/prompt";
@import "app/styles/lacsso/fonts/icons";

// 1. Configuration and helpers
@import "app/styles/lacsso/abstracts/functions";
@import "app/styles/lacsso/abstracts/mixins";
@import "app/styles/lacsso/abstracts/decimal";

// 2. Vendors
@import "app/styles/lacsso/vendor/normalize";

// 3. Base stuff
@import "app/styles/lacsso/base/base";
@import "app/styles/lacsso/base/color";
@import "app/styles/lacsso/base/typography";
@import "app/styles/lacsso/base/helpers";

// 4. Layout-related sections
@import "app/styles/lacsso/layout/header";
@import "app/styles/lacsso/layout/footer";
@import "app/styles/lacsso/layout/grid";
@import "app/styles/lacsso/layout/large";
@import "app/styles/lacsso/layout/medium";
@import "app/styles/lacsso/layout/small";

// 5. Components
@import "app/styles/lacsso/components/alerts";
@import "app/styles/lacsso/components/modals";
@import "app/styles/lacsso/components/nav";
@import "app/styles/lacsso/components/button";
@import "app/styles/lacsso/components/banners";
@import "app/styles/lacsso/components/badges";
@import "app/styles/lacsso/components/dropdowns";
@import "app/styles/lacsso/components/tables";
@import "app/styles/lacsso/components/tabs";
@import "app/styles/lacsso/components/tooltip";
@import "app/styles/lacsso/components/forms";
@import "app/styles/lacsso/components/pagination";

