{{settings/settings-header}}
{{!--
    {{#if settings.isRancher}}
    <section class="box mb-20">
    {{settings/telemetry-opt initialValue=model.telemetry}}
    </section>

    <hr/>
    {{/if}}
    --}}

{{!--
  {{settings/danger-zone}} --}}

{{settings/server-url
    serverUrlSetting=model.serverUrlSetting
    serverUrl=model.serverUrl
}}