<section class="header">
  <h1>{{t 'nav.admin.settings.tab'}}</h1>
</section>
{{!--
{{#if settings.isRancher}}
  <section class="box mb-20">
    {{settings/telemetry-opt
        initialValue=model.telemetry.value
    }}
  </section>

  <hr/>
{{/if}}
--}}
{{!--
  {{settings/danger-zone}} --}}

{{settings/server-url
    serverUrlSetting=model.serverUrlSetting
    serverUrl=model.serverUrl
}}