<div class="shell-popup">
  {{container-shell
    instance=model
    command=command
    windows=windows
    containerName=containerName
    showProtip=false
    cols=80
    rows=24
    dismiss=(action "cancel")
    disconncted=(action "cancel")
  }}
</div>
