<tr class="main-row">
    <td width="100" class="pl-15 pr-15 vertical-top  pt-15"><BadgeState @model={{badgeState}} class="text-center full-width" /></td>
    <td>
        {{model.name}}
    </td>
</tr>