<div class="whiteboxloader">
  <div class="loader-inner ball-clip-rotate-pulse">
    <div></div>
    <div></div>
  </div>
  <div class="text-center mt-20">Please wait while we redirect you back to {{settings.appName}}</div>
</div>
