<tr>
  <td class="state force-wrap">
    {{badge-state model=snapshot}}
  </td>
  <td class="force-wrap">
    {{#tooltip-element type="tooltip-basic" model=snapshot tooltipTemplate="tooltip-storage" tooltipFor="snapshotSection"}}
      <span class="hand">{{snapshot.name}}</span> <i classs="icon icon-info"></i>
    {{/tooltip-element}}
  </td>
  <td class="actions">
    {{action-menu model=snapshot}}
  </td>
</tr>
