<div class="background"></div>
<div class="logo"></div>

{{#link-to "hosts" title="Hosts" classNames="nav-hosts" classNameBindings="isHost:active"}}
  <i class="ss-database fa-lg"></i>
  <label>Hosts</label>
{{/link-to}}

{{#link-to "containers" title="Containers" classNames="nav-containers" classNameBindings="isContainer:active"}}
  <i class="ss-box fa-lg"></i>
  <label>Containers</label>
{{/link-to}}

{{#link-to "volumes" title="Volumes" classNames="nav-volumes"}}
  <i class="ss-hdd fa-lg"></i>
  <label>Volumes</label>
{{/link-to}}

{{#if hasRegistries}}
  {{#link-to "registries" title="Registries" classNames="nav-registries"}}
    <i class="ss-bookmark fa-lg"></i>
    <label>Registries</label>
  {{/link-to}}
{{/if}}

{{#link-to "apikeys" title="API" classNames="nav-api"}}
  <i class="fa fa-code fa-lg"></i>
  <label>API</label>
{{/link-to}}
