<div class="logo">
  <img src="{{unbound app.baseAssets}}/assets/images/rancher.png"/>
</div>

<ul>
  {{#link-to "hosts" tagName="li" title="Hosts"}}
    <a {{bind-attr href="view.href"}}>
      <i class="fa fa-fw fa-lg fa-inverse fa-server"></i>
      <label>Hosts</label>
    </a>
  {{/link-to}}

  {{#link-to "volumes" tagName="li" title="Volumes"}}
    <a {{bind-attr href="view.href"}}>
      <i class="fa fa-fw fa-lg fa-inverse fa-floppy-o"></i>
      <label>Volumes</label>
    </a>
  {{/link-to}}

  {{#link-to "apikeys" tagName="li" title="API"}}
    <a {{bind-attr href="view.href"}}>
      <i class="fa fa-fw fa-lg fa-inverse fa-code"></i>
      <label>API</label>
    </a>
  {{/link-to}}
</ul>
