<div class="logo">
  <img src="{{unbound app.baseAssets}}/assets/images/rancher.png"/>
</div>

<ul>
  {{#link-to "hosts" tagName="li" title="Hosts"}}
    <a {{bind-attr href="view.href"}}>
      <span class="fa-stack fa-fw fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
      </span>
      <label>Hosts</label>
    </a>
  {{/link-to}}

  {{#link-to "volumes" tagName="li" title="Volumes"}}
    <a {{bind-attr href="view.href"}}>
      <span class="fa-stack fa-fw fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-floppy-o fa-stack-1x"></i>
      </span>
      <label>Volumes</label>
    </a>
  {{/link-to}}

  {{#link-to "apikeys" tagName="li" title="API"}}
    <a {{bind-attr href="view.href"}}>
      <span class="fa-stack fa-fw fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-code fa-stack-1x"></i>
      </span>
      <label>API</label>
    </a>
  {{/link-to}}
</ul>
