<div class="logo"></div>
<ul>
  {{#link-to "hosts" tagName="li" title="Hosts" classNames="nav-hosts" classNameBindings="isHost:active"}}
    <a {{bind-attr href="view.href"}}>
      <i class="ss-database fa-lg"></i>
      <label>Hosts</label>
    </a>
  {{/link-to}}

  {{#link-to "containers" tagName="li" title="Containers" classNames="nav-containers" classNameBindings="isContainer:active"}}
    <a {{bind-attr href="view.href"}}>
      <i class="ss-box fa-lg"></i>
      <label>Containers</label>
    </a>
  {{/link-to}}

  {{#link-to "volumes" tagName="li" title="Volumes" classNames="nav-volumes"}}
    <a {{bind-attr href="view.href"}}>
      <i class="ss-hdd fa-lg"></i>
      <label>Volumes</label>
    </a>
  {{/link-to}}

  {{#link-to "apikeys" tagName="li" title="API" classNames="nav-api"}}
    <a {{bind-attr href="view.href"}}>
      <i class="fa fa-code fa-lg"></i>
      <label>API</label>
    </a>
  {{/link-to}}
</ul>
