{{#if filteredPipelineHistory.length}}
    {{!-- {{#accordion-list as |al expandFn| }} --}}
      {{#each filteredPipelineHistory as |activity index|}}
        {{#accordion-list-item
          title=(concat '#' activity.run ' ' activity.repository)
          showStatus=true
          detail=(concat activity.branch ' ' (sub-str activity.commit 0 8) ' ' (date-str activity.started))
          status=(t activity.statusLabel)
          statusClass=activity.statusClass
          expandAll=(if (eq index 0) true false)
          expand=(action expandFn)
          componentName='activity-table'
          className=(concat "header-pipeline " model.activities.statusClass)
          as | parent |
        }}
          {{#if activity.showTransitioningMessage}}
            {{banner-message icon=activity.bannerIcon color=(concat activity.bannerClass ' mb-0 mt-10') message=activity.transitioningMessage}}
          {{/if}}
          {{table-activity-row
            activity=activity
            logStatus=logStatus
            index=index
          }}
        {{/accordion-list-item}}
      {{/each}}
    {{!-- {{/accordion-list}} --}}
{{else}}
  <p class="text-center text-muted">{{t 'pipelineHistories.empty'}}</p>
{{/if}}
