<div class="row pl-20 pr-20">
  {{#each gauges as |gauge|}}
    <div class="col span-3">{{percent-gauge value=gauge.value title=gauge.title subtitle=gauge.subtitle ticks=gauge.ticks}}</div>
  {{/each}}
</div>