  <i class="icon icon-stacks"></i>
  <h2>Adding your first Service</h2>
  <p>
    A service is simply a group of containers created from the same Docker image but extends Docker's &quot;link&quot; concept to leverage {{settings.appName}}'s lightweight distributed DNS service for service discovery.
    Services can be added individually or by deploying an item from the Catalog.</p>
    <p>A service is also capable of leveraging other {{settings.appName}} built-in services such as load balancers, health monitoring, upgrade support, and high-availability.
    {{#if settings.isRancher}}<a href="{{docsBase}}/rancher-ui/applications/stacks/adding-services/" target="_blank">Learn More</a>{{/if}}
  </p>
  <button role="button" class="btn btn-primary" {{action "newService"}}>Add Service</button>
  {{#link-to "catalog-tab" class="btn btn-primary"}}Add From Catalog{{/link-to}}
