<div class="banner bg-info" {{action "hideAccessWarning"}}>
  <div class="banner-icon" {{action "hideAccessWarning"}}><span class="icon icon-info"></span></div>
  <div class="banner-message">
    {{t 'tooltipWarning.notConfigured'}}
  </div>
  <div class="dismiss pull-right"><i class="icon icon-close"></i> {{t 'tooltipWarning.dismiss'}}</div>
</div>