<span class="tooltip-content-inner warning">
  {{t 'tooltipWarning.notConfigured'}}
</span>
<div class="dismiss pull-right" {{action "hideAccessWarning"}}><i class="icon icon-close"></i> {{t 'tooltipWarning.dismiss'}}</div>
