<div {{action "hideAccessWarning"}}>
  <p class="m-0">{{t 'tooltipWarning.notConfigured'}}</p>
  <div class="dismiss"><small>{{t 'tooltipWarning.dismiss'}}</small> <i class="icon icon-close"></i> </div>
</div>