<div {{action "hideAccessWarning"}}>
<span class="tooltip-content-inner warning" {{action "hideAccessWarning"}}>
  {{t 'tooltipWarning.notConfigured'}}
</span>
<div class="dismiss pull-right"><i class="icon icon-close"></i> {{t 'tooltipWarning.dismiss'}}</div>
</div>
