<div {{action "hideAccessWarning"}}>
  <p class="m-0 inline-block">{{t 'tooltipWarning.notConfigured'}}</p>
  <div class="dismiss inline-block"><small>{{t 'tooltipWarning.dismiss'}}</small> <i class="icon icon-close"></i> </div>
</div>