<div class="banner bg-info m-0" {{action "hideAccessWarning"}}>
{{!--   <div class="banner-icon p-0" {{action "hideAccessWarning"}}><span class="icon icon-info"></span></div>
 --}}  <div class="banner-message m-0">
    <p class="m-0">{{t 'tooltipWarning.notConfigured'}}</p>
  </div>
  <div class="dismiss pull-right"><i class="icon icon-close"></i> {{t 'tooltipWarning.dismiss'}}</div>
</div>