<div class="pr-75" {{action "hideAccessWarning"}}>
{{!--   <div class="banner-icon p-0" {{action "hideAccessWarning"}}><span class="icon icon-info"></span></div>
 --}}
  <div class="dismiss"><small>{{t 'tooltipWarning.dismiss'}}</small> <i class="icon icon-close"></i> </div>
  <p class="m-0 pr-75">{{t 'tooltipWarning.notConfigured'}}</p>
</div>