//** Background color for `<body>`.
$body-bg                             : $black;
//** Global text color on `<body>`.
$text-color                          : $light-grey;
$text-muted                          : darken($mid-grey, 20%);

$primary                             : $primary; //button non state
$primary-dark                        : darken($primary, 20%);

$darken-helper                       : rgba($black, 10);
$lighten-helper                      : rgba(white, 10);

//states
$success                             : desaturate($success, .75); //good
$info                                : desaturate($info, .75); //transitioning
$warning                             : desaturate($warning, .75); // orange degraded
$error                               : desaturate($error, .75); // stopped inactive bad

$bg-default                          : mix($mid-grey, $dark-grey);
$bg-disabled                         : desaturate($mid-grey, .65);
$bg-primary                          : desaturate($primary, 50%);
$bg-secondary                        : desaturate($secondary, 20%);
$bg-success                          : desaturate($success, 20%);
$bg-info                             : desaturate($info, 20%);
$bg-warning                          : desaturate($warning, 20%);
$bg-error                            : desaturate($error, 20%);

//** Global textual link color.
$link-color                          : desaturate($link-color, 10%);
//** Link hover color set via `darken()` function.
$link-hover-color                    : lighten($primary, 15%);
//** Link hover decoration.
$link-hover-decoration               : none;

//accent colors
$accent-one                          : $mid-grey;
$accent-two                          : $dark-grey;
$accent-three                        : darken($black, 20%);

$accent-bg                           : $accent-two;
$accent-border                       : rgba($light-grey,.05);

/*header*/
$header                              : $bg-primary;
$header-link                         : $light-grey;
$header-link-active                  : $primary;
$user-btn                            : darken($header, 5%);

$header-text                         : $mid-grey;

/*footer*/
$footer                              : darken($black, 20%);

// Horizontal line color.
$border                              : $dark-grey;

/*shadow colors*/
$shadow                              : rgba($black, .75);

//** Default background color used for all tables.
$table-bg                            : rgba($dark-grey, .7);
$table-header                        : $link-color;

//** Background color used for `.table-striped`.
$table-bg-accent                     : rgba($mid-grey, .1);

//** Background color used for `.table-hover`.
$table-bg-hover                      : rgba($info, .25);
$table-bg-active                     : $table-bg-hover;
$table-bg-selected                   : $accent-three;

//** Border color for table and cell borders.
$table-border-color                  : $mid-grey;

// banners
$banner-default                      : $light-grey;
$banner-disabled                     : rgba($mid-grey, .65);
$banner-primary                      : rgba($primary, .3);
$banner-secondary                    : rgba($secondary, .3);
$banner-success                      : rgba($success, .3);
$banner-info                         : rgba($info, .3);
$banner-warning                      : rgba($warning, .3);
$banner-error                        : rgba($error, .3);
$banner-color                        : white;


//** Global color for active items (e.g., navs or dropdowns).
$component-active-color              : white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg                 : $primary;

/*Forms*/
//** Placeholder text color
$input-color-placeholder             : darken($light-grey, 50%);

//** `<input>` background color
$input-bg                            : $dark-grey;
$input-bg-hover                      : $light-grey;


//** `<input disabled>` background color
$input-bg-disabled                   : #f3f4f8;

//** Text color for `<input>`s
$input-color                         : $text-color;

//** `<input>` border color
$input-border                        : transparent;
//** Border color for textual input addons
$input-group-addon-border-color      : $input-border;

//** Border color for inputs on focus
$input-border-focus                  : #66afe9;

$legend-color                        : $text-color;
$legend-border-color                 : #e5e5e5;

//** Background color for textual input addons
$input-group-addon-bg                : $mid-grey;

/*Dropdowns Dropdown menu container and contents.*/

//** Background for the dropdown menu.


$dropdown-bg                         : $bg-default;

//** Dropdown menu `border-color`.
$dropdown-border                     : transparent;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border            : transparent;
//** Divider color for between dropdown items.
$dropdown-divider-bg                 : rgba($black,.55);

//** Dropdown link text color.
$dropdown-link-color                 : white;
//** Hover color for dropdown links.
$dropdown-link-hover-color           : $light-grey;
//** Hover background for dropdown links.
$dropdown-link-hover-bg              : $component-active-bg;

//** Active dropdown menu item text color.
$dropdown-link-active-color          : white;
//** Active dropdown menu item background color.
$dropdown-link-active-bg             : $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color        : $mid-grey;

//** Text color for headers within dropdown menus.
$dropdown-header-color               : $mid-grey;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color                : #000;


/*Pagination*/

$pagination-color                    : $primary;
$pagination-bg                       : #f5f5f5;
$pagination-border                   : #ddd;

$pagination-hover-color              : $link-hover-color;
$pagination-hover-bg                 : $mid-grey;
$pagination-hover-border             : #ddd;

$pagination-active-color             : $light-grey;
$pagination-active-bg                : white;
$pagination-active-border            : #ddd;

$pagination-disabled-color           : $mid-grey;
$pagination-disabled-bg              : white;
$pagination-disabled-border          : #ddd;

/*jumbotron*/
$jumbotron-bg                        : $mid-grey;

/*Form states and alerts Define colors for form feedback states and, by default, alerts.*/

$state-success-text                  : white;
$state-success-bg                    : $success;
$state-success-border                : darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text                     : white;
$state-info-bg                       : $info;
$state-info-border                   : darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-bg                    : $warning;
$state-warning-text                  : white;
$state-warning-border                : darken($warning, 20%);

$state-danger-text                   : white;
$state-danger-bg                     : $error;
$state-danger-border                 : darken(adjust-hue($state-danger-bg, -10), 3%);


//** Tooltip text color
$tooltip-color                       : white;
//** Tooltip background color
$tooltip-bg                          : rgba($black,.9);
$tooltip-opacity                     : .9;
//** Tooltip arrow color
$tooltip-arrow-color                 : $tooltip-bg;


//** Background color of modal content area
$modal-content-bg                    : $dark-grey;
//** Modal content border color
$modal-content-border-color          : transparent;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color : #999;

//** Modal backdrop background color
$modal-overlay                       : rgba($black, 0.85);

//** Modal header border color
$modal-header-border-color           : #e5e5e5;
//** Modal footer border color
$modal-footer-border-color           : $modal-header-border-color;

//** Default label text color
$label-color                         : lighten($mid-grey, 20%);

$header-link-text                    : #afb9c8;
$nav-link-hover-bg                   : $mid-grey;

/*Tabs*/
$tab-bg                              : lighten($dark-grey, 5%);
$tab-active-bg                       : lighten($dark-grey, 5%);
$tab-hover                           : darken($primary, 5%);
$tab-color                           : $primary;
$tab-accent                          : $dark-grey;

$close-color                         : white;
$close-text-shadow                   : 0 1px 0 white;

/*Code*/
$code-color                          : #fcf2e9;
$code-bg                             : rgba(mix($warning, $error, 20%), .5);

$pre-bg                              : rgba($light-grey, .1);
$pre-color                           : $input-color;
$pre-border-color                    : $light-grey;
