//** Background color for `<body>`.
$body-bg                             : $black;
//** Global text color on `<body>`.
$text-color                          : $light-grey;

$primary                             : $primary; //button non state
$primary-dark                        : darken($primary, 20%);

//states
$success                             : rgba($success, .75); //good
$info                                : rgba($info, .75); //transitioning
$warning                             : rgba($warning, .75); // orange degraded
$error                               : rgba($error, .75); // stopped inactive bad

//** Global textual link color.
$link-color                          : lighten($primary, 12%);
//** Link hover color set via `darken()` function.
$link-hover-color                    : lighten($primary, 15%);
//** Link hover decoration.
$link-hover-decoration               : none;

//accent colors
$accent-one                          : rgba($light-grey,.05);
$accent-two                          : $dark-grey;
$accent-three                        : darken($black, 20%);


/*header*/
$header                              : $mid-grey;
$header-link                         : $light-grey;
$header-link-active                  : $primary;
$user-btn                            : darken($header, 5%);

/*footer*/
$footer                              : darken($black, 20%);


/*shadow colors*/
$shadow                              : #000;

//** Default background color used for all tables.
$table-bg                            : rgba($dark-grey, .20);
//** Background color used for `.table-striped`.
$table-bg-accent                     : rgba($dark-grey, .5);

//** Background color used for `.table-hover`.
$table-bg-hover                      : rgba($warning, .85);
$table-bg-active                     : $table-bg-hover;
//** Border color for table and cell borders.
$table-border-color                  : rgba(255,255,255,.15);


/*ButtonsFor each of Bootstrap's buttons, define text, background and border color.*/
$btn-default-color                   : $mid-grey;
$btn-default-bg                      : transparent;
$btn-default-border                  : $mid-grey;
$btn-default-hover                   : rgba($mid-grey,.3);

$btn-primary-color                   : $link-color ;
$btn-primary-bg                      : transparent;
$btn-primary-border                  : $primary;
$btn-primary-hover                   : rgba($link-color,.15);

$btn-success-color                   : $success;
$btn-success-bg                      : transparent;
$btn-success-border                  : $success;
$btn-success-hover                   : rgba($success,.15);

$btn-info-color                      : $info;
$btn-info-bg                         : transparent;
$btn-info-border                     : $info;
$btn-info-hover                      : rgba($info,.15);

$btn-warning-color                   : $warning;
$btn-warning-bg                      : transparent;
$btn-warning-border                  : $warning;
$btn-warning-hover                   : rgba($warning,.15);

$bg-danger-color                     : $error;
$bg-danger-bg                        : transparent;
$bg-danger-border                    : $error;
$bg-danger-hover                     : rgba($error,.15);

$btn-disabled-color                  : $text-color;
$btn-disabled-bg                     : $dark-grey;
$btn-link-disabled-color             : $mid-grey;
$btn-disabled-hover                  : rgba($text-color,.3);


//** Global color for active items (e.g., navs or dropdowns).
$component-active-color              : white;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg                 : $primary;

/*Forms*/
//** Placeholder text color
$input-color-placeholder             : darken($light-grey, 50%);

//** `<input>` background color
$input-bg                            : rgba($light-grey, .1);


//** `<input disabled>` background color
$input-bg-disabled                   : #f3f4f8;

//** Text color for `<input>`s

$input-color                         : $text-color;

//** `<input>` border color
$input-border                        : transparent;
//** Border color for textual input addons
$input-group-addon-border-color      : $input-border;

//** Border color for inputs on focus
$input-border-focus                  : #66afe9;

$legend-color                        : $text-color;
$legend-border-color                 : #e5e5e5;

//** Background color for textual input addons
$input-group-addon-bg                : $mid-grey;

/*Dropdowns Dropdown menu container and contents.*/

//** Background for the dropdown menu.


$dropdown-bg                         : mix(rgba($mid-grey, .9), rgba($dark-grey, .95));

//** Dropdown menu `border-color`.
$dropdown-border                     : transparent;
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border            : transparent;
//** Divider color for between dropdown items.
$dropdown-divider-bg                 : rgba($black,.55);

//** Dropdown link text color.
$dropdown-link-color                 : white;
//** Hover color for dropdown links.
$dropdown-link-hover-color           : $light-grey;
//** Hover background for dropdown links.
$dropdown-link-hover-bg              : $component-active-bg;

//** Active dropdown menu item text color.
$dropdown-link-active-color          : white;
//** Active dropdown menu item background color.
$dropdown-link-active-bg             : $component-active-bg;

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color        : $mid-grey;

//** Text color for headers within dropdown menus.
$dropdown-header-color               : $mid-grey;

//** Deprecated `$dropdown-caret-color` as of v3.1.0
$dropdown-caret-color                : #000;


$navbar-default-color                : #ecf0f1;
$navbar-default-bg                   : #3498db;
$navbar-default-border               : darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color           : white;
$navbar-default-link-hover-color     : white;
$navbar-default-link-hover-bg        : darken($navbar-default-bg, 10%);
$navbar-default-link-active-color    : $navbar-default-link-hover-color;
$navbar-default-link-active-bg       : $navbar-default-link-hover-bg;
$navbar-default-link-disabled-color  : $light-grey;
$navbar-default-link-disabled-bg     : transparent;

// Navbar brand label
$navbar-default-brand-color          : $navbar-default-link-color;
$navbar-default-brand-hover-color    : white;
$navbar-default-brand-hover-bg       : none;

// Navbar toggle
$navbar-default-toggle-hover-bg      : $navbar-default-link-hover-bg;
$navbar-default-toggle-icon-bar-bg   : white;
$navbar-default-toggle-border-color  : transparent;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color                : white;
$navbar-inverse-bg                   : $primary;
$navbar-inverse-border               : darken($navbar-inverse-bg, 10%);

// Inverted navbar links
$navbar-inverse-link-color           : white;
$navbar-inverse-link-hover-color     : white;
$navbar-inverse-link-hover-bg        : darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-active-color    : $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg       : $navbar-inverse-link-hover-bg;
$navbar-inverse-link-disabled-color  : white;
$navbar-inverse-link-disabled-bg     : transparent;

// Inverted navbar brand label
$navbar-inverse-brand-color          : $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color    : white;
$navbar-inverse-brand-hover-bg       : none;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg      : $navbar-inverse-link-hover-bg;
$navbar-inverse-toggle-icon-bar-bg   : white;
$navbar-inverse-toggle-border-color  : transparent;

$nav-disabled-link-color             : $mid-grey;
$nav-disabled-link-hover-color       : $mid-grey;



/*pills*/
$nav-pills-active-link-hover-bg      : $component-active-bg;
$nav-pills-active-link-hover-color   : $component-active-color;


/*Pagination*/

$pagination-color                    : $primary;
$pagination-bg                       : #f5f5f5;
$pagination-border                   : #ddd;

$pagination-hover-color              : $link-hover-color;
$pagination-hover-bg                 : $mid-grey;
$pagination-hover-border             : #ddd;

$pagination-active-color             : $light-grey;
$pagination-active-bg                : white;
$pagination-active-border            : #ddd;

$pagination-disabled-color           : $mid-grey;
$pagination-disabled-bg              : white;
$pagination-disabled-border          : #ddd;

/*Pager*/

$pager-bg                            : $pagination-bg;
$pager-border                        : $pagination-border;
$pager-border-radius                 : 2px;

$pager-hover-bg                      : $pagination-hover-bg;

$pager-active-bg                     : $pagination-active-bg;
$pager-active-color                  : $pagination-active-color;

$pager-disabled-color                : $mid-grey;


/*jumbotron*/
$jumbotron-bg                        : $mid-grey;

/*Form states and alerts Define colors for form feedback states and, by default, alerts.*/

$state-success-text                  : white;
$state-success-bg                    : $success;
$state-success-border                : darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text                     : white;
$state-info-bg                       : $info;
$state-info-border                   : darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-bg                    : $warning;
$state-warning-text                  : white;
$state-warning-border                : darken($warning, 20%);

$state-danger-text                   : white;
$state-danger-bg                     : $error;
$state-danger-border                 : darken(adjust-hue($state-danger-bg, -10), 3%);


//** Tooltip text color
$tooltip-color                       : white;
//** Tooltip background color
$tooltip-bg                          : rgba($black,.9);
$tooltip-opacity                     : .9;
//** Tooltip arrow color
$tooltip-arrow-color                 : $tooltip-bg;


//** Background color of modal content area
$modal-content-bg                    : white;
//** Modal content border color
$modal-content-border-color          : transparent;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color : #999;

//** Modal backdrop background color
$modal-backdrop-bg                   : #000;
//** Modal backdrop opacity
$modal-backdrop-opacity              : .5;
//** Modal header border color
$modal-header-border-color           : #e5e5e5;
//** Modal footer border color
$modal-footer-border-color           : $modal-header-border-color;

//** Popover body background color
$popover-bg                          : white;
//** Popover border color
$popover-border-color                : rgba($black,.2);
//** Popover fallback border color
$popover-fallback-border-color       : $light-grey;
//** Popover arrow color
$popover-arrow-color                 : $popover-bg;
//** Popover outer arrow color
$popover-arrow-outer-color           : fadein($popover-border-color, 5%);
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color  : darken($popover-fallback-border-color, 20%);



//** Popover title background color
$popover-title-bg                    : darken($popover-bg, 3%);


/*Labels*/

//** Default label background color
$label-default-bg                    : #777;
//** Primary label background color
$label-primary-bg                    : $primary;
//** Success label background color
$label-success-bg                    : $success;
//** Info label background color
$label-info-bg                       : $info;
//** Warning label background color
$label-warning-bg                    : $warning;
//** Danger label background color
$label-danger-bg                     : $error;

//** Default label text color
$label-color                         : white;
//** Default text color of a linked label
$label-link-hover-color              : white;

$header-link-text                    : #afb9c8;
$nav-link-hover-bg                   : $mid-grey;


/*alerts*/
$alert-success-bg                    : $state-success-bg;
$alert-success-text                  : $state-success-text;
$alert-success-border                : $state-success-border;

$alert-info-bg                       : $state-info-bg;
$alert-info-text                     : $state-info-text;
$alert-info-border                   : $state-info-border;

$alert-warning-bg                    : $state-warning-bg;
$alert-warning-text                  : $state-warning-text;
$alert-warning-border                : $state-warning-border;

$alert-danger-bg                     : $state-danger-bg;
$alert-danger-text                   : $state-danger-text;
$alert-danger-border                 : $state-danger-border;


/*Progress bars*/

//** Background color of the whole progress component
$progress-bg                         : $light-grey;
//** Progress bar text color
$progress-bar-color                  : white;
//** Variable for setting rounded corners on progress bar.
$progress-border-radius              : 2px;

//** Default progress bar color
$progress-bar-bg                     : $primary;
//** Success progress bar color
$progress-bar-success-bg             : $success;
//** Warning progress bar color
$progress-bar-warning-bg             : $warning;
//** Danger progress bar color
$progress-bar-danger-bg              : $error;
//** Info progress bar color
$progress-bar-info-bg                : $info;



/*List group*/

//** Background color on `.list-group-item`
$list-group-bg                       : white;
//** `.list-group-item` border color
$list-group-border                   : #ddd;
//** List group border radius
$list-group-border-radius            : 2px;

//** Background color of single list items on hover
$list-group-hover-bg                 : #f5f5f5;
//** Text color of active list items
$list-group-active-color             : $component-active-color;
//** Background color of active list items
$list-group-active-bg                : $component-active-bg;
//** Border color of active list elements
$list-group-active-border            : $list-group-border;
//** Text color for content within active list items
$list-group-active-text-color        : lighten($list-group-active-bg, 40%);

//** Text color of disabled list items
$list-group-disabled-color           : $mid-grey;
//** Background color of disabled list items
$list-group-disabled-bg              : $mid-grey;
//** Text color for content within disabled list items
$list-group-disabled-text-color      : $list-group-disabled-color;

$list-group-link-color               : #555;
$list-group-link-hover-color         : $list-group-link-color;
$list-group-link-heading-color       : #333;
$panel-bg                            : white;
//** Border color for elements within panels
$panel-inner-border                  : #ddd;
$panel-footer-bg                     : #f5f5f5;

$panel-default-text                  : $dark-grey;
$panel-default-border                : #ddd;
$panel-default-heading-bg            : #f5f5f5;

$panel-primary-text                  : white;
$panel-primary-border                : $primary;
$panel-primary-heading-bg            : $primary;

$panel-success-text                  : $state-success-text;
$panel-success-border                : $state-success-border;
$panel-success-heading-bg            : $state-success-bg;

$panel-info-text                     : $state-info-text;
$panel-info-border                   : $state-info-border;
$panel-info-heading-bg               : $state-info-bg;

$panel-warning-text                  : $state-warning-text;
$panel-warning-border                : $state-warning-border;
$panel-warning-heading-bg            : $state-warning-bg;

$panel-danger-text                   : $state-danger-text;
$panel-danger-border                 : $state-danger-border;
$panel-danger-heading-bg             : $state-danger-bg;




$thumbnail-bg                        : $body-bg;
//** Thumbnail border color
$thumbnail-border                    : #ddd;
//** Custom text color for thumbnail captions
$thumbnail-caption-color             : $text-color;

/*Wells*/
$well-bg                             : darken($black, 20%);
$well-border                         : darken($well-bg, 7%);


/*Tabs*/
$tab-bg                              : $dark-grey;
$tab-active-bg                       : $well-bg;
$tab-hover                           : darken($primary, 5%);
$tab-color                           : $primary;

/*badges*/
$badge-color                         : white;
//** Linked badge text color on hover
$badge-link-hover-color              : white;
$badge-bg                            : $primary;

//** Badge text color in active nav link
$badge-active-color                  : $link-color;
//** Badge background color in active nav link
$badge-active-bg                     : white;

/*carosel*/
$carousel-text-shadow                : 0 1px 2px rgba($black,.6);

$carousel-control-color              : white;
$carousel-control-opacity            : .5;
$carousel-indicator-active-bg        : white;
$carousel-indicator-border-color     : white;

$carousel-caption-color              : white;

$close-color                         : white;
$close-text-shadow                   : 0 1px 0 white;

/*Code*/

$code-color                          : #fcf2e9;
$code-bg                             : rgba(mix($warning, $error, 20%), .5);

$pre-bg                              : rgba($light-grey, .1);
$pre-color                           : $input-color;
$pre-border-color                    : $light-grey;


//** Text muted color
$text-muted                          : #999;
//** Abbreviations and acronyms border color
$abbr-border-color                   : $mid-grey;
//** Headings small color
$headings-small-color                : $mid-grey;
//** Blockquote small color
$blockquote-small-color              : $mid-grey;
//** Blockquote font size
$blockquote-font-size                : ($base-font-size * 1.25);
//** Blockquote border color
$blockquote-border-color             : $mid-grey;
//** Page header border color

$page-header-border-color            : $dark-grey;

//** Width of horizontal description list titles
$dl-horizontal-offset                : 10px;
//** Horizontal line color.
$hr-border                           : $mid-grey;
