// Background color for `<body>`.
$body-bg                             : white;

// Global text color on `<body>`.
$text-color                          : $secondary;
$text-muted                          : $mid-grey;

$primary                             : $primary; //button non state
$primary-dark                        : darken($primary, 20%);

$darken-helper                       : rgba($black, .3);
$lighten-helper                      : rgba(white, .3);

// States
$success                             : $success; //good
$info                                : $info; //transitioning
$warning                             : $warning; //orange degraded
$error                               : $error; //red stopped inactive bad

$bg-default                          : $light-grey;
$bg-disabled                         : lighten($mid-grey, 25);
$bg-primary                          : $primary;
$bg-secondary                        : $secondary;
$bg-success                          : $success;
$bg-info                             : $info;
$bg-warning                          : $warning;
$bg-error                            : $error;

// // Global textual link color.
$link-color                          : $link-color;

// Link hover color set via `darken()` function.
$link-hover-color                    : lighten($link-color, 15%);

// Accent colors
$accent-one                          : $light-grey;
$accent-two                          : $mid-grey;
$accent-three                        : $dark-grey;

$accent-bg                           : lighten($light-grey, 5);
$accent-border                       : $light-grey;

$footer                              : $light-grey;

// Horizontal line color.
$border                              : $light-grey;

$shadow                              : rgba($mid-grey, 0.35);
