// Background color for `<body>`.
$body-bg                             : white !default;

// Global text color on `<body>`.
$text-color                          : $secondary !default;
$text-muted                          : $mid-grey !default;

$primary                             : $primary !default; //button non state
$primary-dark                        : darken($primary, 20%) !default;

$darken-helper                       : rgba($black, .3) !default;
$lighten-helper                      : rgba(white, .3) !default;

// States
$success                             : $success !default; //good
$info                                : $info !default; //transitioning
$warning                             : $warning !default; //orange degraded
$error                               : $error !default; //red stopped inactive bad

$bg-default                          : $light-grey !default;
$bg-disabled                         : $disabled !default;
$bg-primary                          : $primary !default;
$bg-secondary                        : $secondary !default;
$bg-success                          : $success !default;
$bg-info                             : $info !default;
$bg-warning                          : $warning !default;
$bg-error                            : $error !default;

// // Global textual link color.
$link-color                          : $link-color !default;

// Link hover color set via `darken()` function.
$link-hover-color                    : lighten($link-color, 15%) !default;

// Accent colors
$accent-one                          : $light-grey !default;
$accent-two                          : $mid-grey !default;
$accent-three                        : $dark-grey !default;

$accent-bg                           : lighten($light-grey, 2) !default;
$accent-border                       : darken($light-grey, 5) !default;

$footer                              : $light-grey !default;

// Horizontal line color.
$border                              : $light-grey !default;

$shadow                              : rgba($mid-grey, 0.35) !default;

$tooltip-link-color                  : darken($light-grey, 10);
