{{#if loading}}
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
  </div>
{{else}}
  {{add-host model=model inModal=true completed=(action 'completed')}}
{{/if}}