<section class="header">
  <h1>Replication Controllers</h1>

  {{#link-to "k8s-tab.namespace.rcs.new" classNames="btn btn-sm btn-primary"}}Add Replication Controller{{/link-to}}
</section>

<section>
  {{#each arranged as |service|}}
    {{k8s/rc-instances model=service}}
  {{else}}
    <span class="text-muted text-center">You do not have any Replication Controllers yet.</span>
  {{/each}}
</section>
