.badge-state {
  @include badge;

  padding: 2px 7px 2px 5px;
  text-transform: capitalize;

  // Successful states are de-emphasized by using [text-]color instead of background-color
  &.bg-success {
    background-color: transparent;
    color: $brand-success;
  }

  &.text-success:hover {
    color: $brand-success;
  }
}

.grid TD.state {
  @include clearfix;

  .badge-state {
    @include clip;
    display: inline-block;
    max-width: 100%;
    float: left;
  }
}
