<section class="header clearfix">
  <h1 class="pull-left">{{t 'projectsListNamespacePage.header'}}</h1>
  <div class="vertical-middle"></div>
  <div class="right-buttons">
    {{#link-to "authenticated.cluster.projects.new-ns" scope.currentCluster.id (query-params addTo=scope.currentProject.id) class="btn bg-primary btn-sm ml-10" disabled=(rbac-prevents resource="namespace" scope="cluster" permission="create")}}
      {{t 'namespacesPage.addNamespace'}}
    {{/link-to}}
  </div>
</section>

<section>
  {{namespace-list model=allNamespace sortBy="project" descending=true}}
</section>