@import "app/styles/abstracts/functions";
@import "app/styles/abstracts/mixins";
// @import "app/styles/totrash/helpers/functions";
@import "vendor/icons/variables";
@import "app/styles/vendor/normalize";//was lacsso


// Theme
// This is the only line that actually changes per theme in this whole file,
// but we have multiple copies of it all anyway...


// Base
// Includes boilerplate for the project. Inlcude things like typography, Normalize, etc.
// @import "app/styles/totrash/base/rancher";
@import "app/styles/fonts/prompt";
@import "app/styles/fonts/icons";
@import "app/styles/base/base";
@import "app/styles/base/color";
@import "app/styles/base/typography";
@import "app/styles/base/helpers";
@import "app/styles/base/icons";

// 1. Configuration and helpers

@import "app/styles/abstracts/decimal";

// Layout
// Layout specific files. Headers, footers, grids...

@import "app/styles/layout/layout";
@import "app/styles/layout/loading";
@import "app/styles/layout/header";
@import "app/styles/layout/footer";
@import "app/styles/layout/grid";
@import "app/styles/layout/large";
@import "app/styles/layout/medium";
@import "app/styles/layout/small";

// Components
// Component-specific files.
@import "app/styles/components/slider";

@import "app/styles/components/badges";//lacsso
@import "app/styles/components/badge-state";

@import "app/styles/components/tables";//lacsso

@import "app/styles/components/growl"; //from rancher
@import "app/styles/components/login"; //from rancher
@import "app/styles/components/pod"; //used on host screen maybe move to pages from rancher
@import "app/styles/components/github-avatar"; //need for user avatar from rancher
@import "app/styles/components/spark-line"; //need from rancher

@import "app/styles/components/tooltip"; //need from rancher

@import "app/styles/components/container-shell"; //from rancher

@import "app/styles/components/modals";//lacsso

@import "app/styles/components/catalog-box"; //need for   from rancher
@import "app/styles/components/project-upgrade"; //need but can remove content   from rancher

@import "app/styles/components/code"; //rancher

@import "app/styles/components/alerts";//lacsso

@import "app/styles/components/button";//lacsso
@import "app/styles/components/banners";//lacsso

@import "app/styles/components/tabs";//lacsso
@import "app/styles/components/forms";//lacsso
@import "app/styles/components/dropdown";
@import "app/styles/components/pagination";//lacsso
@import "app/styles/components/billing-info";
@import "app/styles/components/theme-toggle";
@import "app/styles/components/progress";
@import "app/styles/components/stack-app";

@import "app/styles/components/page-header";
@import "app/styles/components/nav";
@import "app/styles/components/over-hr";
@import "app/styles/components/accordion";
@import "app/styles/components/mark-favorite";

// Vendors
// Pretty much what it says. Vendor specific changes/overrides or includes.
@import "app/styles/vendors/copy-to-clipboard";

// Pages
// Pages that have their own styles.
@import "app/styles/pages/fail-whale";
@import "app/styles/pages/host";
@import "app/styles/pages/registry";
@import "app/styles/pages/stack";
@import "app/styles/pages/container";
@import "app/styles/pages/about";
@import "app/styles/pages/welcome";
@import "app/styles/pages/settings";
@import "app/styles/pages/catalog";
@import "app/styles/pages/virtualmachine";
@import "app/styles/pages/k8s";
