.about {
  overflow: hidden;

  TD, TH {
    padding: 5px 10px;

    &:first-child {
      text-align: right;
    }
  }

  TH {
    font-weight: 600;
  }

  .parachute {
    opacity: 0.75;
    animation: parachute-animation 20s linear infinite forwards;
    background-image: url(images/logo_parachute.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 74px;
    height: 100px;
    top: -100px;
    left: -200px;
  }

}

@keyframes parachute-animation {
  from {
    transform: translate(0,0) scale(1);
  }

  to {
    transform: translate(1000px,400px) scale(0);
  }
}
