.about {
  overflow: hidden;

  TD, TH {
    padding: 5px 10px;

    &:first-child {
      text-align: right;
    }
  }

  TH {
    font-weight: 600;
  }

  .logo-text {
    background-image: url(images/logo_text.svg);
    background-size: 300px;
    background-position: center 30px;
    background-repeat: no-repeat;
    height: 110px;
  }

  .parachute {
    opacity: 0.75;
    -webkit-animation: parachute-animation 20s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    -moz-animation: parachute-animation 20s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    -ms-animation: parachute-animation 20s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    animation: parachute-animation 20s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    background-image: url(images/logo_parachute.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 74px;
    height: 100px;
    top: -10px;
    left: calc(50% - 227px);
  }

}

@keyframes parachute-animation {
  0% {
    transform: translate(0,0) scale(1);
  }

  25% {
    transform: translate(0,0) scale(1);
  }

  100% {
    transform: translate(-100px,500px) scale(0);
  }
}
