@import "app/styles/abstracts/variables";
@import "app/styles/themes/dark";
@import "app/styles/rancher";

//if dark
.theme-ui-dark {
  h1 + span {
    color: $body-bg!important; //auth hidden text
  }
  &.container-farm {
    background: $body-bg;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: url('images/login-cityscape.svg') center center no-repeat;
      background-size: cover;
      -webkit-filter: grayscale(0.95) opacity(0.15);
      -moz-filter: grayscale(0.95) opacity(0.15);
      -o-filter: grayscale(0.95) opacity(0.15);
      -ms-filter: grayscale(0.95) opacity(0.15);
      filter: grayscale(0.95) opacity(0.15);
    }
  }
}
