@import "app/styles/base/colors";
@import "app/styles/helpers/mixins";
@import "app/styles/helpers/functions";
@import "vendor/icons/variables";
@import "vendor/bootswatch-cosmo/_variables";

//******************************************
// THeme
//
// This is the only line that actually changes per theme in this whole file,
// but we have multiple copies of it all anyway...
//******************************************
@import "app/styles/themes/light";

//******************************************
// Base
//
// Includes boilerplate for the project. Inlcude things like typography, Normalize, etc.
//******************************************
@import "app/styles/base/fonts";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "vendor/bootswatch-cosmo/_bootswatch";


//******************************************
// Vendors
//
// Pretty much what it says. Vendor specific changes/overrides or includes.
//******************************************
@import "app/styles/vendors/liquidfire-tweak";
@import "app/styles/vendors/copy-to-clipboard";
@import "app/styles/vendors/prism-theme";
@import "ember-power-select";
@import "app/styles/vendors/power-select";
@import "app/styles/vendors/bootstrap-tweak";

//******************************************
// Layout
//
// Layout specific files. Headers, footers, grids...
//******************************************
@import "app/styles/layout/header";
@import "app/styles/layout/footer";
@import "app/styles/layout/layout";
@import "app/styles/layout/flex-box";

//******************************************
// Components
//
// Component-specific files.
//******************************************
@import "app/styles/components/growl";
@import "app/styles/components/resource-actions";
@import "app/styles/components/login";
@import "app/styles/components/progress-bar";
@import "app/styles/components/pod";
@import "app/styles/components/github-avatar";
@import "app/styles/components/slider";
@import "app/styles/components/sortable";
@import "app/styles/components/spark-line";
@import "app/styles/components/multi-stats";
@import "app/styles/components/tooltip";
@import "app/styles/components/container-shell";
@import "app/styles/components/timeline";
@import 'app/styles/components/modals';
@import "app/styles/components/catalog-box";
@import "app/styles/components/hero-add-service";
@import "app/styles/components/project-upgrade";

//******************************************
// Pages
//
// Pages that have their own styles.
//******************************************
@import "app/styles/pages/loading";
@import "app/styles/pages/fail-whale";
@import "app/styles/pages/host";
@import "app/styles/pages/registry";
@import "app/styles/pages/stack";
@import "app/styles/pages/container";
@import "app/styles/pages/about";
@import "app/styles/pages/welcome";
@import "app/styles/pages/settings";
@import "app/styles/pages/catalog";
@import "app/styles/pages/service-addtl-info";
@import "app/styles/pages/virtualmachine";

//******************************************
// Responsive Layout
//
// Size specific changes
//******************************************
@import "app/styles/layout/lg-screen";
@import "app/styles/layout/md-screen";
@import "app/styles/layout/sm-screen";
@import "app/styles/layout/xs-screen";


.icon-stack {
  .icon-square {
    border: 1px solid $accent-three !important;
  }
  .icon-check {
    color: $accent-three;
  }
}

