body {
    font-family: 'tahoma';
	direction: rtl;
}
.btn-group>.btn-group,
.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.dropdown-menu {
    float: right
}
 
.r-mr0 {
    margin-left: 0!important
}
.r-ml0 {
    margin-right: 0!important
}
 .r-pl0 {
    padding-right: 0!important
}
.r-pr0 {
    padding-left: 0!important
} 
.r-mr5 {
    margin-left: 5px!important
}
.r-ml5 {
    margin-right: 5px!important
} 
.r-pl5 {
    padding-right: 5px!important
}
.r-pr5 {
    padding-left: 5px!important
} 
.r-mr10 {
    margin-left: 10px!important
}
.r-ml10 {
    margin-right: 10px!important
}  
.r-pl10 {
    padding-right: 10px!important
}
.r-pr10 {
    padding-left: 10px!important
} 
.r-mr15 {
    margin-left: 15px!important
}
.r-ml15 {
    margin-right: 15px!important
} 
.r-pl15 {
    padding-right: 15px!important
}
.r-pr15 {
    padding-left: 15px!important
} 
.r-mr20 {
    margin-left: 20px!important
}
.r-ml20 {
    margin-right: 20px!important
} 
.r-pl20 {
    padding-right: 20px!important
}
.r-pr20 {
    padding-left: 20px!important
} 
.r-mr25 {
    margin-left: 25px!important
}
.r-ml25 {
    margin-right: 25px!important
} 
.r-pl25 {
    padding-right: 25px!important
}
.r-pr25 {
    padding-left: 25px!important
} 
.r-mr30 {
    margin-left: 30px!important
}
.r-ml30 {
    margin-right: 30px!important
} 
.r-pl30 {
    padding-right: 30px!important
}
.r-pr30 {
    padding-left: 30px!important
} 
.r-mr35 {
    margin-left: 35px!important
}
.r-ml35 {
    margin-right: 35px!important
} 
.r-pl35 {
    padding-right: 35px!important
}
.r-pr35 {
    padding-left: 35px!important
} 
.r-mr40 {
    margin-left: 40px!important
}
.r-ml40 {
    margin-right: 40px!important
} 
.r-pl40 {
    padding-right: 40px!important
}
.r-pr40 {
    padding-left: 40px!important
} 
.r-mr45 {
    margin-left: 45px!important
}
.r-ml45 {
    margin-right: 45px!important
} 
.r-pl45 {
    padding-right: 45px!important
}
.r-pr45 {
    padding-left: 45px!important
} 
.r-mr50 {
    margin-left: 50px!important
}
.r-ml50 {
    margin-right: 50px!important
} 
.r-pl50 {
    padding-right: 50px!important
}
.r-pr50 {
    padding-left: 50px!important
}
 
.icon-stack-1x,
.icon-stack-2x {
    right: 0;
}

.icon-ul {
    padding-right: 0;
    margin-right: 2.14286em;
}

.icon-li {
    right: -2.14286em;
}
.icon-li.icon-lg {
    right: -1.85714em
}

.list-inline,
.list-unstyled,
UL.list-circles,
UL.list-lines {
    padding-right: 0;
}

.list-inline {
    margin-right: -5px
}
dd {
    margin-right: 0
}

@media (min-width: 960px) {
    .dl-horizontal dt {
        float: right;
        text-align: left;
    }
    .dl-horizontal dd {
        margin-right: 180px
    }
}

blockquote {
    border-right: 5px solid #eff2f6
}

.blockquote-reverse,
blockquote.pull-right {
    padding-left: 15px;
    padding-right: 0;
    border-left: 5px solid #eff2f6;
    border-right: 0;
    text-align: left
}
caption,
th {
    text-align: right
}

.pre-scrollable {
    overflow-y: scroll
}
.col-xs-pull-0 {
    left: auto
}
.col-xs-pull-1 {
    left: 8.33333%
}
.col-xs-pull-2 {
    left: 16.66667%
}
.col-xs-pull-3 {
    left: 25%
}
.col-xs-pull-4 {
    left: 33.33333%
}
.col-xs-pull-5 {
    left: 41.66667%
}
.col-xs-pull-6 {
    left: 50%
}
.col-xs-pull-7 {
    left: 58.33333%
}
.col-xs-pull-8 {
    left: 66.66667%
}
.col-xs-pull-9 {
    left: 75%
}
.col-xs-pull-10 {
    left: 83.33333%
}
.col-xs-pull-11 {
    left: 91.66667%
}
.col-xs-pull-12 {
    left: 100%
}
.col-xs-push-0 {
    right: auto
}
.col-xs-push-1 {
    right: 8.33333%
}
.col-xs-push-2 {
    right: 16.66667%
}
.col-xs-push-3 {
    right: 25%
}
.col-xs-push-4 {
    right: 33.33333%
}
.col-xs-push-5 {
    right: 41.66667%
}
.col-xs-push-6 {
    right: 50%
}
.col-xs-push-7 {
    right: 58.33333%
}
.col-xs-push-8 {
    right: 66.66667%
}
.col-xs-push-9 {
    right: 75%
}
.col-xs-push-10 {
    right: 83.33333%
}
.col-xs-push-11 {
    right: 91.66667%
}
.col-xs-push-12 {
    right: 100%
}
.col-xs-offset-0 {
    margin-right: 0
}
.col-xs-offset-1 {
    margin-right: 8.33333%
}
.col-xs-offset-2 {
    margin-right: 16.66667%
}
.col-xs-offset-3 {
    margin-right: 25%
}
.col-xs-offset-4 {
    margin-right: 33.33333%
}
.col-xs-offset-5 {
    margin-right: 41.66667%
}
.col-xs-offset-6 {
    margin-right: 50%
}
.col-xs-offset-7 {
    margin-right: 58.33333%
}
.col-xs-offset-8 {
    margin-right: 66.66667%
}
.col-xs-offset-9 {
    margin-right: 75%
}
.col-xs-offset-10 {
    margin-right: 83.33333%
}
.col-xs-offset-11 {
    margin-right: 91.66667%
}
.col-xs-offset-12 {
    margin-right: 100%
}
@media (min-width: 695px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: right
    }
    .col-sm-pull-0 {
        left: auto
    }
    .col-sm-pull-1 {
        left: 8.33333%
    }
    .col-sm-pull-2 {
        left: 16.66667%
    }
    .col-sm-pull-3 {
        left: 25%
    }
    .col-sm-pull-4 {
        left: 33.33333%
    }
    .col-sm-pull-5 {
        left: 41.66667%
    }
    .col-sm-pull-6 {
        left: 50%
    }
    .col-sm-pull-7 {
        left: 58.33333%
    }
    .col-sm-pull-8 {
        left: 66.66667%
    }
    .col-sm-pull-9 {
        left: 75%
    }
    .col-sm-pull-10 {
        left: 83.33333%
    }
    .col-sm-pull-11 {
        left: 91.66667%
    }
    .col-sm-pull-12 {
        left: 100%
    }
    .col-sm-push-0 {
        right: auto
    }
    .col-sm-push-1 {
        right: 8.33333%
    }
    .col-sm-push-2 {
        right: 16.66667%
    }
    .col-sm-push-3 {
        right: 25%
    }
    .col-sm-push-4 {
        right: 33.33333%
    }
    .col-sm-push-5 {
        right: 41.66667%
    }
    .col-sm-push-6 {
        right: 50%
    }
    .col-sm-push-7 {
        right: 58.33333%
    }
    .col-sm-push-8 {
        right: 66.66667%
    }
    .col-sm-push-9 {
        right: 75%
    }
    .col-sm-push-10 {
        right: 83.33333%
    }
    .col-sm-push-11 {
        right: 91.66667%
    }
    .col-sm-push-12 {
        right: 100%
    }
    .col-sm-offset-0 {
        margin-right: 0
    }
    .col-sm-offset-1 {
        margin-right: 8.33333%
    }
    .col-sm-offset-2 {
        margin-right: 16.66667%
    }
    .col-sm-offset-3 {
        margin-right: 25%
    }
    .col-sm-offset-4 {
        margin-right: 33.33333%
    }
    .col-sm-offset-5 {
        margin-right: 41.66667%
    }
    .col-sm-offset-6 {
        margin-right: 50%
    }
    .col-sm-offset-7 {
        margin-right: 58.33333%
    }
    .col-sm-offset-8 {
        margin-right: 66.66667%
    }
    .col-sm-offset-9 {
        margin-right: 75%
    }
    .col-sm-offset-10 {
        margin-right: 83.33333%
    }
    .col-sm-offset-11 {
        margin-right: 91.66667%
    }
    .col-sm-offset-12 {
        margin-right: 100%
    }
}
@media (min-width: 960px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: right
    }
    .col-md-pull-0 {
        left: auto
    }
    .col-md-pull-1 {
        left: 8.33333%
    }
    .col-md-pull-2 {
        left: 16.66667%
    }
    .col-md-pull-3 {
        left: 25%
    }
    .col-md-pull-4 {
        left: 33.33333%
    }
    .col-md-pull-5 {
        left: 41.66667%
    }
    .col-md-pull-6 {
        left: 50%
    }
    .col-md-pull-7 {
        left: 58.33333%
    }
    .col-md-pull-8 {
        left: 66.66667%
    }
    .col-md-pull-9 {
        left: 75%
    }
    .col-md-pull-10 {
        left: 83.33333%
    }
    .col-md-pull-11 {
        left: 91.66667%
    }
    .col-md-pull-12 {
        left: 100%
    }
    .col-md-push-0 {
        right: auto
    }
    .col-md-push-1 {
        right: 8.33333%
    }
    .col-md-push-2 {
        right: 16.66667%
    }
    .col-md-push-3 {
        right: 25%
    }
    .col-md-push-4 {
        right: 33.33333%
    }
    .col-md-push-5 {
        right: 41.66667%
    }
    .col-md-push-6 {
        right: 50%
    }
    .col-md-push-7 {
        right: 58.33333%
    }
    .col-md-push-8 {
        right: 66.66667%
    }
    .col-md-push-9 {
        right: 75%
    }
    .col-md-push-10 {
        right: 83.33333%
    }
    .col-md-push-11 {
        right: 91.66667%
    }
    .col-md-push-12 {
        right: 100%
    }
    .col-md-offset-0 {
        margin-right: 0
    }
    .col-md-offset-1 {
        margin-right: 8.33333%
    }
    .col-md-offset-2 {
        margin-right: 16.66667%
    }
    .col-md-offset-3 {
        margin-right: 25%
    }
    .col-md-offset-4 {
        margin-right: 33.33333%
    }
    .col-md-offset-5 {
        margin-right: 41.66667%
    }
    .col-md-offset-6 {
        margin-right: 50%
    }
    .col-md-offset-7 {
        margin-right: 58.33333%
    }
    .col-md-offset-8 {
        margin-right: 66.66667%
    }
    .col-md-offset-9 {
        margin-right: 75%
    }
    .col-md-offset-10 {
        margin-right: 83.33333%
    }
    .col-md-offset-11 {
        margin-right: 91.66667%
    }
    .col-md-offset-12 {
        margin-right: 100%
    }
}
@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: right
    }
    .col-lg-pull-0 {
        left: auto
    }
    .col-lg-pull-1 {
        left: 8.33333%
    }
    .col-lg-pull-2 {
        left: 16.66667%
    }
    .col-lg-pull-3 {
        left: 25%
    }
    .col-lg-pull-4 {
        left: 33.33333%
    }
    .col-lg-pull-5 {
        left: 41.66667%
    }
    .col-lg-pull-6 {
        left: 50%
    }
    .col-lg-pull-7 {
        left: 58.33333%
    }
    .col-lg-pull-8 {
        left: 66.66667%
    }
    .col-lg-pull-9 {
        left: 75%
    }
    .col-lg-pull-10 {
        left: 83.33333%
    }
    .col-lg-pull-11 {
        left: 91.66667%
    }
    .col-lg-pull-12 {
        left: 100%
    }
    .col-lg-push-0 {
        right: auto
    }
    .col-lg-push-1 {
        right: 8.33333%
    }
    .col-lg-push-2 {
        right: 16.66667%
    }
    .col-lg-push-3 {
        right: 25%
    }
    .col-lg-push-4 {
        right: 33.33333%
    }
    .col-lg-push-5 {
        right: 41.66667%
    }
    .col-lg-push-6 {
        right: 50%
    }
    .col-lg-push-7 {
        right: 58.33333%
    }
    .col-lg-push-8 {
        right: 66.66667%
    }
    .col-lg-push-9 {
        right: 75%
    }
    .col-lg-push-10 {
        right: 83.33333%
    }
    .col-lg-push-11 {
        right: 91.66667%
    }
    .col-lg-push-12 {
        right: 100%
    }
    .col-lg-offset-0 {
        margin-right: 0
    }
    .col-lg-offset-1 {
        margin-right: 8.33333%
    }
    .col-lg-offset-2 {
        margin-right: 16.66667%
    }
    .col-lg-offset-3 {
        margin-right: 25%
    }
    .col-lg-offset-4 {
        margin-right: 33.33333%
    }
    .col-lg-offset-5 {
        margin-right: 41.66667%
    }
    .col-lg-offset-6 {
        margin-right: 50%
    }
    .col-lg-offset-7 {
        margin-right: 58.33333%
    }
    .col-lg-offset-8 {
        margin-right: 66.66667%
    }
    .col-lg-offset-9 {
        margin-right: 75%
    }
    .col-lg-offset-10 {
        margin-right: 83.33333%
    }
    .col-lg-offset-11 {
        margin-right: 91.66667%
    }
    .col-lg-offset-12 {
        margin-right: 100%
    }
}

@media screen and (max-width: 694px) {
    .table-responsive>.table-bordered>tbody>tr>td:first-child,
    .table-responsive>.table-bordered>tbody>tr>th:first-child,
    .table-responsive>.table-bordered>tfoot>tr>td:first-child,
    .table-responsive>.table-bordered>tfoot>tr>th:first-child,
    .table-responsive>.table-bordered>thead>tr>td:first-child,
    .table-responsive>.table-bordered>thead>tr>th:first-child {
        border-right: 0
    }
    .table-responsive>.table-bordered>tbody>tr>td:last-child,
    .table-responsive>.table-bordered>tbody>tr>th:last-child,
    .table-responsive>.table-bordered>tfoot>tr>td:last-child,
    .table-responsive>.table-bordered>tfoot>tr>th:last-child,
    .table-responsive>.table-bordered>thead>tr>td:last-child,
    .table-responsive>.table-bordered>thead>tr>th:last-child {
        border-left: 0
    }
}
.checkbox label,
.radio label {
    padding-right: 20px;
}
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin-right: -20px;
}

.checkbox-inline,
.radio-inline {
    padding-right: 20px;
}
.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-right: 10px
}
 
.has-feedback .form-control {
    padding-left: 53.75px
}
.form-control-feedback {
    left: 0;
}
 
@media (min-width: 695px) {
 
    .form-inline .checkbox label,
    .form-inline .radio label {
        padding-right: 0
    }
    .form-inline .checkbox input[type=checkbox],
    .form-inline .radio input[type=radio] {
        margin-right: 0
    }
    .form-horizontal .control-label {
        text-align: left;
    }
}

.form-horizontal .has-feedback .form-control-feedback {
    left: 15px
}

.dropdown-menu {
    right: 0;
    text-align: right;
}
.dropdown-menu-right,
.dropdown-menu.pull-right {
    right: auto;
    left: 0
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,
.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle,
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child,
.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}

.dropdown-menu-left {
    right: 0;
    left: auto
}
 
.pull-right>.dropdown-menu {
    left: 0;
    right: auto
}
 
@media (min-width: 960px) {
    .navbar-right .dropdown-menu {
        left: 0;
        right: auto
    }
    .navbar-right .dropdown-menu-left {
        right: 0;
        left: auto
    }
}

.btn-group-vertical>.btn,
.btn-group>.btn {
    float: right
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group {
    margin-right: -1px
}
.btn-toolbar {
    margin-right: -5px
}

.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
    margin-right: 5px
}
.btn .caret,
.btn-group>.btn:first-child {
    margin-right: 0
}

.btn-group-vertical>.btn+.btn,
.btn-group-vertical>.btn+.btn-group,
.btn-group-vertical>.btn-group+.btn,
.btn-group-vertical>.btn-group+.btn-group {
    margin-right: 0
}
.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-radius: 1px 1px 0 0
}
.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-radius: 0 0 1px 1px
}

.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,
.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.btn-group-justified>.btn-group .dropdown-menu {
    right: auto
}
 
.input-group .form-control {
    float: right;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}
.input-group-addon:first-child {
    border-left: 0
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0
}
.input-group-addon:last-child {
    border-right: 0
}

.input-group-btn>.btn+.btn {
    margin-right: -1px
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
    margin-left: -1px
}
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    margin-right: -1px
}
.nav {
    padding-right: 0;
}

.nav-tabs>li {
    float: right;
}
 
.nav-pills>li {
    float: right
}
 .nav-pills>li+li {
    margin-right: 2px
}
.nav-stacked>li+li {
    margin-right: 0
}
.nav-justified>.dropdown .dropdown-menu {
    right: auto
}
.nav-tabs-justified>li>a,
.nav-tabs.nav-justified>li>a {
    margin-left: 0;
}
 
.nav-tabs .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
 
@media (min-width: 960px) {
    .navbar-header {
        float: right
    }
}
 
.navbar-brand {
    float: right;
}
 
@media (min-width: 960px) {
      .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-right: -15px
    }
}
.navbar-toggle {
    float: left;
    margin-left: 15px;
}

@media (max-width: 959px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 25px 5px 15px
    }
}
@media (min-width: 960px) {
    .navbar-nav {
        float: right;
    }
    .navbar-nav>li {
        float: right
    }
}
@media (min-width: 695px) {
    .navbar-form .checkbox label,
    .navbar-form .radio label {
        padding-right: 0
    }
    .navbar-form .checkbox input[type=checkbox],
    .navbar-form .radio input[type=radio] {
        margin-right: 0
    }
}
 
@media (min-width: 960px) {
    .navbar-text {
        float: right;
    }
}
.navbar-nav>li>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
    border-radius: 1px 1px 0 0
}
 
@media (min-width: 960px) {
    .navbar-left {
        float: right!important
    }
    .navbar-right {
        float: left!important;
        margin-left: -15px
    }
    .navbar-right~.navbar-right {
        margin-left: 0
    }
}

.pagination {
    padding-right: 0;
} 
.pagination>li>a,
.pagination>li>span {
    float: right;
    margin-right: -1px
}
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-right: 0;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px
}
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px
}

.pagination-lg>li:first-child>a,
.pagination-lg>li:first-child>span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}
.pagination-lg>li:last-child>a,
.pagination-lg>li:last-child>span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.pagination-sm>li:first-child>a,
.pagination-sm>li:first-child>span {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px
}
.pagination-sm>li:last-child>a,
.pagination-sm>li:last-child>span {
    border-bottom-left-radius: 1px;
    border-top-left-radius: 1px
}
.pager {
    padding-right: 0;
}
 
.pager .next>a,
.pager .next>span {
    float: left
}
.pager .previous>a,
.pager .previous>span {
    float: right
}

.list-group-item>.badge {
    float: left
}
.list-group-item>.badge+.badge {
    margin-left: 5px
}
.nav-pills>li>a>.badge {
    margin-right: 3px
} 
 
.alert-dismissable,
.alert-dismissible {
    padding-left: 35px
}
.alert-dismissable .close,
.alert-dismissible .close {
    left: -21px;
} 

.media-right,
.media>.pull-right {
    padding-right: 10px
}
.media-left,
.media>.pull-left {
    padding-left: 10px
}

.list-group-item:first-child {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px
}
.list-group-item:last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px
}
 
button.list-group-item {
    text-align: right
}

.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child,
.panel>.table-responsive:first-child>.table:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child,
.panel>.table:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
.panel-footer,
.panel>.table-responsive:last-child>.table:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child,
.panel>.table:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
 
 .panel>.list-group:first-child .list-group-item:first-child,
.panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.panel>.list-group:last-child .list-group-item:last-child,
.panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}
 
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:first-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:first-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
    border-top-right-radius: 0
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child td:last-child,
.panel>.table:first-child>tbody:first-child>tr:first-child th:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child td:last-child,
.panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
    border-top-left-radius: 0
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
    border-bottom-right-radius: 0
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tbody:last-child>tr:last-child th:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child,
.panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
    border-bottom-left-radius: 0
}
 
.panel>.table-bordered>tbody>tr>td:first-child,
.panel>.table-bordered>tbody>tr>th:first-child,
.panel>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-bordered>thead>tr>td:first-child,
.panel>.table-bordered>thead>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
    border-right: 0
}
.panel>.table-bordered>tbody>tr>td:last-child,
.panel>.table-bordered>tbody>tr>th:last-child,
.panel>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-bordered>thead>tr>td:last-child,
.panel>.table-bordered>thead>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,
.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,
.panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
    border-left: 0
}
 
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    right: 0;
}
 
.close {
    float: left;
}

.modal-footer {
    text-align: left;
}
.modal-footer .btn+.btn {
    margin-right: 5px;
}
.modal-footer .btn-group .btn+.btn {
    margin-right: -1px
}
.modal-footer .btn-block+.btn-block {
    margin-right: 0
}

.tooltip {
    text-align: right;
}
.tooltip.right {
    margin-right: 3px;
}
.tooltip.left {
    margin-right: -3px;
}
 
.tooltip.top .tooltip-arrow {
    right: 50%;
    margin-right: -5px;
}
.tooltip.top-left .tooltip-arrow {
    left: 5px
}
.tooltip.top-right .tooltip-arrow {
    right: 5px
}
.tooltip.right .tooltip-arrow {
    right: 0;
    border-width: 5px 0 5px 5px;
    border-left-color: rgba(0, 0, 0, .9)
}
.tooltip.left .tooltip-arrow {
    left: 0;
    border-width: 5px 5px 5px 0;
    border-right-color: rgba(0, 0, 0, .9)
}

.tooltip.bottom .tooltip-arrow {
    right: 50%;
    margin-right: -5px
}
.tooltip.bottom-left .tooltip-arrow {
    left: 5px;
}
.tooltip.bottom-right .tooltip-arrow {
    right: 5px;
}
.popover {
    right: 0;
    text-align: right;
}

.popover.right {
    margin-right: 10px
}
 .popover.left {
    margin-right: -10px
}
.popover-title {
    border-radius: 2px 2px 0 0
}

.popover.top>.arrow {
    right: 50%;
    margin-right: -11px;
}
.popover.top>.arrow:after {
    margin-right: -10px;
}
 .popover.right>.arrow {
    right: -11px;
    border-right-width: 0;
    border-left-color: #95a0a4;
    border-left-color: fadein(rgba(0, 0, 0, .2), 5%)
}
.popover.right>.arrow:after {
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff
}
.popover.bottom>.arrow {
    right: 50%;
    margin-right: -11px;
}
.popover.bottom>.arrow:after {
    margin-right: -10px;
}
.popover.left>.arrow {
    left: -11px;
    border-left-width: 0;
    border-right-color: #95a0a4;
    border-right-color: fadein(rgba(0, 0, 0, .2), 5%)
}
.popover.left>.arrow:after {
    left: 1px;
    border-left-width: 0;
    border-right-color: #fff
}
 
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner>.item.active.right,
    .carousel-inner>.item.next {
        right: 0
    }
    .carousel-inner>.item.active.left,
    .carousel-inner>.item.prev {
        right: 0
    }
    .carousel-inner>.item.active,
    .carousel-inner>.item.next.left,
    .carousel-inner>.item.prev.right {
        right: 0
    }
}
 .carousel-inner>.active {
    right: 0
}
.carousel-inner>.next {
    right: 100%
}
.carousel-inner>.prev {
    right: -100%
}
.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    right: 0
}
.carousel-inner>.active.left {
    right: -100%
}
.carousel-inner>.active.right {
    right: 100%
}
.carousel-control {
    right: 0;
}
.carousel-control.right {
    right: auto;
    left: 0;
}
 
.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    right: 50%;
    margin-right: -10px
}
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    left: 50%;
    margin-left: -10px
}
 
.carousel-indicators {
    right: 50%;
    margin-right: -30%;
    padding-right: 0;
}
 
@media screen and (min-width: 695px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-right: -10px
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-left: -10px
    }
}
.pull-right {
    float: left!important
}
.pull-left {
    float: right!important
}
 
.panel-footer,
.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
 
H1 .btn,
H2 .btn,
H3 .btn,
H4 .btn,
H5 .btn,
H6 .btn,
SECTION.header .btn {
    margin-right: 10px
}
H1 .left-divider,
H2 .left-divider,
H3 .left-divider,
H4 .left-divider,
H5 .left-divider,
H6 .left-divider,
SECTION.header .left-divider {
    padding-right: 10px;
    margin-right: 10px;
}
 
H1 .left-divider:not(:first-child),
H2 .left-divider:not(:first-child),
H3 .left-divider:not(:first-child),
H4 .left-divider:not(:first-child),
H5 .left-divider:not(:first-child),
H6 .left-divider:not(:first-child),
SECTION.header .left-divider:not(:first-child) {
    border-right: 1px solid #e3e5e6
}
H1 .breadcrumb+.left-divider:not(.pull-right),
H2 .breadcrumb+.left-divider:not(.pull-right),
H3 .breadcrumb+.left-divider:not(.pull-right),
H4 .breadcrumb+.left-divider:not(.pull-right),
H5 .breadcrumb+.left-divider:not(.pull-right),
H6 .breadcrumb+.left-divider:not(.pull-right),
SECTION.header .breadcrumb+.left-divider:not(.pull-right) {
    margin-right: 7px
}
H1 .right-divider,
H2 .right-divider,
H3 .right-divider,
H4 .right-divider,
H5 .right-divider,
H6 .right-divider,
SECTION.header .right-divider {
    padding-left: 10px;
    margin-left: 10px;
}
H1 .right-divider:not(:last-child),
H2 .right-divider:not(:last-child),
H3 .right-divider:not(:last-child),
H4 .right-divider:not(:last-child),
H5 .right-divider:not(:last-child),
H6 .right-divider:not(:last-child),
SECTION.header .right-divider:not(:last-child) {
    border-left: 1px solid #ccd1d3
}
H1 .right-divider-btn,
H2 .right-divider-btn,
H3 .right-divider-btn,
H4 .right-divider-btn,
H5 .right-divider-btn,
H6 .right-divider-btn,
SECTION.header .right-divider-btn {
    margin-right: 0;
    right: -4px
}
.alert.alert-header {
    padding-right: 0
}
 .alert.alert-header.alert-success .banner-head:after {
    border-right-color: #169242
}
 
.alert.alert-header.alert-info .banner-head:after {
    border-right-color: #389ea8
}
 
.alert.alert-header.alert-warning .banner-head:after {
    border-right-color: #e49701
}
 .alert.alert-header.alert-danger .banner-head:after {
    border-right-color: #c0392b
}
.alert .banner-head {
    right: 0;
}
.alert .banner-head:after {
    left: -14px;
}
 
.alert .banner-content span:first-of-type {
    margin-left: 15px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-left: 1px dotted #ccd1d3
}

.btn-group.clearable .icon {
    left: 5px;
}
.btn-group.searchable .icon {
    right: 10px;
}
.btn-group.searchable INPUT {
    padding-right: 35px
}
 
.btn-group-select input {
    margin-right: -4px
}
.nav-tabs>li>a {
    margin-left: 0
}
 
.text-left {
    text-align: right
}
.text-right {
    text-align: left
} 
 
.table.no-lines>TBODY>TR>TD,
.table.no-lines>TBODY>TR>TH,
.table.no-lines>TFOOT>TR>TD,
.table.no-lines>TFOOT>TR>TH,
.table.no-lines>THEAD>TR>TD,
.table.no-lines>THEAD>TR>TH,
.table>TBODY>TR.no-lines>TD,
.table>TBODY>TR.no-lines>TH,
.table>TFOOT>TR.no-lines>TD,
.table>TFOOT>TR.no-lines>TH,
.table>THEAD>TR.no-lines>TD,
.table>THEAD>TR.no-lines>TH {
    border-left: none
}
 
.dropdown-menu .dropdown-header {
    padding-right: 10px
}
.dropdown-menu>li>a i {
    padding-left: 3px;
}
 
 .breadcrumb .ember-power-select:not([dir=rtl]) .ember-power-select-trigger {
    padding: 1px 5px 1px 15px
}
 
.breadcrumb .ember-power-select-trigger:after {
    left: 5px;
} 
.breadcrumb .ember-power-select.opened .ember-power-select-trigger:after {
    left: 5px;
}
 
.copy-pre PRE {
    padding-left: 60px;
}
.copy-pre .copy-button-container {
    left: 0;
}
.copy-pre button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
 
code[class*=language-],
pre[class*=language-] {
    direction: rtl;
    text-align: right;
}
 
.ember-power-select:not([dir=rtl]) .ember-power-select-trigger {
    padding: 0 8px 0 26px!important;
}
 
.ember-power-select-trigger:after {
    left: 6px;
}
 
@media (max-width: 959px) {
    .navbar-nav .dropdown-menu>li>a {
        padding: 5px 30px 5px 15px
    }
}
 
HEADER NAV.navbar .navbar-header {
    margin-right: -15px
}
HEADER NAV.navbar .navbar-header .btn-group>.btn {
    margin-right: -5px
}
 
HEADER NAV.navbar .nav>LI>A.active:after {
    right: 45%
}
HEADER NAV.navbar .nav>LI:first-of-type>A {
    padding-right: 20px;
    padding-left: 10px
}
 
HEADER NAV.navbar .user-menu {
    left: 0;
    right: inherit;
}
HEADER NAV.navbar .user-auth,
HEADER NAV.navbar .user-noauth {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
}

HEADER NAV.navbar .user-auth .user-logout {
    border-top-left-radius: 2px;
    left: 0;
}
 
footer a {
    padding-left: 10px
}

.articles ARTICLE.close {
    left: 0;
}
 
UL.list-circles>LI {
    padding-right: 45px;
}
UL.list-circles>LI>I {
    right: 0;
}
 
UL.list-lines>LI {
    padding: 5px 15px 5px 0
}
 
 .radio-well LABEL {
    padding-right: 2px;
}
 
.grid .actions {
    text-align: left
}
@media (max-width: 701px) {
    .grid TD.actions {
        left: 2px
    }
}
.over-hr>span:before {
    left: 100%;
    margin-left: 15px
}
.over-hr>span:after {
    right: 100%;
    margin-right: 15px
}
.over-hr.expandable>span:after {
    margin-right: 30px
}
 
.nav-boxes.checked-active .active:after {
    left: -15px;
}
.nav-tabs LI,
.nav-tabs-well LI {
    margin-left: 6px
}
.nav-well {
    border-top-right-radius: 0
}
 
SECTION.header h1 {
    margin-left: 10px
}
SECTION.header>.btn-primary {
    margin-right: 0
}
.header-state {
    margin-right: 10px
}

.top-errors I {
    right: 10px;
}
@media (max-width: 959px) {
    thead,
    thead tr {
        right: -9999px
    }
    td,
    td:before {
        text-align: right
    }

    td {
        padding-right: 50%;
        border-left: none!important
    }
     
    td:before {
        margin-left: 10px;
    }
    
    .grid TD.actions {
        text-align: right
    }
   
    .stack-section .grid TD,
    .stack-section .grid TH {
        text-align: right!important
    }
}
 
.container-flex.bordered .col-flex {
    padding: 12px 10px 5px 0;
    border-left: 1px solid #ccd1d3;
}
 
.ember-basic-dropdown--opened.ember-basic-dropdown--below .ember-power-select-trigger,
.ember-basic-dropdown--opened.ember-basic-dropdown--in-place .ember-power-select-trigger {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.ember-basic-dropdown--opened.ember-basic-dropdown--above .ember-power-select-trigger {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}
 
.ember-power-select-status-icon {
    left: 5px
}
 
.ember-power-select-clear-btn {
    left: 25px
}
.ember-power-select-trigger-multiple-input {
    float: right;
}
 
.ember-power-select-multiple-option {
    float: right;
    margin: 2px 0 2px 3px
}

.ember-power-select-dropdown {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.ember-power-select-dropdown.ember-basic-dropdown--above {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.ember-basic-dropdown--in-place .ember-power-select-dropdown,
.ember-power-select-dropdown.ember-basic-dropdown--below {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

.ember-power-select-trigger {
    padding: 0 8px 0 16px
}
.ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
    padding-right: 24px
}
.ember-power-select-group .ember-power-select-group .ember-power-select-option {
    padding-right: 40px
}
.ember-power-select-group .ember-power-select-option {
    padding-right: 24px
}
.ember-power-select-group .ember-power-select-group-name {
    padding-right: 8px
}
.ember-power-select[dir=rtl] .ember-power-select-trigger {
    padding: 0 16px 0 8px
}
.ember-power-select[dir=rtl] .ember-power-select-status-icon {
    right: 5px;
    left: initial
}
.ember-power-select[dir=rtl] .ember-power-select-clear-btn {
    right: 25px;
    left: initial
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
    padding-left: 24px
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group .ember-power-select-option {
    padding-left: 40px
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-option {
    padding-left: 24px
}
.ember-power-select-dropdown[dir=rtl] .ember-power-select-group .ember-power-select-group-name {
    padding-left: 8px
}
 
.jGrowl .jGrowl-close {
    left: 14px
}
 
.jGrowl .message {
    background: repeating-linear-gradient(-135deg, #3498DB, #3498DB 10px, #4EB2F5 10px, #4EB2F5 20px)
}
 
.container-tooltip .bottom-row .no-touch .resource-action-hover.hover A.col,
.no-touch .resource-action-hover.hover .container-tooltip .bottom-row A.col,
.no-touch .resource-action-hover.hover .pod A.pod-message,
.no-touch .resource-action-hover.hover .service-addtl-info A.description,
.no-touch .resource-action-hover.hover A.clip,
.no-touch .resource-action-hover.hover A.state,
.pod .no-touch .resource-action-hover.hover A.pod-message,
.service-addtl-info .no-touch .resource-action-hover.hover A.description {
    padding-left: 27px
}
 
.resource-actions .dropdown-menu>LI>A,
.resource-actions.dropdown-menu>LI>A {
    padding: 3px 10px 5px 35px;
}
.resource-actions .dropdown-menu>LI>A I,
.resource-actions.dropdown-menu>LI>A I {
    left: 5px;
}
 
.progress .progress-bar {
    right: 0;
}
 
.pod-column {
    margin: 0 0 10px 10px
}
.pod-column:last-of-type {
    margin-left: 0
}
 
.pod .pod-state {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px
}

.pod .pod-info .pod-info-item {
    border-left: 1px solid #ccd1d3
}
.pod .pod-info .pod-info-item:last-of-type {
    border-left: 0
}
 
.container-subpod .resource-actions {
    margin-left: -5px;
}
.container-subpod .resource-actions .more-actions {
    float: left;
}
 
.container-subpod .resource-actions .more-actions i {
    left: -5px
}
 
.subpod:nth-child(odd).add-to-pod {
    border-bottom-left-radius: 5px
}
.subpod .subpod-detail {
    text-align: left;
} 
.no-touch .subpod:hover.add-to-pod,
.touch .subpod.add-to-pod {
    padding-left: 10px
}
.subpod-children {
    border-bottom-right-radius: 5px;
}
.subpod-children H6 {
    margin-left: 5px
}
.tiny-hellip:before {
    margin-left: -3px;
}

.gh-block .gh-avatar {
    float: right;
    margin-left: 10px
}
.gh-block .gh-avatar-content {
    margin-right: 50px
}
 
.slider .slider-handle {
    margin-right: -10px;
}

.spark-td .spark-br {
    left: 0
}
.spark-td .spark-bl {
    right: 0;
}
.spark-td .spark-tr {
    left: 0
}
.spark-td .spark-tl {
    right: 0
}
 
.multi-stats>DIV {
    padding: 12px 10px 5px 0;
    border-left: 1px solid #ccd1d3;
}
.multi-stats>DIV:last-of-type {
    border-left: none
}
@media (min-width: 695px) and (max-width: 959px) {
    .multi-stats>DIV:nth-child(2n) {
        border-left: none
    }
}
@media (max-width: 694px) {
    .multi-stats>DIV {
        border-left: none
    }
}
.container-tooltip.bottom::after,
.container-tooltip.top::after {
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    right: calc(50% - 5px)
}
 
 
.container-tooltip.left::after {
    border-left: 5px solid #0075a8;
    right: -5px
}
.container-tooltip.right::after {
    border-right: 5px solid #0075a8;
    left: -5px
}

.container-tooltip .tooltip-content-inner .dismiss {
    float: left
}

.container-tooltip .resource-actions {
    left: 0;
}

.container-tooltip .display-name {
    float: right
}

.container-tooltip .bottom-row {
    float: right;
    
}
.container-tooltip .bottom-row .col {
    float: right
}
 
.tooltip-warning-container.left::after {
    border-left: 5px solid #78c9cf
}
.tooltip-warning-container.right::after {
    border-right: 5px solid #78c9cf
}
.tooltip-warning-container .dismiss {
    margin: -3px 10px -3px -3px;
}

div.tooltip-warning {
    left: 3px;
}

.orbit {
    right: 0;
}
.moon {
    left: -25px
}
.grass {
    background: -webkit-linear-gradient(-135deg, #a5c63b 5px, transparent 0), -webkit-linear-gradient(-45deg, #a5c63b 5px, transparent 0);
    background: linear-gradient(45deg, #a5c63b 5px, transparent 0), linear-gradient(-45deg, #a5c63b 5px, transparent 0);
    background-position: right-bottom;
    right: 0;
}
.loadfield {
    right: 8px;
}

.ball-clip-rotate-pulse>div {
    right: 0;
}
.ball-clip-rotate-pulse>div:first-child {
    right: -8px;
}
.ball-clip-rotate-pulse>div:last-child {
    right: -15px;
}
.fail-whale .failplane .failprop {
    right: -12px;
}
.fail-whale .cloud {
    right: 5vw
}
.fail-whale .cloud:nth-child(2n) {
    right: 10vw;
}
.fail-whale .cloud:nth-child(3n) {
    right: 20vw
}
.fail-whale .cloud:nth-child(4n) {
    right: 50vw;
}
.fail-whale .cloud:nth-child(5n) {
    right: 70vw
}
.dot {
    float: right;
}

.stack-section .header-left {
    float: right;
    margin-left: 10px;
}

.stack-section .header-right {
    float: left;
    margin-left: 7px;
}
.stack-section .right-divider {
    padding-left: 10px;
    border-left: 1px dotted #ccd1d3
}
.stack-section .stack-actions {
    text-align: left;
    border-left: 0
}
.stack-section .grid .state>span>span {
    margin-left: 5px
}
.stack-section .grid TD {
    border-left: 1px dotted #ccd1d3;
}
.stack-section .grid TD:last-of-type {
    border-left: none
}
.stack-section .grid TH {
    padding-right: 10px
}
#chart-svg .node g div,
#environment-svg .node g div {
    background: -webkit-gradient(linear, right top, right bottom, color-stop(0, #ccd1d3), color-stop(50%, #ccd1d3), color-stop(51%, #fff), color-stop(100%, #fff));
}
#chart-svg .node .state {
    right: -12px;
}
#chart-svg .node .badge {
    margin-left: 5px;
}
#chart-svg .node .label-sidekick {
    margin-left: 10px;
}
#chart-svg .node .title {
    margin-right: 10px
}
#chart-svg .node .actions {
    margin-left: -5px
}
.addtl-info-trigger {
    margin-right: 3px;
}
.service-detail SPAN {
    margin-left: 5px
}
.service-detail LABEL {
    padding-left: 3px;
}
.service-detail LABEL:not(:first-of-type) {
    margin-right: 5px
}
.storage.stack-section .header-left H4 {
    padding-right: 10px
}

.log-body .log-date {
    padding-left: 10px
}
.shell-popup {
    padding: 20px
}
.about .parachute {
    right: calc(50% - 227px)
}

SECTION.welcome I {
    float: left;
}
.badge-certified {
    left: -13px;
}
.badge-certified:before {
    right: -16px;
}
.badge-certified:after {
    left: -1px;
}
.container-catalog {
    margin-left: 35px;
    float: right;
}
.container-catalog h5 {
    padding-top: 15px;
}
.container-catalog .inactive-driver {
    right: -3px;
}
.container-catalog .inactive-driver button {
    right: calc((250px / 2) - (30px))
}
.container-catalog .inactive-driver button i {
    margin-right: -3px
}
.launch-catalog H4 I {
    margin-left: 5px
}
.power-select-img DIV {
    right: 30px;
    left: 17px;
}
.btn-group.no-wrap .btn {
    margin-right: -4px
}
.btn-group.no-wrap .btn:first-child {
    margin-right: 0
}
.service-addtl-info {
    right: 0;
}
.service-addtl-info .tab-content {
    
    overflow-x: hidden
}

.service-addtl-info ul.nav-tabs {
    right: 15px;
}
.service-addtl-info ul.nav-tabs .close {
    right: -10px;
}
.service-addtl-info .content-box {
    padding: 5px 15px 15px 5px
}
.service-addtl-info .content-box:last-child .content {
    border-left: none
}
.service-addtl-info .content {
    border-left: 1px solid #ccd1d3;
}
.service-addtl-info .action-menu {
    margin-left: 15px
}
.console-status {
    text-align: right
}

#wrapper {
    padding-right: 0;
}
#wrapper.toggled {
    padding-right: 250px
}
#sidebar-wrapper {
    right: 250px;
    margin-right: -250px;
    
}

#wrapper.toggled #page-content-wrapper {
    margin-left: -250px
}

@media (min-width: 768px) {
    #wrapper {
        padding-right: 250px
    }
    #wrapper.toggled {
        padding-right: 0
    }
    #wrapper.toggled #page-content-wrapper {
        margin-left: 0
    }
}
.halfdot {
    border-radius: 90px 0 0 90px;
    left: 0
}

@media (min-width: 480px) {
    div.banner .banner-content {
        margin-right: 0;
    }
}
@media (min-width: 695px) {
    div.banner .banner-content {
        margin-right: 150px;
        padding: 0 0 0 15px
    }
}
@media (max-width: 694px) {
    .pods .pod-column {
        margin: 0 0 0 5px
    }
}
@media (max-width: 959px) {
    .header>.pull-right {
        float: right!important;
        text-align: right;
    }
    .horizontal-form .form-label {
        text-align: right
    }

    HEADER NAV.navbar .nav>LI {
        float: right
    }

    HEADER .top-row NAV>li>.link-admin>a+ul>a,
    HEADER .top-row NAV>li>A+ul>a {
        padding: 5px 40px 5px 5px
    }

    HEADER .top-row NAV>li>.link-admin>a+ul>a>I,
    HEADER .top-row NAV>li>A+ul>a>I {
        padding-left: 10px;
    }
 
    .navbar-nav .dropdown-menu>li>a {
        padding: 5px 30px 5px 15px
    }
}
.lacsso.offset-3 {
    margin-right: 25.375%;
}