$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.catalog {
  &.left-nav {
    background: white;
    height: calc(100vh - 105px);
  }
}

.container-catalog {
  background: white;
  height: 270px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;

  .description {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 200px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -35px;
  }
}
.launch-catalog {
  .over-hr {
    .icon-chevron-up,
    .icon-chevron-down {
      font-size: 10px;
    }
    > span:after {
      margin-left: 30px;
    }
  }
}
.line-numbers {
  &.constrained {
    height:200px;
    max-height: 200px;
    overflow: auto;
  }
}
