$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.catalog {
  &.left-nav {
    background: #ecf0f1;
    height: calc(100vh - 105px);
  }
}

.container-catalog {
  background: white;
  border:solid transparent;
  height: 270px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  transition: ease all .25s;
  h5 {
    border-bottom: solid thin #ccd1d3;
    text-align: left;
    padding: 15px;
    margin: 0 15px;
  }
  img {
    border: solid #CCD1D5;
    border-radius: 50%;
    width: 75px;
    padding: 10px;
  }
  .description {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 200px;
    /*height: $font-size*$line-height*$lines-to-show;*/ /* Fallback for non-webkit */
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }

  .btn {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: -35px;
  }
  &:hover {
    border:solid $blueTwo;
  }
}
.launch-catalog {
  .over-hr {
    .icon-chevron-up,
    .icon-chevron-down {
      font-size: 10px;
    }
    > span:after {
      margin-left: 30px;
    }
  }
}
.line-numbers {
  &.constrained {
    height:200px;
    max-height: 200px;
    overflow: auto;
  }
}
