#environment-graph {
  position: absolute;
  top: 115px;
  left: 290px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  overflow: hidden;

  .node {
    &.green rect {
      stroke: #41c77d;
    }

    &.yellow rect {
      stroke: #f3bd24;
    }

    &.red rect {
      stroke: #ff0000;
    }

    g {
      foreignobject {
        overflow: visible;
      }

      div {
        width: 110px;
        height: 70px;
        padding: 5px;

        $dark: #f8f9fa;
        $light: #ffffff;

        background: #dddddd; /* Old browsers */
        background: -moz-linear-gradient(top, $dark 0%, $dark 50%, $light 51%, $light 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark), color-stop(50%,$dark), color-stop(51%,$light), color-stop(100%,$light)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* IE10+ */
        background: linear-gradient(to bottom, $dark 0%,$dark 50%,$light 51%,$light 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$light',GradientType=0 ); /* IE6-9 */
      }
    }

    .label {
      color: black;
      display: initial;
      padding: initial;
      font-size: initial;
      font-weight: initial;
      line-height: initial;
      color: initial;
      text-align: center;
      white-space: initial;
      vertical-align: initial;
      border-radius: initial;

      I.icon {
        display: block;
        line-height: 14px;
      }

      H4 {
        font-size: 16px;
      }

      .count {
        padding: 7px 0 7px 0;
        font-size: 12px;
      }

      .state {
        color: white;
        padding: 0 5px;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;

        &.green {
          background-color: #41c77d;
        }

        &.yellow {
          background-color: #f3bd24;
        }

        &.red {
          background-color: #ff0000;
        }
      }
    }

    rect {
      fill: #fff;
      stroke-width: 2.5px;
      color: black;
    }
  }

  .edgePath {
    path.path {
      stroke: #333;
      fill: none;
      stroke-width: 2.5px;
    }

    &.green path.path {
      stroke: #41c77d;
    }

    &.yellow path.path {
      stroke: #f3bd24;
    }

    &.red path.path {
      stroke: #ff0000;
    }
  }
}
