$stackHeight: 66px;
$stateRadius: 13px;
$stateBorder: 2px;

.stack-section {
  position: relative;
  min-height: $stackHeight;
  border: 1px solid $lightGrayTwo;
  background-color: $lightestGray;
  margin: 0 20px 10px 20px;

  &.single-stack {
    padding: 0;
    margin-top: 10px;

    .header {
      background-color: #0075a8;
      color: #bbdae8;
    }

    &>.well {
      padding: 20px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  .stack-state {
    position: absolute;
    width: $stateRadius*2;
    height: $stateRadius*2;
    border-radius: 50%;
    left: -1 * $stateRadius;
    top: ($stackHeight - $stateBorder)/2 - $stateRadius;
    text-align: center;
    line-height: $stateRadius*2;
    color: white;
  }

  .count {
    min-width: 99.5px;
    text-align: center;

    P {
      margin: 12px 0 0 0;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      position: relative;
      top: 5px;
    }

    LABEL {
      color: #a7a7a7;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .left {
    float: left;
    margin-right: 10px;
    height: $stackHeight;
    line-height: $stackHeight;

    H4 {
      line-height: $stackHeight;
    }
  }

  .right {
    float: right;
    margin-right: 10px;
    height: $stackHeight;
  }

  .right-divider {
    padding-right: 10px;
    border-right: 1px dotted $lightGrayTwoDark;

  }

  .collapser {
    height: $stackHeight;
    line-height: 50px;
    A {
      padding: 20px 10px 20px 25px;
    }
  }

  .stack-actions {
    line-height: $stackHeight;
    width: 69px;
    text-align: right;
    padding-right: 10px;
    border-right: 0;
  }

  .stack-template {
    line-height: $stackHeight;
    min-width: 150px;
    text-align: center;
  }

  .resource-actions BUTTON,
  .collapser {
    padding: 3px 5px;
  }

  .badge {
    I {
      font-size: 11px;
      padding-right: 5px;
    }
  }

  .grid {
    TD, TH {
      padding: 3px;
      border-bottom: 1px solid $lightGray;
    }

    TD:nth-child(3) {
      width: 230px;
    }

    TD:nth-child(4) {
      width: 80px;
    }

    TR:nth-child(even) TD {
      background-color: #fcfdfd;
    }

    TR:nth-child(odd) TD {
      background-color: #fff;
    }

    TD {
      border-right: 1px dotted $lightGray;
      padding: 10px;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.environment-graph {
  SECTION.header {
    position: relative;
    z-index: 4;
  }
}

#environment-svg {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;

  .node {
    &.crosslink {
      stroke-dasharray: 5,5;
    }

    &.green rect {
      stroke: $green;
    }

    &.yellow rect {
      stroke: $yellow;
    }

    &.red rect {
      stroke: $red;
    }

    .highlighted {
      box-shadow: 2px 2px 10px $blueDark;
    }

    g {
      foreignobject {
        overflow: visible;
      }

      div {
        width: 110px;
        height: 70px;
        padding: 2px 5px 0 5px;

        $dark: $lightGrayTwo;
        $light: #ffffff;

        background: #dddddd; /* Old browsers */
        background: -moz-linear-gradient(top, $dark 0%, $dark 50%, $light 51%, $light 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark), color-stop(50%,$dark), color-stop(51%,$light), color-stop(100%,$light)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* IE10+ */
        background: linear-gradient(to bottom, $dark 0%,$dark 50%,$light 51%,$light 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$light',GradientType=0 ); /* IE6-9 */
      }
    }

    .label {
      color: black;
      display: initial;
      padding: initial;
      font-size: initial;
      font-weight: initial;
      line-height: initial;
      color: initial;
      text-align: center;
      white-space: initial;
      vertical-align: initial;
      border-radius: initial;

      I.icon {
        display: block;
        line-height: 0;
        font-size: 12px;
        padding: 8px 0 4px 0;
      }

      H4 {
        font-size: 13px;
      }

      .count {
        padding: 7px 0 4px 0;
        font-size: 12px;
      }

      .state {
        color: white;
        padding: 0 5px;
        font-size: 11px;
        font-weight: $bold-weight;
        text-transform: uppercase;

        &.green {
          background-color: #41c77d;
        }

        &.yellow {
          background-color: #f3bd24;
        }

        &.red {
          background-color: #ff0000;
        }
      }
    }

    rect {
      fill: #fff;
      stroke-width: 2pt;
      color: black;
    }
  }

  .edgePath {
    path.path {
      stroke: $darkestGrayTwo;
      fill: none;
      stroke-width: 1pt;
    }

    &.green path.path {
      stroke: $green;
    }

    &.yellow path.path {
      stroke: $yellow;
    }

    &.red path.path {
      stroke: $red;
    }
  }
}

$light-grey: #9CB6B5;
$tiffany-blue: #0ABFB2;
$mabel: #CCE3EE;
$regal-blue: #034967;
$orange-white: #FFF9EC;
$light-yellow: #FFBE18;

#chart-svg {
  @extend #environment-svg;
  min-height: 80vh;
  .node {
    background-color: white;
    box-shadow: 1px 2px 10px $light-grey;
    .state {
      position: fixed;
      left: -12px;
      top: 26px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
    }
    .badge {
      margin-right: 5px;
      margin-top: 6px;
      background-color: $orange-white;
      color: $light-yellow;
    }
    .container-badge {
      width: 100%;
      text-align: center;
    }
    .badge {
      &.service {
        color: $regal-blue;
        background-color: $mabel;
        font-size: 12px;
        padding: 2px 15px;
        text-transform: uppercase;
      }
    }
    .label-sidekick {
      background: lightgray;
      font-size: 10px;
      padding: 1px 13px;
      margin-top: 7px;
      margin-right: 10px;
      color: gray;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title {
      margin-left: 10px;
    }
    .actions {
      margin-right: -5px;
      .btn {
        font-size: 8px;
      }
    }
  }
  .edge-path {
    fill: none;
    stroke: $light-grey;
    stroke-width: 2px;
  }
}
