.gh-block-list {
  margin-bottom: 0;

  LI {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gh-block {
  .gh-block-content {
    line-height: initial;
  }

  .gh-avatar {
    float: left;
    margin-right: 10px;
  }

  .gh-avatar-content {
    margin-left: 50px;
  }

  .gh-block-detail {
    @extend .text-muted;
  }

  .gh-action {
    display: none;
  }

  &:hover .gh-action {
    display: block;
  }
}

.gh-avatar {
  width: 37px;
  height: 37px;
  line-height: 38px;
  border: 1px solid #858999;
  border-radius: 50%;
  background-color: #393d48;
  display: inline-block;

  IMG {
    border-radius: 50%;
    vertical-align: top;
  }

  .gh-placeholder {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #858999;
  }
}
