.gh-block-list {
  margin-bottom: 0;

  LI {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gh-block {
  .gh-avatar {
    float: left;
    margin-right: 10px;
  }

  .gh-avatar-content {
    margin-left: 50px;
  }

  .gh-action {
    display: none;
  }

  &:hover .gh-action {
    display: block;
  }
}

.gh-avatar {
  width: 42px;
  height: 42px;
  border: 1px solid #eee;
  border-radius: 50%;

  IMG {
    border-radius: 50%;
  }

  .gh-placeholder {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    .fa, [class^="ss-"] {
      line-height: 36px;
      color: #999;
    }
  }
}
