.jGrowl.top-right {
  z-index: 2;
  background-color: rgba(0,0,0,0.25);
  border-bottom-left-radius: 10px;
}

.jGrowl {
  .jGrowl-notification,
  .jGrowl-closer {
    opacity: 1;
    color: black;
  }

  .jGrowl-notification .jGrowl-header {
    font-size: 1em;
  }

  .jGrowl-closer {
    color: black;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
  }

  .error {
    border: 1px solid #FF9494;
    background: repeating-linear-gradient(
      135deg,
      #FF9494,
      #FF9494 10px,
      #FFAEAE 10px,
      #FFAEAE 20px
    );
  }

  .message {
    border: 1px solid #FF9494;
    background: repeating-linear-gradient(
      135deg,
      #3498DB,
      #3498DB 10px,
      #4EB2F5 10px,
      #4EB2F5 20px
    );
  }
}
