/**********
* Header (top bar)
**********/
$topHeight: ($header-height * 0.45);
$bottomHeight: ($header-height * 0.55);

HEADER {
  position: relative;
  z-index: 5;

  NAV {
    &>A {
      display: inline-block;
      padding: 0 20px;
      vertical-align: top;
      font-weight: normal;
      text-transform:uppercase;
      border-bottom: 2px solid transparent;
      color: $lightGray;
      font-size:13px;

      &:hover {
        color: $lightTeal;
      }
    }
  }

  .top-row {
    background-color: $black;
    min-height: $topHeight;

    NAV {
      float: left;
      font-size: 14px;

      &>A {
        height: $topHeight;
        line-height: $topHeight;
        position: relative;
      }

      &>A {
        &:hover {
          background: $blackDark;
        }
        &.active {
          color: white;
          font-weight: bold;
          &:after{
            content: "";
            border-width: 5px;
            border-color: transparent;
            border-bottom-color: white;
            border-style: solid;
            position: absolute;
            bottom: -2px;
            left: 45%;
          }
        }
      }
    }

    .logo {
      cursor: pointer;
      float: left;
      height: $topHeight;
      width: 68px;
      background-image: url('images/logos/main.svg');
      background-color: $blackDark;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .user-btn {
      float: right;
      vertical-align: top;
      padding: 3px 15px;
    }

    .project-btn {
      float: right;

      margin-right: 10px;
      border-radius: 3px;
      max-width: 200px;

      .btn {
        text-transform: inherit;
      }

      .dropdown-toggle {
        height: $topHeight;
        line-height: $topHeight;
        padding: 0;
        margin-right: 10px;
        max-width: 100%;
        color: $midGray;
      }

      .dropdown-menu {
        max-height: 300px;
        max-width: 300px;
        overflow-y: auto;
      }
    }

    .user-toggle {
      cursor: pointer;
      position: relative;
      z-index: 1001; /* These have to be > 990 for bootstrap on touch devices */
    }

    .project-menu {
      margin-top: -13px;
      z-index: 1000; /* These have to be > 990 for bootstrap on touch devices */
      padding-top: 0;
      border-radius: 2px;
    }

    .user-menu {
      z-index: 1000; /* These have to be > 990 for bootstrap on touch devices */
      padding-top: 0;
      width: 250px;
      border-radius: 2px;
    }

    .user-dropdown-arrow {
      color: $midGrayTwo;
      position: relative;
      left: -2px;
    }

    .user-noauth,
    .user-auth {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: white;
      margin-bottom: 5px;
    }

    .user-noauth {
      background-color: $yellowTwo;
      color: $yellowDark;
      text-align: center;
    }

    .user-auth {
      position: relative;
      background-color: #9eadb6;
      padding: 10px 0 10px 20px;

      .gh-block {
        margin-right: 60px;
      }

      .gh-block-name {
        A, A:hover, A:focus, A:visited, A:active {
          color: white;
        }
      }

      .gh-block-detail {
        color: #dfe9ee;
      }

      .user-logout {
        background-color: #899ba7;
        border-top-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 14px 0 0 0;
        width: 60px;
        color: #dfe9ee;
        font-size: 12px;
        text-align: center;

        I {
          font-size: 24px;
          line-height: 20px;
          position: relative;
          left: 3px;
        }
      }
    }
  }

  .bottom-row {
    min-height: $bottomHeight;
    background-color: white;
    border-bottom: solid 2px $lightGray;

    NAV {
      font-size: 14px;
      margin-left: 68px;

      &>A {
        height: $bottomHeight;
        line-height: $bottomHeight;
        padding-top: 12px;
        color: $midGrayDark;
        line-height: 25px;
        text-align: center;
        position: relative;
        &:hover {
          color: $blueTwo
        }
        &.active {
          color: $primary;
          &:after{
            content: "";
            border-width: 5px;
            border-color: transparent;
            border-bottom-color: $lightGray;
            border-style: solid;
            position: absolute;
            bottom: -2px;
            left: 45%;
          }
        }

        I {
          display: block;
        }
      }

      .compose-download {
        display: inline-block;
        float: right;
        margin-right: 20px;
        height: $bottomHeight;
        line-height: $bottomHeight;
        color: $midGrayDark;

        A {
          color: $midGrayDark;

          &:hover {
            color: $blueTwo;
          }
          &.active {
            color: $primary;
          }
        }

        .dropdown-menu {
          A:hover {
            color: white;
          }
        }
      }
    }

  }

  H3 {
    margin: 0;
    line-height: $bottomHeight;
    color: #fff;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    A,
    A:visited,
    A:hover,
    A:focus {
      cursor: pointer;
      text-decoration: none;
      color: $header-link-text;
    }
  }
}

