/**********
 * Header (top bar)
 **********/
$topHeight: ($header-height * 0.45);
$bottomHeight: ($header-height * 0.55);

HEADER {
  position: relative;
  z-index: 5;

  NAV {
    &>A {
      display: inline-block;
      padding: 0 20px;
      vertical-align: top;
      font-weight: normal;
      text-transform:uppercase;
      border-bottom: 2px solid transparent;
      color: $lightGray;
      font-size:13px;

      &:hover {
        color: $lightTeal;
      }
    }
  }

  .top-row {
    background-color: $black;
    min-height: $topHeight;

    .dropdown {

      &.open {
        & .icon-chevron-down {
          transform:rotate(-180deg);
        }
      }

      .icon-chevron-down {
        transition: ease all 350ms;
        font-size: .75em;
      }

      .dropdown-toggle {
        height: $topHeight;
        line-height: $topHeight;
        padding: 0;
        margin-right: 10px;
        max-width: 100%;
        color: $midGray;
      }

      .user-toggle {
        cursor: pointer;
        position: relative;
        color: $midGray;
        display: inline-block;
        height: 40px;
        z-index: 1001; /* These have to be > 990 for bootstrap on touch devices */
      }


      .dropdown-menu {
        max-height: 300px;
        width: 300px;
        overflow-y: auto;
        box-shadow: none;
        background: rgba(43,43,43,.95);
        color: white;
        margin: 0;
        border-radius: 0 0 2px 2px;

        > li > A {
          color: white;

          &:hover {
            color: $blue;
            background: rgba(43,43,43,.9);
          }
        }

        & > li.selected > a,
        & > li.selected > a:hover,
        & > li.selected > a:focus {
          color: $greenTwoDark
        }

        .dropdown-header {
          color: $lightGray;
          padding: 5px 20px;
        }

        .divider {
          background: black;
        }

      }/*end dropdown-menu*/
    }/*end dropdown*/


    NAV {
      float: left;
      font-size: 14px;

      &>A {
        height: $topHeight;
        line-height: $topHeight;
        position: relative;

        &:hover {
          background: $blackDark;
        }
        &.active {
          color: white;
          font-weight: bold;
          &:after{
            content: "";
            border-width: 5px;
            border-color: transparent;
            border-bottom-color: white;
            border-style: solid;
            position: absolute;
            bottom: -2px;
            left: 45%;
          }
        }
      }
    }

    .logo {
      cursor: pointer;
      float: left;
      height: $topHeight;
      width: 68px;
      background-image: url('images/logos/main.svg');
      background-color: $blackDark;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .user-btn {
      float: right;
      vertical-align: top;
      padding: 5px 15px 0 15px;
    }

    .project-btn {
      float: right;

      margin-right: 10px;
      border-radius: 3px;
      max-width: 200px;

      .btn {
        text-transform: inherit;
      }


      .project-menu {
        margin-top: -13px;

        padding-top: 0;
        border-radius: 2px;
      }
    }/*end project button*/
    .user-menu {
      padding-top: 0;
      width: 250px;
      border-radius: 2px;
    }

    .user-noauth,
    .user-auth {
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      color: white;
      margin-bottom: 20px;
    }

    .user-noauth {
      background-color: $yellowTwo;
      color: $yellowDark;
      text-align: center;
    }

    .user-auth {
      position: relative;
      background: rgba(0,0,0,.5);
      padding: 10px 20px;

      .gh-block {
        display: inline-block;
        vertical-align: middle;
      }

      .gh-block-name {
        font-weight: bold;
        A, A:hover, A:focus, A:visited, A:active {
          color: white;
        }
      }

      .gh-block-detail {
        color: #dfe9ee;
      }

      .user-logout {
        background-color: rgba(0, 0, 0, 0.7);
        border-top-right-radius: 2px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 18px 10px;
        color: #dfe9ee;
        font-size: 12px;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        &:hover {
          background: $blackDark;
        }
        I {
          font-size: 20px;
          vertical-align: middle;
        }
      } /*end user logout*/
    } /*end user auth*/

  }/*end top row*/

  /*start bottom row*/
  .bottom-row {
    min-height: $bottomHeight;
    background-color: white;
    border-bottom: solid 2px $lightGray;

    NAV {
      font-size: 14px;
      margin-left: 68px;

      &>A {
        height: $bottomHeight;
        line-height: $bottomHeight;
        padding-top: 12px;
        color: $midGrayDark;
        line-height: 19px;
        text-align: center;
        position: relative;

        &:hover {
          color: $blueTwo
        }

        &.active {
          font-weight: bold;
          color: $primary;
          &:after{
            content: "";
            border-width: 5px;
            border-color: transparent;
            border-bottom-color: $lightGray;
            border-style: solid;
            position: absolute;
            bottom: -2px;
            left: 45%;
          }
        }

        I {
          display: block;
          font-size: 17px;
        }
      }

      .compose-download {
        display: inline-block;
        float: right;
        margin-right: 20px;
        height: $bottomHeight;
        line-height: $bottomHeight;
        color: $midGrayDark;

        A {
          color: $midGrayDark;

          &:hover {
            color: $blueTwo;
          }
          &.active {
            color: $primary;
          }
        }


      }
    } /*end nav*/
  }/*end bottom row*/

  H3 {
    margin: 0;
    line-height: $bottomHeight;
    color: #fff;
    padding-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    A,
    A:visited,
    A:hover,
    A:focus {
      cursor: pointer;
      text-decoration: none;
      color: $header-link-text;
    }
  } /*end h3 */
}
