$host_column_width: 265px;
$instance_column_width: $host_column_width - 20px;
$host_border: #f9fafc;
$host_bg: white;
$instance_ip: #9a9a9a;
$instance_action: #ededed;

.zone LABEL {
  color: #60676d;
}

.hosts {
  overflow: visible;
  white-space: nowrap;
}

.host-zone {
  border-bottom: 1px solid #dde0e5;

  &:last-child {
    border-bottom: 0;
  }

  H3 {
    font-weight: normal;
    color: #60676d;
    margin: 10px 0;
  }
}

.host-column {
  width: $host_column_width;
  margin: 0 10px 10px 0;
  display: inline-block;
  vertical-align: top;

  &:last-child {
    margin-right: 0;
  }
}

.instance-column {
  @extend .host-column;
  width: $instance_column_width;
}

.instances .instance-column {
  margin-bottom: 0;
  width: ceil($instance_column_width/2);
}

.instances .instance {
  margin-bottom: 10px;
}

.host {
  position: relative;
  margin-bottom: 10px;
  background-color: $host_bg;
  border: 1px solid $host_border;
  border-top-width: 2px;
  border-radius: 5px;

  .host-header {
    display: block;
    background-color: #f8f9fa;
    position: relative;
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid $host_border;

    .host-state {
      font-size: 12px;
      text-align: center;
      padding: 0 10px;
      vertical-align: top;
      display: inline-block;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .host-icon,
    .host-name {
      text-align: center;
    }
  }

  .host-info {
    padding: 10px;
    text-align: center;

    .host-info-item {
      padding: 0 5px 5px 0;
      display: inline-block;
      font-size: 12px;
      color: #8a919c;
    }
  }

  .host-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    z-index: 1;
    padding-top: 5px;
    text-align: center;
  }

  &.hover {
    .host-name,
    .host-ip {
      color: white;
    }

    .host-overlay {
      display: block;
    }
  }

  .add-to-host {
    color: #d6dbe0;
    text-align: center;
    cursor: pointer;
    cursor: hand;

    &:hover {
      color: #5fcf80;
    }

    A {
      color: white;
    }
  }
}

.add-host {
  color: #5fcf80;
  background-color: transparent;
  border: 2px dashed;
  text-align: center;
  cursor: pointer;
  cursor: hand;
  padding: 10px;

  &:hover {
    color: #999;
  }
}

.host-name,
.instance-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  A {
    color: inherit;
  }
}

.instance-name {
  font-size: 13px;
  cursor: pointer;
}

.instance-ip {
  color: $instance_ip;
}

.instance-ip,
.instance-message {
  font-size: 12px;
}

.instance-actions-trigger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 11px;
  line-height: 45px;
  color: $instance_action;
  cursor: pointer;
}

.instance {
  position: relative;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid $host_border;
  .instance-actions {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    text-align: right;

    .resource-actions {
      padding-right: 10px;
    }
  }
}

.host .instance {
  width: 50%;
  float: left;
  border: none;
  border-bottom: 1px solid $host_border;

  &:nth-child(odd) {
    border-right: 1px solid $host_border;
  }

  &:last-child,
  &:nth-last-child(2):nth-child(odd) {
    border-bottom: none;
  }

  &:nth-last-child(2):nth-child(odd),
  &:last-child:nth-child(odd) {
    border-bottom-left-radius: 5px;
  }

  &:last-child:nth-child(even) {
    border-bottom-right-radius: 5px;
  }
}

.dot {
  float: left;
  margin: 2px;
  font-size: 11px;
}

.instance-detail H1,
.instance-detail H2,
.instance-detail H3,
.instance-detail H4,
.instance-detail H5 {
  margin: 0;
}

.console-body {
  margin: 20px auto;
  width: 540px;
}

.console-status {
  position: absolute;
  margin: 10px 0;
}

.corner-triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-top: 40px solid rgba(255,0,0,0.8);
}

.corner-triangle-content {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  color: white;
}
