.dot {
  float: left;
  margin: 2px;
  font-size: 11px;
}

.instance-detail H1,
.instance-detail H2,
.instance-detail H3,
.instance-detail H4,
.instance-detail H5 {
  margin: 0;
}

.modal-shell {
  width: 600px;
}

.console-body {
  margin: 20px auto;
  width: 540px;
  min-height: 360px;
}

.console-status {
  position: absolute;
  margin: 10px 0;
}

.machine-host {
  min-height: 168px;

  .machine-info {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    white-space: normal;
    color: #d2d7de;
  }
}

.machine-driver {
  &.amazon {
    background-image: url('images/providers/amazon.svg');
  }

  &.digitalocean {
    background-image: url('images/providers/digitalocean.svg');
  }

  &.openstack {
    background-image: url('images/providers/openstack.svg');
  }

  &.rackspace {
    background-image: url('images/providers/rackspace.svg');
  }

  &.packet {
    background-image: url('images/providers/packet.svg');
  }

  &.exoscale {
    background-image: url('images/providers/exoscale.svg');
  }
  
  &.ubiquity {
    background-image: url('images/providers/ubiquity.svg');
  }

  &.custom {
    background-image: url('images/providers/custom.svg');
  }
}

.c3 svg {
  font: 12px "Open Sans";
}

#memoryGraph,
#cpuGraph {
  .c3-axis .tick {
    fill: #d3d3d3;

    line {
      display: none;
    }
  }

  .c3-axis-x {
    display: none;
  }

  .c3-axis .domain {
    stroke: #f3f5f7;
  }
}
