$body_bg: #f4f5f8;
$header_height: 53px;
$header_text: #343434;
$header_link_text: #afb9c8;
$nav_width: 90px;
//$nav_bg: #26c0c9;
//$nav_text: #81e6e6;
//$nav_bg_hover: #167287;
//$nav_text_hover: white;
$nav_bg: #283036;
$nav_text: white;
$nav_bg_hover: #283036;
$nav_text_hover: white;
$aside_width: 200px;

/**********
* Body
**********/
HTML {
  height: 100%;
}

BODY {
  background-color: $body_bg;
  min-height: 100%;
  font-weight: 400;
}

B {
  font-weight: 600;
}

.farm {
  background-color: #85a514;
  background-image: url('images/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

/**********
* Navigation (left side bar)
**********/
NAV {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: $nav_width;
  margin: 0;
  color: $nav_text;

  //@include diagonal-gradient-3(#28d5cc, #24acc6, #28c0d4);
  background-color: #384047;

  .logo {
    padding: 15px 0;
    text-align: center;
    background-color: #202020;
  }

  LABEL {
    font-weight: normal;
    font-size: 12px;
    display: block;
  }

  UL {
    margin: 0;
    padding: 0;
  }

  LI {
    margin: 0;
    padding: 15px 0 5px 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
    color: $nav_text;

    A,
    A:active,
    A:hover,
    A:visited {
      text-decoration: none;
      color: $nav_text;
    }
  }

  LI:hover,
  LI.active {
    color: $nav_text_hover;
    background-color: $nav_bg_hover;

    A, A:active, A:hover, A:visited {
      color: $nav_text_hover;
    }
  }
}

/**********
* Header (top bar)
**********/
HEADER {
  height: $header_height;
  z-index: 2;
  background-color: $body_bg;

  margin-left: $nav_width;
  &.has-aside {
    margin-left: $nav_width + $aside_width;
  }

  .full-height {
    line-height: $header_height - 1;
  }

  H3 {
    font-weight: normal;
    margin: 0;
    line-height: $header_height - 1;
    color: $header_text;
    padding-left: 20px;

    A,
    A:visited,
    A:hover,
    A:focus {
      text-decoration: none;
      color: $header_link_text;
    }
  }

  .right {
    float: right;
    padding: 10px 20px 10px 0;
  }
}

/**********
* Main body
**********/
MAIN {
  margin-left: $nav_width;

  &.has-aside {
    margin-left: ($nav_width + $aside_width);
  }
}

/**********
* Section (within Main)
**********/
SECTION {
  padding: 20px 20px 0 20px;
}

.overlay SECTION {
  padding: 20px 0 0 0;
}

/**********
* Aside (secondary bar next to left NAV)
**********/
ASIDE {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $nav_width;
  width: $aside_width;
  z-index: 2;
  padding: 20px 20px 0 20px;
  color: white;

  UL.links {
    margin-top: 20px;
    margin-bottom: 20px;

    LI {
      padding: 5px 0 4px 8px;
      cursor: pointer;

      &.active {
        background-color: #5ebeaf;
        border-radius: 4px;
      }

      A,
      A:hover,
      A:focus,
      A:visited {
        font-weight: 600;
        color: white;
        text-decoration: none;

        I {
          margin-right: 5px;
        }

        clear: both;
        .badge {
          float: right;
          background-color: transparent;
        }
      }
    }
  }

  UL.info {
    LI {
      margin: 10px 0;
    }
  }

  LABEL {
    color: #b4e1da
  }

}

/**********
* Colors for NAV and ASIDE
**********/
.nav-hosts {
  border-left: 2px solid #44b4a2;

  &.active {
    background-color: #44b4a2;
  }
}

.nav-volumes {
  border-left: 2px solid #fbc57e;

  &.active {
    background-color: #fbc57e;
  }
}

.nav-api {
  border-left: 2px solid #8be5ff;

  &.active {
    background-color: #8be5ff;
  }
}


/**********
* Misc common global things
**********/
.footer-actions {
  margin: 20px 0;
  text-align: center;
}

.input-list {
  margin: 5px 0;
}

.loading-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: #eee;
  z-index: 13;

  H3 {
    font-family: Helvetica;
  }
}

#loading-underlay, #loading-overlay {
  display: none;
}

.no-resize {
  resize: none;
}

.fixed {
  table-layout: fixed;
}

.clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

.force-wrap {
  word-wrap: break-word;
}

.main-jumbotron {
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  padding: 1px 30px;
}

.well {
  border-radius: 5px;
}

.radio-well {
  padding: 10px;
  font-size: 14px;

  LABEL {
  font-weight: normal;
  display: block;
  /* the radio button gets clipped with no padding */
  padding-left: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  }
}

.text-mono {
  font-family: Consolas, "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}

SECTION .well LABEL,
.graphs LABEL {
  font-weight: normal;
  color: #da8456;
  display: block;
  margin-bottom: 5px;
}

TABLE.graphs {
  width: 100%;
  table-layout: fixed;
}

.farm-box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  SECTION {
    min-width: 50%;
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
  }

  SECTION:first-of-type {
    margin-top: 50px;
  }
}

.hand {
  cursor: pointer;
  cursor: hand;
}

.grid-header H3 {
  color: #49bdaa;
}
