$body-bg: #f4f5f8;
$header-height: 53px;
$header-text: #343434;
$header-link-text: #afb9c8;
$nav-width: 90px;
$main-padding: 20px;
$nav-bg: #393d47;
$nav-text: #788188;
$nav-bg-hover: #283036;
$nav-text-hover: white;
$aside-width: 200px;

/**********
* Body
**********/
HTML {
  height: 100%;
}

BODY {
  background-color: $body-bg;
  min-height: 100%;
  font-weight: 400;
}

.authenticated, #application {
  height: 100%;
}

B {
  font-weight: 600;
}

.farm {
  background-color: #85a514;
  background-image: url('images/background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}

/**********
* Articles (above the page info/warnings)
**********/
.articles {
  position: relative;
  z-index: 3;
  background-color: white;

  ARTICLE {
    position: relative;
    padding: 7px 10px;
    text-align: center;

    &.close {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 8px 10px;
    }

    &.warning {
      background-color: #e0717b;
      color: white;

      A,
      A:hover,
      A:focus,
      A:active,
      A:visited{
        color: white;
        font-weight: 600;
      }
    }
  }
}

/**********
* Navigation (left side bar)
**********/
.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $nav-width;
  background-color: $nav-bg;
  z-index: 1;
}

NAV {
  position: absolute;
  z-index: 2;
  width: $nav-width;
  margin: 0;
  color: $nav-text;

  .logo {
    height: 53px;
    background-image: url('images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #212121;
  }

  LABEL {
    font-weight: normal;
    font-size: 12px;
    display: block;
    position: relative;
    top: -2px;
  }

  A,
  A:active,
  A:focus,
  A:hover,
  A:visited {
    display: block;
    text-decoration: none;
    color: $nav-text;
    border-bottom: 1px solid #4a4f59;
    border-left-width: 2px;
    border-left-style: solid;
    margin: 0;
    padding: 13px 0 8px 0;
    list-style-type: none;
    text-align: center;
    cursor: pointer;
  }

  A:hover,
  A.active {
    color: $nav-text-hover;
    background-color: $nav-bg-hover;
  }

  I {
    font-size: 16px;
    position: relative;
    top: 3px;

    &.fa {
      top: 0;
    }
  }
}

/**********
* Header (top bar)
**********/
HEADER {
  height: $header-height;
  z-index: 2;
  background-color: $body-bg;

  margin-left: $nav-width;
  &.has-aside {
    margin-left: $nav-width + $aside-width;
  }

  .full-height {
    line-height: $header-height - 1;
  }

  H3 {
    margin: 0;
    line-height: $header-height - 1;
    color: $header-text;
    padding-left: 20px;

    A,
    A:visited,
    A:hover,
    A:focus {
      cursor: pointer;
      text-decoration: none;
      color: $header-link-text;
    }
  }

  .right {
    float: right;
    padding: 6px 20px 0 0;
  }

  .user-toggle {
    cursor: pointer;
    position: relative;
    z-index: 4;
  }

  .user-menu {
    margin-top: -7px;
    margin-right: -10px;
    z-index: 3;
    padding-top: 0;
    width: 250px;
    border-radius: 5px;
  }

  .user-dropdown-arrow {
    position: relative;
    left: -2px;
  }

  .user-noauth,
  .user-auth {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
  }

  .user-noauth {
    background-color: #de6e79;
    text-align: center;
    padding: 20px 0;
  }

  .user-auth {
    position: relative;
    background-color: #9eadb6;
    padding: 10px 0 10px 20px;

    .gh-block {
      margin-right: 60px;
    }

    .gh-block-name {
      A, A:hover, A:focus, A:visited, A:active {
        color: white;
      }
    }

    .gh-block-detail {
      color: #dfe9ee;
    }

    .user-logout {
      background-color: #899ba7;
      border-top-right-radius: 5px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 14px 0 0 0;
      width: 60px;
      color: #dfe9ee;
      font-size: 12px;
      text-align: center;

      I {
        font-size: 24px;
        line-height: 20px;
        position: relative;
        left: 3px;
      }
    }
  }
}

/**********
* Main body
**********/
MAIN {
  margin-left: $nav-width;
  position: relative;

  &.has-aside {
    margin-left: ($nav-width + $aside-width);
  }
}

BODY.white MAIN {
  margin-top: $main-padding/2;
  margin-right: $main-padding;
  margin-bottom: $main-padding;
  margin-left: $nav-width + $main-padding;
  background-color: white;
  border-radius: 5px;

  &.has-aside {
    margin-left: ($nav-width + $aside-width + $main-padding);

    ASIDE {
      left: -1 * ($aside-width + $main-padding);
      top: -1*$header-height - $main-padding/2;
    }
  }
}


/**********
* Section (within Main)
**********/
SECTION {
  padding: 20px 20px 0 20px;
}

.overlay SECTION {
  padding: 20px 0 0 0;
}

/**********
* Aside (secondary bar next to left NAV)
**********/
.aside-background {
  position: absolute;
  top: 0;
  left: $nav-width;
  bottom: 0;
  width: $aside-width;
  background-color: transparent;
  z-index: 1;
}

ASIDE {
  position: absolute;
  top: -1*$header-height;
  bottom: 0;
  left: -1*$aside-width;
  width: $aside-width;
  z-index: 2;
  padding: 17px 20px 0 20px;
  color: white;

  HR {
    border-top: 1px solid rgba(255,255,255,0.4);
  }

  .links {
    A {
      display: block;
      padding: 5px 0 4px 8px;
      cursor: pointer;
      opacity: 0.5;
      font-size: 14px;

      &.active {
        opacity: 1.0;
        background-color: rgba(255,255,255,0.1);
        border-radius: 4px;
      }
    }

    A,
    A:hover,
    A:focus,
    A:visited {
      font-weight: 600;
      color: white;
      text-decoration: none;

      I {
        margin-right: 5px;
      }

      clear: both;
      .badge {
        float: right;
        background-color: transparent;
      }
    }
  }

  LABEL {
    color: rgba(255,255,255,0.5);
  }

}

UL.list-circles {
  @extend .list-unstyled;
  margin-top: 10px;
  font-weight: 600;

  &>LI {
    background-image: url('images/info-bubble.svg');
    background-repeat: no-repeat;
    min-height: 45px;
    padding-top: 5px;
    position: relative;
    padding-left: 45px;
    font-size: 14px;

    &>I {
      @extend .no-select;
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      line-height: 38px;
      font-size: 16px;
      color: white;
      text-align: center;
      font-style: normal;

      &.fa {
        /* Font-Awesome knows how to center things properly.. */
        line-height: 34px;
      }
    }

    &:last-child {
      min-height: 34px;
      background-image: url('images/info-bubble-last.svg');
    }
  }

  &.list-circles-clear > LI {
    background-image: url('images/info-bubble-clear.svg');
    font-weight: 400;
    padding-bottom: 20px;

    &:last-child {
      background-image: url('images/info-bubble-clear-last.svg');
    }

    &>I {
      line-height: 34px;
      color: #667f85;
    }
  }
}


/**********
* Colors for NAV and ASIDE
**********/
$nav-1: #44b4a2;
$nav-2: #f58485;
$nav-3: #b49ac3;
$nav-4: #fabc6f;
$nav-5: #66b0cb;
$nav-6: #444;
$nav-7: #444;

.nav-hosts {
  border-left-color: $nav-1;
  &.active { background-color: $nav-1; }
}

.nav-containers {
  border-left-color: $nav-2;
  &.active { background-color: $nav-2; }
}

.nav-balancing {
  border-left-color: $nav-3;
  &.active { background-color: $nav-3; }
}

.nav-volumes {
  border-left-color: $nav-4;
  &.active { background-color: $nav-4; }
}

.nav-registries {
  border-left-color: $nav-5;
  &.active { background-color: $nav-5; }
}


/**********
* Misc common global things
**********/
.footer-actions {
  margin: 20px 0;
  text-align: center;
}

.input-list {
  margin: 5px 0;
}

.loading-overlay {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: #eee;
  z-index: 13;

  H3 {
    font-family: Helvetica;
  }
}

#loading-underlay, #loading-overlay {
  display: none;
}

.no-resize {
  resize: none;
}

.fixed {
  table-layout: fixed;
}

.clip {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
}

.force-wrap {
  word-wrap: break-word;
}

.main-jumbotron {
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  color: white;
  padding: 1px 30px;
}

.well {
  border-radius: 5px;
}

.radio-well {
  padding: 10px;
  font-size: 14px;

  LABEL {
    font-weight: normal;
    display: block;
    /* the radio button gets clipped with no padding */
    padding-left: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
  }
}

.text-mono {
  font-family: Consolas, "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}

SECTION .well LABEL,
.graphs LABEL {
  font-weight: normal;
  color: #da8456;
  display: block;
  margin-bottom: 5px;
}

TABLE.graphs {
  width: 100%;
  table-layout: fixed;
}

.farm-box {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  SECTION {
    min-width: 50%;
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
  }

  SECTION:first-of-type {
    margin-top: 50px;
  }
}

.hand {
  cursor: pointer;
  cursor: hand;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// SS-Gizmo doesn't know how to vertical align..
.ss-icon, [class^="ss-"] {
  vertical-align: -5%;
}

.btn-circle {
  display: inline-block;
  line-height: $line-height-base;
  vertical-align: middle;
  touch-action: manipulation;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  padding: 0;
  border: 0;
  text-decoration: none;

  &[disabled] {
    opacity: 0.5;
  }
}

.btn-circle-text {
  width: auto;
  padding-left: 25px;
  color: #37B7E1;
}

.btn-circle-plus {
  @extend .btn-circle;
  background-image: url('images/circle-plus.svg');
}

.btn-circle-x {
  @extend .btn-circle;
  background-image: url('images/circle-x.svg');
}

.btn-circle-menu {
  @extend .btn-circle;
  background-image: url('images/circle-menu.svg');
}

ASIDE .btn-circle-menu {
  background-image: url('images/circle-menu-white.svg');
}

/**********
* Grid
**********/
.grid-header H3 {
  color: #49bdaa;
}


.grid {
  /* Copied from .table because @extend doesn't work */
  width: 100%;
  max-width: 100%;
  margin-bottom: $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }
  /* End: Copied from .table because @extend doesn't work */

  & > THEAD > TR > TH,
  & > THEAD > TR > TD,
  & > TBODY > TR > TH,
  & > TBODY > TR > TD,
  & > TFOOT > TR > TH,
  & > TFOOT > TR > TD {
    padding: 8px 2px;
    font-size: 13px;
    vertical-align: top;
  }

  .actions {
    text-align: right;
  }
}

@media (max-width: 701px) {
  .grid {
    & > THEAD > TR > TH,
    & > THEAD > TR > TD,
    & > TBODY > TR > TH,
    & > TBODY > TR > TD,
    & > TFOOT > TR > TH,
    & > TFOOT > TR > TD {
      display: block;
      border-top: 0;
      padding: 2px;

      &:first-child {
        border-top: 1px solid #f0f3f5;
      }
    }

    TH.actions {
      display: none;
    }

    & > THEAD > TR,
    & > TBODY > TR,
    & > TFOOT > TR {
      position: relative;
      display: block;
    }

    TD.actions {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
}

/**********
* Form
**********/
.over-hr {
  position: relative;

  HR {
    position: absolute;
    top: 2px;
    left: 0;
    right: 0;
  }

  SPAN {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    margin-left: -25%;
    left: 50%;
    background-color: white;
    z-index: 1;
    color: #798194;
  }
}

.horizontal-form {
  H2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-label {
    text-align: right;
  }

  HR {
    margin: 0 0 15px 0;
  }
}

@media (max-width: $screen-md) {
  .horizontal-form {
    .form-label {
      text-align: left;
    }
  }
}

.toggle-advanced {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #868f99;

  A,
  A:focus,
  A:active,
  A:visited,
  A:hover {
    cursor: pointer;
    text-decoration: none;
    color: #868f99;
  }
}
