.login {
  color: #848a9a;
  text-align: center;

  .logo {
    background-image: url('images/logo_dark.svg');
    width: 44px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 44px;
    margin: 0 auto;
  }

  H1 {
    font-size: 28px;
    color: #393d47;
  }

  SECTION {
    padding: 40px;
  }
}
