.container-multi-stat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.multi-stats {
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  background-color: white;
  >div[class*='-3'],
  >div[class*='-4'] {
    padding: 12px;
    min-height: 50px;
    &:not(:first-of-type) {
      border-left: 1px solid $gray-light;
    }
  }
  .description {
    padding: 12px;
  }
}


.nav-tabs {
  &.shadowed {
    border-bottom: none;
    position: relative;
    top: 1px;
    a {
      box-shadow: inset 0px 0px 1px rgba(0,0,0,.15);
    }

    li {
      margin-bottom: 1px;
    }
  }
}

.table-flat {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  &.well {
    padding: 20px;
  }
  // Okay okay i know this is wierd but we want the borders inside all the cells but Bootstrap also throws a border
  // around the table which we dont want so deal with it
  .table-bordered {
    border:none;
  }

  table {
    thead {
      background-color: $gray-light;
      color: white;
      th {
        padding-left: 10px;
      }
    }
    tr {
      td:first-of-type {
        padding-left: 10px;
      }
      td {
        padding-left: 10px;
      }
    }
  }
}
