.container-multi-stat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
.multi-stats {
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
  background-color: white;
  >div[class*='-3'] {
    padding: 12px;
    min-height: 50px;
    &:not(:first-of-type) {
      border-left: 1px solid $gray-light;
    }
  }
}


.nav-tabs {
  &.shadowed {
    a {
      box-shadow: inset 0px 0px 1px rgba(0,0,0,.15);
    }
    li.active {
      a {
        box-shadow: none;
      }
    }
    li {
      margin-bottom: 1px;
    }
  }
}

.table-flat {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  table {
    thead {
      background-color: $gray-light;
      color: white;
      th:first-of-type {
        padding-left: 10px;
      }
    }
    tr {
      td:first-of-type {
        padding-left: 10px;
      }
      td {
        i.icon-circle-o {
          margin-top: 4px;
        }
      }
    }
  }
}
