.overlay {
  z-index: 11;
  position: absolute;
  background-color: white;
  top: 0;
  left: 20px;
  right: 20px;
  max-width: 990px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;

  H1, H2 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  LABEL,
  TH {
    font-weight: 400;
  }
}

.overlay-small {
  left: 25%;
  right: 25%;
}

.underlay {
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #777;
  cursor: pointer;
}

.overlay-close:hover {
  color: black;
}
