.registry-driver {
  &.dockerhub {
    background-image: url('images/providers/dockerhub.svg');
  }

  &.quay {
    background-image: url('images/providers/quay.svg');
  }

  &.custom {
    background-image: url('images/providers/custom-registry.svg');
  }
}
