.registry-driver {
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  &.dockerhub {
    background-image: url('images/providers/custom.svg');
  }

  &.quay {
    background-image: url('images/providers/quay.svg');
  }

  &.custom {
    background-image: url('images/providers/custom.svg');
  }
}
