.service-addtl-info {
  position: fixed;
  bottom: 0;
  height: 310px;
  min-height: 310px;
  background-color: white;
  width: 100%;
  box-shadow: 0px -1px 4px $gray-light;
  z-index: 4;
  hr {
    border-color: $gray-light;
  }
  .tab-content {
    overflow: auto;
  }
  .tab-content,
  .tab-pane {
    height: 100%;
  }
  ul.nav-tabs {
    position: absolute;
    top: -45px;
    border-bottom: none;
  }
  .sidekick {
    box-shadow: inset 0px -2px 3px -1px $gray-light;
    &.active {
      box-shadow: none;
    }
  }
  .description {
    @extend .clip;
    padding: 15px 25px 0 25px;
  }
  .tab-main {
    background: white;
    height: 45px;
    left: 25px;
    padding: 5px 15px;
    margin-right: 35px;
    box-shadow: inset 0px -2px 3px -1px $gray-light;
    .close {
      position: absolute;
      top: -13px;
      right: -10px;
      color: gray;
      &:hover {
        cursor: pointer;
      }
    }
    &.active {
      height: 55px;
      top: -5px;
      box-shadow: none;
    }
  }
  .inner {
    display: table;
    table-layout: fixed;
    height: 240px;
    width: 100%;
  }
  .container-dots {
    height: 165px;
  }
  // override the native bootstrap tabs styling
  .nav-tabs {
    > li {
      .active {
        border: none;
        background: transparent;
      }
      > a {
        &:hover,
        &:focus {
          border: none;
          background: transparent;
        }
      }
    }

  }
  div[class*='col-'] {
    height: 100%;
  }
  div[class*='col-'] {
    padding: 10px 25px 25px 25px;
    &:last-child {
      .content {
        border-right: none;
      }

    }
  }
  .content {
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid $gray-light;
    max-height: 310px;
    overflow-y: auto;
  }
  .state {
    h3 {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
    }
    .btn {
      font-size: 11px;
    }
  }
  .graph-actions {
    margin-right: 15px;
  }
}
