.auth-driver {
  &.github {
    background-image: url('images/providers/github.svg');
  }

  &.ldap {
    background-image: url('images/providers/ldap.svg');
  }

  &.local {
    background-image: url('images/logos/provider-local.svg');
  }
}
