.auth-driver {
  &.github {
    background-image: url('images/providers/icon_github.svg');
  }

  &.ldap {
    background-image: url('images/providers/icon_ldap.svg');
  }

  &.local {
    background-image: url('images/providers/icon_local.svg');
  }
}
