.slider {
  position: relative;
  background: $lightGrayTwo;
  border-radius: 5px;
  cursor: pointer;
  height: 15px;

  .slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    margin-left: -10px;
    border-radius: 50%;
    background-color: $lightGray;
  }

  .slider-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $blueTwo;
    border-radius: 90px;
  }

  &.disabled {
    cursor: not-allowed;

    .slider-handle {
      border-color: $midGrayDark;
      background-color: $lightGray;
    }

    .slider-bar {
      background-color: $midGrayDark;
      opacity: 0.6;
    }
  }

  &.active {
    .slider-handle {
      background-color: $lightGrayDark;
    }
  }
}
