TH.sortable {
  cursor: pointer;

  .faded {
    color: #ccc;
  }

  .fa-stack {
    width: initial;
    height: inherit;
    line-height: inherit;
    display: inline;
    vertical-align: top;
    padding-left: 15px;
  }
}
