TH.sortable {
  cursor: pointer;

  .faded {
    color: $midGray;
  }

  .icon-stack {
    width: initial;
    height: inherit;
    line-height: inherit;
    display: inline;
    vertical-align: top;
    padding: 0 15px;
  }
}

.table-flat TH.sortable .faded {
  color: #aaa;
}
