SECTION.welcome {
  margin: 30px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  color: $tealTwo;
  padding: 50px;
  border-radius: $border-radius-large;



  H2 {
    font-weight: 600;
    margin-bottom: 20px;
    padding: 0 20px 20px 20px;
    border-bottom: solid medium $lightTeal;
    color: $teal;
    width: 65%;
  }

  P {
    A {
      color: rgb(44, 62, 80);
      
      &:hover {
        color: #292c36;
      }
    }
    margin-bottom: 20px;
    width: 65%;
  }

  I {
    float: right;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
  }
}
