SECTION.welcome {
  margin: 30px;
  background-color: #58c2f6;
  color: white;
  padding: 30px 50px;
  border-radius: 6px;

  &.alt {
    background-color: #49b6a2;
  }

  H2 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  P {
    margin-bottom: 20px;
  }

  I {
    float: right;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
  }
}
