
.copy-pre {
  position: relative;
}

.copy-pre PRE {
  font-size: 11px;
  margin: 10px 0;
  white-space: pre-wrap;
  padding-right: 60px;
  background-color: white;
}

.copy-pre BUTTON {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-primary.zeroclipboard-is-hover {
  @extend .btn-primary:hover
}

.zeroclip.small {
  @extend .text-muted;
  padding: 0;
}
