<section class="header">
  <ol class="breadcrumb right-divider">
    <li class="active">Access Control</li>
  </ol>
</section>

{{#unless access.enabled}}
  <section class="horizontal-form well">
    <h2>Configure Access Control</h2>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-boxes checked-active" id="providers" style="margin: 0px auto; max-width: 720px;">
            {{#each drivers as |driver|}}
              {{#if driver.available}}
                {{#link-to driver.route tagName="li" href=false}}
                  <a href="#" alt="{{driver.label}}" class="driver auth-driver {{driver.css}}"></a>
                {{/link-to}}
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{/unless}}

{{outlet}}
