<section class="header clearfix">
  <h1>{{t 'authPage.root.header'}}</h1>
</section>

{{#unless access.enabled}}
  <section>
    <div class="row nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        {{#if driver.available}}
          {{#link-to driver.route alt=driver.label classNames=(concat "col span-2 nav-box-item driver auth-driver " driver.css) href=false}}
            <span classNames=(concat "col span-2 nav-box-item driver auth-driver")></span>
            <p>{{driver.label}}</p>
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  </section>
{{/unless}}

{{outlet}}

