<section class="header">
  <h1>
    {{#link-to "infrastructure-tab"}}Hosts:{{/link-to}}
    Add Host
  </h1>
</section>

{{#if (gt drivers.length 1)}}
  <section class="well">
    <div class="nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        {{#link-to (concat "hosts.new." driver.name) alt=driver.label class=(concat "nav-box-item driver machine-driver " driver.css) href=false}}{{/link-to}}
      {{/each}}
    </div>
  </section>
{{/if}}

<section>
  {{outlet}}
</section>
