<section class="header clearfix">
  <h1>
    {{t 'hostsPage.new.header.text'}}
  </h1>
</section>

{{add-host allowCustom=(not app.isCaas) model=model driver=driver hostId=hostId completed=(action 'completed') goBack=(route-action 'goBack')}}
