<section class="header clearfix">
  <h1>
    {{#link-to "infrastructure-tab"}}{{t 'hostsPage.new.header.linkTo'}}{{/link-to}}
    {{t 'hostsPage.new.header.text'}}
  </h1>
</section>

{{add-host model=model driver=driver hostId=hostId completed=(action 'completed') goBack=(route-action 'goBack')}}