<section class="header">
  <h1 class="r-mr10">
    {{#link-to "infrastructure-tab"}}Hosts:{{/link-to}}
    Add Host
  </h1>
</section>

<section class="horizontal-form well">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-boxes checked-active" id="providers">
          {{#each drivers as |driver|}}
            {{#if driver.available}}
              {{#link-to driver.route tagName="li" href=false}}
                <a href="#" alt="{{driver.label}}" class="driver machine-driver {{driver.css}}"></a>
              {{/link-to}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  {{outlet}}
</section>
