<section class="horizontal-form" style="background-color: white;">
  <h2>Add Host</h2>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Provider</label>
      </div>
      <div class="col-sm-12 col-md-8">
        <ul class="nav nav-boxes checked-active" id="providers">
          {{#each driver in drivers}}
            {{#if driver.available}}
              {{#link-to driver.route tagName="li" href=false}}
                <a {{bind-attr alt=driver.label class=":driver :machine-driver driver.css"}}></a>
              {{/link-to}}
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
<div style="width: 10px; height: 10px; margin: 0 auto; border: 10px solid white; border-bottom-color: #f4f5f8; border-top: 0;"></div>
</section>

<section>
  {{outlet}}
</section>
