{{#container-shell
  instance=originalModel
  cols=80
  rows=24
  fullscreen=fullscreen
  dismiss=(action "cancel")
  disconncted=(action "cancel")
}}
  <div class="footer-actions">
    <button {{action "toggleFullscreen"}} class="btn btn-default">{{t 'modalShell.fullscreen'}}</button>
    <button {{action "cancel"}} class="btn btn-primary">{{t 'generic.closeModal'}}</button>
  </div>
{{/container-shell}}
