<h2><i class="icon icon-terminal"></i> Shell: {{originalModel.displayName}}</h2>
{{#container-shell
  instance=originalModel
  cols=80
  rows=24
  dismiss=(action "cancel")
  disconncted=(action "cancel")
}}
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
{{/container-shell}}
