<h2><i class="icon icon-terminal"></i> Shell: {{originalModel.displayName}}</h2>
{{#container-shell
  classNames="inline-block"
  instance=originalModel
  cols=120
  rows=30
}}
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
{{/container-shell}}
