<h1><i class="icon icon-terminal"></i> Shell: {{instance.displayName}}</h1>
<div class="shell-body clearfix">
</div>
<div class="footer-actions">
  <div class="console-status text-muted">{{status}}</div>
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>
