<h2><i class="icon icon-terminal"></i> Shell: {{originalModel.displayName}}</h2>
{{#container-shell
  instance=originalModel
  cols=100
  rows=30
}}
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
{{/container-shell}}
