<h2>
  {{t "pipelineSetting.title" name=model.displayName}}
</h2>

<div class="row mb-10">
  {{pipeline-trigger pipeline=model}}
</div>
{{top-errors errors=errors}}
{{save-cancel
  editing=true
  save=(action "save")
  cancel=(action "cancel")
}}