<a class="dropdown-toggle hand btn btn-sm btn-link" data-toggle="dropdown" aria-expanded="false">
  <i class="icon icon-globe"></i> Language <i class="icon icon-chevron-down"></i>
</a>
<ul class="dropdown-menu text-right" role="menu" style="min-width: 0">
  {{#each-in translations as |language locale|}}
    <li  class="hand" {{action 'selectLanguage' locale}}>{{#if (eq selected locale)}}<i class="icon icon-check"></i> {{/if}}{{language}}</li>
  {{/each-in}}
</ul>
