# This repository is owned by the Rancher UI team.
#
# Owners are deliberately NOT declared here.
#
# The canonical list of Rancher UI repositories and their owning teams lives in:
#   https://github.com/rancher/dashboard/blob/master/.github/OWNERS.md
#
# To find out who to contact about this repository, see that file.
