{{#if showAccessWarning}}
  <article class="warning">
    <div class="close" {{action "hideAccessWarning"}}><i class="icon icon-x"></i></div>
    {{#link-to "admin-tab.auth"}}Access Control{{/link-to}} is not configured
  </article>
{{/if}}
