{{textarea-autogrow
  value=value
  classNames="form-control"
  placeholder=placeholder
  minHeight=minHeight
  maxHeight=maxHeight
}}
<span class="input-group-btn input-group-btn-textarea">
  {{#tooltip-element type="tooltip-basic" model=(t 'inputTextFile.tooltip') tooltipTemplate="tooltip-static" aria-describedby="tooltip-base" tooltipFor="inputTextFile"}}
    <button type="button" class="{{btnClass}}" {{action "click"}}><i class="icon icon-upload"></i></button>
  {{/tooltip-element}}
  <input type="file" accept="{{actualAccept}}" class="hide">
</span>
