{{page-header
  currentPath=currentPath
  authController=this
  hasKubernetes=hasKubernetes
  showAbout="showAbout"
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main>
  {{outlet}}
</main>
