{{#unless isPopup}}
  {{page-header
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
{{/unless}}
<main class="clearfix">
  {{outlet}}
</main>
{{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}}
