{{page-header
  currentPath=currentPath
  authController=this
  hasKubernetes=hasKubernetes
  hasSystem=hasSystem
  hasVm=hasVm
  showAbout="showAbout"
  switchProject="switchProject"
  goToPrevious="goToPrevious"
  helpEnabled=helpEnabled
}}
<main>
  {{outlet}}
</main>
{{page-footer
  showAbout="showAbout"
  helpEnabled=helpEnabled
}}
