<div {{bind-attr class=":aside-background asideColor hasAside::hide"}}></div>
{{page-header
  currentPath=currentPath
  projects=projects
  project=project
  authController=this
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main {{bind-attr class="hasAside:has-aside"}}>
  {{outlet}}
</main>
