{{#unless isPopup}}
  {{page-header
      scope=pageScope
      switchProject=(route-action "switchProject")
      switchCluster=(route-action "switchCluster")
      goToPrevious="goToPrevious"
  }}
{{/unless}}
<main class="clearfix">
  {{outlet}}
</main>
{{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}}
