{{#unless isPopup}}
  {{page-header
    currentPath=currentPath
    authController=this
    hasKubernetes=hasKubernetes
    hasSwarm=hasSwarm
    swarmReady=swarmReady
    hasMesos=hasMesos
    hasSystem=hasSystem
    hasVm=hasVm
    showAbout="showAbout"
    switchProject="switchProject"
    switchNamespace="switchNamespace"
    goToPrevious="goToPrevious"
  }}
{{/unless}}
<main class="clearfix">
  {{outlet}}
</main>
{{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}}
