<section>
  <div class="row">
    <div class="col span-6 box p-0">
    <div class="col mt-0 mb-0">
      <img src="http://placehold.it/120x120">
    </div>
    <div>
        <p>here is some info</p>
        <hr>
        <p>and some more down here</p>
      </div>
    </div>

    <div class="col span-6 box p-0">
    <div class="col mt-0 mb-0">
      <img src="http://placehold.it/120x120">
    </div>
    <div>
        <p>here is some info</p>
        <hr>
        <p>and some more down here</p>
      </div>
    </div>
  </div>
</section>