<section class="horizontal-form container-fluid">
  <h2>Exception Info</h2>
  <hr>
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>Cause:</label>
    </div>
    <div class="col-sm-12 col-md-8 text-muted">
      {{#if exception.cause}}
        {{exception.cause}}
      {{else}}
        N/A
      {{/if}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>Stack Trace:</label>
    </div>
    <div class="col-sm-12 col-md-12">
      {{code-block language="yaml" code=exception.stackTrace}}
    </div>
  </div>
  <div class="r-mb15">
    <button class="btn btn-primary center-block" {{action 'dismiss'}}>Close</button>
  </div>
</section>
