# unconventional js
blueprints/*
config/*
**/config/*
vendor/*
bower.js
ember-cli-build.js

# compiled output
dist/*
server/*
tmp/*

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.eslintrc.js

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
