# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules

# misc
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
/.log*
npm-debug.log
testem.log
.DS_Store
.tern-port
.tern-project
.vscode
.vscodeignore
.jsbeautifyrc
jsconfig.json
/typings
.env
.floo
.flooignore
GPATH
GRTAGS
GTAGS
*.code-workspace
.dir-locals.el
.nvmrc


*.swp
*~
\#.*
.python-version
\#*
.\#*

*.org
yarn-error.log
!Dockerfile.dapper
Dockerfile.dapper*
