[submodule "vendor/term.js"]
	path = vendor/term.js
	url = https://github.com/rancher/term.js.git
[submodule "vendor/jquery.initialize"]
	path = vendor/jquery.initialize
	url = https://github.com/AdamPietrasiak/jquery.initialize.git
[submodule "vendor/icons"]
	path = vendor/icons
	url = https://github.com/rancher/icons.git
