<div id="cytoscape-container">
  <div id="cy" class="cytoscape-graph">
  </div>
</div>
{{graph-toolbar cy=cy}}
<div class="powered-by-kiali">
  {{t "istio.kiali"}}
  <span class="pl-5 pull-right" role="button">
    <a href="https://www.kiali.io/" target="_blank" rel="nofollow noopener noreferrer">
      <div class="kiali"></div>
    </a>
  </span>
</div>