<section class="header">
  <h1>{{t 'k8sTab.namespace.pods.index.header'}}</h1>

  {{#link-to "k8s-tab.apply" (query-params kind="Pod") classNames="btn btn-sm btn-primary"}}{{t 'k8sTab.namespace.pods.index.linkTo'}}{{/link-to}}
</section>

<section class="well instances">
  {{k8s/pod-section model=arranged}}
</section>

