$COLUMNS: 12;
$GUTTER: 1.5%;

/* SECTIONS */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/* COLUMN SETUP */
.col {
  display: block;
  float:left;
  margin: 1% $GUTTER 1% 0;

  &:last-child {
    margin-right: 0;
  }
}

/* ROWS */
.row:before,
.row:after {
  content:"";
  display:table;
}
.row:after {
  clear:both;
}

/* COLUMNS */
@for $cols from 2 through $COLUMNS {
  $span: $cols;
  $suffix: null;

  @if ( $cols != $COLUMNS ) {
    $suffix: -of-#{$cols}
  }

  @while $span > 0 {
    // Normal column with a gutter
    .span-#{$span}#{$suffix} { width: decimal-round( (((100 - ($GUTTER * ($cols - 1))) / $cols) * $span) + (($span - 1) * $GUTTER) , 4, 'floor'); }

    // Gutterless column
    .gutless .span-#{$span}#{$suffix} { margin-right: 0; width: decimal-round( $span / $cols * 100%, 4, 'floor'); }

    // Offsets
    .offset-#{$span}#{$suffix} {
      margin-left: decimal-round( ($span/$cols*100%) + $span*($GUTTER/$cols), 4, 'floor' );
    }

    $span: $span - 1;
  }
}
