// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  clear: both;
}

.searchable {
  position: relative;

  .icon-search {
    position: absolute;
    top: 10px;
    left: 10px;

  }

  .input-sm {
    padding: 5px 0 5px 35px;
  }
}