///640
@media only screen and (max-width: map-get($breakpoints, small)) {
}

// RANCHER MEDIA QUERIES
/*xs*/
/*480px*/
@media (min-width: $screen-xs) {
}

/*small*/
@media (min-width: $screen-sm) {
}

/*695-959*/
@media (max-width: $screen-sm-max) {
  .sortable-table {
    table {
      margin-top: 25px;
    }
    tbody {
      margin-top: 50px;
    }
    .fixed-header-actions {
      display: block;
      visibility: visible;
    }
    .select-for-actions {
      text-align: left;
    }
  }
  .fixed-header-placeholder {
    height: 0;
    display: none;
  }
  .fixed-header-actions {
    display: block;
    visibility: visible;
    position: relative;
  }
}
