<div class="login">
  <div class="header">
    <h1>{{t (concat 'modalEditPassword.' (if newInstall 'newInstall' 'edit') '.title') appName=settings.appName}}</h1>
    <p class="help-text">{{t (concat 'modalEditPassword.' (if newInstall 'newInstall' 'edit') '.help') appName=settings.appName htmlSafe=true}}</p>
  </div>
  {{input-edit-password
      complete=(action (action complete))
      user=model.user
      showCurrent=showCurrent
      currentPassword=currentPassword
      cancelDisabled=true
  }}
</div>