<h2>
  {{t "tableCountSelect.header"}}
</h2>
<div class="box">
  <div class="row">
    {{new-select
      classNames="form-control"
      optionValuePath="value"
      optionLabelPath="value"
      content=tableCounts
      value=selectedCount
    }}
    {{save-cancel
      save=(action "save")
      createLabel="generic.done"
      cancelDisabled=true
      forFooter=false
    }}
  </div>
</div>
