<div class="row">
    <div class="col span-6">
      <h2 class="mt-0 mb-0 pt-20">{{t 'tableCountSelect.header'}}</h2>
    </div>
    {{new-select
      classNames="col span-3 mt-20 form-control"
      optionValuePath="value"
      optionLabelPath="value"
      content=tableCounts
      value=selectedCount
    }}
    {{save-cancel classNames="p-0 col span-3 pull-right text-right mt-0" save="save" createLabel='generic.save' cancelDisabled=true forFooter=false}}
</div>
