<div class="row">
    <div>
      <h2 class="">{{t 'tableCountSelect.header'}}</h2>
    </div>
    {{new-select
      classNames="form-control"
      optionValuePath="value"
      optionLabelPath="value"
      content=tableCounts
      value=selectedCount
    }}
    {{save-cancel classNames="p-0 col span-3 pull-right text-right mt-0" save="save" createLabel='generic.save' cancelDisabled=true forFooter=false}}
</div>
