{{input type="password" id="password" value=value classNames="form-control"}}
<span class="input-group-btn">
  <button class="btn btn-primary" type="button" {{action "generate"}} tabindex="-1">Generate</button>
</span>
