<div class="row">
  {{#each conditions as |c|}}
    <div class="col span-3">
      {{banner-message
        color=(if c.healthy 'bg-success' 'bg-error')
        icon=(if c.healthy 'icon-check' 'icon-alert')
        message=c.name
      }}
    </div>
  {{/each}}
</div>

