{{#if targetsArray.length}}
  <table class="table fixed no-lines no-top-padding tight">
    {{#each targetsArray as |tgt|}}
      <tr>
        <td>
            {{display-name-select
              classNames="form-control input-sm lb-target"
              prompt="Select a service..."
              value=tgt.value
              content=serviceChoices
              optionValuePath="content.id"
              optionLabelPath="content.name"
              optionGroupPath="group"
            }}
        </td>
        <td width="30" class="text-right">
          <button {{action "removeTarget" tgt}} class="btn-circle-x" type="button" tabindex="-1"></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
