<div class="text-center text-muted" style="margin: 20px 0">
  No containers yet.
  {{#if isInactive}}
    {{#with model controller="service" as |ctrl|}}
      <a class="hand" {{action "activate" target=ctrl}}>Start</a>
    {{/with}}
  {{else}}
  {{/if}}
</div>
