<div class="text-center text-muted" style="margin: 20px 0">
  {{t 'servicePartial.noContainers.label'}}
  {{#if isInactive}}
    <a href="#" class="hand" {{action "activate" target=model}}>{{t 'servicePartial.noContainers.inactive.start'}}</a>
  {{/if}}
</div>
