@mixin badge {
  padding: 5px 10px;
  border-radius: 90px;
  font-size: .9em;
}

.badge {
  @include badge;
}

.tag {
  padding: 5px 10px;
  border-radius: 2px;
  font-size: .9em;
}

.badge-xs {
  @extend .badge;
  padding: 2px 3px;
  line-height: initial;
  font-size: .65em;
}

.badge-sm {
  @extend .badge;
  padding: 5px 10px;
  font-size: 0.87em;
}

.badge-lg {
  @extend .badge;
  padding: 18px 30px;
  font-size: 1.25em;
}