.banner {
  display: table;
  position: relative;
  transition: all 0.2s ease;
  margin: 15px 0;
  width: 100%;

  .banner-icon {

  }

  .banner-icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;    
    text-align: center;
    background-color: rgba(black, 0.05);
    
    > .icon {
      width: 20px;
      font-size: 20px;
    }
  }

  .banner-message {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
  }

  &.bg-primary {
    background: rgba($primary, .1);
    border: solid 1px $primary;

      .banner-icon {
        background-color: $primary;
      }
  }
  &.bg-secondary {
    background: rgba($secondary, .1);
    border: solid 1px $secondary;

      .banner-icon {
        background-color: $secondary;
      }
  }
  &.bg-success {
    background: rgba($success, .1);
    border: solid 1px $success;

      .banner-icon {
        background-color: $success;
      }
  }
  &.bg-info {
    background: rgba($info, .1);
    border: solid 1px $info;

      .banner-icon {
        background-color: $info;
      }
  } 
  &.bg-warning {
    background: rgba($warning, .1);
    border: solid 1px $warning;

      .banner-icon {
        background-color: $warning;
      }
  }
  &.bg-error {
    background: rgba($error, .1);
    border: solid 1px $error;

      .banner-icon {
        background-color: $error;
      }
  } 
}