.banner {
  display: table;
  position: relative;
  transition: all 0.2s ease;
  margin: 15px 0;
  width: 100%;

  .banner-icon {

  }

  .banner-icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;    
    text-align: center;
    background-color: rgba(black, 0.15);
    
    > .icon {
      width: 20px;
      font-size: 20px;
    }
  }

  .banner-message {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
  }
}