// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0 solid transparent;
    padding: 10px 20px;
    border-radius: .25rem;
    letter-spacing: .5px;
    border-radius: 2px;
    line-height: 1.5;

    &.bg-transparent {
      color: $primary;
    }

    &:hover {
        text-decoration: none;
    }
}

//button group
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .btn {
        position: relative;
        display: inline-block;
        border-radius: 0;
        // margin-left: -4px;
        // border: solid 1px $brand-accent;


        &:first-child {
            border-radius: 3px 0 0 3px;
            margin-left: 0;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &.active {
          @extend .bg-primary;
        }

        &:focus {
          z-index: 2;
        }
    }

    &.action-menu {
        .btn {
            // padding: 10px 15px;
            font-size: .75em;
            margin-left: -6px;

            .dropdown {
              &:first-child {
              margin-left: 0;
            }

            &:last-child {
              position: relative;

              &:before {
                content: "";
                background: rgba(0,0,0,.5);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
              }
            }
          }
        }
    }

    .dropdown {
      
    }
}

//dropdown button
.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  border: solid thin $light-grey;
  max-width: 250px;
  display: block;

  &.hidden {
    display: none;
  }
  li {
    a {
      text-decoration: none;
      color: white;
    }
  }
}

//btn sizes
.btn-xs, .btn-group-xs > .btn, .btn-group-xs > .btn {
  padding: 2px 3px;
  line-height: initial;
  font-size: .65em;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 0.87em;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 18px 30px;
  font-size: 1.25em;
}


//diabled
.btn-disabled, .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    @extend .bg-disabled;
    cursor: not-allowed;
}