nav {
   ul {
    background-color: $light-grey;
    border-radius: 2px;
    display: inline-block;
    padding: 0;

    .logo {

    }

    > li {
      list-style-type: none;
      display: inline-block;

      > a {
        color: $dark-grey;
        display: block;
        padding: 10px;

        &:hover {
          background-color: $mid-grey;
          text-decoration: none;
        }
      }
    }
  }
}