nav {
   > ul {
    background-color: $secondary;
    border-radius: 3px 0 0 3px;
    display: inline-block;
    padding: 0;

    .logo {

    }

    > li {
      list-style-type: none;
      display: inline-block;

      > a {
        color: $light-grey;
        display: block;
        padding: 10px;
        border: solid 3px transparent;

        &:hover {
          background-color: $mid-grey;
          text-decoration: none;
        }
      }
    }
  }
}
