.pagination {
  margin: 0px;

  .overview-text {
    position: relative;
    float: left;
    padding: 5px 10px;
    line-height: 1.3;
    border: 1px solid #ddd;
    margin-left: -1px;
  }
  .pager-disabled {
    cursor: default;
    pointer-events: none;
    background-color: $brand-accent;
  }
}
.pagination-left {
  float: left;
}
.pagination-right {
  float: right;
}
