table {
    position: relative;
    &.fixed {
        table-layout: fixed;
        width: 100%;
    }
    .fixed-header-actions {
        padding-top: 5px;
        min-height: 40px;
        width: 100%;
        z-index: 3;
        background: white;
    }
    .fixed-header {
        z-index: 2;
        tr {
            background: $link-color;
        }
    }
    .fixed-header {
        th {
            button {
                padding: 0;
            }
        }
    }
    .fixed-header-placeholder {
        visibility: hidden;
        //padding: 0;
        th {
            padding: 0 !important;
            height: 0 !important;
        }
    }
    tr {
        td {
            padding: 10px;
        }
    }
    thead {
        tr {
            width: 100%;
            box-sizing: border-box;
            border-width: 0 0 3px 0;
            border-color: rgba($mid-grey, .2);
            border-radius: 0;
            outline: none;
            transition: all ease-in-out .3s;

            &.fixed-header {
              background: $primary;

              th .btn {
                color: white;
              }
            }

            th {
                border-width: 0 0 3px 0;
                border-color: rgba($mid-grey, .2);
                text-align: left;
                .btn {
                    color: white;
                }
                &.select-for-action {
                    text-align: center;
                }
            }
        }
    }
    tbody {
        background-color: rgba($light-grey, .5);
        tr {
            border-bottom: solid thin $light-grey;
            td {
                border: solid thin $light-grey;
            }
        }
        &.striped {
            tr {
                border: none;
                td {
                    border: none;
                }
                &:nth-child(even) {
                    background-color: $light-grey;
                }
            }
        }
    }
    tbody {
        &.striped {
            tr {
                &:hover {
                    background-color: rgba($info, 0.15);
                }
            }
        }
    }
    &.solid {
        background: $light-grey;
        tbody {
            tr {
                &:hover {
                    background-color: rgba($info, 0.3);
                }
                td {
                    border: solid 2px white;
                    &:hover {
                        background-color: $info;
                    }
                }
            }
        }
    }
    .select-for-action {
        text-align: center;
    }
}
