.tooltip {
  @extend .bg-default;
  padding: 10px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: calc(50% - 10px);
    border-style: solid;
    border-color: transparent;
    border-top-color: $light-grey;
    border-width: 10px;
  }

  &.bg-default:after {
    border-top-color: $light-grey;
  }

  &.bg-disabled:after {
    border-top-color: $mid-grey;
  }

  &.bg-primary:after {
    border-top-color: $primary;
  }
  &.bg-secondary:after {
    border-top-color: $secondary;
  }
  &.bg-success:after {
    border-top-color: $success;
  }
  &.bg-info:after {
    border-top-color: $info;
  }
  &.bg-warning:after {
    border-top-color: $warning;
  }
  &.bg-error:after {
    border-top-color: $error;
  }
}
