<section class="header clearfix">
  <h1 class="pull-left">{{t 'namespacesPage.header'}}</h1>
  <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to "authenticated.cluster.projects.new" class="btn bg-primary btn-sm icon-btn"}}
      <span class="darken">
        <i class="icon icon-plus"></i>
      </span>
      <span>{{t 'namespacesPage.addNamespace'}}</span>
    {{/link-to}}
  </div>
</section>
