<div class="row form-group">
  <div class="col-sm-12 col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{nameLabel}}</label>
    </div>
    <div class="">
      {{input type="text" value=model.name classNames="form-control" placeholder=namePlaceholder disabled=nameDisabled}}
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{descriptionLabel}}</label>
    </div>
    <div class="">
      {{textarea-autogrow value=model.description classNames="form-control no-resize" rows="1" placeholder=descriptionPlaceholder disabled=descriptionDisabled}}
      
    </div>
  </div>
</div>

