{{#if showName}}
  <div class="row form-group">
    <div class="form-label">
      <label class="form-control-static">{{nameLabel}}</label>
    </div>
    <div class="">
      {{input type="text" value=model.name classNames="form-control" placeholder=namePlaceholder disabled=nameDisabled}}
    </div>
  </div>
{{/if}}

{{#if showDescription}}
  <div class="row form-group">
    <div class="form-label">
      <label class="form-control-static">{{descriptionLabel}}</label>
    </div>
    <div class="">
      {{textarea value=model.description classNames="form-control no-resize" rows="2" placeholder=descriptionPlaceholder disabled=descriptionDisabled}}
    </div>
  </div>
{{/if}}
