{{#if showName}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">{{nameLabel}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" value=model.name classNames="form-control" placeholder=namePlaceholder disabled=nameDisabled}}
    </div>
  </div>
{{/if}}

{{#if showDescription}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{descriptionLabel}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea value=model.description classNames="form-control no-resize" rows="2" placeholder=descriptionPlaceholder disabled=descriptionDisabled}}
    </div>
  </div>
{{/if}}
