<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Name</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" value=model.name classNames="form-control" placeholder=namePlaceholder disabled=nameDisabled}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Description</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{textarea value=model.description classNames="form-control no-resize" rows="2" placeholder=descriptionPlaceholder}}
  </div>
</div>
