.darken {
  background: $darken-helper;
}

.lighten {
  background: $lighten-helper;
}

.text-default {
  color: $text-color;
}

.text-disabled, .text-muted, .text-muted A {
  color: $mid-grey;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

.help-block {
  @extend .text-muted;
  @extend .text-small;
  margin: 5px 0 0 0;

  a {
    color: $link-color;
  }
}

.bg-body {
  background: $body-bg;
}

.bg-default {
  // @include bg-color($bg-default);
  @include contrasted($bg-default);

  a {
    color: $primary;
    // border-bottom: solid 2px $primary;

      &:before {
        background: rgba($primary, .2);
      }
  }
}

.bg-disabled {
  background-color: $bg-disabled;
  color: darken($bg-disabled, 30);
}

.bg-primary {
  @include bg-color($bg-primary);
  @include contrasted($primary);
}
.bg-secondary {
  @include bg-color($bg-secondary);
  @include contrasted($secondary);
}
.bg-success {
  @include bg-color($bg-success);
  @include contrasted($success);
}
.bg-info {
  @include bg-color($bg-info);
  @include contrasted($info);
}
.bg-warning {
  @include bg-color($bg-warning);
  @include contrasted($warning);
}
.bg-error {
  @include bg-color($bg-error);
  @include contrasted($error);
}
.bg-link {
  @include bg-color($link-color);
  @include contrasted($link-color);
}

.bg-transparent {
  background-color: transparent;

  a {
    &:before {
      display: none;
    }

    border-bottom: none;
    padding: 0;
  }
}
