.text-default {
  color: $text-color;
}

.text-disabled, .text-muted {
  color: $mid-grey;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;

}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

// .banner[class*=" bg-"] a {
//   color: white;
//   position: relative;
//   overflow: hidden;
//   display: inline-block;
//   border-bottom: solid 2px white;
//   vertical-align: middle;
//   padding: 4px 4px 2px 4px;

//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(255, 255, 255, .2);
//     -webkit-transition: -webkit-transform 400ms;
//     -moz-transition: -moz-transform 400ms;
//     transition: transform 400ms;
//     -webkit-transform: translateX(-100%);
//   }

//   &:hover {
//     text-decoration: none;
//     background-color: transparent;

//     &:before {
//       -webkit-transform: translateX(0%);
//       -moz-transform: translateX(0%);
//       transform: translateX(0%);
//     }
//   }
// }

.bg-default {
  @include bg-color($bg-default);
  @include contrasted($bg-default);

  a {
    color: $primary;
    border-bottom: solid 2px $primary;

      &:before {
        background: rgba($primary, .2);
      }
  }
}

.bg-disabled {
  background-color: $bg-disabled;
  color: $mid-grey;
}

.bg-primary {
  @include bg-color($bg-primary);
  @include contrasted($bg-primary);
}
.bg-secondary {
  @include bg-color($bg-secondary);
  @include contrasted($bg-secondary);
}
.bg-success {
  @include bg-color($bg-success);
  @include contrasted($bg-success);
}
.bg-info {
  @include bg-color($bg-info);
  @include contrasted($bg-info);
}
.bg-warning {
  @include bg-color($bg-warning);
  @include contrasted($bg-warning);
}
.bg-error {
  @include bg-color($bg-error);
  @include contrasted($bg-error);
}
.bg-transparent {
  background-color: transparent;

  a {
    &:before {
      display: none;
    }
    
    border-bottom: none;
    padding: 0;
  }
}
