.darken {
  background: $darken-helper;
}

.lighten {
  background: $lighten-helper;
}

.text-default {
  color: $text-color;
}

.text-gray {
  color: $mid-grey;
}

.text-link {
  color: $link-color;
}

.text-disabled, .text-muted {
  // color: mix($mid-grey, $light-grey);
  color: $mid-grey;
}

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-success {
  color: $success;
}

.text-info {
  color: $info;
}

.text-warning {
  color: $warning;
}

.text-error {
  color: $error;
}

.text-white {
  color: white;
}

.text-black {
  color: $black;
}
.help-block {
  @extend .text-muted;
  @extend .text-small;
  margin: 5px 0 0 0;

  a {
    color: $link-color;
  }
}

.bg-body {
  background: $body-bg;
}

.bg-default {
  @include bg-color($bg-default);
  @include contrasted($bg-default);

  a {
    color: $primary;

      &:before {
        background: rgba($primary, .2);
      }
  }
}

.bg-disabled {
  background-color: $bg-disabled;
  color: darken($bg-disabled, 30);
}

.bg-primary {
  @include bg-color($bg-primary);
  @include contrasted($primary);
}
.bg-secondary {
  @include bg-color($bg-secondary);
  @include contrasted($secondary);
}
.bg-success {
  @include bg-color($bg-success);
  @include contrasted($success);
}
.bg-info {
  @include bg-color($bg-info);
  @include contrasted($info);
}
.bg-warning {
  @include bg-color($bg-warning);
  @include contrasted($warning);
}
.bg-error {
  @include bg-color($bg-error);
  @include contrasted($error);
}
.bg-link {
  @include bg-color($link-color);
  @include contrasted($link-color);
}

.bg-transparent {
  background-color: transparent;

  a {
    &:before {
      display: none;
    }

    border-bottom: none;
    padding: 0;
  }
}

.input-error {
  border-color: $error !important;
}

.code-version {
  color: #27AA5E;
  background: rgba(39, 170, 94, 0.15);
}
