h1, h2, h3, h4, h5, h6 {
  color: $secondary;
}

.dropdown-menu {
  background-color: $dropdown-bg;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid $btn-default-border;
  border: 1px solid $btn-default-border;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  > li {
    display: block;
    padding: 0;

    > a {
      padding: 10px 15px;
      cursor: pointer;
      cursor: hand;
      color: $dropdown-link-color;
      display: block;
      clear: both;
      font-weight: normal;
      white-space: nowrap;

      & i {
        padding-right: 3px;
        opacity: .5;
      }

      &:hover {
        background-color: $lightGrayTwo;
        color: $primary;
      }
    }
  }
}

//btn
.btn {
  font-weight: 300;
}

.btn-group {
  .btn {
    background-color: $btn-default-bg;
    border:$btn-default-border solid 1px;
    margin-left: -5px;
    border-radius: 0;

    &:last-child {
      border-radius: 0;
    }
  }
}

//tabs
.tabs {
  ul.tab-header { 
    li {
      background-color: $tab-bg;
      color: $tab-color;

      &.active {
      background-color: $tab-active-bg;
      color: $tab-color;
      }

      a {
      background-color: transparent;
      padding: 10px;
      }
    }
  }
}

//tables
table{
  thead{
    tr {
      background-color: transparent;
    }
  }
}

//header
#navbar {
  .nav {
    li {
      a {
        font-weight: 300;

        &.active {
          font-weight: normal;
        }
      }
    }
  }
}

//inputs
.searchable {
  position: relative;

  .icon-search {
    position: absolute;
    top: 20px;
    left: 10px;

  }

  input {
    padding: 15px 0 15px 30px;
  }
}