.dropdown-menu {
  background-color: $dropdown-bg;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccd1d3;
  border: 1px solid #ccd1d3;
  border-radius: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  > li {
    display: block;
    padding: 0;

    > a {
      padding: 10px 15px;
      cursor: pointer;
      cursor: hand;
      color: $dropdown-link-color;
      display: block;
      clear: both;
      font-weight: normal;
      white-space: nowrap;

      & i {
        padding-right: 3px;
        opacity: .5;
      }

      &:hover {
        background-color: $lightGrayTwo;
        color: $primary;
      }
    }
  }
}