$header-text                         : $secondary !default;

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-text;
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-size: 1.5em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.25em;
  line-height: 1em;
}

h3 {
  font-size: 1em;
}

h4 {
  // font-size: ;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
}

.text-mono {
  font-family : Consolas, "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}

@mixin no-inline-space() {
  font-family: zerowidthspace;

  & > * {
    font-family: $text-font-stack;
  }
}

.no-inline-space {
  @include no-inline-space;
}
