<h4>Catalog</h4>
<hr>
<h5>The catalog can retrieve templates from multiple sources.  Each one needs a unique name and any URL that <code>git clone</code> can handle (see <a href="https://git-scm.com/docs/git-clone#_git_urls_a_id_urls_a" target="_blank">docs</a> for more info).</h5>
<div class="">
  {{form-key-value
    nameLabel="Catalog URL"
    initialMap=keymap
    keyLabel="Catalog Name"
    valueLabel="Catalog URL"
    changed=(action (mut keymap))
  }}
</div>
