<h4>Catalog</h4>
<hr>
<h5>You can add and remove catalogs here. When adding ensure you give your catalog a name and git url. The correct format of git urls can be found <a href="https://git-scm.com/docs/git-clone#_git_urls_a_id_urls_a" target="_blank">here</a>.</h5>
<div class="">
  {{form-key-value
    nameLabel="Catalog URL"
    initialMap=keymap
    keyLabel="Catalog Name"
    valueLabel="Catalog URL"
    changed=(action (mut keymap))
  }}
</div>
