<h4>Virtual Machine Support</h4>
<hr>
<h5>Requires hosts that have the <a href="https://en.wikipedia.org/wiki/Kernel-based_Virtual_Machine" target="_blank">KVM</a> kernel module loaded.</h5>

<div class="r-pt10">
  <label class="r-mr20 hand">
    {{radio-button selection=virtualMachine value=true}} Enabled
  </label>
  <label class="hand">
    {{radio-button selection=virtualMachine value=false}} Disabled
  </label>
</div>

{{save-cancel cancelDisabled=true editing=true save="save"}}
