<section class="horizontal-form container-fluid">
  <h2>Edit Certificate</h2>

  {{form-name-description
    model=primaryResource
    nameRequired=true
    namePlaceholder="e.g. mydomain.com"
    descriptionPlaceholder="e.g. EV cert for mydomain.com"
  }}

  <div class="row">
    <div class="alert alert-info">Note: The Private Key is intentionally blank because the field is write-only.  You will need to provide the Private Key again to update the certificate, even if it hasn't changed.</div>
  </div>

  {{input-certificate model=model}}
</section>

{{top-errors errors=errors}}
{{save-cancel editing=true save="save" cancel="cancel"}}
