<div class="acc-label pb-5 pt-10">{{t 'pipelineSelector.header'}}</div>
<div class="row">
  <div class="col span-6 box">
    {{pipeline-selector branchOnly=branchOnly isInclude=true type=type config=include}}
  </div>
  <div class="col span-6 box">
    {{pipeline-selector branchOnly=branchOnly isInclude=false type=type config=exclude}}
  </div>
</div>