{{#if showMessaging}}
    <div class="select-value-check text-small text-warning">
        {{t "selectValueCheck.message" values=missingValues.length}}
        <ul class="list-small">
            {{#each missingValues as |missingValue|}}
                <li>"{{missingValue}}"</li>
            {{/each}}
        </ul>
    </div>
{{/if}}