{{#unless model.isActive}}
  {{#banner-message color=(concat model.stateBackground '  m-0')}}
    <p>{{t (if model.isReady 'clusterDashboard.notActive' 'clusterDashboard.notReady') state=model.displayState htmlSafe=true}}</p>
    {{#if model.showTransitioningMessage}}
      <p class="{{model.stateColor}}">{{uc-first model.transitioningMessage}}</p>
    {{/if}}
  {{/banner-message}}
{{/unless}}
{{outlet}}
