{{#accordion-list-item
     title=(t 'podSecurityPoliciesPage.index.header')
     detail=(t 'podSecurityPoliciesPage.index.description')
     expandAll=expandAll
     expand=(action expand)
     expandOnInit=true
     showExpand=false
     showStatus=false
}}
  {{searchable-select
      classNames="inline-block span-11"
      content=policies
      value=config
      optionLabelPath="name"
      optionValuePath="id"
  }}
  <div class="inline-block">
    <button class="btn bg-primary btn-sm" {{action "removePolicy"}}><i class="icon icon-minus"/></button>
  </div>
{{/accordion-list-item}}