{{#banner-message showIcon=false}}
  <p class="pull-left">{{t 'stackPage.header.singleBanner'}}</p>
  <p class="pull-right">
    {{#link-to "containers.index"}}{{t 'stackPage.header.backLink'}}{{/link-to}}
  </p>
{{/banner-message}}

{{stack-header model=model.stack all=model.all.stacks}}
