<section class="header clearfix">
  <div class="right-buttons">
    {{#link-to "authenticated.cluster.storage.persistent-volumes.new" class="btn btn-sm bg-primary" disabled=(rbac-prevents resource="persistentvolume" scope="cluster" permission="create")}}
      {{t 'persistentVolumePage.addActionLabel'}}
    {{/link-to}}
  </div>

  <h1>{{t 'persistentVolumePage.header'}}</h1>
</section>

{{persistent-volume-table rows=model.persistentVolumes}}
