{{#if cluster.isClusterTemplateUpgradeAvailable}}
  {{#tooltip-element
    type="tooltip-basic"
    model=(t 'clusterTemplateRevisionUpgradeNotification.tooltip' revision=cluster.clusterTemplate.latestRevision.displayName)
    tooltipTemplate="tooltip-static"
    inlineBlock=true
  }}
    <span class="icon-stack rke-template-revision-upgrade-notification">
      <i class="icon icon-circle icon-stack-1x"/>
      <i class="icon icon-circle-o icon-stack-1x"/>
      <i class="icon icon-notification icon-stack-1x"/>
    </span>
  {{/tooltip-element}}
{{/if}}