<label
  class="acc-label"
  for="{{concat elementId "-input-port"}}"
>
  {{t "cruDestinationRule.port.label"}}
</label>
{{#input-or-display
  editable=editing
  value=portNumberOrName
}}
  {{input
    type="text"
    id=(concat elementId "-input-mirror-port")
    value=portNumberOrName
    classNames="form-control"
    placeholder=(t "cruDestinationRule.port.placeholder")
  }}
{{/input-or-display}}