<section>
  <h3>
    <span class="right-divider">Projects</span>
    {{#link-to "environments.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Project{{/link-to}}
  </h3>
</section>

<section>
{{#each item in this}}
  {{project-section model=item collapseId=(dom-id item)}}
  {{#columns-section pods=item.services id=(dom-id item) classNames="collapse" emptyMessage="No services yet." as |item| }}
    {{#with item as service controller="service"}}
      {{service-pod model=service}}
    {{/with}}
  {{/columns-section}}
{{/each}}
</section>
