<section>
  <h3>
    <span class="right-divider">Stacks</span>
    {{#link-to "environments.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Stack{{/link-to}}
  </h3>
</section>

<section>
  {{#each arranged as |stack|}}
    {{stack-section model=stack collapseId=(dom-id stack)}}
    {{#columns-section pods=stack.unremovedServices id=(dom-id stack) classNames="collapse in" emptyMessage="No services yet." as |service| }}
      {{service-pod model=service}}
    {{/columns-section}}
  {{/each}}
</section>
