<section>
  <h3><span class="right-divider">Projects</span>{{#link-to "environments.new" classNames="btn btn-sm btn-primary"}}Add Project{{/link-to}}</h3>
</section>

{{#each item in this itemController="environment"}}
  {{project-section model=item}}
{{/each}}
