<section class="horizontal-form container-fluid">
  <h2>Edit External Service</h2>
  {{top-errors errors=errors}}

  {{form-name-description
    model=service
    namePlaceholder="e.g. external-db"
    descriptionPlaceholder="e.g. External physical database server"
  }}



  {{form-target-ip
    service=service
  }}
</section>

{{partial "save-cancel"}}
