<section class="horizontal-form container-fluid">
  <h2>Edit External Service</h2>
  {{top-errors errors=errors}}

  {{form-name-description
    model=service
    namePlaceholder="servicePage.newExternal.form.name.placeholder"
    descriptionPlaceholder="servicePage.newExternal.form.description.placeholder"
  }}

  {{form-target-ip
    service=service
  }}
</section>

{{partial "save-cancel"}}
