<section class="header">
    {{#link-to "admin-tab.processes" tagName="h1" href=false}}<a>Proccesses</a>{{/link-to}}
    {{model.processInstance.id}}
</section>

{{#each model.processExecutions as |process|}}
  <section class="well">
    <h4>Child Execution: {{process.id}}</h4>
    {{process-executions execution=process.log.executions apiView=model.processExecutions.links.self}}
  </section>
{{/each}}
