{{#banner-message
   icon=(if healthy "icon-check" "icon-alert")
   color=(if healthy "bg-success mt-0" "bg-error mt-0")
}}
  <p class="text-left">
    {{t label}}
    {{#if (and showUrl url)}}
      <span class="pull-right">
        <a href={{url}} target="_blank" rel="nofollow noopener noreferrer">
          <div class="grafana"></div>
        </a>
      </span>
    {{/if}}
  </p>
{{/banner-message}}