<section class="horizontal-form container-fluid">
  <h2>{{t "clusterTemplatesPage.compare.header" }}</h2>

  <div class="mt-10 modal-scroll-panel">
    <pre class="bg-setting" style="margin: 0; padding: 0">
      {{diff}}
    </pre>
  </div>

  <div class="footer-actions">
    <button class="mt-10 btn bg-primary" type="button" {{action "cancel"}}>{{t 'clusterTemplatesPage.compare.closeModal'}}</button>
  </div>
</section>
