  <button class="btn btn-default {{if (eq theme 'ui-light') 'active' ''}}" data-value='ui-light'>Light</button>
  <button class="btn btn-default {{if (eq theme 'ui-auto') 'active' ''}}" data-value='ui-auto'><i class="icon icon-history"></i> Auto</button>
  <button class="btn btn-default {{if (eq theme 'ui-dark') 'active' ''}}" data-value='ui-dark'>Dark</button>
