<h2>
  {{t 'modalContainerToService.title' instanceName=model.displayName}}
</h2>

{{t 'modalContainerToService.detail'}}

{{top-errors errors=errors}}
{{save-cancel editing=true editLabel="modalContainerToService.action" save="save" cancel="cancel"}}
