<h2>
  {{t 'modalContainerToService.title' instanceName=model.displayName}}
</h2>

{{form-name-description
  model=this
  nameLabel="modalContainerToService.name.label"
  namePlaceholder="modalContainerToService.name.placeholder"
  descriptionShown=false
}}

{{top-errors errors=errors}}
{{save-cancel editing=true editLabel="modalContainerToService.action" save="save" cancel="cancel"}}
