{{#if showExpandAll}}
  <div class="row">
    <button class="btn btn-sm bg-transparent pull-right" {{action 'expandAll'}}>{{t (if expandAll 'generic.collapseAll' 'generic.expandAll')}}</button>
  </div>
{{/if}}
{{yield this expand}}
