{{#container-shell
   instance=originalModel
   containerName=containerName
   cols=80
   rows=24
   dismiss=(action "cancel")
   disconncted=(action "cancel")
}}
  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
  </div>
{{/container-shell}}
