<section class="header clearfix">
  <h1>{{t 'clusterPage.edit'}}</h1>
</section>

<form class="form text-left">
  {{component (concat 'driver/driver-' model.cluster.configType)
      editing=true
      cancel=(action 'cancel')
      cluster=model.cluster
      userData=model
      driver=(concat driver 'Config')
  }}
</form>