<button class="mark-favorite btn bg-transparent" onclick={{perform markFavorite}}>
  <i class="icon {{if markFavorite.isRunning 'icon-spin icon-spinner' 'icon-bookmark-fill'}} {{if exists 'exists'}}"></i>
</button>
