<button class="mark-favorite btn bg-transparent" onclick={{perform markFavorite}}>
  <i class="icon {{if markFavorite.isRunning 'icon-spinner icon-spin' 'icon-star-fill'}} {{if exists 'exists'}}"></i>
</button>
