<div class="row">
  <div class="col span-6">
    <div class="box">
      <label class="acc-label">{{t 'formUpgrade.strategy.minReadySeconds.label'}}</label>
      {{#input-or-display editable=editing value=workloadConfig.minReadySeconds}}
        <div class="input-group">
          {{input classNames="form-control" value=workloadConfig.minReadySeconds}}
          <span class="input-group-addon bg-default">{{t 'generic.seconds'}}</span>
        </div>
        <p class="help-block">{{t 'formUpgrade.strategy.minReadySeconds.detail'}}</p>
      {{/input-or-display}}
    </div>
  </div>
</div>
