<tr>
  <td class="force-wrap">
    {{badge-state model=model}}
  </td>
  <td class="force-wrap">
    {{#link-to "container" model.id}}{{model.displayName}}{{/link-to}}
  </td>
  <td class="force-wrap">
    {{model.displayImage}}
  </td>
  <td class="actions">
    {{action-menu model=model}}
  </td>
</tr>
