<div class="row">
  <div class="col span-4 m-0">
    <div class="input-group">
      <span class="input-group-addon bg-default" id="basic-addon2">H</span>
      {{input-integer
          min=0
          max=60
          value=h
          class="form-control"
          placeholder="0"
          aria-describedby="basic-addon2"
          disabled=disabled
      }}
    </div>
  </div>
  <div class="col span-4 m-0">
    <div class="input-group">
      <span class="input-group-addon bg-default" id="basic-addon2">M</span>
      {{input-integer
          min=0
          max=60
          value=m
          class="form-control"
          placeholder="0"
          aria-describedby="basic-addon2"
          disabled=disabled
      }}
    </div>
  </div>
  <div class="col span-4 m-0">
    <div class="input-group">
      <span class="input-group-addon bg-default" id="basic-addon2">S</span>
      {{input-integer
          min=0
          max=60
          value=s
          class="form-control"
          placeholder="0"
          aria-describedby="basic-addon2"
          disabled=disabled
      }}
    </div>
  </div>
</div>
