<div class="shell-popup">
  {{#container-shell
    instance=model
    command=command
    showProtip=false
    cols=80
    rows=24
    dismiss=(action "cancel")
    disconncted=(action "cancel")
  }}
  {{/container-shell}}
</div>
