<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
                    Rancher UI Styleguide
                </a>
      </li>
      <li>
        <a href="typography">Typography</a>
      </li>
      <li>
        <a href="colors">Colors</a>
      </li>
      <li>
        <a href="buttons">Buttons</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div id="typography" class="row well">
        <div class="col-lg-12">
          <h1>Typography</h1>

          <section class="header">
            <h1>Section header h1</h1>
          </section>

        <h5>h5 with hr as underline</h5>
        <hr>

          <h1>h1: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h1>
          <h2>h2: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h2>
          <h3>h3: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h3>
          <h4>h4: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h4>
          <h5>h5: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h5>
          <h6>h6: Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</h6>

          <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae
            est. Mauris placerat eleifend leo.</p>

          <ul>
            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
            <li>Aliquam tincidunt mauris eu risus.</li>
            <li>Vestibulum auctor dapibus neque.</li>
          </ul>

        </div>
      </div>

      <div id="colors" class="row well">
        <div class="col-lg-12">
          <h1>Colors</h1>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$red" class="colordot r-mb5 red">
              <div title="$redDark" class="halfdot redDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$redTwo" class="colordot r-mb5 redTwo">
              <div title="$redTwoDark" class="halfdot redTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$orange" class="colordot r-mb5 orange">
              <div title="$orangeDark" class="halfdot orangeDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$yellow" class="colordot r-mb5 yellow">
              <div title="$yellowDark" class="halfdot yellowDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$yellowTwo" class="colordot r-mb5 yellowTwo">
              <div title="$yellowTwoDark" class="halfdot yellowTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
              <div title="$green" class="colordot r-mb5 green">
                <div title="$greenDark" class="halfdot greenDark"></div>
              </div>
              <code>$colorName</code> 
              <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$greenTwo" class="colordot r-mb5 greenTwo">
              <div title="$greenTwoDark" class="halfdot greenTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$navy" class="colordot r-mb5 navy">
              <div title="$navyDark" class="halfdot navyDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$navyTwo" class="colordot r-mb5 navyTwo">
              <div title="$navyTwoDark" class="halfdot navyTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$blue" class="colordot r-mb5 blue">
              <div title="$blueDark" class="halfdot blueDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$blueTwo" class="colordot r-mb5 blueTwo">
              <div title="$blueTwoDark" class="halfdot blueTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$teal" class="colordot r-mb5 teal">
              <div title="$tealDark" class="halfdot tealDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$tealTwo" class="colordot r-mb5 tealTwo">
              <div title="$tealTwoDark" class="halfdot tealTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$lightTeal" class="colordot r-mb5 lightTeal">
              <div title="$lightTealDark" class="halfdot lightTealDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$black" class="colordot r-mb5 black">
              <div title="$blackDark" class="halfdot blackDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$darkestGray" class="colordot r-mb5 darkestGray">
              <div title="$darkestGrayDark" class="halfdot darkestGrayDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$darkestGrayTwo" class="colordot r-mb5 darkestGrayTwo">
              <div title="$darketstGrayTwoDark" class="halfdot darkestGrayTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$midGray" class="colordot r-mb5 midGray">
              <div title="$midGrayDark" class="halfdot midGrayDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$midGrayTwo" class="colordot r-mb5 midGrayTwo">
              <div title="$midGrayTwoDark" class="halfdot midGrayTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$lightGray" class="colordot r-mb5 lightGray">
              <div title="$lightGrayDark" class="halfdot lightGrayDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>

          <div class="col-sm-12 col-md-2 r-mt10 r-mb10">
            <div title="$lightGrayTwo" class="colordot r-mb5 lightGrayTwo">
              <div title="$lightGrayTwoDark" class="halfdot lightGrayTwoDark"></div>
            </div>
            <code>$colorName</code> 
            <code>$colorNameDark</code>
          </div>
        </div>
      </div>

      <div id="buttons" class="row well">
        <div class="col-lg-12">
          <h1>Buttons</h1>
          <!-- Standard button -->
        <button type="button" class="btn btn-default">Default</button>

        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <button type="button" class="btn btn-primary">Primary</button>

        <!-- Indicates a successful or positive action -->
        <button type="button" class="btn btn-success">Success</button>

        <!-- Contextual button for informational alert messages -->
        <button type="button" class="btn btn-info">Info</button>

        <!-- Indicates caution should be taken with this action -->
        <button type="button" class="btn btn-warning">Warning</button>

        <!-- Indicates a dangerous or potentially negative action -->
        <button type="button" class="btn btn-danger">Danger</button>

        <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
        <button type="button" class="btn btn-link">Link</button>

        <button class="btn-circle-text" data-ember-action="1403"><i class="icon icon-plus-circle"></i> <span>Add Catalog</span></button>
        </div>
      </div>

      <div id="buttons" class="row well">
        <div class="col-lg-12">
          <h1>Tables</h1>
          <table class="grid fixed" style="margin-bottom: 0;">
            <thead>
              <tr>
                {{sortable-th sortable=this action="changeSort" name="state" width="125"}}
                {{sortable-th sortable=this action="changeSort" name="name"}}
                {{sortable-th sortable=this action="changeSort" name="cn" label="Domain Name"}}
                {{sortable-th sortable=this action="changeSort" name="expires" width="120"}}
                <th class="actions" width="75">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
  <tr id="ember1815" class="ember-view">
    <td data-title="State:" class="state">
      <span id="ember1816" class="ember-view state badge text-success bg-success"><i class="icon icon-dot-circlefill"></i> Started-Once
</span>
    </td>
    <td data-title="Name:" class="force-wrap">
      <a data-transition-link="true" href="/env/1a5/infra/containers/1i13">glusterfs_glusterfs-server_glusterfs-data_2</a>
    </td>
    <td data-title="IP Address:">
      <span class="text-muted">None</span>
    </td>
    <td data-title="Primary Host:">
      <a id="ember1817" href="/env/1a5/infra/hosts/1h3" class="ember-view">lauren-10acre-3</a>
    </td>
    <td data-title="Image:" class="clip">
      busybox
      <!---->
    </td>
    <td data-title="Command:" class="clip">
      /bin/true
    </td>
    <td data-title="Actions:" class="actions">
      <div id="ember1818" class="ember-view btn-group resource-actions action-menu">
        <!---->
        <button class="btn btn-default btn-xs" data-primary="0" aria-label="Start">
          <div id="ember1992" role="tooltip" class="ember-view inline-block"> <i class="icon-fw icon icon-play" alt="Start"></i>

          </div>
        </button>
        <button aria-label="More Actions" aria-controls="resource-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false" class="btn btn-default btn-xs more-actions">
          <i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i>
        </button>


      </div>
    </td>
  </tr>
  <tr id="ember1822" class="ember-view">
    <td data-title="State:" class="state">
      <span id="ember1823" class="ember-view state badge text-success bg-success"><i class="icon icon-dot-circlefill"></i> Started-Once
</span>
    </td>
    <td data-title="Name:" class="force-wrap">
      <a data-transition-link="true" href="/env/1a5/infra/containers/1i19">glusterfs_glusterfs-server_glusterfs-data_3</a>
    </td>
    <td data-title="IP Address:">
      <span class="text-muted">None</span>
    </td>
    <td data-title="Primary Host:">
      <a id="ember1824" href="/env/1a5/infra/hosts/1h1" class="ember-view">lauren-10acre-1</a>
    </td>
    <td data-title="Image:" class="clip">
      busybox
      <!---->
    </td>
    <td data-title="Command:" class="clip">
      /bin/true
    </td>
    <td data-title="Actions:" class="actions">
      <div id="ember1825" class="ember-view btn-group resource-actions action-menu">
        <!---->
        <button class="btn btn-default btn-xs" data-primary="0" aria-label="Start">
          <div id="ember2010" role="tooltip" class="ember-view inline-block"> <i class="icon-fw icon icon-play" alt="Start"></i>

          </div>
        </button>
        <button aria-label="More Actions" aria-controls="resource-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false" class="btn btn-default btn-xs more-actions">
          <i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i>
        </button>


      </div>
    </td>
  </tr>
  
  <tr id="ember1843" class="ember-view">
    <td data-title="State:" class="state">
      <span id="ember1844" class="ember-view state badge text-success bg-success"><i class="icon icon-dot-circlefill"></i> Started-Once
</span>
    </td>
    <td data-title="Name:" class="force-wrap">
      <a data-transition-link="true" href="/env/1a5/infra/containers/1i25">glusterfs_glusterfs-server_glusterfs-volume-create_3</a>
    </td>
    <td data-title="IP Address:">
      <span class="text-muted">None</span>
    </td>
    <td data-title="Primary Host:">
      <a id="ember1845" href="/env/1a5/infra/hosts/1h1" class="ember-view">lauren-10acre-1</a>
    </td>
    <td data-title="Image:" class="clip">
      rancher/glusterfs:v0.2.1
      <!---->
    </td>
    <td data-title="Command:" class="clip">
      /opt/rancher/replicated_volume_create.sh,container:glusterfs-server
    </td>
    <td data-title="Actions:" class="actions">
      <div id="ember1846" class="ember-view btn-group resource-actions action-menu">
        <!---->
        <button class="btn btn-default btn-xs" data-primary="0" aria-label="Start">
          <div id="ember2012" role="tooltip" class="ember-view inline-block"> <i class="icon-fw icon icon-play" alt="Start"></i>

          </div>
        </button>
        <button aria-label="More Actions" aria-controls="resource-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false" class="btn btn-default btn-xs more-actions">
          <i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i>
        </button>


      </div>
    </td>
  </tr>
  <tr id="ember1850" class="ember-view">
    <td data-title="State:" class="state">
      <span id="ember1851" class="ember-view state badge text-warning bg-warning"><i class="icon icon-alert"></i> Initializing
</span>
    </td>
    <td data-title="Name:" class="force-wrap">
      <a data-transition-link="true" href="/env/1a5/infra/containers/1i4643">kafka_broker_1</a>
    </td>
    <td data-title="IP Address:">
      10.42.227.109
    </td>
    <td data-title="Primary Host:">
      <a id="ember1852" href="/env/1a5/infra/hosts/1h2" class="ember-view">lauren-10acre-2</a>
    </td>
    <td data-title="Image:" class="clip">
      rawmind/rancher-kafka:0.9.0
      <!---->
    </td>
    <td data-title="Command:" class="clip">
      <span class="text-muted">None</span>
    </td>
    <td data-title="Actions:" class="actions">
      <div id="ember1853" class="ember-view btn-group resource-actions action-menu">
        <!---->
        <button class="btn btn-default btn-xs" data-primary="0" aria-label="Restart">
          <div id="ember2027" role="tooltip" class="ember-view inline-block"> <i class="icon-fw icon icon-refresh" alt="Restart"></i>

          </div>
        </button>
        <button aria-label="More Actions" aria-controls="resource-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false" class="btn btn-default btn-xs more-actions">
          <i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i>
        </button>


      </div>
    </td>
  </tr>
  <tr id="ember1856" class="ember-view">
    <td data-title="State:" class="state">
      <span id="ember1857" class="ember-view state badge text-warning bg-warning"><i class="icon icon-alert"></i> Initializing
</span>
    </td>
    <td data-title="Name:" class="force-wrap">
      <a data-transition-link="true" href="/env/1a5/infra/containers/1i4644">kafka_broker_2</a>
    </td>
    <td data-title="IP Address:">
      10.42.112.226
    </td>
    <td data-title="Primary Host:">
      <a id="ember1858" href="/env/1a5/infra/hosts/1h2" class="ember-view">lauren-10acre-2</a>
    </td>
    <td data-title="Image:" class="clip">
      rawmind/rancher-kafka:0.9.0
      <!---->
    </td>
    <td data-title="Command:" class="clip">
      <span class="text-muted">None</span>
    </td>
    <td data-title="Actions:" class="actions">
      <div id="ember1859" class="ember-view btn-group resource-actions action-menu">
        <!---->
        <button class="btn btn-default btn-xs" data-primary="0" aria-label="Restart">
          <div id="ember2029" role="tooltip" class="ember-view inline-block"> <i class="icon-fw icon icon-refresh" alt="Restart"></i>

          </div>
        </button>
        <button aria-label="More Actions" aria-controls="resource-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false" class="btn btn-default btn-xs more-actions">
          <i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i>
        </button>


      </div>
    </td>
  </tr>
</tbody>

          </table>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
