<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>
      <LinkTo @route="settings.advanced">
        {{t "settingsPage.tabs.settings"}}
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="settings.features">
        {{t "settingsPage.tabs.feature"}}
      </LinkTo>
    </li>
  </ul>
</section>

{{outlet}}