<span class="tooltip-node-group-update">
  <p class="mb-5">
    {{t "tooltipNodeGroupUpdate.label"}}
  </p>
  <p>
    <span class="text-link hand" {{on "click" (action "updateNodeGroup")}}>
      {{t "tooltipNodeGroupUpdate.link"}}
    </span>
  </p>
</span>