<div id="chart-svg">
  {{svg-service-graph services=model.services action='openInfo'}}
</div>
{{#liquid-if showAddtlInfo containerless=true}}
  {{#service-addtl-info service=selectedService dismiss='dismiss'}}
  {{/service-addtl-info}}
{{/liquid-if}}

