$accordion-header: lighten($bg-default, 3);
$accordion-header-border: $bg-default;

.accordion-wrapper {
  margin-bottom: 10px;
}

.accordion {
  @extend .accordion-wrapper;

  &:last-child {
    margin-bottom: 0;
  }

  .accordion-header {
    @include no-select;
    background: $accordion-header;
    border: solid $accordion-header-border thin;
  }

  .accordion-content {
    padding: 20px;
    border: solid 2px $accent-one;

    .radio {
      padding: 5px 0;
    }
    .search-group {
      display: none;
      position: relative;

      > .input-group-btn {
        position: absolute;
      }
    }
  }
}

.physical-attrs {
  .accordion-content {
    label,
    h2 {
      @extend .text-muted;
    }
    > .row > .col.span-6 > .col.span-12 {
      padding: 10px;
      border-bottom: 1px solid lightgray;
    }
  }
}
