$accordion-header: lighten($bg-default, 5) !default;
$accordion-header-border: $bg-default !default;

.accordion-wrapper {
  margin-bottom: 10px;
}

.accordion {
  @extend .accordion-wrapper;

  &:last-child {
    margin-bottom: 0;
  }

  .accordion-header {
    @include no-select;
    @extend .hand;
    @extend .clearfix;
    background: $accordion-header;
    border: solid $accordion-header-border thin;
    padding: 10px;
    display: table;
    vertical-align: middle;
    width: 100%;

    .expand,
    .title,
    .badge-state, {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
    }

    .expand {
      width: 40px;
    }

    .badge-state {
      padding: 10px;
      width: 140px;
      text-align: right;
    }
  }

  .accordion-content {
    padding: 20px;
    border: solid 1px $border;
    border-top: 0;

    .radio {
      padding: 5px 0;
    }
    .search-group {
      display: none;
      position: relative;

      > .input-group-btn {
        position: absolute;
      }
    }
  }
}

.physical-attrs {
  .accordion-content {
    > .row > .col.span-6 > .col.span-12 {
      padding: 10px;
      border-bottom: 1px solid $accent-border;
    }
  }
}

.acc-label {
  color: $info;
  padding-bottom: 10px;
}
