.agent-config {
  .affinity-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    
    BUTTON{
      color: $primary;
      background: none;
    }

  }
  
  .affinity-term {
    position: relative;
  }
}


