@mixin badge {
  padding: 5px 10px;
  // border-radius: 90px;
  font-size: .9em;
  letter-spacing: .5px;
  text-align: center;
}

.badge {
  @include badge;
}

.badge-xs {
  @include badge;
  padding: 2px 3px;
  line-height: initial;
  font-size: .65em;
}

.badge-sm {
  @include badge;
  padding: 3px 6px;
  font-size: 0.87em;
}

.badge-lg {
  @include badge;
  padding: 18px 30px;
  font-size: 1.25em;
}

@mixin tag {
  padding: 5px 10px;
  border-radius: 2px;
  font-size: .9em;
}

.tag {
  @include tag;
}

.tag-xs {
  @include tag;
  padding: 2px 3px;
  line-height: initial;
  font-size: .65em;
}

.tag-sm {
  @include tag;
  font-size: 0.87em;
}

.tag-lg {
  @include tag;
  padding: 18px 30px;
  font-size: 1.25em;
}
