.banner {
  display: table;
  position: relative;
  transition: all 0.2s ease;
  margin: 15px 0;
  width: 100%;

  .banner-icon {

  }

  .banner-icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;    
    text-align: center;
    background-color: rgba(black, 0.05);
    
    > .icon {
      width: 20px;
      font-size: 20px;
    }
  }

  .banner-message {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
  }

  &.bg-primary {
    background: $banner-primary;
    border: solid 1px $primary;
    color: $banner-color;

      .banner-icon {
        background-color: $primary;
      }
  }
  &.bg-secondary {
    background: $banner-secondary;
    border: solid 1px $secondary;
    color: $banner-color;

      .banner-icon {
        background-color: $secondary;
      }
  }
  &.bg-success {
    background: $banner-success;
    border: solid 1px $success;
    color: $banner-color;

      .banner-icon {
        background-color: $success;
      }
  }
  &.bg-info {
    background: $banner-info;
    border: solid 1px $info;
    color: $banner-color;

      .banner-icon {
        background-color: $info;
      }
  } 
  &.bg-warning {
    background: $banner-warning;
    border: solid 1px $warning;
    color: $banner-color;

      .banner-icon {
        background-color: $warning;
      }
  }
  &.bg-error {
    background: $banner-error;
    border: solid 1px $error;
    color: $error;

      .banner-icon {
        background-color: $error;
      }
  } 
}
