// banners
$banner-default                      : lighten($light-grey, 5) !default;
$banner-disabled                     : lighten($mid-grey, 35) !default;
$banner-primary                      : lighten($primary, 63) !default;
$banner-secondary                    : lighten($secondary, 65) !default;
$banner-success                      : lighten($success, 50) !default;
$banner-info                         : lighten($info, 30) !default;
$banner-warning                      : lighten($warning, 45) !default;
$banner-error                        : lighten($error, 65) !default;
$banner-color                        : $secondary !default;

.banner {
  display: table;
  position: relative;
  transition: all 0.2s ease;
  margin: 15px 0;
  width: 100%;

  &.tight {
    margin-top: 0;

    P {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  &.inline {
    width: initial;
    display: inline-block;
    margin: 0 5px 0 0;
  }

  .banner-icon {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    text-align: center;
    background-color: rgba(black, 0.05);

    > .icon {
      width: 20px;
      font-size: 20px;
    }
  }

  .banner-link {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      // height: 52px;
      // line-height: 52px;

      a {
        text-decoration: none;
        border: none;
      }
  }

  .banner-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 20px;
    background-color: rgba(black, 0.05);
  }

  .banner-message {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;

    p {
      margin: .65em 0;
    }
  }

  &.bg-default {
    background: $banner-default;
    border: solid 1px darken($bg-default, 5);
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-default);
      @include contrasted($bg-default);
    }
  }

  &.bg-primary {
    background: $banner-primary;
    border: solid 1px $primary;
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-primary);
      @include contrasted($primary);
    }
  }

  &.bg-secondary {
    background: $banner-secondary;
    border: solid 1px $secondary;
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-secondary);
      @include contrasted($secondary);
    }
  }

  &.bg-success {
    background: $banner-success;
    border: solid 1px $success;
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-success);
      @include contrasted($success);
    }
  }

  &.bg-info {
    background: $banner-info;
    border: solid 1px $info;
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-info);
      @include contrasted($info);
    }
  }

  &.bg-warning {
    background: $banner-warning;
    border: solid 1px $warning;
    color: $banner-color;

    .banner-icon, .banner-title {
      @include bg-color($banner-warning);
      @include contrasted($warning);
    }
  }

  &.bg-error {
    background: $banner-error;
    border: solid 1px $error;
    color: $error;

    .banner-icon, .banner-title {
      @include bg-color($banner-error);
      @include contrasted($error);
    }
  }
}
