.billing-info {
  background: $accent-bg;
  margin-top: 20px;

  table {
    table-layout: fixed;
    width: 100%;
  }
}

.add-new-payment {
  .jp-card-flipped {
    .jp-card-front {
      visibility: hidden;
    }
    .jp-card-back {
      visibility: visible;
    }
  }
}
.credit-card-logo {
  height: 40px;
  width: 65px;

  &.card-visa {
    background-image: url('images/logos/credit-cards/visa.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.card-amex {
    background-image: url('images/logos/credit-cards/american-express.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.card-mastercard {
    background-image: url('images/logos/credit-cards/mastercard.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.card-discover {
    background-image: url('images/logos/credit-cards/discover.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.card-diners {
    background-image: url('images/logos/credit-cards/diners-club.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.card-jcb {
    background-image: url('images/logos/credit-cards/jcb.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}
