$container-height: 300px;
$container-width: 283px;
$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.catalog-box {
  position: relative;
  height: $container-height;
  width: $container-width;
  margin: 15px 0 15px 15px;
  float: left;
  text-align: center;
  transition: ease all .25s;
  // border: $border solid 3px;

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .view-details {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 40px 20px 40px;
  }

  &:hover {
    border: solid $link-color 1px;
  }

  .itemwrap {
    max-height: 129px;
    overflow: hidden;
  }

  h5 {
    text-align: center;
    margin: 0 15px;
    font-weight: bold;
  }

  &.machine {
    height: 245px;

    h5 {
      padding-top: 5px;
    }
    .copy-button-container {
      height:12px;
    }
  }
  &.cloud-host {
    @extend .machine;
    height: 260px;
    .help-text {
      color: $accent-two;
    }

    &.bg-secondary {
      border: 0;
    }
  }

  &.inactive {
    position: relative;
    box-shadow: none;
    filter: grayscale(.5);
    opacity: .8;
    // &:before {
    //   position: absolute;
    //   z-index:
    // }

    .catalog-icon {
      background-color: $table-bg-accent;
      opacity: 0.5;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
  }

  .catalog-icon {
    @include catalog-img;
    border: solid 1px $accent-border;
  }

  .description {
    display: block;
    display: -webkit-box;
    max-width: 200px;
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }

  .badge-rancher {
    position: absolute;
    z-index: 1;
    background: $warning;
    color: black;
    padding: 1px 10px;
    right: -13px;
    top: 5px;
    font-size: .75em;
    color: white;

    &:before {
      content: "";
      border-style: solid;
      border-color: $warning;
      border-left-color: transparent;
      position: absolute;
      top: 0;
      left: -16px;
      border-width: 11.5px;
      z-index: 2;
    }

    &:after {
      content: "";
      border-color: darken($warning, 20%) transparent transparent darken($warning, 20%);
      border-style: solid;
      border-width: 5px;
      right: 0px;
      bottom: -10px;
      display: block;
      position: absolute;
    }
  }

  .badge-rancher-logo {
    @extend .badge-rancher;

    STRONG {
      padding-left: 30px;
      position: relative;

      &:after {
        content: $icon-rancher-cow;
        font-family: 'rancher-icons';
        font-size: 24px;
        font-weight: normal;
        position: absolute;
        top: -8px;
        left: 0;
      }
    }
  }

  .badge-partner {
    @extend .badge-rancher;
    color: black;
    background-color: $success;

    &:before {
      border-color: $success;
      border-left-color: transparent;
    }

    &:after {
      border-color: darken($success, 20%) transparent transparent darken($success, 20%);
    }
  }

  .badge-thirdparty {
    @extend .badge-rancher;
    background-color: $primary;

    &:before {
      border-color: $primary;
      border-left-color: transparent;
    }

    &:after {
      border-color: darken($primary, 20%) transparent transparent darken($primary, 20%);
    }
  }

  &.dotted {
    border-style: dotted;
  }

  &.machine .catalog-icon {
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.aliyunecs     { @include aliyunecs; }
    &.amazonec2     { @include amazonec2; }
    &.azure         { @include azure; }
    &.custom        { @include custom; }
    &.digitalocean  { @include digitalocean;}
    &.exoscale      { @include exoscale; }
    &.generic       { @include generic; background-size: 65%; }
    &.openstack     { @include openstack; }
    &.other         { @include other; }
    &.packet        { @include packet; }
    &.rackspace     { @include rackspace; }
    &.rancherdo     { @include rancherdo;}
    &.ubiquity      { @include ubiquity; }
    &.vmwarevsphere { @include vmwarevsphere; }
    &.newtemplate { @include newtemplate; }
  }
}
