$container-height: 300px;
$container-width: 250px;
$play-button-height-width: 60px;
$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.catalog-box {
  position: relative;
  background: $accent-one;
  border:solid transparent;
  height: $container-height;
  width: $container-width;
  margin: 15px;
  float: left;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  transition: ease all .25s;

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .view-details {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 40px 20px 40px;
  }

  &:hover {
    border: solid $blueTwo;
  }

  .itemwrap {
    max-height: 119px;
    overflow: hidden;
  }

  h5 {
    text-align: center;
    padding-top: 15px;
    margin: 0 15px;
    font-weight: bold;
  }

  &.machine {
    font-size: 12px;
    height: 245px;

    h5 {
      padding-top: 5px;
    }
    .copy-button-container {
      height:12px;
    }
  }

  &.inactive {
    background-color: $table-bg-accent;
    box-shadow: none;

    .catalog-icon {
      background-color: $table-bg-accent;
      opacity: 0.5;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
    }
  }

//  .inactive-driver {
//    position: absolute;
//    top: -3px;
//    left: -3px;
//    text-align: center;
//    height: $container-height;
//    width: $container-width;
//    background: rgba(0,0,0,0.4);
//    z-index: 2;
//    button {
//      color: white;
//      border-color: white;
//      position: absolute;
//      height: $play-button-height-width;
//      width: $play-button-height-width;
//      border-radius: 50%;
//      top: 70px;
//      left: calc((#{$container-width} / 2) - (#{$play-button-height-width / 2}));
//      i {
//        font-size: 36px;
//        margin-left: -3px;
//      }
//    }
//  }

  .catalog-icon {
    margin: 0 auto;
    line-height: 80px;
    padding: 15px 5px 5px 5px;
    background: rgba(255,255,255,.9);
    min-height: 110px;
    max-width: 200px;

    img {
      width: auto;
      height: auto;
      max-height: 80px;
      max-width: 180px;
    }
  }

  .description {
    display: block;
    display: -webkit-box;
    max-width: 200px;
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }

  .badge-rancher {
    position: absolute;
    z-index: 1;
    background: $primary;
    color: white;
    padding: 3px 10px;
    right: -13px;
    top: 5px;

    &:before {
      content: "";
      border-style: solid;
      border-color: $primary;
      border-left-color: transparent;
      position: absolute;
      top: 0;
      left: -16px;
      border-width: 13.5px;
      height: 27px;
      z-index: 2;
    }

    &:after {
      content: "";
      border-color: $primaryDark transparent transparent $primaryDark;
      border-style: solid;
      border-width: 5px;
      right: 0px;
      bottom: -10px;
      display: block;
      position: absolute;
    }
  }

  .badge-rancher-logo {
    @extend .badge-rancher;

    STRONG {
      padding-left: 30px;
      position: relative;

      &:after {
        content: $icon-rancher-cow;
        font-family: 'rancher-icons';
        font-size: 24px;
        font-weight: normal;
        position: absolute;
        top: -8px;
        left: 0;
      }
    }
  }

  .badge-partner {
    @extend .badge-rancher;
    background-color: $greenTwo;
    color: black;

    &:before {
      border-color: $greenTwo;
      border-left-color: transparent;
    }

    &:after {
      border-color: $greenTwoDark transparent transparent $greenTwoDark;
    }
  }

  .badge-thirdparty {
    @extend .badge-rancher;
    background-color: $lightTeal;
    color: black;

    &:before {
      border-color: $lightTeal;
      border-left-color: transparent;
    }

    &:after {
      border-color: $lightTealDark transparent transparent $lightTealDark;
    }
  }

  &.machine .catalog-icon {
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.aliyunecs     { @include aliyunecs; }
    &.amazonec2     { @include amazonec2; }
    &.azure         { @include azure; }
    &.custom        { @include custom; }
    &.digitalocean  { @include digitalocean;}
    &.exoscale      { @include exoscale; }
    &.generic       { @include generic; background-size: 65%; }
    &.openstack     { @include openstack; }
    &.other         { @include other; }
    &.packet        { @include packet; }
    &.rackspace     { @include rackspace; }
    &.ubiquity      { @include ubiquity; }
    &.vmwarevsphere { @include vmwarevsphere; }
  }
}
