.modal-cluster-template-diff {
  .template-diff-key {
    align-items: center;
    display: flex;

    > div.template-diff-item {
      margin-left: 10px;
      padding: 4px;
      text-decoration: none;
    }
  }
}
