.cluster-template-revision-upgrade-notification {
    .icon-stack {
        color: $banner-warning;

        .icon-notification, .icon-circle-o {
            color: lighten($warning, 5);
        }

        .icon-circle, .icon-circle-o {
            font-size: 1.45em;
        }

        .icon-notification {
            font-size: 0.85em;
        }
    }
}