code {
    padding: 2px 4px;
    font-size: 90%;
    color: $code-color;
    background-color: $code-bg;
    border-radius: 1px;
    a {
        color: inherit;
        text-decoration: underline;
    }
}

pre {
    background-color: $dark-grey;
    code {
        color: $light-grey;
        background-color: transparent;
    }
}
