// Code
$code-color                          : saturate($success, 20%)!default;
$code-bg                             : $text-color !default;
$pre-bg                              : rgba($light-grey, .3) !default;
$pre-color                           : $dark-grey !default;
$pre-border-color                    : $light-grey !default;

code {
    padding: 5px 10px;
    font-size: 85%;
    color: $code-color;
    background-color: $code-bg;
    border-radius: 2px;
    a {
        color: inherit;
        text-decoration: underline;
    }
}

pre {
  background-color: $pre-bg;
  padding: 10px;
  white-space: pre-wrap;

  code {
    color: $light-grey;
    background-color: transparent;
    padding: 0;
  }
  &.normal-wrap {

  }
}

.bg-code {
  @include bg-color($code-bg);
  @include contrasted($code-bg);
}

.bg-code-dark {
  background: $code-color;
  color: white;

  a {
    color: white;
  }
}
