.component-badge {
  .healthy.circle{
    fill: $healthy-circle-color;
  }
  .healthy.background{
    fill: $healthy-background-color;
  }
  .healthy.text{
    fill: $healthy-text-color;
    stroke: $healthy-text-color;
  }

  .unhealthy.circle{
    fill: $unhealthy-circle-color;
  }
  .unhealthy.background{
    fill: $unhealthy-background-color;
  }
  .unhealthy.text{
    fill: $unhealthy-text-color;
    stroke: $unhealthy-text-color;
  }
}
