.shell-body {
  width: 100%;
  height: 400px;
  height: calc(100vh - 260px);
  margin: 0 auto;
  background-color: #000;
}

.shell-body .terminal {
  margin: 0 auto;
  font-size: 12px;
  font-family: "Lucida Console", Monaco, "Courier New", monospace;
  padding: 10px;
}

.fullscreen-modal {
  max-width: none !important;
}

.terminal .xterm-viewport {
  overflow-y: auto;
}

.shell-popup .shell-body{
  height: calc(100vh - 100px);
}

.shell-status {
  position: absolute;
  margin: 10px 0;
}

.shell-popup {
  padding: 10px;
}

.shell-popup .footer-actions {
  margin: 10px 0;
}

.xterm-rows {
  padding: 10px;
}
