.shell-body {
  display: flex;

  .terminal {
    margin: 0 auto;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
  }
}

.shell-status {
  position: absolute;
  margin: 10px 0;
}

.shell-popup {
  padding: 20px;
}

.xterm-rows {
  padding: 10px;
}
