.shell-body {
  display: flex;

  .terminal {
    margin: 0 auto;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
  }
}

.shell-body--fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  z-index: 255;
}

.shell-body__bar {
  position: fixed;
  top: 10px;
  right: 20px;
  color: white;
  background-color: transparent;
  opacity: 0.4;
  z-index: 300;
}

.shell-body__bar__btn {
  background-color: transparent;
  border-width: 0;
}

.shell-status {
  position: absolute;
  margin: 10px 0;
}

.shell-popup {
  padding: 20px;
}

.xterm-rows {
  padding: 10px;
}
