$gh-block-color: $text-color;

.gh-block-list {
  margin-bottom: 0;

  LI {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gh-block {
  .gh-block-content {
    line-height: initial;
    padding: 20px;
    background: lighten($accent-two, 20);
  }

  .gh-avatar {
    float: left;
    margin-right: 10px;
  }

  .gh-avatar-content {
    margin-left: 50px;
  }

  .gh-block-name {
    color: $gh-block-color;
  }
  .gh-block-detail {
    color: rgba($gh-block-color, .5);
  }

  .gh-action {
    display: none;
  }

  &:hover .gh-action {
    display: block;
  }
}

$size: 35px;

.gh-avatar {
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;

  IMG {
    width: 100%;
    height: auto
  }

  .gh-placeholder {
    line-height: $size;
    text-align: center;
    color: $light-grey;
  }
}
