$gh-block-color: $text-color;
$size: 34px;

.gh-block-list {
  margin-bottom: 0;

  LI {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gh-block {
  width: calc(100% + #{$size});
  padding: 5px 0;

  .gh-block-content {
    line-height: initial;
    margin-right: 35px; // temp but adds space for non-existent floated avatar
  }

  .gh-avatar {
    float: left;
    margin-right: 10px;
  }

  .gh-avatar-content {
    margin-left: 50px;
  }

  .gh-block-name {
    color: $gh-block-color;
  }
  .gh-block-detail {
    color: rgba($gh-block-color, .5);
  }

  .gh-action {
    display: none;
  }

  &:hover .gh-action {
    display: block;
  }
}

.site-access {
  .gh-block {
    width: calc(100% + 5px);
  }
}


.gh-avatar {
  width: $size;
  height: $size;
  display: inline-block;
  vertical-align: middle;

  IMG {
    width: 100%;
    height: auto
  }

  .gh-placeholder {
    line-height: $size;
    text-align: center;
    color: $light-grey;
  }
}

.audit-logs {
  .gh-avatar {
    margin-top: 8px;
    .gh-placeholder {
      height: $size;
      background-color: $accent;
    }
  }
}
