.gh-block-list {
  margin-bottom: 0;

  LI {
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.gh-block {
  .gh-block-content {
    line-height: initial;
  }

  .gh-avatar {
    float: left;
    margin-right: 10px;
  }

  .gh-avatar-content {
    margin-left: 50px;
  }

  .gh-block-detail {
    @extend .text-muted;
  }

  .gh-action {
    display: none;
  }

  &:hover .gh-action {
    display: block;
  }
}

$size: 35px;
$border: 2px;

.gh-avatar {
  width: $size;
  height: $size;

  border: $border solid $lightGray;
  border-radius: 50%;
  background-color: $top-row;
  display: inline-block;

  IMG {
    border-radius: 50%;
    vertical-align: middle;
    width: 100%;
    height: auto
  }

  .gh-placeholder {
    line-height: ($size - (2 * $border));
    text-align: center;
    color: $lightGray;
  }
}
