.graph-area {
  font-size: 12px;

  .line {
    fill: none;
    stroke: $link-color;
    stroke-width: 2px;
  }

  .axis {
    fill: #9da0ae;
  }

  .axis line,
  .axis path {
    fill: none;
  }

  .odd {
    fill: $mid-grey;
    fill-opacity: .1;
  }

  .even {
    fill: $dark-grey;
    fill-opacity: .1;
  }

  .area {
    fill-opacity: .7;
  }

  .hover-line {
    stroke: #9da0ae;
  }

  .hover-label {
    position: absolute;
    pointer-events: none;
    top: 0px;
    z-index: 20;
  }

  .graph-area-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    box-shadow: 7px 7px 12px -9px #777;
  }

  .graph-area-tooltip th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: #FFF;
  }

  .graph-area-tooltip tr {
    border: 1px solid #CCC;
  }

  .graph-area-tooltip td {
    font-size: 13px;
    height: 25px;
    padding: 3px 6px;
    background-color: #fff;
    border-left: 1px dotted #999;
  }

  .graph-area-tooltip td > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
  }

  .graph-area-tooltip td.value {
    text-align: right;
  }
}
