.jGrowl.top-right {
  z-index: 10;
}

.jGrowl {
  .jGrowl-close {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  .jGrowl-notification,
  .jGrowl-closer {
    width: 300px;
    opacity: 1;
    color: white;
  }

  .jGrowl-notification .jGrowl-header {
    font-size: 1em;
    color: white;
  }
  .jGrowl-message {
    color: white;
  }
  .jGrowl-closer {
    color: white;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
  }

  .error {
    @extend .bg-error;
  }

  .success {
    @extend .bg-success;
  }

  .message {
    border: 1px solid #FF9494;
    background: repeating-linear-gradient(
      135deg,
      #3498DB,
      #3498DB 10px,
      #4EB2F5 10px,
      #4EB2F5 20px
    );
  }
}
