#cy {
  width: 100%;
  height: calc(50vh);
  display: block;
}

.powered-by-kiali {
  right: 10px;
  position: absolute;
  bottom: 30px;
}

.istio-autoinjection {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
}

.cy-toolbar {
  box-shadow: 2px 2px 6px 0 grey;
  position: relative;
  top: -60px;
  left: 10px;
  z-index: 2;
  display: inline-block;

  .cy-toolbar-group {
    background-color: #fff;
    border-color: #8b8d8f;
    border-style: solid;
    border-width: 1px;
    padding: 7px 10px;
  }
}

.cy-btn {
  color: #4d5258;
  background-image: linear-gradient(180deg,#fafafa 0,#ededed);
  background-repeat: repeat-x;
  background-color: #f1f1f1;
  border: 1px solid #bbb;
  cursor: pointer !important;
}

.istio-graph {
  .period {
    width: 120px;
  }

  .namespace-select {
    width: 200px;
  }
}
