.login {
  color: #848a9a;
  text-align: center;
  position: relative;

  .logo {
    height: 75px;
    width: 75px;
    background-image: url(images/logos/main.svg);
    background-repeat: no-repeat;
    background-size: 39px;
    background-position: center center;
    border-radius: 50%;
    margin: 0 auto;
    background-color: $primary;
    position: absolute;
    left: 0;
    right: 0;
    top: 105px;
    z-index: 5;
  }

  H1 {
    font-size: 28px;
    color: white;
  }

  SECTION {
    padding: 40px;
  }
}
