.login {
  background-color: white;
  color: #848a9a;
  margin: 100px auto 0 auto;
  padding: 40px;
  max-width: 440px;
  position: relative;
  text-align: center;
  border: 8px solid rgba(black, .3);
}
