.login {
  background-color: white;
  color: $text-color;
  margin: 100px auto 0 auto;
  padding: 40px;
  max-width: 440px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 10px rgba($dark-grey, .25);

  h1 {
    span {
      @extend .text-small;
    }
  }
}
