$accordion-border: darken($bg-default, 5) !default;

.period {
  width: 120px;
}

.graph-area {
  height: 200px
}

.grafana-link {
  a:hover {
    text-decoration: none;
  }
  margin: 10px;
}

.metrics-summary {
  .metrics-accordion {
    @include no-select;
    @extend .clearfix;
    background: transparent;
    border: solid $accordion-border thin;
    display: table;
    vertical-align: middle;
    width: 100%;

    .title {
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      background: transparent;
      text-align: left;
    }

    div {
      &:focus {
        outline: 0 !important;
      }
    }

    .btn {
      &:focus {
        outline: 0 !important;
      }
      padding: 15px 25px;
    }
  }
  .metrics-accordion-content {
    position: relative;
    padding: 20px;
    border: solid 1px $border;
    border-top: 0;
  }
}
