.protip {
  @extend .text-muted;
  font-size: 12px;
  margin-bottom: 5px;
}
.container-header-text {
  font-size: 19px;
  .display-name {
    margin: 15px 10px 30px 10px;
  }
}
.lacsso.modal-overlay.modal-open .modal-container.modal-logs {
    max-height: 100%;
}
