.container-multi-stat {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  border: 1px solid $lightGray;
}

.multi-stats {
  background-color: white;

  & > DIV {
    padding: 12px 0 5px 10px;
    min-height: 45px;

    border-right: 1px solid $lightGray;
    border-top: 1px solid $lightGray;

    &:last-of-type {
      border-right: none;
    }

    LABEL {
      margin: 0;
    }
  }

  .description {
    height: auto;
    padding: 12px 0 5px 10px;
  }
}
.c3 {

  .grid-line-cpu,
  .grid-line-network,
  .grid-line-storage,
  .grid-line-memory {
    stroke-width: 20px;
    opacity: .1;
  }

  path.c3-shape.c3-shape.c3-area.c3-area-System,
  path.c3-shape.c3-shape.c3-area.c3-area-Used,
  path.c3-shape.c3-shape.c3-area.c3-area-Write,
  path.c3-shape.c3-shape.c3-area.c3-area-Read,
  path.c3-shape.c3-shape.c3-area.c3-area-Transmit,
  path.c3-shape.c3-shape.c3-area.c3-area-Receive,
  path.c3-shape.c3-shape.c3-area.c3-area-User {
    opacity: .8 !important;
  }

  .c3-tooltip-name-System {
    span {
      background-color: $green !important;
    }
  }

  .c3-tooltip-name-User {
    span {
      background-color: #DBE8B1 !important;
    }
  }

  .c3-tooltip-name-Used {
    span {
      background-color: $blueDark !important;
    }
  }

  .c3-tooltip-name-Transmit {
    span {
      background-color: $yellowDark !important;
    }
  }

  .c3-tooltip-name-Receive {
    span {
      background-color: $yellow !important;
    }
  }

  .c3-tooltip-name-Write {
    span {
      background-color: $teal !important;
    }
  }

  .c3-tooltip-name-Read {
    span {
      background-color: #ABCED3 !important;
    }
  }

}

span[class*='legend-circle'] {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.legend-circle-system {
  border: 3px solid $green !important;
}

.legend-circle-user {
  border: 3px solid #DBE8B1 !important;
}

.legend-circle-transmit {
  border: 3px solid $yellowDark !important;
}

.legend-circle-receive {
  border: 3px solid $yellow !important;
}

.legend-circle-used {
  border: 3px solid $blueDark !important;
}

.legend-circle-read {
  border: 3px solid #ABCED3 !important;
}

.legend-circle-write {
  border: 3px solid $teal !important;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .multi-stats > DIV:nth-child(2n) {
    border-right: none;
  }
}

@media (max-width: $screen-xs-max) {
  .multi-stats > DIV {
    border-right: none;
  }
}


.nav-tabs {
  &.shadowed {
    border-bottom: none;
    position: relative;
    top: 1px;
    a {
      box-shadow: inset 0px 0px 1px rgba(0,0,0,.15);
    }

    li {
      margin-bottom: 1px;
    }
  }
}

.table-flat {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  &.well {
    padding: 20px;
  }
  // Okay okay i know this is wierd but we want the borders inside all the cells but Bootstrap also throws a border
  // around the table which we dont want so deal with it
  .table-bordered {
    border:none;
  }

  table {
    thead {
      background-color: $lightGray;
      color: white;
      th {
        padding-left: 10px;
      }
    }
    tr {
      td:first-of-type {
        padding-left: 10px;
      }
      td {
        padding-left: 10px;
      }
    }
  }
}
