nav {
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;

   > ul {
    background-color: $header;
    border-radius: 3px 0 0 3px;
    display: table-cell;
    padding: 0;
    width: 100%;

    .logo {

    }

    > li {
      list-style-type: none;
      display: inline-block;
      // padding-top: 4px;

      &.active {
        > a {
          color: $info;
          border: 0;
          border-bottom: solid 4px mix($user-btn, black, 50%);
        }
      }

      > a {
        color: $header-link;
        display: block;
        padding: 10px;
        border-bottom: solid 4px transparent;

        &:hover {
          background-color: mix($user-btn, black, 80%);
          color: white;
          text-decoration: none;
          border-bottom: solid 4px mix($user-btn, black, 50%);
        }
      }
    }
  }
}