$nav-spacing: 4px;

nav {
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;

   > ul {
    background-color: $header;
    border-radius: 3px 0 0 3px;
    display: table-cell;
    padding: 0;
    width: 100%;
    vertical-align: middle;

    .logo {

    }

    > li {
      list-style-type: none;
      display: inline-block;

      &.active {
        > a {
          color: $info;
          border-bottom: solid $nav-spacing mix($user-btn, black, 50%);
          text-decoration: none;
        }
      }

      > a {
        color: $header-link;
        display: block;
        padding: 11px;
        border-bottom: solid $nav-spacing transparent;
        border-top: solid $nav-spacing transparent;

        &:hover {
          background-color: mix($user-btn, black, 80%);
          color: white;
          text-decoration: none;
          border-bottom: solid $nav-spacing mix($user-btn, black, 50%);
        }

        .icon-chevron-down {
          font-size: .75em;
        }
      }
    }
  }
}
