.new-select {
    position: relative;
    padding: 0;
    text-align: center;

    &:not(.loading) .icon-spinner {
        display: none;
    }

    .icon-spinner {
        position: absolute;
        top: 0;
        font-size: 1.8em;
        line-height: 1.5;
    }

    select {
        padding-right: 35px;
    }
}