.request-spot-instance-types {
  .value-container {
    display: table;
    width: 95%;

    .input-or-display {
      display: block;
      width: 100%;
    }
  }
  .input-group-btn {
    .btn-remove {
      max-height: 36px;
    }
  }
}
