body {
  &.lf-modal-open {
    overflow: hidden;
  }
}
.lf-modal-open {
  width: initial;
  height: initial;
  overflow: initial;
}
.lf-overlay {
  background-color: $shadow;
  opacity: .70;
}
.liquid-modal {
  position: relative;
  z-index: 10;

  .lm-container {
    justify-content: flex-start
  }

  .lf-dialog {
    width: calc(100% - 40px);
    max-width: 990px;
    max-height: 90%;
    background-color: $well-bg;
    padding: 20px 20px 0 20px;
    border: 1px solid $well-border;
    overflow: auto;

    .footer-actions {
      padding-bottom: 0;
    }

    &.small {
      width: 50%;
    }

    &.full-height {
      min-height: 90%;
    }

    H1, H2 {
      font-weight: $normal-weight;
      margin-bottom: 10px;
    }

    LABEL,
    TH {
      font-weight: $normal-weight;
    }
  }
}

.overlay {
  z-index: 11;
  position: absolute;
  background-color: white;
  top: 0;
  left: 20px;
  right: 20px;
  max-width: 990px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  border: 1px solid $lightGray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;

  H1, H2 {
    font-weight: $normal-weight;
    margin-bottom: 10px;
  }

  LABEL,
  TH {
    font-weight: $normal-weight;
  }
}

.overlay-small {
  left: 25%;
  right: 25%;
}

.underlay {
  z-index: 10;
  background-color: rgba(0,0,0,0.65);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
