// Header
$header                              : $secondary !default;
$header-link                         : $light-grey !default;
$header-link-active                  : $primary !default;
$user-btn                            : darken($header, 10%) !default;

.page-header {
  @include no-select;
  margin-bottom: 10px;

  NAV {
    font-size: .9em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    display: table;

    .dropdown-menu {
      background: $dropdown-bg;
      border: 0;
      z-index: 4;
      padding: 0;
      top: auto!important;
      border-radius: 0;
      box-shadow: $darken-helper 0 0 7px;

      > ul > li > a {
        margin: 0;
      }
    }
  }

  .nav-logo {
    // display:table-cell;
    height: 48px;
    background-size: auto 32px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  .environment-dropdown {
    padding: 0 10px;

    > .clip {
      max-width: 250px;
      color: $header-link ;
      display: inline-block;
      vertical-align: middle;
      padding: 14px 10px 14px 0;

      &:hover {
        text-decoration: none;
      }
    }
    i {
      color: $header-link;
    }
  }
  .project-btn {
    & > A {
      @include clip;
      max-width: 150px;
      color: $header-link;
    }

    padding-left: 10px;
  }

  // ul.nav-middle {
  //   display:table-cell;
  //   vertical-align: middle;
  //   width: 100%;
  //   font-size: .75em;

  //   li {
  //     a {
  //       padding: 13px 10px 10px 10px;
  //     }
  //   }
  // }

  .nav-user {
    display:table-cell;
    width: 80px;
    background: $user-btn;
    border-radius: 0 3px 3px 0;
    margin: 0;

    a {
      display: block;

      &:hover {
        border-bottom: 0;
      }
    }

      .user-auth {
        line-height: initial;
        padding: 10px;
        background: lighten($accent-two, 20);
      }
  }

  .quick-add {
    display:table-cell;
    border-radius: 0;
    margin: 0;
    padding: 0;
    li {
      display: block;
      a {
        display: block;
      }
    }
  }

  .logo-oss {
    width: 80px;
    background-image: url('images/logos/main.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 32px;
  }

  .logo-caas {
    width: 190px;
    background-image: url('images/logos/main-caas.svg');
  }

  .bg-error.badge-xs {
    position: absolute;
    right: 2px;
    top: 10px;
    text-align: center;
    width: 19px;

    a {
      color: white;
    }
  }
}
