.page-header {
  @include no-select;

  margin: 10px 0;

  NAV {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .nav-logo {
    display: inline-block;
    height: 55px;
    background-size: auto 32px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  ul.nav-middle {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 180px);
    margin: 0;
     
    .active {
      color: $info;
      border: 0;
      border-bottom: solid 3px mix($secondary, black, 50%);
    }

    .dropdown-menu {
      background: $light-grey;
      border: 0;
      border-bottom: 3px solid rgba($mid-grey, .5);
    }
  }

  .nav-user {
    display: inline-block;
    width: 80px;
    // border-left: 20px solid transparent;
    background: mix($secondary, black, 70%);
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    margin: 0;

    .btn {
      padding: 0;
    }
  }

  .logo-oss {
    width: 80px;
    background-image: url('images/logos/main.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 32px;
  }

  .logo-caas {
    width: 210px;
    background-image: url('images/logos/main-caas.svg');
  }

}
