.page-top {
  background-color: mix($user-btn, black, 80%);
  height: $topbar-height;  
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  display: none;
  z-index: 10;

  .page-header NAV > ul {
    background-color: transparent !important;
  }

  .page-header .nav-cluster {
    background-color: transparent !important;
  }

  .page-header NAV .nav-cluster::after {
    content: none;
  }

  .nav-logo {
    height: 48px;
    background-size: auto 32px;
    background-position: left center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  .logo-oss {
    width: $sidebar-width;
    background-image: url('images/logos/rancher-logo-cow-white.svg');
    background-position: center;
    background-color: mix($user-btn, black, 80%);
    background-repeat: no-repeat;
    background-size: auto 32px;
  }

  .nav-left-item {
    float: left;
    height: $topbar-height;
    line-height: $topbar-height;
    vertical-align: middle;
  }

  .nav-hamburger {
    border-left: 1px solid mix($user-btn, black, 20%);
    border-right: 1px solid mix($user-btn, black, 20%);

    i {
      color: white;
      font-size: 24px;
    }
  }

  .nav-menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    .ember-basic-dropdown-trigger {
      color: $header-link !important;
    }
  }

  .nav-user {
    margin: 0;
    padding: 0;
  }
}