.pagination {
  margin: 0px;

  > li {
    @extend .btn;
    // @extend .bg-default;
  }

  .overview-text {
    position: relative;
    float: left;
    padding: 5px 10px;
    line-height: 1.3;
    border: 1px solid $border;
    margin-left: -1px;
  }
  .pager-disabled {
    @extend .bg-disabled;
    cursor: default;
    pointer-events: none;
  }
}

.pagination-left {
  float: left;
}

.pagination-right {
  float: right;
}
