.percent-gauge.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
