$pod-border      : $lightGray;
$pod-border-dark : $table-border-color;
$pod-bg          : $table-bg;
$subpod-detail   : $table-bg-accent;

.pods {
  overflow    : visible;
  white-space : nowrap;
}

.pod-column {
  /* width is set dynamically */
  width          : 260px;
  display        : inline-block;
  vertical-align : top;
  margin         : 0 10px 10px 0;

  &:last-of-type {
    margin-right: 0;
  }
}

.pod {
  background    : $accent-one;
  border        : solid transparent;
  position      : relative;
  padding       : 5px;
  margin-bottom : 10px;
  border-radius : $border-radius-base;

  .pod-header {
    font-weight    : $normal-weight;
  }
  .pod-name {
    margin-top: 5px;
  }

  .pod-state {
    font-size                  : 11px;
    text-align                 : center;
    padding                    : 5px 10px;
    vertical-align             : top;
    display                    : inline-block;
    border-bottom-left-radius  : $border-radius-base;
    border-bottom-right-radius : $border-radius-base;
    font-weight                : $normal-weight;
    text-transform             : uppercase;

    SPAN {
      position : relative;
      top      : -1px;
    }
  }

  .pod-name {
    text-align: center;
  }

  .pod-info {
    margin     : 5px 0;
    text-align : center;

    .pod-info-container {
      display       : flex;
    }
    .pod-info-item {
      flex         : 1 1 auto;
      margin-top   : 5px;
      font-size    : 12px;
      color        : #8a919c;
      border-right : 1px solid $table-border-color;

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  .pod-message {
    @extend .clip;
    text-align     : center;
    font-size      : 12px;
  }

  .add-to-pod {
    width: 100%;
  }
}

.pod-name,
.subpod-name {
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;

  A {
    color: inherit;

    &:hover {
      color: $link-hover-color;
    }
  }

  i {
    float: none;
  }
}

.subpod-name {
  min-width: 110px;
  font-size: 13px;
  cursor: pointer;

  I {
    font-size: 12px;
    text-align: center;
  }
}

.container-subpod-info {
  padding       : 5px 5px 0 5px;
  margin-bottom : 15px;
  border        : 1px solid $pod-border-dark;

  &:last-child {
    margin-bottom: 0;
  }

  .subpod-header {
    margin           : -5px -5px 0 -5px;
    background-color : $table-border-color;
    background-color: mix($brand-primary-dark, $table-bg-accent, 15%);
    padding          : 5px;


    H6 {
      margin-top: 3px;
    }

    .icon-chevron-down {
      font-size  : 12px;
      transition : ease all 350ms;
      font-size  : .75em;
    }

    &.open {
      .icon-chevron-down {
        transform: rotate(-180deg);
      }
    }
  }

}


.subpod-inner {

  > div:last-child {
    margin-bottom: 5px;
  }

  .add-to-pod {
    margin : 5px 0;
    display: block;
    padding    : 7px;
    font-size  : 12px;
    background: $btn-default-bg;
    color: $btn-default-color;
    border: none;
  }

}

.container-subpod {

  display: flex;
  padding: 5px;

  > div {
    flex: 1 1 auto;
  }

  .resource-actions {
    margin-right  : -5px;
    margin-top    : -5px;
    margin-bottom : -5px;
    flex: 0 0 auto;

    .more-actions {
      height : 28px;
      float  : right;
      border : none;
      &:hover {
        background : $btn-default-bg;
        color      : inherit;
      }

      i {
        right: -5px;
      }
    }
  }
}

.subpod {
  position         : relative;
  min-height       : 30px;
  background-color : $table-bg;
  border           : 1px dotted $pod-border-dark;
  margin-top       : 5px;


  &:nth-child(odd).add-to-pod {
    width                      : 100%;
    border-bottom-right-radius : 5px;
  }

  .subpod-detail {
    color      : lighten($text-color, 30%);
    font-size  : 11px;;
    margin-top : 2px;
    text-align : right;
    max-width  : 150px;
  }

  &.managed A {
    color: $link-color;
  }
}

/* Make room for the menu button when showing it */
.no-touch .subpod:hover,
.touch .subpod {
  &.add-to-pod {
    padding-right: 10px;
  }
}


.subpod-children {
  border                    : 1px solid $table-bg-accent;
  border-bottom-left-radius : 5px;
  background-color          : $table-bg-accent;
  padding                   : 5px 5px 0 5px;

  H6 {
    margin-right: 5px;
  }
}

.tiny-hellip:before {
  content      : '\2026';
  font-size    : 8px;
  margin-right : -3px;
  display: inline-block;
}

.group-instance {
  &.closed {
    display : none;
    height  : 0;
  }
  &.open {
    display : block;
    height  : inherit;
  }
}
