.resource-actions {
  display: inline-block;
}

/*
  Hover actions on devices with mice, always shown on devices with touch.

  Put .resource-action-hover on a parent node that you want to trigger display of the actions on.
*/
.no-touch {
  .resource-action-hover {
    .resource-actions {
      display: none;

      &.open {
        display: block;
      }
    }

    &.hover {
      A.clip {
        padding-right: 27px;
      }

      .resource-actions {
        display: block;
      }
    }
  }
}

.resource-actions {
  position: relative;

  .btn-xs I,
  .btn-group-xs > .btn I {
    /* Icons are slightly too high.. */
    position: relative;
    top: 1px;
  }

  .dropdown-menu,
  &.dropdown-menu {
    min-width: 123px;
  }

  .dropdown-menu > LI > A,
  &.dropdown-menu > LI > A {
    position: relative;
    padding: 3px 35px 5px 10px;
    font-size: 13px;

    I {
      position: absolute;
      right: 5px;
      top: 4px;
      color: $text-color;
      font-size: 1.25em;
    }

    &:hover I {
      color: $primary;
    }
  }
}

.global-actions {
  position: absolute;
}

.resource-actions-tabbable {
  height: 0;

  A, A:focus {
    outline: none !important;
    background-color: transparent !important;
    height: 0px !important;
    padding: 0 !important;
  }
}
