.sortable-table {
  .fixed-header,
  .fixed-header-actions {
    background-color: $well-bg;
    z-index: 10;
  }

  tbody,
  thead {
    tr {
      &.row-selected {
        background-color : $table-bg-hover !important;
      }
      td, th {
        > .icon-stack {
          margin-bottom: 0;
        }
      }
      td {
        padding: 10px;
      }
    }
  }
  .pagination {
    &.disabled {
      opacity: .3;
    }
  }
  .pagination {
    > .disabled {
      > a {
        background-color: transparent;
      }
    }
  }
}

TH.sortable {
  cursor: pointer;

  .faded {
    color: $midGray;
  }

  .icon-stack {
    width: initial;
    height: inherit;
    line-height: inherit;
    display: inline;
    vertical-align: top;
    padding: 0 10px;
  }
}

.table-flat TH.sortable .faded {
  color: $midGrayDark;
}

.fixed-header-placeholder {
  th {
    border-bottom: none !important;
  }
}

.fixed-header {
  th {
    border-top: none !important;
  }
}

.sortable-table .total {
  font-weight: bold;
  background-color: $lightGrayTwo;
}
