$container-height: 200px;
$container-width: 250px;
$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.container-stack-card {
  position: relative;
  background: $accent-one;
  border:solid transparent;
  height: $container-height;
  width: $container-width;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  transition: ease all .25s;


  &:hover {
    border: solid $greenTwo;
  }
  .itemwrap {
    max-height: 119px;
    overflow: hidden;
  }

  h5 {
    text-align: center;
    padding-top: 15px;
    margin: 0 15px;
    font-weight: bold;
  }

  .stack-card-icon {
    margin: 0 auto;
    line-height: 80px;
    padding: 15px 5px 5px 5px;
    background: rgba(255,255,255,.9);
    min-height: 110px;

    img {
      width: auto;
      height: auto;
      max-height: 80px;
      max-width: 180px;
    }
  }

  .description {
    display: block;
    display: -webkit-box;
    max-width: 200px;
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }
}
