.tabs {
  position: relative;

  ul {
    &.tab-header {
      padding: 0;
      margin: 0;
      position: relative;
      top: 2px;

      li {
        list-style-type: none;
        display: inline-block;

        &:last-of-type {
          margin-right: 0;
        }

        a {
          display: block;
          padding: 8px 10px 10px 10px;
          text-decoration: none;
          border: 2px solid $tab-accent;
          border-bottom: 0;
          background-color: $tab-accent;
        }

        &.active {
          a {
            background-color: $tab-active-bg;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 20px;
    border: 2px solid $tab-accent;
    background-color: $tab-bg;
  }
}
