table {
    position: relative;
    &.fixed {
        table-layout: fixed;
        width: 100%;
    }
    .fixed-header-actions {
        min-height: 40px;
        width: 100%;
        z-index: 1;
        background: $body-bg;
    }
    .fixed-header {
        z-index: 2;
        tr {
            background: $link-color;
        }
    }
    .fixed-header {
        th {
            button {
                padding: 0;
            }
        }
    }
    .fixed-header-placeholder {
        visibility: hidden;
        //padding: 0;
        th {
            padding: 0 !important;
            height: 0 !important;
        }
    }
    tr {
        td {
            padding: 10px;
        }
    }
    thead {
        tr {
            width: 100%;
            box-sizing: border-box;
            border-width: 0 0 3px 0;
            border-color: $table-border-color;
            border-radius: 0;
            outline: none;
            transition: all ease-in-out .3s;
            &.fixed-header {
                background: $table-header;
                th .btn {
                    color: white;
                }
            }
            th {
                border-width: 0 0 3px 0;
                border-color: $table-border-color;
                text-align: left;
                padding: 5px 0;
                font-weight: normal;
                .btn {
                    color: white;
                }
                &.select-for-action {
                    text-align: center;
                }
            }
        }
    }
    tbody {
        border: none;
        background-color: $table-bg;
        tr {
            border-bottom: solid thin $table-border-color;
            td {
                border: solid thin $table-border-color;
            }
        }
        &.striped {
            tr {
                border: none;
                td {
                    border: none;
                }
                &:nth-child(even) {
                    background-color: $table-bg-accent;
                }
            }
        }
    }
    tbody {
        &.striped {
            tr {
                &:hover {
                    background-color: $table-bg-hover;
                }
            }
        }
    }
    &.solid {
        background: $light-grey;
        tbody {
            tr {
                &:hover {
                    background-color: $table-bg-hover;
                }
                td {
                    border: solid 2px white;
                    &:hover {
                        background-color: $info;
                    }
                }
            }
        }
    }
    .select-for-action {
        text-align: center;
    }
}
