TH {
  text-align: left;
}

.table {
  margin-bottom: 0;

  & > THEAD > TR > TH,
  & > THEAD > TR > TD,
  & > TBODY > TR > TH,
  & > TFOOT > TR > TH,
  & > TBODY + TBODY {
    border-top: none;
    font-weight: $bold-weight;
    vertical-align: top;
  }

  &.no-lines > THEAD > TR > TH,
  &.no-lines > THEAD > TR > TD,
  &.no-lines > TBODY > TR > TH,
  &.no-lines > TBODY > TR > TD,
  &.no-lines > TFOOT > TR > TH,
  &.no-lines > TFOOT > TR > TD,
  & > THEAD > TR.no-lines > TH,
  & > THEAD > TR.no-lines > TD,
  & > TBODY > TR.no-lines > TH,
  & > TBODY > TR.no-lines > TD,
  & > TFOOT > TR.no-lines > TH,
  & > TFOOT > TR.no-lines > TD {
    border-top: none;
    border-right: none;
  }

  &.vertical-middle {
    & THEAD > TR > TH,
    & THEAD > TR > TD,
    & TBODY > TR > TH,
    & TBODY > TR > TD,
    & TFOOT > TR > TH,
    & TFOOT > TR > TD {
      vertical-align: middle;
    }
  }

  & > THEAD > TR.no-lines > TH,
  & > THEAD > TR.no-lines > TD,
  & > TBODY > TR.no-lines > TH,
  & > TBODY > TR.no-lines > TD,
  & > TFOOT > TR.no-lines > TH,
  & > TFOOT > TR.no-lines > TD {
    padding-top: 0;
  }

  & > THEAD > TR > TH {
    border-bottom: 0;
  }

  &.no-top-padding TH {
    padding-top: 0;
  }

  &.tight TH,
  &.tight TD {
    padding: 4px 0;
  }

  &.small TH,
  &.small TD {
    font-size: 12px;
    font-weight: normal;
  }
}
