.container-theme-toggle {
  margin-top: 15px;
  > div {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    &.active {
      @extend .bg-primary;
    }
  }
  > div:nth-child(-n + 2) {
    margin-right: 50px;
  }
}
