.container-theme-toggle {
  > div {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    padding: 20px;
    transition: ease-in-out all 300ms;

    &:hover {
      background: $link-hover-color;
      color: $accent-one;
    }

    &.active {
      @extend .bg-primary;
    }
  }
  > div:nth-child(1) {
    border-radius: 4px 0 0 4px;
  }
  > div:nth-child(3) {
    border-radius: 0 4px 4px 0;
  }
}
