.tooltip-triangle {
  content    : '';
  background : transparent;
  width      : 0;
  height     : 0;
  position   : absolute;
}
.tooltip-content {
  display : none !important;
}

.tooltip-actions {
  width: 245px;
}

.container-tooltip {
  display    : inline-block;
  position   : fixed;
  background : $primary;
  color      : white;
  min-height : 20px;
  max-width  : 265px;
  z-index    : 1000;
  padding    : 3px;

  &.copy-clipboard {
    text-align: center;
  }
  .tooltip-dot {
    width: 245px;
  }

  &.top::after {
    @extend .tooltip-triangle;
    border-left  : 5px solid transparent;
    border-right : 5px solid transparent;
    border-top   : 5px solid $primary;
    bottom       : -5px;
    left         : calc(50% - 5px);
  }
  &.bottom::after {
    @extend .tooltip-triangle;
    border-left   : 5px solid transparent;
    border-right  : 5px solid transparent;
    border-bottom : 5px solid $primary;
    top           : -5px;;
    left          : calc(50% - 5px);
  }
  &.left::after {
    @extend .tooltip-triangle;
    border-top    : 5px solid transparent;
    border-bottom : 5px solid transparent;
    border-right  : 5px solid $primary;
    left          : -5px;
    top           : calc(50% - 5px);
  }
  &.right::after {
    @extend .tooltip-triangle;
    border-top    : 5px solid transparent;
    border-bottom : 5px solid transparent;
    border-left   : 5px solid $primary;
    right         : -5px;
    top           : calc(50% - 5px);
  }

  .more-actions {
    border     : 1px solid $primaryDark;
    color      : white;
    background : $primaryDark;

    &::hover {
      background: lighten($primaryDark, 15%);
    }

    .icon-chevron-down {
      transition: ease all 350ms;
    }

    &.open {
      .icon-chevron-down {
        transform: rotate(-180deg);
      }
    }
  }
  .tooltip-content-inner {
    padding: 5px;

    &.warning {
      font-size: 12px;
    }

    .dismiss {
      @extend .hand;
      height     : 100%;
      background : $primaryDark;
      margin     : -5px;
      padding    : 6px;
      border     : 1px solid $primaryDark;
      float      : right;

      & .icon-close {
        font-size: 8px;
      }
    }
  }


  .resource-actions {
    position : absolute;
    top      : 0px;
    right    : 0px;
    height   : 100%;

    .more-actions {
      height: 100%;
    }
  }

  .display-name,
  .display-ip {
    width         : 190px;
    display       : inline-block;
  }

  .display-name {
    font-size     : 14px;
    font-weight   : 600;
    text-overflow : ellipsis;
    overflow      : hidden;
    float         : left;
  }

  .display-ip {
    font-size: 12px;
  }

  .bottom-row {
    float         : left;
    width         : 190px;
    font-size     : 12px;

    .col {
      @extend .clip;
      display : inline-block;
      width   : 50%;
      float   : left;
    }
  }

}

.tooltip-warning-container {
  background : $lightTeal;
  color      : white;
  cursor: pointer;

  &.top::after {
    border-top   : 5px solid $lightTeal;
  }
  &.bottom::after {
    border-bottom : 5px solid $lightTeal;
  }
  &.left::after {
    border-right  : 5px solid $lightTeal;
  }
  &.right::after {
    border-left   : 5px solid $lightTeal;
  }

  .tooltip-content-inner {

  }
  .dismiss {
    background : $lightTealDark;
    margin: -3px -3px -3px 10px;
    padding: 5px;

    & .icon-close {
      font-size: .75em;
    }
  }
}

div.tooltip-warning {
  background-color : $redDark;
  height           : 15px;
  width            : 15px;
  border-radius    : 50%;
  position         : absolute;
  right            : 3px;
  top              : 13px;
  padding          : 0;
  line-height      : 15px;
  text-align       : center;
  font-weight      : bold;
  a {
    color            : white;
  }
}

