.over-hr {
  display             : block;
  text-align          : center;
  overflow            : hidden;
  white-space         : nowrap;
  @extend .pt-10;
  @extend .pb-10;

  & > span {
  position            : relative;
  display             : inline-block;
  text-transform      : uppercase;
  font-size           : 13px;
  }

  & > span:before,
  & > span:after {
  content             : "";
  position            : absolute;
  top                 : 50%;
  width               : 9999px;
  height              : 1px;
  background          : $border;
  }

  & > span:before {
  right               : 100%;
  margin-right        : 15px;
  }

  & > span:after {
  left                : 100%;
  margin-left         : 15px;
  }

  &.expandable > span:after {
  margin-left         : 30px;
  }

  .icon-chevron-up,
  .icon-chevron-down {
  font-size           : 10px;
  }
}

.toggle-advanced {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;

  A,
  A:focus,
  A:active,
  A:visited,
  A:hover {
    cursor          : pointer;
    text-decoration : none;
  }
}
