  <div class="box mb-10 pt-5">
    <div class="row">
      {{#if editing}}
        <div class="pull-right">
          <button class="btn bg-transparent text-small vertical-middle" {{action "removeRule" rule}}>
            {{t 'formNodeAffinity.removeRuleLabel'}}
          </button>
        </div>
      {{else}}
        <!-- 28px is the height of the button, no jumpy -->
        <div style="height: 28px;"></div>
      {{/if}}
    </div>
    {{form-node-requirement term=rule editing=editing}}
  </div>
