<section class="header">
  <h1>RCs</h1>

  {{#link-to "k8s-tab.namespace.apply" null (query-params kind="Namespace") classNames="btn btn-sm btn-primary"}}Add Namespace{{/link-to}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="name"}}
        <th class="actions" width="85">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |ns|}}
        {{k8s/ns-row model=ns}}
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">You do not have any Namespaces yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

