<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Select Image</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" class="form-control" value=userInput placeholder="e.g. ubuntu:trusty"}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <label>{{input type="checkbox" checked=pullImage}} Always pull image before creating</label>
  </div>
</div>
