<form {{action "authenticate" on="submit"}} class="text-left">
  <p class="text-center">
    <button disabled={{waiting}} class="btn btn-primary" {{action "authenticate"}}>
      {{t 'loginShibboleth.buttonText'}}
    </button>
  </p>
</form>
