<section class="header clearfix">
  <div class="pull-left pt-10"><h1 class="text-capitalize">{{if (eq pageScope 'cluster') (t 'alertPage.cluster') (t 'alertPage.project')}} {{t 'alertPage.alertGroups'}}</h1></div>
  <div class="right-buttons">
    {{#link-to "new" classNames="btn btn-sm bg-primary"}}{{t 'alertPage.index.addAlertGroup'}}{{/link-to}}
  </div>
</section>

{{alert-table alerts=model.alerts notifiers=model.notifiers groups=model.groups}}
