{{#if linkHovered}}
  <button class="btn btn-sm bg-transparent pull-right">
    <i
      class="icon icon-minus-circle icon-lg"
      aria-label="Remove Recent"
      onclick={{action "removeRecent"}}
    />
  </button>
{{/if}}
<div class="machine-driver {{if genericIcon "generic"}} {{clusterName}}"></div>
<p class="driver-name">
  {{driver-name clusterName}}
</p>