<div class="row">
  <div class="col span-6">
    <div class="radio mb-10">
      <label>{{radio-button disabled=(not editing) selection=workloadConfig.strategy value="RollingUpdate"}} {{t 'formUpgrade.strategy.rollingUpdate'}}</label>
    </div>
    <div class="radio mb-10">
      <label>{{radio-button disabled=(not editing) selection=workloadConfig.strategy value="OnDelete"}} {{t 'formUpgrade.strategy.onDelete'}}</label>
    </div>
  </div>
</div>
