<section class="header clearfix">
  <h1 class="pull-left">{{t 'projectsPage.header'}}</h1>
  <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to "authenticated.cluster.projects.new" class="btn bg-primary btn-sm icon-btn"}}
      <span class="darken">
        <i class="icon icon-folder"></i>
      </span>
      <span>{{t 'projectsPage.addProject'}}</span>
    {{/link-to}}
  </div>
</section>
{{project-table model=rows}}
