<section class="header clearfix">
  <h1 class="pull-left">{{t 'projectsPage.header'}}</h1>
  <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to "authenticated.cluster.projects.new" class="btn bg-primary btn-sm" disabled=(rbac-prevents resource="project" scope="global" permission="create")}}
      {{t 'projectsPage.addProject'}}
    {{/link-to}}
  </div>
</section>
{{project-table model=rows}}
