.about {
  TD, TH {
    padding: 5px 10px;
  }

  TH {
    font-weight: bold;
  }

  .logo-text {
    background-image: url(images/logos/text.svg);
    background-size: 300px;
    background-position: center 30px;
    background-repeat: no-repeat;
    height: 110px;
  }

  .parachute {
    opacity: 0.75;
    -webkit-animation: parachute-animation 10s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    -moz-animation: parachute-animation 10s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    -ms-animation: parachute-animation 10s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    animation: parachute-animation 10s cubic-bezier(0.05, -0.23, 0.13, 0.6) forwards;
    // -webkit-animation-delay: -2s; /* Chrome, Safari, Opera */
    // animation-delay: 2s;
    background-image: url(images/logos/graphic.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 74px;
    height: 100px;
    top: -10px;
    left: calc(50% - 227px);
  }

}

.modal-container.about {
  overflow: hidden;

  tr, td {
    border-color: transparent;
  }
}

@keyframes parachute-animation {
  0% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }

  25% {
    transform: translate(0,0) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate(-100px,500px) scale(0);
    opacity: 0;
  }
}