.launch-catalog {
  H4 {
    // font-weight: bold;

    I {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .preview-content {
    padding: 5px;
  }
}

.catalog-search {
  margin-top: 17px;
  padding: 20px;
  background: $accent-bg;

  .dropdown {
    .btn {
      i {
        margin-top: 2px;
      }
    }
  }
  input[type=text] {
    // background-color: white;
  }
}
.filter-group {
  > .dropdown-toggle {
    // background-color: white;
    width: 100%;
  }
}

.container-categories {
  margin-top: 15px;

  li {
    margin-bottom: 5px;
    &.active {
      a {
        @extend .bg-primary;
      }
    }
  }
  a {
    display: block;
    .btn {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

.line-numbers {
  &.constrained {
    min-height:200px;
    overflow: auto;
  }
}

.machine-catalog-icon {
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;

  &.amazonec2 {
    @include amazonec2;
  }

  &.azure {
    @include azure;
  }

  &.digitalocean {
    @include digitalocean;
  }

  &.exoscale {
    @include exoscale;
  }

  &.openstack {
    @include openstack;
  }

  &.packet {
    @include packet;
  }

  &.rackspace {
    @include rackspace;
  }

  &.ubiquity {
    @include ubiquity;
  }

  &.vmwarevsphere {
    @include vmwarevsphere;
  }

  &.other {
    @include other;
  }

  &.custom {
    @include custom;
  }

  &.generic {
    @include generic;
  }

  &.aliyunecs {
    @include aliyunecs;
  }
}
