$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.container-catalog {
  position: relative;
  background: $accent-one;
  border:solid transparent;
  height: 270px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  transition: ease all .25s;

  &:hover {
    border: solid $blueTwo;
  }

  h5 {
    border-bottom: solid thin rgba($darkestGrayTwo, .5);
    text-align: left;
    padding: 15px 0;
    margin: 0 15px;
  }

  .catalog-icon {
    margin: 5px auto 0 auto;
    line-height: 80px;
    padding: 5px;
    background: rgba(255,255,255,.9);

    img {
      width: auto;
      height: auto;
      max-height: 80px;
      max-width: 180px;
    }
  }

  .description {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 200px;
    /*height: $font-size*$line-height*$lines-to-show;*/ /* Fallback for non-webkit */
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }

  .btn {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 40px 20px 40px;
  }
}

.launch-catalog {

  H4 {
    font-weight: $bold-weight;

    I {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .preview-content {
    padding: 5px;
  }
}

.line-numbers {
  &.constrained {
    min-height:200px;
    overflow: auto;
  }
}

.power-select-img {
  position: relative;

  IMG {
    max-width: 25px;
    max-height: 25px;
  }

  DIV {
    position: absolute;
    left: 30px;
    right: 17px;
    top: 0;
  }
}
