$font-size: 12px;
$line-height: 1.4;
$lines-to-show: 4;

.badge-certified {
  position: absolute;
  background: $yellowCertified;
  color: black;
  padding: 3px 10px;
  right: -13px;
  top: 5px;

  &:before {
    content: "";
    border-style: solid;
    border-color: #eadf5a;
    border-left-color: transparent;
    position: absolute;
    top: 0;
    left: -16px;
    border-width: 13.5px;
    height: 27px;
    z-index: 2;
  }

  &:after {
    content: "";
    border-color: #C4B823;
    border-width: 6px;
    right: -1px;
    bottom: -11px;
    display: block;
    position: absolute;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
  }
}

.container-catalog {
  position: relative;
  background: $accent-one;
  border:solid transparent;
  height: 290px;
  width: 250px;
  margin-right: 35px;
  margin-bottom: 35px;
  float: left;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  transition: ease all .25s;

  &:hover {
    border: solid $blueTwo;
  }
  .itemwrap {
    max-height: 119px;
    overflow: hidden;
  }

  h5 {
    text-align: center;
    padding-top: 15px;
    margin: 0 15px;
    font-weight: bold;
  }

  .catalog-icon {
    margin: 0 auto;
    line-height: 80px;
    padding: 15px 5px 5px 5px;
    background: rgba(255,255,255,.9);
    min-height: 110px;

    img {
      width: auto;
      height: auto;
      max-height: 80px;
      max-width: 180px;
    }
  }

  .description {
    display: block;
    display: -webkit-box;
    max-width: 200px;
    margin: auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing:border-box;
  }

  .btn {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 40px 20px 40px;
  }
}

.launch-catalog {

  H4 {
    font-weight: $bold-weight;

    I {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .preview-content {
    padding: 5px;
  }
}

.line-numbers {
  &.constrained {
    min-height:200px;
    overflow: auto;
  }
}

.power-select-img {
  position: relative;

  IMG {
    max-width: 25px;
    max-height: 25px;
  }

  DIV {
    position: absolute;
    left: 30px;
    right: 17px;
    top: 0;
  }
}
