.launch-catalog {
  H4 {
    font-weight: $bold-weight;

    I {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .preview-content {
    padding: 5px;
  }
}

.line-numbers {
  &.constrained {
    min-height:200px;
    overflow: auto;
  }
}

.power-select-img {
  position: relative;

  IMG {
    max-width: 25px;
    max-height: 25px;
  }

  DIV {
    position: absolute;
    left: 30px;
    right: 17px;
    top: 0;
  }
}

.machine-catalog-icon {
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;

  &.amazonec2 {
    @include amazonec2;
  }

  &.azure {
    @include azure;
  }

  &.digitalocean {
    @include digitalocean;
  }

  &.exoscale {
    @include exoscale;
  }

  &.openstack {
    @include openstack;
  }

  &.packet {
    @include packet;
  }

  &.rackspace {
    @include rackspace;
  }

  &.ubiquity {
    @include ubiquity;
  }

  &.vmwarevsphere {
    @include vmwarevsphere;
  }

  &.other {
    @include other;
  }

  &.custom {
    @include custom;
  }

  &.generic {
    @include generic;
  }

  &.aliyunecs {
    @include aliyunecs;
  }
}
