.catalog-group:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid $border;
  margin-bottom: 15px;
}

.catalog-group {
  .group-name-container {
    position: relative;

    .helm-version-3 {
      position: absolute;
      top: -8px;
    }
  }
}

.launch-catalog {
  H4 {
    // font-weight: bold;

    I {
      font-size: 14px;
      margin-right: 5px;
    }
  }

  .preview-content {
    padding: 5px;
  }

  .app-icon {
    max-height:150px;
    max-width: 100%;
  }

  .readme-content {
    overflow-y: auto;
    max-height: 500px;
  }
}

.catalog-search {
  margin-top: 17px;
  padding: 20px;
  // background: $accent-bg;

  .dropdown {
    .btn {
      i {
        margin-top: 2px;
      }
    }
  }
  input[type=text] {
  }
}
.filter-group {
  > .dropdown-toggle {
    width: 100%;
  }
}

.container-categories {
  margin-top: 15px;

  li {
    margin-bottom: 5px;
    &.active {
      a {
        @extend .bg-primary;
      }
    }
  }
  a {
    display: block;
    .btn {
      word-wrap: break-word;
      white-space: normal;
    }
  }
}

.line-numbers {
  &.constrained {
    min-height:200px;
    overflow: auto;
  }
}

.machine-catalog-icon {
  min-height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50% 100%;

  &.amazonec2 {
    @include amazonec2;
  }

  &.azure {
    @include azure;
  }

  &.digitalocean {
    @include digitalocean;
  }

  &.exoscale {
    @include exoscale;
  }

  &.openstack {
    @include openstack;
  }

  &.packet {
    @include packet;
  }

  &.rackspace {
    @include rackspace;
  }

  &.vmwarevsphere {
    @include vmwarevsphere;
  }

  &.other {
    @include other;
  }

  &.custom {
    @include custom;
  }

  &.generic {
    @include generic;
  }

  &.aliyunecs {
    @include aliyunecs;
  }
}

.helm-version-3 {
  height: 40px;
  display: inline-block;
}
