.log-body {
  .log-msg {
    font-size: 11px;
  }

  &.hide-stdout .log-stdout,
  &.hide-stderr .log-stderr {
    display: none;
   }

  .log-msg.log-stderr {
    color: #f44;
  }

  .log-date {
    color: #999;
    padding-right: 10px;
  }
}

.shell-body {
  display: flex;

  .terminal {
    margin: 0 auto;
    font-size: 12px;
    font-family: "Lucida Console", Monaco, "Courier New", monospace;
  }
}

.shell-status {
  position: absolute;
  margin: 10px 0;
}

.shell-popup {
  padding: 20px;
}
