.container-info {
  color: white;
  > :first-child {
    background: $bg-info;
    border: 0;
    float: left;
    padding: 17px;
    margin-right: 15px;
  }
  > .col {
      padding-top: 5px;
  }
}
.log-body {
  .log-msg {
    font-size: 11px;
    color: $success;
  }

  &.hide-stdout .log-stdout,
  &.hide-stderr .log-stderr {
    display: none;
   }

  .log-msg.log-stderr {
    color: $error;
  }

  .log-date {
    color: $text-muted;
    padding-right: 10px;
  }
}
.child-loading {
  >.liquid-child {
    height: 30px;
  }
}
