.container-log .log-body {
  height: calc(100vh - 170px);
}

.modal-overlay .log-body {
  height: calc(100vh - 260px);
}

.log-body.wrap-lines {
  .log-msg {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
}

.log-body {
  .log-msg {
    color: $success;
    line-height: initial;
    white-space: pre;
    width: calc(100vw - 150px);
  }

  &.hide-stdout .log-stdout,
  &.hide-stderr .log-stderr {
    display: none;
   }

  .log-msg.log-stderr {
    color: $error;
  }

  .log-date {
    @include no-select;
    color: $text-muted;
    padding-right: 10px;
  }
}
.child-loading {
  >.liquid-child {
    // height: 30px;
  }
}

.header-sidekick {
  H2 {
    margin: 0;
    padding: 5px;
  }
}
