$stackHeight: 66px;
$stateRadius: 13px;
$stateBorder: 2px;
$singleStackHeight: 30px;
$countWidth: 102px;
$singleCountWidth : 120px;

.stack-section {
  clear: both;
  position: relative;
  background-color: $table-bg;
  margin: 0 20px 10px 20px;

  &.clear-section {
    margin: 0px;
    background-color: transparent;
  }
  &:last-child {
    margin-bottom: 0;
  }

  .stack-state {
    text-align: center;
    height: $stackHeight;
    line-height: $stackHeight;
    padding: 0 10px;
  }

  .count {
    width: $countWidth;
    text-align: center;

    P {
      margin: 12px 0 0 0;
      font-weight: $bold-weight;
      text-align: center;
      position: relative;
      top: 5px;
    }

    LABEL {
      color: #a7a7a7;
    }
  }

  .header-left {
    float: left;
    margin-right: 10px;
    height: $stackHeight;
    line-height: $stackHeight;

    H4 {
      line-height: $stackHeight;
    }

    .environment-link {
      max-width: 370px;
    }

    &.with-description {
      line-height: initial;
      padding-top: 13px;
      max-width: 370px;

      H4 {
        line-height: initial;
      }
    }
  }

  .header-right {
    float: right;
    margin-right: 7px;
    height: $stackHeight;
  }

  .right-divider {
    padding-right: 10px;
    border-right: 1px dotted $table-border-color;

  }

  .collapser {
    height: $stackHeight;
    line-height: 50px;
    A {
      padding: 22px 10px 25px 10px;
      font-size: 12px;
    }
  }

  .stack-actions {
    line-height: 66px;
    width: 65px;
    text-align: right;
    border-right: 0;
  }

  .stack-body {
    // padding: 0 10px 10px 10px;
    background: transparent;
  }

  .stack-template {
    line-height: 60px;
    text-align: center;
  }

  .collapser {
    padding: 3px 0;
  }

  .grid {
    .state > span > span {
    padding: 14px 5.5px;
    margin-right: 5px;
    }

    TD, TH {
      padding: 3px;
      border-bottom: 1px solid $table-border-color ;
    }

    &.sized {
      TD:nth-child(1) {
        width: 125px;
        padding: 0;
        position: relative;
      }

      TD:nth-child(4),
      TD:nth-child(5) {
        width: ($countWidth + 7);
        text-align: center;
      }

      TD.actions {
        width: 80px;
      }
    }

    TD.actions {
      text-align: center;
    }

    TR:nth-child(even) {
      background-color: $table-bg-accent;
    }

    TR:nth-child(odd) {
      background-color: transparent;
    }

    TD {
      border-right: 1px dotted $table-border-color;
      padding: 10px;

      &:last-of-type {
        border-right: none;
      }
      &.state {
        padding: 0;
      }
    }

    TH {
      padding-left: 10px;
    }
  }

  .subsection {

    H6 {
      background-color: $brand-info;
      color: white;
      padding: 10px;
    }

    & .hosts {
      background: rgba($brand-info, .15);
    }
  }

  .single {
    color: white;
    background: $midGray;

    .count {
      width: $singleCountWidth;
    }
    .count LABEL,
    .count P,
    &>A:not(.btn),
    &>BUTTON:not(.btn),
    A.btn-link {
      color: white;
      display: inline-block;
      vertical-align: middle;
      line-height: $singleStackHeight;
      margin: 0;
      top: 0;
    }

    .stack-state {
      top: ($singleStackHeight - $stateBorder)/2 - $stateRadius;
    }

    .header-left {
    height: $singleStackHeight;
    line-height: $singleStackHeight;

      H4 {
        line-height: $singleStackHeight;
      }
    }

    .header-right, .collapser {
      height: $singleStackHeight;
    }
  }


  .stack-body.single-body .grid TD:nth-child(4),
  .stack-body.single-body .grid TD:nth-child(5) {
      width: ($singleCountWidth + 10);
  }
}

.environment-graph {
  SECTION.header {
    position: relative;
    z-index: 4;
  }
}

#environment-svg {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;

  .node {
    &.crosslink {
      stroke-dasharray: 5,5;
    }

    &.success rect {
      stroke: $brand-success;
    }

    &.info rect {
      stroke: $brand-info;
    }

    &.warning rect {
      stroke: $brand-warning;
    }

    &.danger rect {
      stroke: $brand-danger;
    }

    .highlighted {
      box-shadow: 2px 2px 10px $blueDark;
    }

    g {
      foreignobject {
        overflow: visible;
      }

      div {
        width: 110px;
        height: 70px;
        padding: 2px 5px 0 5px;
        color: $text-color;

        $dark: $accent-two;
        $light: $well-bg;

        background: $light; /* Old browsers */
        background: -moz-linear-gradient(top, $dark 0%, $dark 50%, $light 51%, $light 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark), color-stop(50%,$dark), color-stop(51%,$light), color-stop(100%,$light)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* IE10+ */
        background: linear-gradient(to bottom, $dark 0%,$dark 50%,$light 51%,$light 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$light',GradientType=0 ); /* IE6-9 */
      }
    }

    .label {
      color: $text-color;
      display: initial;
      padding: initial;
      font-size: initial;
      font-weight: initial;
      line-height: initial;
      color: initial;
      text-align: center;
      white-space: initial;
      vertical-align: initial;
      border-radius: initial;

      tspan {
        fill: $well-bg;
      }

      I.icon {
        display: block;
        line-height: 0;
        font-size: 12px;
        padding: 8px 0 4px 0;
      }

      H4 {
        font-size: 13px;
      }

      .count {
        padding: 7px 0 4px 0;
        font-size: 12px;
      }

      .state {
        color: white;
        padding: 0 5px;
        font-size: 11px;
        font-weight: $bold-weight;
        text-transform: uppercase;

        &.success {
          background-color: $brand-success;
        }

        &.info {
          background-color: $brand-info;
        }

        &.warning {
          background-color: $brand-warning;
        }

        &.danger {
          background-color: $brand-danger;
        }
      }
    }

    rect {
      fill: #fff;
      stroke-width: 2pt;
      color: $text-color;
    }
  }

  .edgePath {
    path.path {
      stroke: $accent-three;
      fill: none;
      stroke-width: 1pt;
    }

    &.success path.path {
      stroke: $brand-success;
    }
    &.info path.path {
      stroke: $brand-info;
    }
    &.warning path.path {
      stroke: $brand-warning;
    }
    &.danger path.path {
      stroke: $brand-danger;
    }
  }
  marker path {
    &.success-fill {
      fill: $brand-success;
    }
    &.info-fill {
      fill: $brand-info;
    }
    &.warning-fill {
      fill: $brand-warning;
    }
    &.danger-fill {
      fill: $brand-danger;
    }
  }
}

$light-grey: #9CB6B5;
$tiffany-blue: #0ABFB2;
$mabel: #CCE3EE;
$regal-blue: #034967;
$orange-white: #FFF9EC;
$light-yellow: #FFBE18;

#chart-svg {
  @extend #environment-svg;
  min-height: 80vh;
  .node {
    background-color: white;
    box-shadow: 1px 2px 10px $light-grey;
    .state {
      position: fixed;
      left: -12px;
      top: 26px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
    }
    .badge {
      margin-right: 5px;
      margin-top: 6px;
      background-color: $orange-white;
      color: $light-yellow;
    }
    .container-badge {
      width: 100%;
      text-align: center;
    }
    .badge {
      &.service {
        color: $regal-blue;
        background-color: $mabel;
        font-size: 12px;
        padding: 2px 15px;
        text-transform: uppercase;
      }
    }
    .label-sidekick {
      background: lightgray;
      font-size: 10px;
      padding: 1px 13px;
      margin-top: 7px;
      margin-right: 10px;
      color: gray;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title {
      margin-left: 10px;
    }
    .actions {
      margin-right: -5px;
      .btn {
        font-size: 8px;
      }
    }
  }
  .edge-path {
    fill: none;
    stroke: $light-grey;
    stroke-width: 2px;
  }
}

.check-kubernetes,
.check-swarm {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 50px;
  padding-top: 60px;
}

.check-swarm {
  background-image: url('images/hexagon-swarm.svg');
}

.check-kubernetes {
  background-image: url('images/hexagon-kubernetes.svg');
}

.addtl-info-trigger {
  cursor: pointer;
  margin-left: 3px;
  position: relative;
  top: 1px;
}

.service-detail {
  SPAN {
    margin-right: 5px;
  }

  LABEL {
    font-weight: normal;
    padding-right: 3px;
    color: $text-muted;
    margin-bottom: 0;

    &:not(:first-of-type) {
      margin-left: 5px;
    }
  }
}

.storage {
  &.stack-section .header-left H4 {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
  }
}
