.dot {
  float: left;
  margin: 2px;
  font-size: 11px;
}

.modal-shell {
  width: 600px;
}

.machine-host {
  min-height: 168px;

  .machine-info {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    white-space: normal;
    color: #d2d7de;
  }
}

.machine-driver {
  &.amazonec2 {
    background-image: url('images/providers/amazonec2.svg');
  }

  &.azure {
    background-image: url('images/providers/azure.svg');
  }

  &.digitalocean {
    background-image: url('images/providers/digitalocean.svg');
  }

  &.exoscale {
    background-image: url('images/providers/exoscale.svg');
  }

  &.openstack {
    background-image: url('images/providers/openstack.svg');
  }

  &.packet {
    background-image: url('images/providers/packet.svg');
  }

  &.rackspace {
    background-image: url('images/providers/rackspace.svg');
  }

  &.ubiquity {
    background-image: url('images/providers/ubiquity.svg');
  }

  &.vmwarevsphere {
    background-image: url('images/providers/vmwarevsphere.png');
  }

  &.other {
    background-image: url('images/providers/machine.svg');
  }

  &.custom {
    background-image: url('images/logos/provider-custom.svg');
  }
}

.c3 svg {
  font: 12px "Lato";
}

#memoryGraph,
#cpuGraph,
#networkGraph,
#storageGraph {
  .c3-axis .tick {
    fill: #9da0ae;
    // text-shadow: 1px 1px 0px rgba(255,255,255,.5), -1px 1px 0px rgba(255,255,255,.5), 1px -1px 0px rgba(255,255,255,.5), -1px -1px 0px rgba(255,255,255,.5);

    line {
      display: none;
    }
  }

  .c3-axis-x {
    display: none;
  }

  .c3-axis .domain {
    stroke: #f3f5f7;
  }
}

.api-field LABEL {
  text-transform: initial;
}
