.k8s {
  background: $k8sBodyBg;
  font-family: 'Roboto';
  
  a {
    color: $k8sTeal;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    font-family: 'Roboto';
  }

  #resource-actions {
    margin: 0;
    padding: 0;
  }
  
  HEADER  {
    .top-row NAV > A, HEADER .top-row NAV > .link-admin > a {
      color: $k8sAccent;
    }
    .top-row, .gh-avatar {
      background: $k8sHeader; 
    }
    .top-row .logo {
      background-color: darken($k8sHeader,10%);
    }
    .top-row NAV > A.active:after, .top-row NAV > .link-admin > a.active:after {
      display: none;
    }
    .top-row NAV > A.active {
      border-bottom: solid thick rgba(255,255,255,.25);
    }
    .bottom-row NAV > A.active {
      color: $k8sTeal;
      border-bottom: solid thick $k8sLightTeal;
        &:after {
          display: none;
        }
    }

    .bottom-row {
      background-color: $k8sAccent;
    }

    .bottom-row .project-btn {
      background: $k8sLightTeal;
      &.alt.pull-right:before{
        border-left-color: $k8sLightTeal;
      }
      &:nth-child(2) {
        background: darken($k8sLightTeal, 10%);
      }
      .btn {
         color: $k8sDarkTeal;
      }
    }
    .top-row .logo {
      float: left;
      background-size: 90%;
      background-image: url("images/logos/main_k8s.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  footer {
    background-color: $k8sAccent;
    border-top: 5px solid $k8sOrange;
  }

  .well {
    background-color: $k8sAccent;
  }
  /*buttons*/
  .btn {
    border-radius: 3px;
    color: $k8sAccent;
  }
  .btn-link {
    color: $k8sDarkTeal;
   }
  .btn-default {
    background: $k8sLightTeal;
    color: $k8sDarkTeal;
    border-color: rgba($k8sTeal,.5);

    &.active, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
      background: $k8sTeal;
      color: $k8sAccent;
    }

      &:hover {
        background: $k8sAccent;
        color: $k8sTeal;
      }
  }

  .btn-primary {
    color: #fff;
    background-color: $k8sBlue;
    border-color: $k8sBlue;
  }

  .btn-disabled {
    color: $k8sGray;
    background: rgba($k8sGray, .15);
  }

  .stack-section .grid TR:nth-child(even) {
    background: rgba($k8sLightTeal, .5);
  }

  HR {
    border-color: $k8sLightTeal; 
    border-width: 3px;
  }

  .form-control {
    border-width: 2px;
    border-color: $k8sLightTeal;
    border-radius: 2px;
  }

  .nav-tabs-well LI A, .nav-tabs LI A {
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
  }

  .dropdown-menu {
    background: rgba($k8sLightTeal, .9);
    border-radius: 0 0 10px 10px;
    box-shadow: none;
    border-color: $k8sTeal;
  }
  .dropdown-header {
    color: $k8sTeal;
  }s
  /*page tweaks*/
  .bg-info, .banner {
    background-color: $k8sTeal;
    color: $k8sLightTeal;

    & a {
      color: $k8sBlue;
    }
  }

  .banner .banner-head {
    background: $k8sDarkTeal;
  }

  .banner .banner-head:after {
    border-left-color: $k8sDarkTeal;
  }

  .container-subpod-info .subpod-header {
    background-color: rgba(mix($k8sGray, $k8sBlue, 50%), .15);
  } 

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: $k8sBlue;
  }
}

.theme-ui-dark {
  .btn {
    background-color: transparent;
  }
  .btn-default {
    color: $k8sTeal;
    border-color: $k8sTeal;
  }
  HEADER .bottom-row NAV > A {
    color: $k8sTeal;
  }
  HEADER .bottom-row NAV > A.active {
    color: white;
  }
  HEADER .bottom-row .project-btn {
    background-color: $navy;
    color: white!important;
    &:nth-child(2) {
      background-color: darken($navy, 2%);
      color: white!important;
    }
  }
}