/*Rancher Branded*/
.loader {
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

.orbit {
  position          : absolute;
  top: 0;
  left: 0;
  margin            : 0 auto;
  width             : 280px;
  height            : 280px;
  border            : dotted rgba(255,255,255,.25) 3px;
  border-radius     : 50%;
  -webkit-animation: orbit 20s linear infinite; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation:         orbit 20s linear infinite; /* IE 10+, Fx 29+ */
}

.i-hate-spinners {
  .orbit,
  .loadfield,
  .icon-spin {
    animation: none;
    -webkit-animation:: none;
  }
}

.sun {
  background : $yellowDark;
  top        : 110px;
  left       : -25px;
}

.moon {
  background : $midGray;
  bottom     : 110px;
  right      : -25px;
}

.moon,
.sun {
  position      : absolute;
  width         : 50px;
  height        : 50px;
  border-radius : 50%;
}


.grass {
  content             : "";
  background          : -webkit-linear-gradient(135deg, #a5c63b 5px, transparent 0), -webkit-linear-gradient(45deg, #a5c63b 5px, transparent 0);
  background          : linear-gradient(-45deg, #a5c63b 5px, transparent 0), linear-gradient(45deg, #a5c63b 5px, transparent 0);
  background-position : left-bottom;
  background-repeat   : repeat-x;
  background-size     : 10px 10px;
  display             : block;
  position            : absolute;
  bottom              : 50%;
  left                : 0px;
  width               : 100%;
  height              : 10px;
}

.loadfield {
  position          : absolute;
  top: 0;
  left: 0;
  width             : 200px;
  height            : 200px;
  margin            : 40px;
  background        : -moz-linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  background        : -webkit-linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  background        : linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  border-radius     : 50%;
 -webkit-animation: fade 30s ease-in-out infinite; /* Safari 4+ */ /* Fx 5+ */ /* Opera 12+ */
  animation:         fade 30s ease-in-out infinite; /* IE 10+, Fx 29+ */
}

.cow {
  height: 65px;
  margin     : 60px auto;
  position   : relative;
  z-index    : 5;
}

.head {
  fill   : #0A75A8;
  stroke : rgba(0, 0, 0, .25);
  margin : 0 auto;
}

.body {
  fill   : #0A75A8;
  margin : 0 auto;
}

.head {
  -webkit-animation                 : head ease-in-out 4s;
  animation                         : head ease-in-out 4s;
  -webkit-animation-iteration-count : infinite;
  animation-iteration-count         : infinite;
  -webkit-transform-origin          : 50% 50%;
  transform-origin                  : 50% 50%;
  -webkit-animation-fill-mode       : forwards;
  animation-fill-mode               : forwards;
  /*when the spec is finished*/
  -webkit-animation                 : head ease-in-out 4s;
  -webkit-animation-iteration-count : infinite;
  -webkit-transform-origin          : 50% 50%;
  -webkit-animation-fill-mode       : forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation                    : head ease-in-out 4s;
  -moz-animation-iteration-count    : infinite;
  -moz-transform-origin             : 50% 50%;
  -moz-animation-fill-mode          : forwards;
  /*FF 5+*/
  -o-animation                      : head ease-in-out 4s;
  -o-animation-iteration-count      : infinite;
  -o-transform-origin               : 50% 50%;
  -o-animation-fill-mode            : forwards;
  /*Not implemented yet*/
  -ms-animation                     : head ease-in-out 4s;
  -ms-animation-iteration-count     : infinite;
  -ms-transform-origin              : 50% 50%;
  -ms-animation-fill-mode           : forwards;
  /*IE 10+*/
}

@-webkit-keyframes fade {
  0% {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -moz-filter: brightness(1) grayscale(0%);
    -webkit-filter: brightness(1) grayscale(0%);
            filter: brightness(1) grayscale(0%);
  }
  50% {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -moz-filter: brightness(0.3) grayscale(1);
    -webkit-filter: brightness(0.3) grayscale(1);
    filter: brightness(0.3) grayscale(1);
  }
  100% {
   filter: url('data:image/svg+xml;charset=utf-8,#filter');
   -moz-filter: brightness(1) grayscale(0%);
   -webkit-filter: brightness(1) grayscale(0%);
    filter: brightness(1) grayscale(0%);
  }
}

@keyframes fade {
  0% {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -webkit-filter: brightness(1) grayscale(0%);
            filter: brightness(1) grayscale(0%);
  }
  50% {
    filter: url('data:image/svg+xml;charset=utf-8,#filter');
    -webkit-filter: brightness(0.3) grayscale(1);
            filter: brightness(0.3) grayscale(1);
  }
  100% {
   filter: url('data:image/svg+xml;charset=utf-8,#filter');
   -webkit-filter: brightness(1) grayscale(0%);
           filter: brightness(1) grayscale(0%);
  }
}

@-webkit-keyframes orbit {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes orbit {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/*whitebox*/
.aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.whiteboxloader {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: calc(100vh - 150px);
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.ball-clip-rotate-pulse {
  position: relative;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
}

.ball-clip-rotate-pulse > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}

.ball-clip-rotate-pulse > div:first-child {
  background: #fff;
  height: 16px;
  width: 16px;
  top: 6px;
  left: -8px;
  -webkit-animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -1px;
  background: transparent;
  border: 2px solid;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) scale(1);
    transform: rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(0.6);
    transform: rotateZ(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(1);
    transform: rotateZ(360deg) scale(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) scale(1);
    transform: rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(0.6);
    transform: rotateZ(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(1);
    transform: rotateZ(360deg) scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
