/*Rancher Branded*/
.loader {
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  -webkit-tap-highlight-color: transparent;
}

.orbit {
  position: absolute;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  border: dotted rgba(255,255,255,.25) 3px;
  border-radius: 50%;
  animation: orbit 4s linear infinite; 
}

.sun {
  background: $yellowDark;
  top: 110px;
  left: -25px;
}

.moon {
  background: $midGray;
  bottom: 110px;
  right: -25px;
}

.moon,
.sun {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loadfield {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 40px;
  background: -webkit-linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  background: linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  border-radius: 50%;
}

.loadfield:before {
  content: "";
  background: -webkit-linear-gradient(top, #333 0%, #333 50%, #444 50%, #444 100%);
  background: linear-gradient(top, #333 0%, #333 50%, #444 50%, #444 100%);
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: fade 5s ease-in-out infinite;
  border-radius: 50%;
}
.cow {
  font-size: 85px;
  text-align: center;
  color: $primary;
  margin: 60px auto;
  // height: 40px;
  position: relative;
  // left: 30%;
  z-index: 5;
}

.head {
  fill: #0A75A8;
  stroke: rgba(0, 0, 0, .25);
  margin: 0 auto;
}

.body {
  fill: #0A75A8;
  margin: 0 auto;
}

.head {
  // animation: head ease-in-out 3s;
  // animation-iteration-count: infinite;
  // transform-origin: 50% 50%;
  // animation-fill-mode: forwards;
}

@keyframes head {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 10px) rotate(10deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
  100% {
   opacity: 0;
   filter: alpha(opacity=0);
  }
}

@keyframes orbit {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*whitebox*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ball-clip-rotate-pulse {
  position: relative;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.ball-clip-rotate-pulse > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}

.ball-clip-rotate-pulse > div:first-child {
  background: #fff;
  height: 16px;
  width: 16px;
  top: 6px;
  left: -8px;
  -webkit-animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -1px;
  background: transparent;
  border: 2px solid;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}