/*Rancher Branded*/
.loader {
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: calc(50vh - 200px) auto;
  -webkit-tap-highlight-color: transparent;
}

.orbit {
  position: absolute;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  border: dotted rgba(255,255,255,.25) 3px;
  border-radius: 50%;
  animation: orbit 20s linear infinite; 
}

.sun {
  background: $yellowDark;
  top: 110px;
  left: -25px;
}

.moon {
  background: $midGray;
  bottom: 110px;
  right: -25px;
}

.moon,
.sun {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.grass {
  content: "";
  background: linear-gradient(-45deg, #a5c63b 5px, transparent 0), linear-gradient(45deg, #a5c63b 5px, transparent 0);
  background-position: left-bottom;
  background-repeat: repeat-x;
  background-size: 10px 10px;
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 10px;
}

.loadfield {
  position: absolute;
  width: 200px;
  height: 200px;
  margin: 45px;
/*   background: linear-gradient(top, #d3edf8 0%, #d3edf8 25%, #a5c63b 25%, #a5c63b 50%, #444 50%, #444 75%, #333 75%, #333 100%); */
  background: linear-gradient(top, #d3edf8 0%, #d3edf8 50%, #a5c63b 50%, #a5c63b 100%);
  /* W3C */
/*   background-size: 200% 200%; */
/*   animation: ColorBG 5s ease-in-out infinite; */
  border-radius: 50%;
  animation: fade 30s ease-in-out infinite;
}

/* .loadfield:before {
  content: "";
  background: linear-gradient(top, #333 0%, #333 50%, #444 50%, #444 100%);
  position: absolute;
  width: 200px;
  height: 200px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: fade 30s ease-in-out infinite;
  border-radius: 50%;
} */
.cow {
  width: 90px;
  text-align: center;
  margin: 75px auto;
  height: 40px;
  position: absolute;
  left: 30%;
  z-index: 5;
}

.head {
  fill: #0A75A8;
  stroke: rgba(0, 0, 0, .25);
  margin: 0 auto;
}

.body {
  fill: #0A75A8;
  margin: 0 auto;
}

.head {
  animation: head ease-in-out 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: head ease-in-out 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: head ease-in-out 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: head ease-in-out 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: head ease-in-out 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes head {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, 10px) rotate(10deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes fade {
  0% {
    filter: brightness(1) grayscale(0%);
  }
  50% {
    filter: brightness(0.3) grayscale(1);
  }
  100% {
   filter: brightness(1) grayscale(0%);
  }
}

@keyframes orbit {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*whitebox*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
  height: 200px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ball-clip-rotate-pulse {
  position: relative;
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.ball-clip-rotate-pulse > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}

.ball-clip-rotate-pulse > div:first-child {
  background: #fff;
  height: 16px;
  width: 16px;
  top: 6px;
  left: -8px;
  -webkit-animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: scale 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
}

.ball-clip-rotate-pulse > div:last-child {
  position: absolute;
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -1px;
  background: transparent;
  border: 2px solid;
  border-color: #fff transparent #fff transparent;
  -webkit-animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  animation: rotate 1s 0s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}