.option {
  position: relative;

  h2 {
    margin: 0;
    padding: 20px 20px 75px 20px;
    background: $accent-border;
  }

  .box {
    padding: 75px 40px 40px 40px;
  }

  .bubble {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: calc(50% - 62.5px);
  }
}
