.option {
  position: relative;

  h2 {
    margin: 0;
    padding: 20px 20px 75px 20px;
    background: $accent-border;
  }

  .box {
    padding: 75px 40px 40px 40px;
    min-height: 430px;
    position: relative;
  }

  .links {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
  }

  .bubble {
    width: 125px;
    height: 125px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: calc(50% - 62.5px);
  }

  .fake-list {
    display: inline-block;
    text-align: left;

    .item:before {
      font-family: rancher-icons;
      content: $icon-circle;
      padding-right: 7px;
      vertical-align: middle;
      font-size: 4px;
    }
  }
}
