.orchestration-driver {
  &.kubernetes {
    background-image: url('images/providers/kubernetes.svg');
  }

  &.swarm {
    background-image: url('images/providers/swarm.svg');
  }

  &.rancher {
    background-image: url('images/logos/provider-orchestration.svg');
  }
}
