.summary-shown {
  margin-bottom: 320px;
}

.btn-group{
  &.no-wrap {
    white-space: no-wrap;
    .btn {
      float: none;
      display:inline-block;
      margin-left: -4px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
.service-addtl-info {
  overflow: visible !important;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 260px;
  background-color: $tab-active-bg;
  width: 100%;
  box-shadow: 0px -1px 14px $shadow;
  z-index: 4;
  font-size: 13px;
  &.collapse {
    height: 0;
  }
  .list-labels {
    font-size: 11px;
  }
  hr {
    border-color: $page-header-border-color;
    margin: 5px 0;
  }
  .tab-content {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .tab-content,
  .tab-pane {
    height: 100%;
  }
  .nav-tabs > li.active > a:focus {
    background: $tab-active-bg;
  }
  table {
    &.tight {
      th,
      td {
        font-size: 11px;
      }
    }
  }
  ul.nav-tabs {
    position: absolute;
    top: -38px;
    left: 15px;
    border-bottom: none;
    li {
      &.active {
        background: $well-bg;
      }
      a {
        max-width: 125px;
      }
    }
    .close {
      position: absolute;
      top: -10px;
      background: $red;
      color: white;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      text-align: center;
      padding-top: 0.2em;
      z-index: 10;
      opacity: 1;
      left: -10px;
      font-size: 12px;
    }
  }
  .description {
    @extend .clip;
    padding: 5px 25px 0 25px;
    div:first-of-type {
      padding-top: 2px;
    }
  }
  .inner {
    display: table;
    table-layout: fixed;
    height: 240px;
    width: 100%;
    padding-top: 10px;
  }
  .container-dots {
    height: 165px;
  }
  div[class*='col-'] {
    height: 100%;
  }
  .content-box {
    padding: 5px 5px 15px 15px;
    &:last-child {
      .content {
        border-right: none;
      }

    }
  }
  .content {
    height: 100%;
    padding: 10px 0;
    border-right: 1px solid $table-border-color;
    max-height: 215px;
    overflow-y: auto;
  }
  .state {
    h3 {
      display: inline-block;
      width: 40%;
      vertical-align: middle;
    }
  }
  .action-menu {
    margin-right: 15px;
  }
}
