.auth-driver {
  &.activedirectory {
    background-image: url('images/providers/activedirectory.svg');
  }

  &.azuread {
    background-image: url('images/providers/azuread.svg');
  }

  &.github {
    background-image: url('images/providers/github.svg');
  }

  &.local {
    background-image: url('images/logos/provider-local.svg');
  }

  &.openldap {
    background-image: url('images/providers/openldap.svg');
  }
  &.shibboleth {
    background-image: url('images/providers/shibboleth.svg');
  }
}
