.auth-driver {
  &.github {
    background-image: url('images/providers/github.svg');
  }

  &.activedirectory {
    background-image: url('images/providers/activedirectory.svg');
  }

  &.openldap {
    background-image: url('images/providers/openldap.svg');
  }

  &.local {
    background-image: url('images/logos/provider-local.svg');
  }
}
