.stack-graph {
  SECTION.header {
    position: relative;
    z-index: 4;
  }
}

#stack-svg {
  position: absolute;
  top: 115px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;

  .node {
    &.crosslink {
      stroke-dasharray: 5,5;
    }

    &.success rect {
      stroke: $success;
    }

    &.info rect {
      stroke: $info;
    }

    &.warning rect {
      stroke: $warning;
    }

    &.danger rect {
      stroke: $error;
    }

    .highlighted {
      box-shadow: 2px 2px 10px $primary-dark;
    }

    g {
      foreignobject {
        overflow: visible;
      }

      div {
        width: 110px;
        height: 70px;
        padding: 2px 5px 0 5px;
        color: $text-color;

        $dark: $accent-two;
        $light: $body-bg;

        background: $light; /* Old browsers */
        background: -moz-linear-gradient(top, $dark 0%, $dark 50%, $light 51%, $light 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$dark), color-stop(50%,$dark), color-stop(51%,$light), color-stop(100%,$light)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, $dark 0%,$dark 50%,$light 51%,$light 100%); /* IE10+ */
        background: linear-gradient(to bottom, $dark 0%,$dark 50%,$light 51%,$light 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark', endColorstr='$light',GradientType=0 ); /* IE6-9 */
      }
    }

    .label {
      color: $text-color;
      display: initial;
      padding: initial;
      font-size: initial;
      font-weight: initial;
      line-height: initial;
      color: initial;
      text-align: center;
      white-space: initial;
      vertical-align: initial;
      border-radius: initial;

      tspan {
        fill: $body-bg;
      }

      I.icon {
        display: block;
        line-height: 0;
        font-size: 12px;
        padding: 8px 0 4px 0;
      }

      H4 {
        font-size: 13px;
      }

      .count {
        padding: 7px 0 4px 0;
        font-size: 12px;
      }

      .state {
        color: white;
        padding: 0 5px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;

        &.success {
          background-color: $success;
        }

        &.info {
          background-color: $info;
        }

        &.warning {
          background-color: $warning;
        }

        &.danger {
          background-color: $error;
        }
      }
    }

    rect {
      fill: #fff;
      stroke-width: 2pt;
      color: $text-color;
    }
  }

  .edgePath {
    path.path {
      stroke: $accent-three;
      fill: none;
      stroke-width: 1pt;
    }

    &.success path.path {
      stroke: $success;
    }
    &.info path.path {
      stroke: $info;
    }
    &.warning path.path {
      stroke: $warning;
    }
    &.danger path.path {
      stroke: $error;
    }
  }
  marker path {
    &.success-fill {
      fill: $success;
    }
    &.info-fill {
      fill: $info;
    }
    &.warning-fill {
      fill: $warning;
    }
    &.danger-fill {
      fill: $error;
    }
  }
}

#chart-svg {
  @extend #stack-svg;
  min-height: 80vh;
  .node {
    background-color: white;
    box-shadow: 1px 2px 10px $light-grey;
    .state {
      position: fixed;
      left: -12px;
      top: 26px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
    }
    .badge {
      margin-right: 5px;
      margin-top: 6px;
      background-color: mix($warning, $error, 20%)-white;
      color: $warning;
    }
    .container-badge {
      width: 100%;
      text-align: center;
    }
    .badge {
      &.service {
        color: $info;
        background-color: $light-grey;
        font-size: 12px;
        padding: 2px 15px;
        text-transform: uppercase;
      }
    }
    .label-sidekick {
      background: light-grey;
      font-size: 10px;
      padding: 1px 13px;
      margin-top: 7px;
      margin-right: 10px;
      color: gray;
      font-weight: 600;
      text-transform: uppercase;
    }
    .title {
      margin-left: 10px;
    }
    .actions {
      margin-right: -5px;
      .btn {
        font-size: 8px;
      }
    }
  }
  .edge-path {
    fill: none;
    stroke: $light-grey;
    stroke-width: 2px;
  }
}
