SECTION.welcome {
  background-color: $well-bg ;
  border-radius: $border-radius-large;


  H2 {
    border-bottom: solid 1px $page-header-border-color;
    color: $brand-info;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  I {
    float: right;
    margin: 50px;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
    color: $brand-info;
  }
}

.modal-welcome {
  background-color: rgba($brand-info, .5);
  background-image: url(images/logos/welcome-scene.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;

  &.about {
    // position: relative;
    // padding: 0;
    // border: 0;
  }
}
