SECTION.welcome {
  background-color: $body-bg ;
  border-radius: 3px;


  H2 {
    border-bottom: solid 1px $accent-one;
    color: $info;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  I {
    float: right;
    margin: 50px;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
    color: $info;
  }
}

.modal-telemetry {
  label {
    color: $text-color;
  }
}
