SECTION.welcome {
  background-color: $well-bg ;
  border-radius: $border-radius-large;


  H2 {
    border-bottom: solid 1px $page-header-border-color;
    color: $brand-info;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  I {
    float: right;
    margin: 50px;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
    color: $brand-info;
  }
}

.modal-container{
  &.about {
    background-color: lighten($brand-info, 25%);
    position: relative;
    padding: 0;
    border: 0;
  }
}

.modal-welcome {
  .welcome-copy {
    z-index: 103;

    .footer-actions {
      position: relative;
      top: 175px;
      z-index: 104;
    }
  }
  .cow {
    position: absolute;
    bottom: 75px;
    left: 177px;
    z-index: 102;
    img {
      width: 150px;
    }
  }
  .backhill {
    position: relative;
  }
  .fronthill {
    position: absolute;
    z-index: 101;
  }
  .backhill, .fronthill {
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .welcomesun {
    position: absolute;
    bottom: 155px;
    left: 450px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    // animation: sun 15s infinite;

    .sun {
      width: 200px;
      height: auto;

      &:after {

      }

    }
  }
}

  @keyframes sun {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
  }
