SECTION.welcome {
  margin: 30px;
  background-color: $well-bg ;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  // color: $tealTwo;
  padding: 10px 0 50px 50px;
  border-radius: $border-radius-large;


  H2 {
    // font-weight: $bold-weight;
    margin-bottom: 20px;
    padding: 20px 20px 20px 0;
    border-bottom: solid 1px $page-header-border-color;
    color: $brand-info;
    margin-right: 300px;
  }

  P {
    margin-bottom: 20px;
    margin-right: 300px;
  }

  I {
    float: right;
    margin: 50px;
    font-size: 150px;
    width: 200px;
    text-align: center;
    display: inline-block;
    color: $brand-info;
  }
}
