<section class="header">
  <h1>Settings</h1>
</section>

<section class="well">
  {{host-settings initialValue=model.host saved="savedHost"}}
</section>

{{#unless backToAdd}}
  <section class="well">
    {{catalog-settings catalog=model.catalog}}
  </section>

  <section class="well">
    {{virtual-machine-settings virtualMachine=model.vm}}
  </section>

  <section class="well">
    {{dynamic-driver-settings drivers=model.machineDrivers}}
  </section>
{{/unless}}

