<div class="row">
  {{#unless fullscreen}}
    <div class="col span-4 sticky">
      {{build-stages
        stageInfo=activity.pipelineConfig.stages
        body=activity.stages
        stageIndexLog=logIndex.stageIndex
        stepIndexLog=logIndex.stepIndex
        logKeyChanged=(action "logKeyChanged")
        activity=activity
        sortBy=sortBy
        bulkActions=true
        search=true
        paging=true
        showHost=true
        showInstanceState=false
        groupByKey=groupBy
        groupByRef="stack"
      }}
    </div>
  {{/unless}}
  <div class="{{if fullscreen "col span-12 pull-right" "col span-8 pull-right"}} inline-block">
    {{log-view
      activity=activity
      logIndex=logIndex
      toggleLogMode=(action "toggleLogMode")
    }}
  </div>
</div>