
{{#tooltip-element type="tooltip-basic" model=tooltipContent tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" inlineBlock=false}}
  <div class="progress">
    <div class="progress-bar {{colorClass}}"></div>
  </div>
{{/tooltip-element}}