<div class="cy-toolbar">
  <div class="cy-toolbar-group">
    <div class="btn-group">
      <span class="btn btn-sm bg-default cy-btn" {{action "zoomIn"}}>
        <i class="icon icon-plus"></i>
      </span>
      <span class="btn btn-sm bg-default cy-btn" {{action "zoomOut"}}>
        <i class="icon icon-minus"></i>
      </span>
    </div>
  </div>
</div>
