{{#unless model.hosts.length}}
  <section class="welcome">
    <i class="icon icon-host"></i>
    <h2>Adding your first Host</h2>
    <p>
      Before adding your first service or launching a container, you must add at least a single Linux host that supports Docker 1.6+ and be able to reach the Rancher server via HTTP.
      Rancher supports adding Linux hosts in the form of a virtual or physical machine from any public cloud providers, privately hosted clouds, or even bare metal servers.
      <a href="http://docs.rancher.com/rancher/rancher-ui/infrastructure/hosts/" target="_blank">Learn More</a>
    </p>
    {{#link-to "hosts.new" class="btn btn-default"}}Add Host{{/link-to}}
  </section>
{{/unless}}

{{#unless model.services.length}}
  <section class="welcome alt">
    <i class="icon icon-globe"></i>
    <h2>Adding your first Service</h2>
    <p>
      A service is simply a group of containers created from the same Docker image but extends Docker's &quot;link&quot; concept to leverage Rancher's lightweight distributed DNS service for service discovery.
      Services can be added individually or by deploying an item from the Catalog.
      A service is also capable of leveraging other Rancher built-in services such as load balancers, health monitoring, upgrade support, and high-availability.
      <a href="http://docs.rancher.com/rancher/rancher-ui/applications/stacks/adding-services/" target="_blank">Learn More</a>
    </p>
    <a class="btn btn-default" {{action "newService"}}>Add Service</a>
    {{#link-to "applications-tab.catalog" class="btn btn-default"}}Add From Catalog{{/link-to}}
  </section>
{{/unless}}
