<div class="welcome-copy">
  <h1>What's New</h1>

  <ul>
    <li>Fleet - GitOps at Scale</li>
    <li>EKS Cluster enhancements</li>
    <li>Monitoring v2</li>
    <li>Logging v2</li>
    <li>CIS v2</li>
    <li>Istio</li>
    <li>Rancher Backup / Restore Operator</li>
    <li>New single binary Rancher install</li>
    <li>Registered Cluster support</li>
    <li>New Cluster Explorer view</li>
  </ul>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
  </div>
</div>
