<td class="pr-10">
  {{resource-quota-select currentQuota=currentQuota editing=editing quota=quota}}
</td>
<td class="pr-10">
  {{input-resource-quota editing=editing quota=quota key="projectLimit"}}
</td>
<td class="pr-10">
  {{input-resource-quota editing=editing quota=quota key="namespaceLimit"}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  {{#if editing}}
    <button class="btn bg-primary btn-sm" {{action remove quota}}>
      <i class="icon icon-minus" />
    </button>
  {{/if}}
</div>