<div class="row">
  <div class="col span-6">
    <table>
      <tr>
        <td colspan="2" class="text-bold">General Navigation</td>
      </tr>
      <tr>
        <td width="30">A</td>
        <td>"Apps" page</td>
      </tr>
      <tr>
        <td width="30">C</td>
        <td>"Containers" page</td>
      </tr>
      <tr>
        <td width="30">D</td>
        <td>"DNS" page</td>
      </tr>
      <tr>
        <td width="30">E</td>
        <td>"Manage Environments" page</td>
      </tr>
      <tr>
        <td width="30">H</td>
        <td>"Hosts" page</td>
      </tr>
      <tr>
        <td width="30">K</td>
        <td>"API Keys" page</td>
      </tr>
      <tr>
        <td width="30">L</td>
        <td>"Load Balancers" page</td>
      </tr>
      <tr>
        <td width="30">S</td>
        <td>"Scaling Groups" page</td>
      </tr>
      <tr>
        <td width="30">?</td>
        <td>You are here</td>
      </tr>
    </table>
  </div>
  <div class="col span-6">
    <table>
      <tr>
        <td colspan="2" class="text-bold">Other Stuff</td>
      </tr>
      <tr>
        <td width="30">G</td>
        <td>Toggle View Grouping</td>
      </tr>
      <tr>
        <td width="30">Shift+S</td>
        <td>Toggle "Show System"</td>
      </tr>
    </table>
  </div>
</div>

<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
</div>
