<div class="horizontal-form well">
  {{form-scheduling
    initialHostId=model.container.requestedHostId
    initialLabels=model.container.labels
    allHosts=model.hosts
    editing=false
  }}
</div>
