<div class="{{unless advanced "hide"}}">
  {{yield advanced}}
</div>
<div class="text-right text-small">
  <button class="btn bg-transparent p-0" type="button" {{action "toggle"}}>{{t (if advanced "advancedSection.hideText" "advancedSection.showText")}}</button>
</div>
