<h2>{{t 'tableCountSelect.header'}}</h2>
<hr/>

<div class="row inline-form">
  <div class="row">
    {{new-select
      classNames="col span-3 form-control"
      optionValuePath="value"
      optionLabelPath="value"
      content=tableCounts
      value=selectedCount
    }}
    {{save-cancel classNames="col span-3 pull-right" save="save" createLabel='generic.save' cancelDisabled=true}}
  </div>
</div>