<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.instance'}}</label>
  {{hostOptions.size}}
</div>
<hr/>
<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.zone'}}</label>
  {{hostOptions.region}}
</div>