<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.zone'}}</label>
  {{hostOptions.region}}
</div>
<hr/>
<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.instance'}}</label>
  {{hostOptions.flavorId}}
</div>