<div class="inline-form">
  <div class="col-inline">
    <label>{{t 'formImage.label'}}*</label>
  </div>

  {{input-suggest
    value=userInput
    grouped=suggestions
    placeholder=(t 'formImage.container.placeholder')
  }}
</div>
