<label class="acc-label">
<div class="pb-5">{{t 'formImage.label'}}{{field-required}}</div>

{{input-suggest
  value=userInput
  grouped=suggestions
  placeholder=(t 'formImage.container.placeholder')
}}
</label>