<div>
  <label class="acc-label">
    {{t 'formImage.label'}}{{field-required}}
  </label>
</div>
<div>
  {{input-suggest
    value=userInput
    grouped=suggestions
    placeholder=(t 'formImage.container.placeholder')
  }}
</div>
