<section class="header">
  <ol class="breadcrumb">
    <li class="active">Storage Pools</li>
  </ol>
</section>

<section>
  <div class="well">
    {{#each usefulPools as |pool|}}
      {{storagepool-section model=pool}}
    {{else}}
      <div class="text-muted text-center">No storage pools</div>
    {{/each}}
  </div>
</section>
