<section class="header">
  <ol class="breadcrumb">
    {{#link-to "infrastructure-tab" tagName="li" href=false}}<a>Infrastructure</a>{{/link-to}}
    <li class="active">Storage Pools</li>
  </ol>
</section>

<section>
  <div class="well">
    {{#each usefulPools as |pool|}}
      {{storagepool-section model=pool}}
    {{/each}}
  </div>
</section>
