<section class="header">
  <ol class="breadcrumb">
    <li class="active">Storage Pools</li>
  </ol>
</section>

<section>
  <div class="well">
    {{#each usefulPools as |pool|}}
      {{storagepool-section model=pool}}
    {{/each}}
  </div>
</section>
