<section class="header">
  <h1>
    Storage Pools
  </h1>
</section>

{{#each usefulPools as |pool|}}
  <section class="well">
    {{storagepool-section model=pool}}
  </section>
{{else}}
  <section>
    <div class="text-muted text-center">No storage pools</div>
  </section>
{{/each}}
