<section class="header">
  <h1>{{t 'storagePoolsPage.index.header'}}</h1>
</section>

{{#each usefulPools as |pool|}}
  <section class="well">
    {{storagepool-section model=pool}}
  </section>
{{else}}
  <section>
    <div class="text-muted text-center">{{t 'storagePoolsPage.index.noData'}}</div>
  </section>
{{/each}}
