<section class="header">
  <h1 class="breadcrumb">
    Storage Pools
  </h1>
</section>

<section>
  <div class="well">
    {{#each usefulPools as |pool|}}
      {{storagepool-section model=pool}}
    {{else}}
      <div class="text-muted text-center">No storage pools</div>
    {{/each}}
  </div>
</section>
