<div class="btn-group pull-right">
  {{#link-to "environment.index" classNames="btn btn-sm btn-default"}}<i class="ss-thumbnails"></i>{{/link-to}}
  {{#link-to "environment.graph" classNames="btn btn-sm btn-default"}}<i class="ss-share"></i>{{/link-to}}
  {{#link-to "environment.code" classNames="btn btn-sm btn-default"}}<i class="ss-file"></i>{{/link-to}}
</div>
{{#if model.canActivate}}
  <button class="btn btn-sm btn-primary" {{action "activateServices" target=model}}><i class="ss-up"></i> Start Services</button>
{{/if}}
{{#if model.canDeactivate}}
  <button class="btn btn-sm btn-danger" {{action "deactivateServices" target=model}}><i class="ss-down"></i> Stop Services</button>
{{/if}}
<button class="btn btn-sm btn-default" {{action "exportConfig" target=model}}><i class="ss-download"></i> Export Config</button>
