footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: $footer;

  & a {
    padding-right: 10px;
  }

  & .btn-link {

    &:hover, &:focus {
      color: $midGrayDark;
    }

  }
}
