@media (min-width: $screen-lg) {
  HEADER NAV.navbar .nav > LI > A {
    padding: 0 20px;
  }

  .col-lg-height {
    display: table-cell;
    float: none !important;
  }

  .col-lg-full-height {
    height: 100%;
  }
}