<div class="anchor-top"></div>
<div class="log-actions">
  <div class="btn-group btn-group-xs p-0">
    <button class="btn btn-xs" {{action "toggleLogMode"}}>
      {{#if fullscreen}}
        <i class="icon icon-chevron-end icon-fw"/>
      {{else}}
        <i class="icon icon-chevron-beginning icon-fw"/>
      {{/if}}
    </button>
    <button class="btn btn-xs" {{action "scrollToTop"}}><i class="icon icon-chevron-up icon-fw"/></button>
    <button style="margin-left: -1px;" {{action "scrollToBottom"}} class="btn btn-xs"><i class="icon icon-chevron-down icon-fw"/></button>
  </div>
</div>
<pre class="log-body" style="margin:0; font-size: 80%; color: whitesmoke;margin-top: -24px;"></pre>
<div class="anchor-bottom"></div>