<div class="modal-content">
  <p>{{t 'editCluster.modal.onCluster'}}</p>
</div>
<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
</div>
