<ol>
  <li>Start up a Linux machine somewhere and install the latest version of <a href="http://www.docker.com/" target="_blank">Docker</a> on it.</li>
  <li>Make sure any security groups or firewalls allow traffic from the internet to <code>TCP</code> ports <code>9345</code> and <code>9346</code>.</li>
  <li>Copy, paste, and run the command below to register the host with Rancher:
    {{#if registrationCommand}}
      <div class="copy-pre"><pre>{{registrationCommand}}</pre>{{zero-clipboard text=registrationCommand block=true label=false}}</div>
    {{else}}
      <div><i class="fa fa-gear fa-spin"></i> Generating registration URL...</div>
    {{/if}}
  </li>
  <li>Close this window.  The new host should pop up on the {{#link-to "hosts"}}Hosts{{/link-to}} screen within a minute.</li>
</ol>

<div class="footer-actions">
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>
