<section class="header has-tabs clearfix">
  <h1>{{t 'projectList.index.header'}}</h1>

  <div class="right-buttons">
    {{#link-to "settings.projects.new" class="btn btn-sm bg-primary"}}{{t 'projectList.index.new'}}{{/link-to}}
  </div>
</section>

{{project-list model=model.projects}}
