<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.photonPersistentDisk.pdID.label'}}</label>
    {{#input-or-display editable=editing value=config.pdID}}
      {{input type="text" value=config.pdID classNames="form-control" placeholder=(t 'cruPersistentVolume.photonPersistentDisk.pdID.placeholder')}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.photonPersistentDisk.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.photonPersistentDisk.fsType.placeholder')}}
    {{/input-or-display}}
  </div>
</div>