{{#if settings.rancherVersion}}
	<a href="#" {{action "showAbout"}} aria-label="About Rancher">{{settings.rancherVersion}}</a>
{{/if}}

<a class="btn btn-sm btn-link" target="blank" href="http://docs.rancher.com/rancher/">Documentation</a>
<a class="btn btn-sm btn-link" target="blank" href="http://docs.rancher.com/rancher/faqs/">FAQs</a>
<a class="btn btn-sm btn-link" target="blank" href="https://github.com/rancher/rancher/issues">File an Issue</a>
<a class="btn btn-sm btn-link" target="blank" href="http://forums.rancher.com/">Forums</a>