<a target="blank" href="http://docs.rancher.com/rancher/">Documentation</a>
<a target="blank" href="http://docs.rancher.com/rancher/faqs/">FAQs</a>
<a target="blank" href="https://github.com/rancher/rancher/issues">File an Issue</a>
<a target="blank" href="http://forums.rancher.com/">Forums</a>

<div class="pull-right">
 {{#if settings.rancherVersion}}
    <a {{action "showAbout"}} aria-label="About Rancher">Version</a>
    {{settings.rancherVersion}}
 {{/if}}
</div>