{{#link-to 'catalog-tab'project.id (query-params catalogId='all')}}<i class="icon icon-catalog"></i>All{{/link-to}}
{{#link-to 'catalog-tab' project.id (query-params catalogId='community')}}<i class="icon icon-globe"></i>Community{{/link-to}}
{{#if (gt customCatalogs.length 1)}}
  <span class="dropdown">
    <a href="#" class=" dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-users"></i>More...<i class="icon icon-chevron-down" style="display:inline-block;font-size:12px;"></i></a>
    <ul class="dropdown-menu" role="menu">
      <li role="presentation" class="dropdown-header">
        Select Custom Catalog
      </li>
      {{#each-in customCatalogs as |key catalog|}}
        <li>
          {{#link-to 'catalog-tab' project.id (query-params catalogId=catalog.id)}}{{catalog.id}}{{/link-to}}
        </li>
      {{/each-in}}
    </ul>
  </span>
{{else}}
  {{#each-in customCatalogs as |key catalog|}}
      {{#link-to 'catalog-tab' project.id (query-params catalogId=catalog.id)}}<i class="icon icon-users"></i>{{catalog.id}}{{/link-to}}
  {{/each-in}}
{{/if}}
