<a href="#"><i class="icon icon-network"></i>All</a>
<a href="#"><i class="icon icon-rancher-cow"></i>Library</a>
<a href="#"><i class="icon icon-users"></i>Community</a>
<a href="#"><i class="icon icon-files"></i>Custom 1</a>
<a href="#"><i class="icon icon-files"></i>Custom 2</a>
