<div class="col span-6 offset-3 text-center pt-40 pb-40">
  <img style="width: 75%;" src="{{app.baseAssets}}assets/images/resources/{{resource}}.svg"/>
  {{#if showNew}}
    <br/>
    <a class="btn bg-link icon-btn mt-50" href="{{href-to newRoute}}">
      <span class="darken"><i class="icon icon-plus text-small"></i></span>
      <span>{{t newTranslationKey}}</span>
    </a>
  {{/if}}
</div>
