<div class="{{if textMuted 'text-muted' }} clip">
  {{#if (and model.externalIpAddress (not-eq model.externalIpAddress model.ipAddress))}}
    {{#copy-to-clipboard clipboardText=model.externalIpAddress size="small"}}
      {{format-ip model.externalIpAddress}}
    {{/copy-to-clipboard}}
    &nbsp;/&nbsp;
  {{/if}}
  {{#if model.ipAddress}}
    {{#copy-to-clipboard clipboardText=model.ipAddress size="small"}}
      {{format-ip model.ipAddress}}
    {{/copy-to-clipboard}}
  {{/if}}
</div>