<td>
  {{searchable-select content=choices value=role.value}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  <button class="btn bg-primary btn-sm" {{action "remove"}}><i class="icon icon-minus"/></button>
</div>
