<div class="header">
  <h2>Additional Log Info</h2>
  <hr>
</div>
<div class="r-mb15" style="max-height: 400px; overflow: auto;">
  <h3>Request Object:</h3>
  <div style="max-height: 400px; overflow: auto;">
    <pre class="line-numbers language-javascript contrained"><code class="language-javascript">{{requestJSON}}</code></pre>
  </div>
</div>
<div class="r-mb15">
  <h3>Response Object:</h3>
  <div style="max-height: 400px; overflow: auto;">
    <pre class="line-numbers language-javascript contrained"><code class="language-javascript">{{responseJSON}}</code></pre>
  </div>
</div>
<div class="r-mb20 text-center">
  <button class="btn btn-danger" {{action 'dismiss'}}>Dismiss</button>
</div>
