{{#each fieldsGroup as |fields|}}
  <div class="row mb-20">
    {{#each fields as |field|}}
    <div class="col span-4">
      <label class="acc-label">{{t (concat 'cruStorageClass.' provisioner '.' field '.label')}}</label>
      {{#input-or-display editable=editing value=(get model field)}}
        {{input type="text" value=(get model field) classNames="form-control" placeholder=(t (concat 'cruStorageClass.' provisioner '.' field '.placeholder'))}}
      {{/input-or-display}}
    </div>
    {{/each}}
  </div>
{{/each}}