<div class="container-stack-card text-center">
  <div class="stack-card-icon">
    {{!-- Implements a generic icon --}}
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/AWS_Simple_Icons_Deployment_Management_AWS_CloudFormation_Stack.svg"/>
  </div>
  <div class="itemwrap">
    <h5>
      {{#link-to "environment" model.id}}{{model.name}}{{/link-to}}
    </h5>
    <hr class="r-m10" />
    <div class="stack-state {{model.stateBackground}}">
      <i class="{{model.stateIcon}}"></i> {{model.displayState}}
    </div>
  </div>
</div>
