<section>
  {{cloud-host-add-or-edit
      machineTemplate=model.template
      driver=model.driver
      cluster=model.cluster
      goBack=(action 'goBack')
      save=(action 'launch')
  }}
</section>
