.container-flex {
  display: flex;
  flex-wrap: wrap;
  &.bordered {

    &:first-child .col-flex {
    border-top: none;
    }
    .col-flex {
      padding: 12px 0 5px 10px;
      min-height: 45px;
      min-width: 250px;

      border-right: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;

      LABEL {
        margin: 0;
      }
    }
  }
}
.col-flex {
  flex: 1;
  &.description {
    overflow: hidden;
    word-wrap: break-word;
  }
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -0.5em 0 -0.5em;
}
.flex-item-half {
  flex-grow: 1;
  display: flex;
  width: 50%;
}
.flex-item-third {
  flex-grow: 1;
  display: flex;
  padding: 0 0.5em 0 0.5em;
  margin-top: 10px;
  width: 33.33%;
  min-width: 250px;
}

.flex-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  &.well {
    margin-bottom: 0;
  }
}
.flex-content p {
  flex: 1 0 auto;
}
