.container-flex {
  display: flex;
  flex-wrap: wrap;
  &.bordered {
    .col-flex {
      padding: 12px 0 5px 10px;
      min-height: 45px;
      min-width: 250px;

      border-right: 1px solid $lightGray;
      border-top: 1px solid $lightGray;

      LABEL {
        margin: 0;
      }
    }
  }
}
.col-flex {
  flex: 1;
  &.description {
    overflow: hidden;
    word-wrap: break-word;
  }
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  display: flex;
  padding: 0.5em;
  width: 33.33%;
}

.flex-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.flex-content p {
  flex: 1 0 auto;
}
