footer {
  margin: 0 20px 20px 20px;
  padding: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
  border-top: solid 2px $lightGray;

  & a {
    padding-right: 10px;
  }
}
