// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

 FOOTER {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  background-color: $footer;
  width: 100%;

  & a {
    padding-right: 10px;
  }

  & .btn-link {

    &:hover, &:focus {
      color: $link-hover-color;
    }

  }
}