// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
  clear: both;
}

.searchable {
  position: relative;

  .icon-search {
    position: absolute;
    top: 10px;
    left: 10px;

  }

  .input-sm {
    padding: 3px 0 3px 35px;
  }
}

.header {
  border-bottom: solid 2px $accent-one;
  padding: 15px 0;

  h1 {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  & > * {
    display        : inline-block;
    vertical-align : middle;
  }

  & h1 {
    font-size     : 21px;
    margin-right  : 10px;
  }
}