///768
@media only screen and (min-width: map-get($breakpoints, large)) {
  MAIN {
    &.sidebar {
      &.hide-menu {
        left: 0;
      }
      overflow: scroll;
      position: absolute;
      top: $topbar-height;
      left: $sidebar-width;
      bottom: 0;
      right: 0;
      width: auto;
      padding: 0 15px 15px 15px;
    }
  }

  .page-top {
    &.sidebar {
      display: block;
    }
  }

  .page-header {
    &.sidebar {
      display: none;
    }
  }
  
  footer {  
    &.sidebar {
      display: none;
    }
  }
}

@media only screen and (min-width: ($max-width+16)) {
  html {
    overflow-y: scroll;
  }
}
