/**********
* Body
**********/
HTML {
  height: 100%;
}

BODY {
  direction: ltr;
  background-color : $body-bg;
  min-height       : 100%;
  font-weight      : $normal-weight;
  position         : relative;

  &.no-spin .icon-spin {
    -webkit-animation : none;
    animation         : none;
  };
}

H4,
H5 {
  color: $midGray;
}

ol {
  &.alphalist {
    list-style-type: lower-alpha;

    ul {
      padding-left: 5px;
    }

    li {
      padding: 8px;

       li {
          margin: 5px;
          background-color: $accent-two;
          list-style-type: none;
          border-left: solid thick $primary;
        }
    }
  }
}

.alphalist {
  list-style-type: lower-alpha;
  }

.comma-seperated-list {
  span:after {
    content: ',';

  }
  span:last-of-type:after {
    content: ''
  }


}

.authenticated, #application {
  padding-bottom : 150px;
}

B {
  font-weight : $bold-weight;
}

.farm {
  background-color : $midGray;
}

/**********
* Articles (above the page info/warnings)
**********/
.articles {
  position         : relative;
  z-index          : 3;
  background-color : white;


  ARTICLE {
    position   : relative;
    padding    : 7px 10px;
    text-align : center;

    &.close {
      position : absolute;
      cursor   : pointer;
      top      : 0;
      right    : 0;
      bottom   : 0;
      padding  : 8px 10px;
    }

    &.warning {
      background-color : #f15354;
      color            : #f8a9a9;

      A,
      A:hover,
      A:focus,
      A:active,
      A:visited{
        color       : white;
        font-weight : $bold-weight;
      }
    }
  }
}

/**********
* Main body
**********/
MAIN {
  position: relative;

  & > SECTION:first-of-type,
  & > .ember-view > SECTION:first-of-type,
  & > .ember-view > .ember-view > SECTION:first-of-type {
    padding-top : 20px;
  }
}

BODY.white MAIN {
  margin-top    : $main-padding/2;
  margin-right  : $main-padding;
  margin-bottom : $main-padding;
  margin-left   : $main-padding;
  border-radius : 5px;
}

BODY.white MAIN {
  background-color : white;
}

/**********
* Section (within Main)
**********/
SECTION {
  padding : 20px 20px 0 20px;

  &.well {
  margin  : 20px;
  }

  &.tab-section {
  padding : 20px;
  }
}

.overlay SECTION {
  padding: 20px 0 0 0;
}

UL.list-circles {
  @extend .list-unstyled;
  margin-top  : 10px;
  font-weight : $bold-weight;

  &>LI {
    background-image  : url('images/info-bubble.svg');
    background-repeat : no-repeat;
    min-height        : 45px;
    padding-top       : 5px;
    position          : relative;
    padding-left      : 45px;
    font-size         : 14px;

    &>I {
      @extend .no-select;
      position    : absolute;
      top         : 0;
      left        : 0;
      width       : 34px;
      line-height : 38px;
      font-size   : 16px;
      color       : white;
      text-align  : center;
      font-style  : normal;
    }

    &:last-child {
      min-height       : 34px;
      background-image : url('images/info-bubble-last.svg');
    }
  }

  &.list-circles-clear > LI {
    background-image : url('images/info-bubble-clear.svg');
    font-weight      : $normal-weight;
    padding-bottom   : 20px;

    &:last-child {
      background-image : url('images/info-bubble-clear-last.svg');
    }

    &>I {
      color       : #667f85;
      margin      : -2px 0 0 0;
    }
  }
}

UL.with-room {
  li {
    margin : 15px 10px;
  }
}

UL.list-lines {
  @extend .list-unstyled;

  &>LI {
    margin-top    : 5px;
    border-bottom : 1px solid #e8ecf2;
    font-size     : $font-size-small;
    padding       : 5px 0 5px 15px;

    LABEL {
      font-weight   : $normal-weight;
      color         : #9da0ae;
      display       : inline-block;
      width         : 100px;
      margin-bottom : 0;
    }
  }

  LI .btn-xs {
    position : relative;
    top      : -2px;
  }
}

/**********
* Misc common global things
**********/
.footer-actions {
  margin         : 20px 0;
  padding-bottom : 20px;
  text-align     : center;
  position       : relative;
}

.modal-container .footer-actions {
  margin-bottom: 0;
}

.well {
  .footer-actions {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.input-list {
  margin : 5px 0;
}

.loading-overlay {
  position         : absolute;
  top              : 150px;
  left             : 0;
  right            : 0;
  z-index: 13;
}

.underlay {
  z-index: 10;
  background-color: rgba(0,0,0,0.65);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.no-resize {
  resize : none;
}

.fixed {
  table-layout : fixed;
}

.clip {
  text-overflow : ellipsis;
  overflow      : hidden;
  white-space   : nowrap;
  word-wrap     : break-word;
}

.force-wrap {
  word-wrap : break-word;
  white-space: normal;
}

.main-jumbotron {
  min-height          : 300px;
  margin-left         : auto;
  margin-right        : auto;
  margin-bottom       : 0;
  background-repeat   : no-repeat;
  background-position : top center;
  color               : white;
  padding             : 1px 30px;
}

.well {
  border-radius : 1px;
  border        : none;
  box-shadow    : 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow    : 0 0 2px rgba(0, 0, 0, 0.05);

  &.no-padding-margin {
    padding : 0;
    margin  : 0;
  }
}

.radio-well {
  padding   : 10px;
  font-size : 14px;

  LABEL {
    font-weight   : $normal-weight;
    display       : block;
    /* the radio button gets clipped with no padding */
    padding-left  : 2px;
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap;
    word-wrap     : break-word;
  }
}

.text-mono {
  font-family : Consolas, "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace;
}

SECTION .well H5,
.graphs LABEL {
  font-weight   : $normal-weight;
  color         : #da8456;
  display       : block;
  margin-bottom : 5px;
}

TABLE.graphs {
  width        : 100%;
  table-layout : fixed;
}

.farm-box {
  h1 {
    background-color: $brand-primary;
  }

  h1, h2 {
        padding          : 40px 20px;
        color            : white;
        position         : relative;

        .logo {
          position : absolute;
          left     : 0;
          right    : 0;
          bottom   : -37px;
        }
  }

  .btn-primary {
    background-color: $brand-primary;
    color: white;
  }
  SECTION {
    min-width        : 50%;
    background-color : white;
    padding          : 20px;
    .form-control {
      border: solid thin $well-border;
      color: $midGray;
    }
    & .form-group LABEL {
      color: $brand-primary;
    }

    ::-webkit-input-placeholder{
      color: rgba($primary,.4);
    }
  }
}

.hand {
  cursor : pointer;
  cursor : hand;
}

.inline-block {
  display : inline-block;
}
.block {
  display: block;
}

.no-select {
  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;
}


.btn-circle {
  display           : inline-block;
  line-height       : $line-height-base;
  vertical-align    : middle;
  touch-action      : manipulation;
  background-color  : transparent;
  background-repeat : no-repeat;
  padding           : 0;
  border            : 0;
  text-decoration   : none;

  I {
    vertical-align : middle;
    font-size      : 1.5em;
  }

  &[disabled] {
    opacity : 0.5;
  }
}

.btn-circle-text {
  padding: 10px 0;

  @extend .btn-circle;
  font-size : inherit;
  width     : auto;

  i ,
  span {
    display        : inline-block;
    vertical-align : middle;
  }
}

.state {
  max-width        : 100%;

  & > span {
    padding: 5px;
  }

  @extend .clip;

  > span > i {
    font-size        : 15px;
  }
}

.sortable-table .state > span {
  margin-left: -5px;
}

/**********
* Grid
**********/
.grid-header H1,
.grid-header H2,
.grid-header H3,
.grid-header H4,
.grid-header H5,
.grid-header H6,{
  color : #49bdaa;
}

.grid {
  width            : 100%;
  max-width        : 100%;
  margin-bottom    : $line-height-computed;
  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding          : $table-cell-padding;
        line-height      : $line-height-base;
        vertical-align   : top;
        border-top       : 1px solid $table-border-color;

        .state {
          & > span {
            margin: 0 -5px;
          }
        }
      }

      > td.subtable {
        background-color: $table-bg-accent;
        border-top       : 0;
      }
    }
  }

  tr.no-border td {
    border-top: none;
  }

  td.divided, th.divided {
    border-left: 2px solid $table-border-color;
  }

  // Bottom align for column headings
  > thead > tr > th {
        vertical-align   : bottom;
        border-bottom    : 2px solid $table-border-color;
  }
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
  > tr:first-child {
      > th,
      > td {
        border-top       : 0;
      }
    }
  }
  // Account for multiple tbody instances
  > tbody + tbody {
  border-top       : 2px solid $table-border-color;
  }

  // Nesting
  .table {
  background-color : $body-bg;
  }
  // End: Copied from .table because @extend doesn't work

  & > TBODY > TR:hover {
  background-color : $table-bg-hover !important;
  }

  & > TBODY > TR.nohover:hover {
  background-color : initial !important;
  }

  & > THEAD > TR > TH,
  & > THEAD > TR > TH .btn,
  & > THEAD > TR > TD,
  & > TBODY > TR > TH,
  & > TBODY > TR > TD,
  & > TFOOT > TR > TH,
  & > TFOOT > TR > TD,
  & > TFOOT > TR > TD{
  font-size        : 13px;
  vertical-align   : middle;
  word-wrap: break-word;
  }

  .actions {
    text-align: right;
  }

  .state > span {
    @extend .clip;
    i {
      font-size: 12px;
    }
  }
}

/**********
* Form
**********/
.horizontal-form {

  .form-label {
    font-weight: 700;

    > label + span {
    display    : block;
    }
  }

  HR {
    margin     : 8px 0 8px 0;
  }
}


.over-hr {
  display             : block;
  text-align          : center;
  overflow            : hidden;
  white-space         : nowrap;

  & > span {
  position            : relative;
  display             : inline-block;
  text-transform      : uppercase;
  font-size           : 13px;
  }

  & > span:before,
  & > span:after {
  content             : "";
  position            : absolute;
  top                 : 50%;
  width               : 9999px;
  height              : 1px;
  background          : $page-header-border-color;
  }

  & > span:before {
  right               : 100%;
  margin-right        : 15px;
  }

  & > span:after {
  left                : 100%;
  margin-left         : 15px;
  }

  &.expandable > span:after {
  margin-left         : 30px;
  }

  .icon-chevron-up,
  .icon-chevron-down {
  font-size           : 10px;
  }
}

.toggle-advanced {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;

  A,
  A:focus,
  A:active,
  A:visited,
  A:hover {
    cursor          : pointer;
    text-decoration : none;
  }
}

.component-static {
  .form-control-static {
    padding: 0;
    min-height: 10px;
  }
  .row {
    font-size: 13px;
  }

  .form-group {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $accent-two;
  }
  label::after {
    content: ':';
  }
}

/**********
* Nav boxes (chooes a host/registry driver)
**********/
.nav-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > .nav-box-item {
    width            : 100px;
    min-height       : 100px;
    flex             : 0 1 auto;
    position         : relative;
    outline          : 0;
    opacity          : 0.5;
    background-color : $lightestGray;
    border           : 2px solid $lightGrayDark;
    border-radius    : 3px;
    color            : #8a919c;
    width            : 100px;
    min-height       : 100px;
    margin           : 20px 10px;
    text-align       : center;
    padding          : 0;

    &:focus {
      outline: -webkit-focus-ring-color auto 5px;
      filter         : none;
      -webkit-filter : none;
      -moz-filter    : none;
      -ms-filter     : none;
      -o-filter      : none;
    }

    &.active {
      opacity           : 1;
      background-color  : white;
      border-color      : $lightGrayDark;
      border-width      : 2px;
    }
  }

  .driver {
    background-position : center center;
    background-size     : 90%;
    background-repeat   : no-repeat;
    filter              : grayscale(100%);
    -webkit-filter      : grayscale(100%);
    -moz-filter         : grayscale(100%);
    -ms-filter          : grayscale(100%);
    -o-filter           : grayscale(100%);

    &.active {
      filter         : none;
      -webkit-filter : none;
      -moz-filter    : none;
      -ms-filter     : none;
      -o-filter      : none;
    }
  }

  .driver-coming-soon {
    opacity : 0.5;
    border: 0;
    background-color: transparent;

    &:after {
      content: 'Coming Soon';
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
    }
  }

  &.checked-active .active:after {
    content          : $icon-check;
    top              : -15px;
    right            : -15px;
    font-family      : 'rancher-icons';
    font-size        : 18px;
    position         : absolute;
    background-color : $tealTwo;
    height           : 29px;
    width            : 29px;
    line-height      : 30px;
    border-radius    : 50%;
    color            : white;
  }
}

/**********
* Nav Tabs with active white
**********/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color : $well-bg;
  color            : $orange;
  position         : relative;
  z-index          : 1;
  box-shadow       : 0 -3px 8px rgba(0, 0, 0, 0.1);
}

.nav-tabs-well, .nav-tabs {
  UL {
    border-bottom : 0;
  }

  LI {
    margin-right : 2px;

    A {
      border           : 0 !important;
      background-color : $tab-bg;
      color            : $tab-color;
      transition       : ease all .2s;
      padding: 10px;

        &:hover {
          background-color : $tab-hover;
          color            : white;
        }
    }

    &.active > A,
    &.active > A:hover {
      background-color : $well-bg;
      color            : $orange;
      position         : relative;
      z-index          : 1;
      box-shadow       : 0 -3px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

.nav-well {
  position               : relative;
  top                    : -1px;
  border                 : 0;
  border-top-left-radius : 0;

  .grid {
    margin-bottom : 0;
  }
}

/**********
* Tabs
**********/
.nav-tabs.shadowed li.tab {
  background    : $lightGrayTwo;
  margin-bottom : -5px;

  &.active {
    background : white;
    color      : $orange;
  }
}

.well.description {
  margin-top    : 10px;
  margin-bottom : 0;

  P {
    margin : 0;
  }
}

.header {
    & > * {
    display        : inline-block;
    vertical-align : middle;
  }
}

SECTION.header {

  & h1 {
    font-size     : 21px;
    font-weight   : bold;
    margin-right  : 10px;
  }

  & > * {
    display        : inline-block;
    vertical-align : middle;
  }

  & > .btn-primary {
    margin-left : 0;
  }
}

.header-state {
  margin-left : 10px;
  display: inline-block;
  vertical-align: middle;
}

.sad-ie {
  background-image  : url('images/sad-ie.png');
  width             : 300px;
  height            : 317px;
  background-size   : 300px 317px;
  background-repeat : no-repeat;
  margin            : 0 auto;
}

.top-errors {
  position : relative;

  I {
    position  : absolute;
    top       : 10px;
    left      : 10px;
    font-size : 23px;
  }
}

/*alignment helpers*/
.inline-block {
  display : inline-block;
}

.valign-top {
  vertical-align: top;
}

.valign-middle {
  vertical-align: middle;
}

.valign-bottom {
  vertical-align: bottom;
}
