@media (min-width: $screen-md) {
  .navbar-toggle {
    display: none;
  }

  .col-md-height {
    display: table-cell;
    float: none !important;
  }

  .col-md-full-height {
    height: 100%;
  }

}

@media (max-width: $screen-md-max) {
  .container-table {
    thead {
      th:first-child {
        width: 75px !important;
      }
    }
  }
  .nav-tabs {
    LI {
      A {
        font-size: 13px;
      }
    }
  }

  HEADER NAV .navbar-nav > LI {
    width: auto;
  }
}
