///768
@media only screen and (max-width: map-get($breakpoints, medium)) {
    .col {
        margin: 1% 0 1% 0%;
    }

    [class^='span-'], [class*='span-'] {
      width: 100%;
    }
    .col.offset-12:first-child,
    .offset-12,
    .col.offset-11:first-child,
    .offset-11,
    .col.offset-10:first-child,
    .offset-10,
    .col.offset-9:first-child,
    .offset-9,
    .col.offset-8:first-child,
    .offset-8,
    .col.offset-7:first-child,
    .offset-7,
    .col.offset-6:first-child,
    .offset-6,
    .col.offset-5:first-child,
    .offset-5,
    .col.offset-4:first-child,
    .offset-4,
    .col.offset-3:first-child,
    .offset-3,
    .col.offset-2:first-child,
    .offset-2,
    .col.offset-1:first-child,
    .offset-1 {
        margin-left: 0;
    }
    .hidden-md {
        display: none;
    }

    //tables
    table > tbody > tr > td,
    TABLE.double-rows > TBODY > TR.main-row > TD {
      height: auto;
      padding:  5px;

      .action-menu {
        display: inline-block;
      }
    }

    body {
      // background: pink;
    }
}
