/*xs*/
@media (min-width: $screen-xs) { // 480px
  div.banner {
    padding: 0 ;

    .banner-head {
      display: block;
      position: relative;

      &::after {
        display:none;
      }
    }
    .banner-content {
      display: block;
      margin-left: 0;
      padding: 10px;

      span:first-of-type {
        display: block;
      }
    }
  }

}


/*small*/
@media (min-width: $screen-sm) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }

  .col-sm-full-height {
    height: 100%;
  }

  div.banner {
    padding: 10px;

    .banner-head {
      display: inline;
      position: absolute;

      &::after {
        display:initial;
      }
    }

    .banner-content {
      margin-left: 150px;
      padding: 0 15px 0 0;

      span:first-of-type {
        display: initial;
      }
    }
  }

  UL.nav LI.dropdown:hover UL.dropdown-menu,
  UL.nav LI.dropdown:focus UL.dropdown-menu {
    margin-top: 0;

    LI A {
      text-transform: none;
    }
  }
}

/*mobile and small screens*/
@media (max-width: $screen-xs-max) {
  .pods {
    .pod-column {
      width: 100%;
      margin: 0 5px 0px 0;
    }
  }

  .navbar-nav {
    margin: 0;

    .dropdown-menu > li > a {
      color: rgba(white,.75);
      padding: 5px 15px 5px 30px;
    }

    .dropdown-menu > li.active > a {
      font-weight: bold;
      color: white;
    }
  }
}

/*-959*/
@media (max-width: $screen-sm-max) {
  .stack-section {
    .header-right {
      width: 20%;
      margin: 0;
      border-top: dotted 1px $lightGray;
      &.count {
        width: 25%;
      }
      &.stack-actions {
        width: 11%;
      }
      &.stack-template {
        width: 50%;
      }
    }
    .header-left.name {
      width: 70%;
    }
    .stack-actions {
      text-align: center !important;
    }
  }
}