@media (min-width: $screen-xs) { // 480px

  div.banner {
    padding: 0 ;

    .banner-head {
      display: block;
      position: relative;

      &::after {
        display:none;
      }
    }
    .banner-content {
      display: block;
      margin-left: 0;
      padding: 10px;

      span:first-of-type {
        display: block;
      }
    }
  }

}

@media (min-width: $screen-sm) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }

  .col-sm-full-height {
    height: 100%;
  }

  div.banner {
    padding: 10px;

    .banner-head {
      display: inline;
      position: absolute;

      &::after {
        display:initial;
      }
    }

    .banner-content {
      margin-left: 150px;
      padding: 0 15px 0 0;

      span:first-of-type {
        display: initial;
      }
    }
  }
}

/*mobile and small screens*/
@media (max-width: $screen-xs-max) {
  .pods {
    .pod-column {
      width: 100%;
      margin: 0 5px 0px 0;
    }
  }
}

@media (max-width: $screen-sm-max) {
  table {
    &.no-lines {
      > * {
        border: none;
      }
      td {
        border: none;
      }
    }
    td:before {
      padding: 0;
    }
  }

  .header > .pull-right {
    float: left!important;
    padding-top: 10px;
    margin-top: 10px;
    border-top: solid thin $table-border-color;
    text-align: left;
    width: 100%;

    > .header-state {
      float: none!important;
    }
  }

  .alert {
    padding: 0;
    & .banner-head {
      position: static;
      display: block;

      &:after {
        display: none;
      }
    }

    & .banner-content {
      padding: 15px;
      display: block;
    }
  }

  .horizontal-form {
    .form-label {
      text-align : left;
    }
  }

  HEADER {
    .gh-avatar {
      height: 30px;
      width: 30px;

      & .gh-placeholder {
        line-height: 26px;
        i { 
          color: $well-bg;
        }
      }
    }

    & .top-row .project-btn .btn *,
    & .top-row .project-btn .btn LABEL,
    & .top-row .dropdown .user-toggle {
      color: white !important;
    }

    .dropdown.project-btn {
      position: relative;
      top: 0;

      span {
        font-size: 12px;
      }
    }

    .navbar {
      position: relative;
      z-index: 1;
    }

    NAV.navbar .nav > LI {
      float: left;
    }

    NAV.navbar .nav > LI > A.user-toggle {
      display: none;
    }

    NAV.navbar .user-menu {
      min-width: 90%;
      border-radius: 0;
      display: inline-block;

      & > li {
        display: inline-block;
        position: static;
      }
    }

    .top-row NAV {
      float: none;

      &> li {
        display        : block;

        &> A,
        &>.link-admin > a {
          display        : block;
          color: white;
          border-top: solid thin rgba($accent-two,.5);

          &.active:after {
            display: none;
          }

          + ul {
            padding: 0;
            &>a {
              display: block;
              color: white;
              padding: 5px 5px 5px 40px;

              &:hover {
                background: rgba(0,0,0,.15);
              }

              > I {
                font-size: 20px;
                padding-right: 10px;
                vertical-align: middle;
                color: $brand-info;
              }
            }
          }
        }
      }
    }
  }

  .service-addtl-info {
    height: 100%!important;
    top: 110px;

    .container-dots {
      height: auto;
    }

    .content {
      border: none;
    }
  }

  .stack-section {
    .header-right {
      width: 20%;
      margin: 0;
      border-top: dotted 1px $lightGray;

      &.stack-template {
        width: 40%;
      }
    }
    .header-left.name {
      width: 70%;
    }
    .stack-actions {
      text-align: center !important;
    }
  }

    .navbar-nav {
      position: relative;
      z-index: 0;

      .dropdown-menu > li > a:hover {
        color: $link-color;
      }
  }
}

@media (max-width: $screen-sm-max) {
  UL.navbar-nav LI.dropdown UL.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
  }

  .navbar-nav {
    margin: 0;

    .dropdown-menu > li > a {
      color: rgba(white,.75);
      padding: 5px 15px 5px 30px;
    }

    .dropdown-menu > li.active > a {
      font-weight: bold;
      color: white;
    }
  }
  .navbar-right {
    margin: 15px;
  }
  .navbar-right > li, HEADER NAV.navbar .user-menu .dropdown-header {
    display: block;
  }

  .user-auth {
    width: 100%;
  }
}

@media (min-width: $screen-md) {
  UL.nav LI.dropdown:hover UL.dropdown-menu,
  UL.nav LI.dropdown:focus UL.dropdown-menu {
    margin-top: 0;

    LI A {
      text-transform: none;
    }
  }
}

