/*mobile and small screens*/
@media (max-width: $screen-sm-max) {
  .alert {
    padding: 0;
    & .banner-head {
      position: static;
      display: block;

      &:after {
        display: none;
      }
    }

    & .banner-content {
      padding: 15px;
      display: block;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .pods {
    .pod-column {
      width: 100%;
    }
  }
}