@media (min-width: $screen-xs) { // 480px

  div.banner {
    padding: 0 ;

    .banner-head {
      display: block;
      position: relative;

      &::after {
        display:none;
      }
    }
    .banner-content {
      display: block;
      margin-left: 0;
      padding: 10px;

      span:first-of-type {
        display: block;
      }
    }
  }

}

@media (min-width: $screen-sm) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }

  .col-sm-full-height {
    height: 100%;
  }

  div.banner {
    padding: 10px;

    .banner-head {
      display: inline;
      position: absolute;

      &::after {
        display:initial;
      }
    }

    .banner-content {
      margin-left: 150px;
      padding: 0 15px 0 0;

      span:first-of-type {
        display: initial;
      }
    }
  }
}

/*mobile and small screens*/
@media (max-width: $screen-xs-max) {
  .pods {
    .pod-column {
      width: 100%;
    }
  }
}

@media (max-width: $screen-sm-max) {
  table {
    &.no-lines {
      > * {
        border: none;
      }
      td {
        border: none;
      }
    }
    td:before {
      padding: 0;
    }
  }
  .alert {
    padding: 0;
    & .banner-head {
      position: static;
      display: block;

      &:after {
        display: none;
      }
    }

    & .banner-content {
      padding: 15px;
      display: block;
    }
  }

  .horizontal-form {
    .form-label {
      text-align : left;
    }
  }

  HEADER {
    .gh-avatar {
      height: 30px;
      width: 30px;

      & .gh-placeholder {
        line-height: 26px;
      }
    }

    & .top-row .project-btn .btn *,
    & .top-row .project-btn .btn LABEL,
    & .top-row .dropdown .user-toggle {
      color: white !important;
    }

    .project-btn span {
      font-size: 12px;
    }

    .top-row NAV {
      float: none;

      &> li {
        display        : block;

        &> A,
        &>.link-admin > a {
          display        : block;
          color: white;
          border-top: solid thin rgba($accent-two,.5);

          &.active:after {
            display: none;
          }

          + ul {
            padding: 0;
            &>a {
              display: block;
              color: white;
              padding: 5px 5px 5px 40px;

              &:hover {
                background: rgba(0,0,0,.15);
              }

              > I {
                font-size: 20px;
                padding-right: 10px;
                vertical-align: middle;
                color: $brand-info;
              }
            }
          }
        }
      }
    }
  }

  .service-addtl-info {
    height: auto;

    > * {
      height: auto;
    }
  }

  .stack-section {
    .header-right {
      width: 20%;
      margin: 0;
      border-top: dotted 1px $lightGray;

      &.stack-template {
        width: 40%;
      }
    }
    .header-left.name {
      width: 70%;
    }
    .stack-actions {
      text-align: center !important;
    }
  }
}