///640
// @media only screen and (max-width: map-get($breakpoints, small)) {
// }

// RANCHER MEDIA QUERIES
/*xs*/
// /*480px*/
// @media (min-width: $screen-xs) {
// }

// /*small*/
// @media (min-width: $screen-sm) {
// }

/*695-959*/
@media only screen and (max-width: map-get($breakpoints, small)) {
  .sortable-table {
    table {
      margin-top: 25px;
    }
    tbody {
      margin-top: 50px;
    }
    .fixed-header-actions {
      display: block;
      visibility: visible;
    }
    .row-check, .actions {
      text-align: left;
    }
  }
  .fixed-header-placeholder {
    height: 0;
    display: none;
  }
  .fixed-header-actions {
    display: block;
    visibility: visible;
    position: relative;
  }

    //table
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    thead {
      height: 0;

      & tr {
        display: none;
        visibility: hidden;
      }
    }

    tr {
      border: 1px solid $light-grey;
      margin: 10px 0;

      &.sm-noborder {
        border-width: 0px;
      }
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
      width: 100% !important;
      border-right: none !important;

      & .spark-line {
        width: 44px !important;
      }
    }

    td:before {
      content: attr(data-title);
      width: 45%;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
      padding-right: 5px;
    }

    .grid TD.actions {
      position: static;
      text-align: left;
    }

    .stack-section {
      background: transparent !important;

      .header-right {
        border: 0;
      }
    }

    .stack-section .grid TD, .stack-section .grid TH {
      border-bottom: 1px dotted $light-grey !important;
      border-top: none;
      text-align: left !important;
    }

    .stack-section .grid TD:last-child {
      border-bottom: 0!important;
    }

    .grid > thead > tr > th,
    .grid > thead > tr > td,
    .grid > tbody > tr > th,
    .grid > tbody > tr > td,
    .grid > tfoot > tr > th,
    .grid > tfoot > tr > td {
      border-top: none;
    }

    .hidden-sm {
      display: none;
    }
}
