@media (max-width: $screen-xs-max) {
  .stack-section .header-right {
    &.count,
    &.stack-actions {
      width: 33.3%;
    }

    &.stack-template {
      width: 100%;
    }
  }

  tr {
    background-color: $well-bg;
  }

  .navbar-nav .dropdown-menu > li > a:hover {
    color: $link-color;
  }
}
