/*0-694*/
@media (max-width: $screen-xs-max) {
  HEADER #navbar LI {
    display: block;
    width: 100%;
  }

  .btn-group.searchable .icon {
    top: 18px;
  }

  .searchable {
    margin-bottom: 15px;
  }

  .grid {
    & > THEAD > TR > TH,
    & > THEAD > TR > TD,
    & > TBODY > TR > TH,
    & > TBODY > TR > TD,
    & > TFOOT > TR > TH,
    & > TFOOT > TR > TD {
      display    : block;
      border-top : 0;
      padding    : 5px;

      &:first-child {
        border-top: 1px solid #f0f3f5;
      }
    }

    TH.actions {
      display: none;
    }

    & > THEAD > TR,
    & > TBODY > TR,
    & > TFOOT > TR {
      position: relative;
      display: block;
    }

    TD.actions {
      .action-menu {
        float: none;
      }
    }
  }
  
  HEADER NAV .navbar-nav > LI {
    ul {
      max-height: 100%;
      background: transparent;
      box-shadow: none;
      width: 100%;
      display: block;
    }
  }

  UL.navbar-nav LI.dropdown UL.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
  }

  .navbar-right > li {
    display: block;
  }
  
  UL.nav LI.dropdown:hover UL.dropdown-menu,
  UL.nav LI.dropdown:focus UL.dropdown-menu {
    min-width: 100%;
    margin-top: 0;

    LI A {
      text-transform: none;
    }
  }
  
  table {
    &.no-lines {
      > * {
        border: none;
      }
      td {
        border: none;
      }
    }
    td:before {
      padding: 0;
    }
  }

  .header > .pull-right {
    float: left!important;
    padding: 10px 0;
    margin: 10px 0;
    border-top: solid thin $table-border-color;
    text-align: left;
    width: 100%;

    > .header-state {
      float: none!important;
    }
  }

  .alert {
    padding: 0;
    & .banner-head {
      position: static;
      display: block;

      &:after {
        display: none;
      }
    }

    & .banner-content {
      padding: 15px;
      display: block;
    }
  }

  .horizontal-form {
    .form-label {
      text-align : left;
    }
  }

  .service-addtl-info {
    height: 100%!important;
    top: 110px;

    .container-dots {
      height: auto;
    }

    .content {
      border: none;
    }
  }

  .navbar-nav {
    position: relative;
    z-index: 0;

    .dropdown-menu > li > a:hover {
      color: $link-color;
    }
  }

  UL.navbar-nav LI.dropdown UL.dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
  }

  .navbar-nav {
    margin: 0;

    .dropdown-menu > li > a {
      color: rgba(white,.75);
      padding: 5px 15px 5px 30px;
    }

    .dropdown-menu > li.active > a {
      font-weight: bold;
      color: white;
    }
  }

  .navbar-right {
    margin: 15px;
    
    & > li, HEADER NAV.navbar .user-menu .dropdown-header {
      display: block;
    }
  }

  .user-auth {
    width: 100%;
  }

  HEADER {
    .gh-avatar {
      height: 30px;
      width: 30px;

      & .gh-placeholder {
        line-height: 26px;
        i { 
          color: $well-bg;
        }
      }
    }

    & .top-row .project-btn .btn *,
    & .top-row .project-btn .btn LABEL,
    & .top-row .dropdown .user-toggle {
      color: white !important;
    }

    .dropdown.project-btn {
      position: relative;
      top: 0;

      span {
        font-size: 12px;
      }
    }

    .navbar {
      position: relative;
      z-index: 1;
    }

    NAV.navbar .nav > LI {
      float: left;
    }

    NAV.navbar .nav > LI > A.user-toggle {
      display: none;
    }

    NAV.navbar .user-menu {
      min-width: 90%;
      border-radius: 0;
      display: inline-block;

      & > li {
        display: inline-block;
        position: static;
      }
    }

    .top-row NAV {
      float: none;

      &> li {
        display        : block;

        &> A,
        &>.link-admin > a {
          display        : block;
          color: white;
          border-top: solid thin rgba($accent-two,.5);

          &.active:after {
            display: none;
          }

          + ul {
            padding: 0;
            &>a {
              display: block;
              color: white;
              padding: 5px 5px 5px 40px;

              &:hover {
                background: rgba(0,0,0,.15);
              }

              > I {
                font-size: 20px;
                padding-right: 10px;
                vertical-align: middle;
                color: $brand-info;
              }
            }
          }
        }
      }
    }
  }

  .stack-section {
    .header-right {
      &.count, 
      &.stack-actions {
        width: 33.3%;
      }

      &.stack-template {
        width: 100%;
      }
    }

    .header-left.name {
      width: 65%;
    }
  }

    .pods {
    .pod-column {
      width: 100%;
      margin: 0 5px 0px 0;
    }
  }

  .navbar-nav {
    margin: 0;

    .dropdown-menu > li > a {
      color: rgba(white,.75);
      padding: 5px 15px 5px 30px;
    }

    .dropdown-menu > li.active > a {
      font-weight: bold;
      color: white;
    }
  }
}