<div class="row">
  <div class="col span-6">
    <label class="acc-label pb-5">{{t 'newPipelineStep.stepType.scm.selectRepository'}}</label>
    <div class="mt-10">{{url}}</div>
  </div>
  <div class="col span-6">
    {{#if accountsInfo}}   
      <label class="acc-label pb-5">{{t 'newPipelineStep.stepType.scm.user'}}</label>   
      {{identity-block principal=principal link=false}}
    {{/if}}
  </div>
</div>