<section>
  {{add-host
      allowCustom=false
      model=model
      cluster=model.cluster
      driver=driver
      completed=(action 'completed')
      goBack=(action 'goBack')
      cancel=(action 'goBack')
  }}
</section>