<h2 class="alert-header">{{t 'modalConfirmRemovePayment.header'}}</h2>
<hr/>
<div class="container-header-text">
  {{t 'modalConfirmRemovePayment.title'}}:
  <div class="display-name">
    {{t 'modalConfirmRemovePayment.card' card=card.last4}}
  </div>
</div>

<div class="footer-actions">
  {{save-cancel save="confirm" cancel="cancel" createLabel='generic.confirm' saveDisabled=saveDisabled}}
</div>
