{{#each col in view.columns}}
  <div class="host-column">
    {{#each host in col itemController="host"}}
      {{#if host.isNewHostPlaceHolder}}
        {{add-host-widget currentController=controller}}
      {{else}}
        {{host-widget model=host dot=dot}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <div class="text-center text-muted">No hosts or containers yet.</div>
{{/each}}
