// adds text indent with a 5px step through 15 layers
@for $i from 0 through 15 {
  .indent-#{$i} { text-indent: 10px * $i; }
}

// Vertical margins and padding witha 5px step
// e.g. r-mt-20 - {margin-top: 20px}
$spacing-property-map: (
    m:  margin,
    mt: margin-top,
    mr: margin-right,
    ml: margin-left,
    mb: margin-bottom,
    p:  padding,
    pt: padding-top,
    pb: padding-bottom,
    pl: padding-left,
    pr: padding-right,
);

@for $size from 0 through 10 {
  $val: $size * 5px;
  @each $keyword, $property in $spacing-property-map {
    .r-#{$keyword}#{$size*5} {
      #{$property}: $val !important;
    }
  }
}
