<form {{action "authenticate" on="submit"}} class="text-left">
  <p class="text-center">
    <button disabled={{waiting}} class="btn bg-primary" {{action "authenticate"}}>
      <i class="icon icon-github"></i> {{t 'loginGithub.buttonText'}}
    </button>
  </p>
</form>
