<div class="toggle-advanced">
  <a href="#" {{action "toggle"}}>Advanced Options <i class="icon {{if advanced 'icon-chevron-down' 'icon-chevron-up'}}"/></a>
</div>
<div class="{{unless advanced 'hide'}}">
  {{yield}}
</div>
