{{#if getDrivers.isRunning}}
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
  </div>
{{else}}
  {{add-host
      model=model
      inModal=true
      showNameScale=false
      completed=(action 'completed')
      goBack=(action 'goBack')
      allowCustom=false
  }}
{{/if}}