<div>
  <label class="pb-5 acc-label">
    {{t "formCount.label"}}
  </label>
</div>

<div class="row gutless">
  <div class="col span-2 m-0">
    {{input-integer
      value=userInput
      min=min
      max=max
    }}
  </div>
  <div class="col offset-1 span-9 hidden-md">
    {{input-slider
      value=userInput
      valueMin=1
      scaleMin=0
      valueMax=sliderMax
    }}
  </div>
</div>
