.page-progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
}

.progress {
  position: relative;
  height: inherit;
  margin-bottom: 0;
  background-color: $lightestGray;
  border: 1px solid #e3e3e3;

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
  }

  .progress-label {
    white-space: nowrap;
    text-overflow: elipsis;
    overflow: hidden;
    color: black;
    font-size: inherit;
    text-align: center;
    position: relative;
  }
}

@-webkit-keyframes progress-bar-stripes-reverse {
  from { background-position: 0 0; }
  to   { background-position: 40px 0; }
}

@keyframes progress-bar-stripes-reverse {
  from { background-position: 0 0; }
  to   { background-position: 40px 0; }
}

.progress-striped .progress-bar {
  -webkit-animation: progress-bar-stripes-reverse 1.5s linear infinite;
  animation: progress-bar-stripes-reverse 1.5s linear infinite;

  background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, 0.55) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.55) 50%,
    rgba(255, 255, 255, 0.55) 75%,
    transparent 75%,
    transparent);
  background-image: linear-gradient(45deg,
    rgba(255, 255, 255, 0.55) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.55) 50%,
    rgba(255, 255, 255, 0.55) 75%,
    transparent 75%,
    transparent);

  background-size: 40px 40px;
}


// loading text
.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
