$timeline-height: 15px;

@mixin timeline-dot {
  border-radius: 50%;
  border: 1px solid white;
  height: $timeline-height;
  position: absolute;
  top: 0;
  width: $timeline-height;
  z-index: 2;
}

.timeline-container {
  background-color: $lightGray;
  height: $timeline-height;
  margin: 0 auto;
  position: relative;
  width: calc(100% - #{$timeline-height});

  &:before,
  &:after {
    background-color: $lightGray;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: $timeline-height;
    position: absolute;
    top: 0;
    width: $timeline-height;
  }

  &:before {
    left: calc( calc(#{$timeline-height}/2) * -1 );
  }

  &:after {
    right: calc( calc(#{$timeline-height}/2) * -1 );
  }

  .timeline-child {
    height: $timeline-height;
    width: $timeline-height;
  }

  .snapshot {
    @include timeline-dot;

    background: $orangeDark;

    &.backedup {
      background: $navyTwoDark;
    }

    &:first-child {
      left: -10px !important;
    }

    i.icon {
      font-size: 11px;
      left: 1px;
      position: relative;
      top: -3px;
    }
  }
}
