<section class="header has-tabs clearfix">
  <h1>{{t 'nav.admin.settings.tab'}}</h1>

  <ul class="tab-nav">
    <li>{{#link-to "settings.advanced"}}{{t 'nav.admin.settings.advanced'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    {{yield}}
  </div>
</section>
