<div class="container-header-text">
  <h3>{{t 'addHostTemplate.add.header'}}</h3>
</div>
<div class="modal-body">
  {{add-host-template
      add=true
      noSelect=true
      templates=null
      provider=provider
      selectedKey=(mut selectedHostTemplate)
  }}
</div>
{{top-errors errors=errors}}
<div class="footer-actions">
  {{save-cancel save="save" cancel='cancel'}}
</div>