<section class="header">
  <h1>{{t 'k8sTab.namespace.services.header'}}</h1>

  {{#link-to "k8s-tab.apply" (query-params kind="Service") classNames="btn btn-sm btn-primary"}}{{t 'k8sTab.namespace.services.linkTo'}}{{/link-to}}
</section>

<section class="well instances">
  {{k8s/service-section model=arranged}}
</section>

