{{#if addAction}}
  <button type="button" class="btn btn-default" {{action "add"}}>
    <i class="fa-fw ss-plus"></i>
  </button>
{{/if}}
<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <i class="ss-navigatedown"></i>
</button>
<ul class="dropdown-menu dropdown-menu-right" role="menu">
  {{#each item in activeActions}}
    <li>
      {{action-menu-item
        label=item.label
        icon=item.icon
        action="clicked"
        actionArg=item.action
        altActionArg=item.altAction
      }}
    </li>
  {{/each}}
</ul>
