<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <i class="fa fa-chevron-down"></i>
</button>
<ul class="dropdown-menu dropdown-menu-right" role="menu">
  {{#each item in activeActions}}
    <li>
      {{action-menu-item
        label=item.label
        icon=item.icon
        action="clicked"
        actionArg=item.action
        altActionArg=item.altAction
      }}
    </li>
  {{/each}}
</ul>
