<table width="100%" class="table small mb-10 fully-bordered solid">
    <tbody>
        <tr class="group-row">
            <td class="pl-15" colspan="2">{{t "cis.scan.detail.table.nodesTable.title"}}</td>
        </tr>
        {{#each nodes as |node|}}
            <Cluster::Cis::Scan::Detail::NodesTable::TableRow @model={{node}} />
        {{/each}}
    </tbody>
</table>