{{partial "balancing-aside"}}
<section>
<h4 class="text-bold">Load Balancers</h4>
<p>Our Load Balancer distributes network traffic across a number of containers. This is a key requirement for developers and ops who want to deploy large-scale applications. Load balancing support is notoriously uneven across different clouds. By offering a uniform, simple, and powerful load balancer solution, Rancher makes it possible for Docker developers to port applications easily across multiple clouds, or to use different cloud providers as independent resource pools to host highly available applications.</p>

<p>The Load Balancer is created and managed by Rancher. For each host selected for a Load Balancer, a Load Balancer Agent system container is started and HAProxy software is installed in it.</p>

<p>The target of a Load Balancer can be any containers or any external IP address that you want traffic distributed for.</p>

<br/>
<h4 class="text-bold">Configurations</h4>

<p>A Load Balancer Config is a configuration that is used to set up a Load Balancer. The Load Balancer Config includes Load Balancer Listener(s), a Health Check Policy and cookie policies (i.e. Stickiness). When a Load Balancer is created, the Load Balancer Config is used to create the HAProxy config in the HAProxy software inside the Load Balancer Agent system container. The Load Balancer Config can be used in multiple Load Balancers.</p>

<p>Note: If any change is made to the Load Balancer Config, it will be propagated on all Load Balancers using that Load Balancer Config.</p>

<p>A Load Balancer Listener is process that listens for connection requests. It is a one to one mapping of a port for the sources (i.e. hosts) to a port for the targets (i.e. containers/external public IPs) with protocols established for each port. An algorithm is also selected for each listener to determine which target should be used.</p>
</section>
