<section class="header">
  <h1 style="display: block">kubectl</h1>
  <p class="help-block">Use this shell to directly execute <code>kubectl</code> commands.</p>
</section>
<div class="r-m20">
  {{modal-shell
    originalModel=model.instance
    showHeader=false
    showClose=false
  }}
</div>
