<section class="header">
  <h1>{{#link-to "k8s-tab.namespace.services"}}Service:{{/link-to}} {{model.displayName}}</h1>
  <div class="pull-right">
    {{action-menu model=model}}
  </div>
</section>

<section>
  <h4>Labels</h4>
  <div class="well r-mt10">
    {{labels-section model=model labelSource=model.metadata.labels showKind=false sortBy="key"}}
  </div>
</section>

<section>
  <h4>Ports</h4>
  <div class="well r-mt10">
    {{k8s/service-ports model=model.spec.ports}}
  </div>
</section>
