{{security-header}}

<section class="mb-20">
  <div class="row nav nav-boxes checked-active">
    {{#each drivers as |driver|}}
      {{#if driver.available}}
        {{#link-to driver.route alt=driver.label classNames=(concat "col span-2 nav-box-item driver auth-driver " driver.css) href=false}}
          <p class="sr-only">{{driver.label}}</p>
        {{/link-to}}
      {{/if}}
    {{/each}}
  </div>
</section>

{{outlet}}
