{{security-header}}

<section class="text-center m-20">
  <div class="banner bg-warning p-0">
    <div class="banner-icon" style="width: 68px;"><span class="icon icon-2x icon-info"></span></div>
    <div class="banner-info">
      <p class="p-15 ">
        Access Control is not available for this preview release.
      </p>
    </div>
  </div>
</section>


{{!-- #unless access.enabled --}}
{{#if false}}
  <section>
    <div class="row nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        {{#if driver.available}}
          {{#link-to driver.route alt=driver.label classNames=(concat "col span-2 nav-box-item driver auth-driver " driver.css) href=false disabled=true}}
            <p class="sr-only">{{driver.label}}</p>
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  </section>
{{/if}}
{{!-- /unless --}}

{{!-- outlet --}}
