<section class="header">
  <h1>{{t 'storagePoolsPage.header'}}</h1>
</section>
<section>
  <ul class="nav nav-tabs nav-tabs-well">
    {{#link-to "storagepools.pools" tagName="li" href=false}}<a href="#">{{t 'storagePoolsPage.nav.pools'}}</a>{{/link-to}}
    {{#link-to "storagepools.backups" tagName="li" href=false}}<a href="#">{{t 'storagePoolsPage.nav.backups'}}</a>{{/link-to}}
  </ul>
  <div class="well nav-well">
    {{outlet}}
  </div>
</section>
