<section class="header clearfix">
  <h1>{{t 'importPage.header'}}</h1>
</section>

<section class="container-fluid">
{{input-text-file mode='yaml' accept=".yml, .yaml" name="pipeline.yaml" canChangeName=false value=compose placeholder="pipelinesPage.importPlaceHolder"}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel" createLabel="generic.add"}}
