<section class="header clearfix">
  <h1>Import pipeline.yml</h1>
</section>

<section class="container-fluid">
{{input-text-file accept=".yml, .yaml" name="pipeline.yml" canChangeName=false value=compose placeholder="pipelinesPage.importPlaceHolder"}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel" createLabel="generic.add"}}
