<p class="m-5">
  <span class="mr-10">
    {{~#if modifier ~}}
      <code>{{t (concat 'modalShortcuts.' modifier) key=key}}</code>
    {{~else~}}
      <code>{{key}}</code>
    {{~/if~}}
  </span>
  {{t label}}
</p>
