{{#if showAccessWarning}}
  <article class="warning">
    <div class="close" {{action "hideAccessWarning"}}><i class="ss-delete"></i></div>
    Access Control is not configured&nbsp;&nbsp;
    {{#link-to "settings.auth"}}Settings{{/link-to}}
  </article>
{{/if}}
