<button type="button" aria-label="{{t 'generic.moreActions'}}" aria-controls="resource-actions" class="btn bg-transparent {{sizeClass}} more-actions" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false">
  <i class="icon icon-fw icon-vertical-ellipsis"></i>
</button>
