<section class="header">
  <h1 style="display: block">Docker CLI</h1>
</section>

<section class="well">
  {{#if (eq step 1)}}
    <p>To use docker or docker-compose on your workstation, click the button to generate an API key and config file:</p>
    <button {{action "generate"}} class="btn btn-primary">Generate Config</button>
  {{/if}}
  {{#if (eq step 2)}}
    <i class="icon icon-spinner icon-spin"></i> Generating...
  {{/if}}
  {{#if (eq step 3)}}
    <i class="icon icon-spinner icon-spin"></i> Activating...
  {{/if}}
  {{#if (eq step 4)}}
    <p>Now configure your workstation:</p>
    <ul>
      <li>Create the <code>.docker</code> directory: <code>mkdir -pv ~/.docker</code></li>
      <li>Extract the ZIP file that just downloaded</li>
      <li>Copy all the files from the extraced ZIP into the <code>.docker</code> directory</li>
      <li>Run <code>export DOCKER_HOST={{endpoint.swarm}} DOCKER_TLS_VERIFY=1</code> or add to your profile</li>
      <li>Test with <code>docker ps</code></li>
    </ul>
  {{/if}}
</section>

<section class="well">
  <p>Or use this handy shell to directly execute <code>docker</code> or <code>docker-compose</code> commands:</p>

  {{container-shell
    classNames="inline-block"
    command=model.command
    instance=model.instance
    cols=120
    rows=30
    showProtip=false
  }}
</section>
