<div id="underlay" class="underlay hide"></div>
<div id="loading-underlay" class="underlay hide"></div>
<div id="loading-overlay" class="loading-overlay hide">
  <div class="loading-box">
    <h3><i class="fa fa-spinner fa-spin fa-fw"></i> Loading&hellip;</h3>
  </div>
</div>
{{outlet "overlay"}}
{{outlet "error"}}
{{outlet}}
