#grid {
  .col {
    background-color: $light-grey;
    color: $mid-grey;
    padding: 10px;
    box-sizing: border-box;
    font-size: .75em;
  }
}

.fs1 {
  .col {
    background-color: $light-grey;
    color: $mid-grey;
    text-align: center;
    padding: 20px;

    &:hover {
      background-color: $primary;
      color: $secondary;
    }

    .icon {
      font-size: 2em;
    }

    .mls {
      display: block;
    }
  }
}

.overlay-demo {
  background-color: rgba($light-grey, .75);
  padding: 30px;
}

// form {
//     border: solid 2px $light-grey;
//     padding: 4.5%;
//   }
