.auth-driver {
  &.activedirectory {
    background-image: url('images/providers/activedirectory.svg');
  }

  &.azuread {
    background-image: url('images/providers/azuread.svg');
  }

  &.github {
    background-image: url('images/providers/github.svg');
  }

  &.local {
    background-image: url('images/logos/provider-local.svg');
  }

  &.openldap {
    background-image: url('images/providers/openldap.svg');
  }
  &.shibboleth {
    background-image: url('images/providers/shibboleth.svg');
  }
}

.advanced-setting {
  border: 1px solid $light-grey;
  margin: 2px 0;
  padding: 5px;
  position: relative;

  .help-block {
    margin: 0;
  }

  .edit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    line-height: 28px;
    text-align: center;
  }
}
