{{#each verbs as |verb|}}
  <td class="text-center">
    {{input type="checkbox" checked=verb.value}}
  </td>
{{/each}}
<td>
  {{searchable-select content=rules value=resource}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  <button class="btn bg-primary btn-sm" {{action "remove"}}><i class="icon icon-minus"/></button>
</div>
