{{#each verbs as |verb|}}
  <td class="text-center">
    {{input type="checkbox" checked=verb.value disabled=readOnly}}
  </td>
{{/each}}
<td>
  {{searchable-select allowCustom=true content=rules value=resource readOnly=readOnly}}
</td>
<td>&nbsp;</td>
{{#unless readOnly}}
  <div class="input-group-btn">
    <button class="btn bg-primary btn-sm" {{action "remove"}}><i class="icon icon-minus"/></button>
  </div>
{{/unless}}