<div class="row">
  {{form-name-description
      model=primaryResource
      descriptionDisabled=true
      namePlaceholder="clustersPage.addPage.rke.new.name.placeholder"
      descriptionPlaceholder="clustersPage.addPage.rke.new.description.placeholder"
  }}
</div>
