<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="farm-box">
      <section>
        <h1>Welcome to Rancher</h1>
        <br/>

        {{#if infoMsg}}
          <div {{bind-attr class=":alert infoColor"}} role="alert">{{infoMsg}}</div>
        {{/if}}

        <p>Rancher uses GitHub to manage acounts and teams.  Click this comically large button to log in and give Rancher read-only access to your GitHub account.</p>
        <br/>

        <p class="text-center">
          <button {{bind-attr disabled=waiting}} class="btn btn-lg btn-primary" {{action "authenticate"}}>
            <i class="fa fa-github"></i> Authenticate with GitHub
          </button>
        </p>
      </section>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
