<div class="header">
  <h2>{{t 'modalEditPassword.edit.title'}}</h2>
  {{#if showHelp}}
    <p class="help-text">{{t 'modalEditPassword.edit.help'}}</p>
  {{/if}}
</div>
{{input-edit-password
    complete=(action "complete")
    showCurrent=true
    cancel=(action "cancel")
    user=user
}}
