<div class="header">
  <h2>{{t 'modalEditPassword.title'}}</h2>
  {{#if showHelp}}
    <p class="help-text">{{t 'modalEditPassword.help'}}</p>
  {{/if}}
</div>
{{input-edit-password
    complete="complete"
    user=user
}}