{{#with instance as container controller="container"}}
  <h1><i class="fa fa-terminal"></i> Shell: {{container.displayName}}</h1>
{{/with}}
<div class="console-body clearfix">
</div>
<div class="footer-actions">
  <div class="console-status text-muted">{{view.status}}</div>
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>

{{partial "overlay-close"}}
