<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>{{#link-to "settings.projects.index"}}{{t 'projectList.index.header'}}{{/link-to}}</li>
    <li>{{#link-to "settings.projects.templates"}}{{t 'projectList.indexTemplate.header'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    {{#link-to "settings.projects.new-template" class="btn btn-sm bg-primary"}}{{t 'projectList.indexTemplate.new'}}{{/link-to}}
  </div>
</section>

{{project-template-list model=model.projectTemplates}}
