{{#tooltip-element type="tooltip-basic" model=text tooltipTemplate='tooltip-static' aria-describedby="tooltip-base"}}
  <i class="icon {{icon}}"></i>
{{/tooltip-element}}
<span id="tooltip-base" class="tooltip hidden" role="tooltip" aria-hidden="true">TOOLTIP TEST</span>
