<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>{{#link-to "roles.index" (query-params type="project")}}{{t 'rolesPage.index.projectRoles'}}{{/link-to}}</li>
    <li>{{#link-to "roles.index" (query-params type="cluster")}}{{t 'rolesPage.index.clusterRoles'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    {{yield}}
  </div>
</section>
