/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $mid-grey;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

h4 {
  // font-size: ;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .67em;
} 
