{{#if available}}
  <section class="header clearfix">
    <h1 style="display: block">{{t 'dockerCLI.header'}}</h1>
  </section>

  <section class="well">
    {{container-shell
      classNames="inline-block"
      command=model.command
      instance=model.instance
      cols=120
      rows=30
      showProtip=false
    }}
  </section>
{{/if}}
