{{#if showEdit}}
  {{input-integer class="form-control input-sm" min=min max=max value=value placeholder=placeholder}}
{{else}}
  <div class="edit btn bg-transparent pl-0" {{action "showEdit"}}>{{t standardKey}} <i class="icon icon-edit"></i></div>
{{/if}}
