<section>
  <h3>
    <span class="right-divider">Hosts</span>
    {{#link-to "hosts.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Host{{/link-to}}
  </h3>
</section>

{{#columns-section pods=view.pods emptyMessage="No hosts or containers yet." as |item| }}
  {{#if item.isPendingMachine}}
    {{#with item.machine controller="machine" as |machine|}}
      {{host-pod model=machine dot=dot}}
    {{/with}}
  {{else}}
    {{#with item controller="host" as |host|}}
      {{host-pod model=host dot=dot}}
    {{/with}}
  {{/if}}
{{/columns-section}}
