<section class="header">
  <h1 class="right-divider">Hosts</h1>

  {{#link-to "hosts.new" classNames="btn btn-sm btn-primary"}}Add Host{{/link-to}}

  <div class="btn-group pull-right">
    {{#link-to "hosts" (query-params mode="dot") classNames="btn btn-sm btn-default"}}<i class="icon icon-ellipsis" data-placement="bottom"></i>{{/link-to}}
    {{#link-to "hosts" (query-params mode="list") classNames="btn btn-sm btn-default"}}<i class="icon icon-thumbnails" data-placement="bottom" tooltip="Containers"></i>{{/link-to}}
    {{#link-to "hosts" (query-params mode="grouped") classNames="btn btn-sm btn-default"}}<i class="icon icon-layeredgroup" data-placement="bottom" tooltip="Grouped Stacks &amp; Sidekicks"></i>{{/link-to}}
  </div>
</section>

{{#columns-section pods=pods emptyMessage="No hosts or containers yet." as |item| }}
  {{#if item.isPendingMachine}}
    {{host-pod model=item.machine mode=mode newContainer="newContainer"}}
  {{else}}
    {{host-pod model=item mode=mode newContainer="newContainer"}}
  {{/if}}
{{/columns-section}}
