<section>
  <h3>
    <span class="right-divider">Hosts</span>
    {{#link-to "hosts.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Host{{/link-to}}
  </h3>
</section>

{{#columns-section pods=pods emptyMessage="No hosts or containers yet." as |item| }}
  {{#if item.isPendingMachine}}
    {{host-pod model=item.machine dot=dot newContainer="newContainer"}}
  {{else}}
    {{host-pod model=item dot=dot newContainer="newContainer"}}
  {{/if}}
{{/columns-section}}
