{{#if scope.currentCluster.isReady}}
  {{#banner-message color="bg-warning"}}
    <p>{{t 'banner.pipeline' docsBase=scope.docsBase dashboardBase=scope.dashboardBase htmlSafe=true}}</p>
  {{/banner-message}}
{{/if}}

{{#if scope.currentCluster.isWindows}}
  <BannerMessage
    @color="bg-warning"
    @message={{t "windowsCluster.pipelines"}}
  />
{{else}}
  <div class="pt-20"></div>
  {{settings-git
    providers=model.providers
    githubAuthConfig=model.githubAuthConfig
    settings=model.settings
  }}
{{/if}}