{{#banner-message color="bg-warning"}}
  <p>{{t 'banner.pipeline' dashboardLink=scope.dashboardLink docsBase=scope.docsBase htmlSafe=true}}</p>
{{/banner-message}}

{{#if scope.currentCluster.isWindows}}
  <BannerMessage
    @color="bg-warning"
    @message={{t "windowsCluster.pipelines"}}
  />
{{else}}
  <div class="pt-20"></div>
  {{settings-git
    providers=model.providers
    githubAuthConfig=model.githubAuthConfig
    settings=model.settings
  }}
{{/if}}