<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "authenticated.project.secrets"}}
        {{t "secretsPage.index.header"}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to "authenticated.project.certificates"}}
        {{t "certificatesPage.index.header"}}
      {{/link-to}}
    </li>
    <li>
      {{#link-to "authenticated.project.registries"}}
        {{t "registriesPage.index.header"}}
      {{/link-to}}
    </li>
  </ul>

  <div class="right-buttons">
    {{yield}}
  </div>
</section>
