<section>
  <h2>
    {{headerText}}
  </h2>
  <div class="text-center">
    {{t "authPage.localAuth.subtext.enabled.text" appName=settings.appName}}
    {{#link-to "security.accounts.users"}}
      {{t "authPage.localAuth.subtext.enabled.linkText"}}
    {{/link-to}}
  </div>
  <div class="text-center">
    {{t "authPage.localAuth.subtext.enabled.alwaysOn"}}
  </div>
</section>
