<label class="mr-20 hand">
  {{radio-button selection=value value=true}} {{t 'schema.inputBoolean.y'}}
</label>
<label class="hand">
  {{radio-button selection=value value=false}} {{t 'schema.inputBoolean.n'}}
</label>
