{{#containers-header tags=tags simpleMode=true showGroup=false}}
  {{#link-to "new-pipeline" class="btn bg-primary btn-sm"}}
    {{t 'pipelinesPage.add'}}
  {{/link-to}}
{{/containers-header}}

<div class="mt-10"></div>
<section class="instances">
  {{pipeline-jobs-table
      body=model
      sortBy=sortBy
      bulkActions=true
      search=true
      paging=true
    }}
</section>
