.icon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  // width: 2em;

  .stack-icon-1x,
  .stack-icon-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .stack-icon-1x {
    line-height: inherit;
  }
  .stack-icon-2x {
    font-size: 2em;
  }

  &.checkbox {
    cursor: pointer;
    height: 1.25em;
    line-height: 1.25em;
    width: 1.25em;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .icon-square {
    color: transparent;
    border: 1px solid black;
  }

  .icon-check {
    top: 2px;
    visibility: hidden;
    font-weight: 900;
  }

  &.checked {
    .icon-check {
      visibility: visible;
    }
  }
}
