// Google Font Downloader thing: https://google-webfonts-helper.herokuapp.com/

/* prompt-300 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: normal;
  src: local('Prompt Light'), local('Prompt-Light'),
       url('fonts/prompt-v1-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/prompt-v1-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* prompt-600 - latin */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: bold;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
       url('fonts/prompt-v1-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/prompt-v1-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

