{{#containers-header showGroup=false}}
  {{#link-to "repositories" class="btn btn-sm bg-primary"}}
    {{t 'repositories.enable'}}
  {{/link-to}}
{{/containers-header}}

<section class="instances">
  {{pipeline-jobs-table
    body=model
    bulkActions=true
    search=true
    paging=true
  }}
</section>