<section class="header clearfix">
  <div class="pull-left">
    <h1>{{t "membersPage.add.title" type="Project"}}</h1>
  </div>
</section>

<section>
  <div class="box mt-30">
    {{form-scoped-roles
        model=model
        type="project"
        cancel=(action "doneSaving")
        doneSaving=(action "doneSaving")
    }}
  </div>
</section>