<div class="well no-padding-margin">
  <div id="inner-content" style="padding: 20px;">
    <label class="section text-muted">{{type}}</label>
    <hr>
    <div class="info-graph {{unless active 'hide'}}" id="cpu-graph">
    </div>
    <div class="text-center text-muted {{unless loading 'hide'}}" style="height: 100px; padding-top: 30px;">
      <i class="icon icon-spinner icon-spin"></i> Connecting...
    </div>
    <div class="text-center text-muted {{if available 'hide'}}" style="height: 100px; padding-top: 30px;">
      Utilization stats are only available while active/running.
    </div>
  </div>
</div>
