<section class="header">
  <h1>{{t 'mesosPage.header'}}</h1>
</section>

<section class="text-center r-p40">
  <a href="{{model.url}}" target="_blank" rel="noreferrer nofollow" class="btn btn-primary btn-lg">{{t 'mesosPage.actionLink'}}</a>
</section>
