{{textarea-autogrow value=model classNames="form-control" placeholder=placeholder}}
<span class="input-group-btn input-group-btn-textarea">
  {{#tooltip-element type="tooltip-basic" model=tooltip tooltipTemplate="tooltip-static" aria-describedby="tooltip-base"}}
    <button type="button" class="{{btnClass}}" {{action "click"}}><i class="icon icon-upload"></i></button>
  {{/tooltip-element}}
  <input type="file" accept="{{accept}}" class="hide">
</span>
