<form {{action "authenticate" on="submit"}} class="text-left">
  <p class="text-center">
    <button disabled={{waiting}} class="btn btn-primary" {{action "authenticate"}}>
      <i class="fa fa-github"></i> Authenticate with GitHub
    </button>
  </p>
</form>
