<h2>Register A New Host</h2>

{{#if error}}
  <div class="alert alert-danger">
    <i style="float: left;" class="ss-alert"></i>
    <p style="margin-left: 50px">{{error}}</p>
  </div>
{{/if}}

<ul class="nav nav-tabs">
  {{#each driver in drivers}}
    {{#if driver.available}}
      {{#link-to driver.route tagName="li" href=false}}
        <a>{{driver.label}}</a>
      {{/link-to}}
    {{/if}}
  {{/each}}
  {{#link-to "hosts.setup" tagName="li" href=false class="pull-right"}}
    <a>Setup</a>
  {{/link-to}}
</ul>

<section>
  {{outlet}}
</section>
{{partial "overlay-close"}}
