<div class="r-p40 text-center">
  <h1 class="header">{{t 'upgradeProject.header' appName=settings.appName}}</h1>

  <p>{{format-html-message 'upgradeProject.detail' appName=settings.appName appVersion=settings.minorVersion}}</p>

  <div class="footer-actions">
    <button {{action "upgrade"}} class="btn btn-primary">{{t 'upgradeProject.actionButton'}}</button>
  </div>
</div>
