<hr class="mb-15"/>
<label class="acc-label mt-5">{{t 'clusterNew.advanced.label'}}</label>
<div class="banner bg-info">
  <div class="banner-icon p-10"><i class="icon icon-info"></i></div>
  <div class="banner-message">
    {{t 'clusterNew.advanced.helpText'}}
  </div>
</div>
<div class="mt-25">
  {{#if advanced}}
    {{input-yaml
      showUpload=false
      showDownload=false
      canChangeName=false
      value=pastedConfig
    }}
  {{/if}}
</div>