<hr class="mb-15"/>
<label class="acc-label mt-5">{{t 'clusterNew.advanced.label'}}</label>
<div class="mt-25">
  {{#if advanced}}
    {{input-yaml
      showUpload=false
      showDownload=false
      canChangeName=false
      value=pastedConfig
    }}
  {{/if}}
</div>
    