<section class="header">
  <h1>
    {{t "editNodePool.title"}}
  </h1>
</section>

<section class="horizontal-form container-fluid">
  <div class="row inline-form">
    <div class="col span-12">
      {{form-node-taints
        model=model
        nodeTemplateTaints=model.nodeTemplate.nodeTaints
        expandOnInit=true
      }}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel
  editing=true
  save=(action "save")
  cancel=(action "cancel")
}}