<section class="header">
  <h1>Replication Controllers</h1>
</section>

<section>
  <div>
    {{#each arranged as |stack|}}
      {{k8s/namespace-rcs model=stack}}
    {{else}}
      <div class="r-m20 text-center text-muted">No Namespaces</div>
    {{/each}}
  </div>
</section>
