<section class="header clearfix">
  <div class="right-buttons">
    <button class="btn bg-primary btn-sm" {{action "add"}}>
      {{t 'catalogSettings.more.addActionLabel'}}
    </button>
  </div>

  <h1>{{t 'catalogSettings.header'}}</h1>
</section>

{{custom-catalog
    catalogs=filtered
    mode="cluster"
}}
