{{#link-to "hosts.new" tagName="div"}}
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-plus fa-stack-1x"></i>
  </span>
  <br/>
  Register a new Host
{{/link-to}}
