{{#if (eq mode "view")}}
  {{value}}
{{else}}
  {{new-select
    classNames="form-control"
    content=versionChoices
    value=value
    disabled=disabled
  }}
  {{#if (eq mode "edit")}}
    <p class="help-block">
      {{t "formVersions.helpBlock.label" htmlSafe=true}}
    </p>
  {{/if}}
{{/if}}