<section class="header clearfix">
  <div class="pull-left">
    <h1>{{t 'rolesPage.index.header'}}</h1>
  </div>
  <div class="right-buttons">
    {{#link-to "roles.new" classNames="btn btn-sm bg-primary right-divider-btn"}} {{t 'rolesPage.index.localLink'}} {{/link-to}}
  </div>
</section>