  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.flocker.datasetName.label'}}</label>
      {{#input-or-display editable=editing value=config.datasetName}}
        {{input type="text" value=config.datasetName classNames="form-control" placeholder=(t 'cruPersistentVolume.flocker.datasetName.placeholder')}}
      {{/input-or-display}}
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.flocker.datasetUUID.label'}}</label>
      {{#input-or-display editable=editing value=config.datasetUUID}}
        {{input type="text" value=config.datasetUUID classNames="form-control" placeholder=(t 'cruPersistentVolume.flocker.datasetUUID.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>
