<section>
  <h3>
    <span class="right-divider">Load Balancers</span>
    {{#link-to "loadbalancers.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Balancer{{/link-to}}
  </h3>
</section>

{{#columns-section pods=view.pods emptyMessage="No load balancers." as |item| }}
  {{#with item as balancer controller="loadbalancer"}}
    {{loadbalancer-pod model=balancer}}
  {{/with}}
{{/columns-section}}
