<td class="pr-10">
  <div style="height: 35px;">
    {{resource-quota-select editing=false quota=quota}}
  </div>
</td>
<td class="pr-10">
  {{input-resource-quota editing=editing quota=quota key='value'}}
</td>