<td class="pr-10">
  {{resource-quota-select editing=false quota=quota}}
</td>
<td class="pr-10">
  {{progress-bar-multi
      values=quota.projectLimits
      tooltipValues=quota.totalLimits
      max=quota.max
  }}
</td>
<td class="pr-10">
  {{input-resource-quota editing=editing quota=quota key='value'}}
</td>