<section class="header clearfix">
  <h1>{{t 'userSettingsPage.header'}}</h1>
  <div class="row">
    <div class="col span-8">
      {{settings/user-info}}
    </div>
    <div class="col span-4">
      {{settings/billing-info}}
    </div>
  </div>
</section>