<section class="header clearfix">
  <h1>{{t 'userSettingsPage.header'}}</h1>
</section>
<section>
  <div class="row">
    <div class="col span-7">
      {{settings/user-info}}
    </div>
    <div class="col span-5">
      {{settings/billing-info cards=model.stripeCards}}
    </div>
  </div>
</section>