<div id="chart-svg">
  {{svg-service-graph services=model.services action='openInfo'}}
</div>
{{#service-addtl-info service=selectedService show=showAddtlInfo dismiss='dismiss'}}
{{/service-addtl-info}}

