{{#if settings.isRancher}}
  <div class="logo-text">
    <div class="parachute"></div>
  </div>
{{/if}}

<div align="center">
  <p>{{t 'modalWechat.title'}}</p>
  <img height="128" width="128" src="{{app.baseAssets}}assets/images/wechat-qr-code.jpg" />
</div>

<div class="footer-actions">
<button {{action "cancel"}} class="btn btn-primary">{{t 'generic.closeModal'}}</button>
</div>
