<h1>Choose your own adventure...</h1>

<div class="row-same-height row-full-height">
  <div class="col span-11-of-23">
    <h2 class="text-center">{{t 'orchestrationWelcome.simple.title'}}</h2>

    <div class="box text-center">
      <div class="text-center mb-20">
        <i class="icon icon-docker icon-2x"></i>
      </div>

      <ul class="inline-block text-left">
        <li>Powered by Docker</li>
        <li>Load balancing</li>
        <li>DNS service discovery</li>
        <li>Low CPU and memory overhead</li>
      </ul>

      <div class="box mb-20 text-center">
        <div class="row">
          <div class="col span-3">
            <i class="icon icon-host icon-2x"></i>
          </div>
          <div class="col span-9">
            {{#link-to "hosts.new" class="btn bg-primary"}}Add Hosts{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col span-1-of-23 vertical-middle">
    or
  </div>

  <div class="col span-11-of-23">
    <h2 class="text-center">{{t 'orchestrationWelcome.enhanced.title'}}</h2>

    <div class="box text-center">
      <div class="text-center mb-20">
        <i class="icon icon-kubernetes icon-2x"></i>
      </div>

      <div class="text-center">Simple features, plus</div>

      <ul class="inline-block text-left">
        <li>Powered by Kubernetes</li>
        <li>Fine-grained access controls</li>
        <li>Share hosts between enviornments</li>
        <li>Helm template catalog</li>
        <li>Higher CPU and memory overhead</li>
      </ul>

      <div class="box mb-20 text-center">
        <div class="row">
          <div class="col span-3">
            <i class="icon icon-host icon-2x"></i>
          </div>
          <div class="col span-9">
            {{#link-to "hosts.new" class="btn bg-primary"}}Add Hosts{{/link-to}}
          </div>
        </div>
      </div>

      <div class="box text-center">
        <div class="row">
          <div class="col span-3">
            <i class="icon icon-upload icon-2x"></i>
          </div>
          <div class="col span-9">
            <button class="btn bg-primary">Import Kubernetes Cluster</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
