<h1>Choose the form of the destructor</h1>

<div class="row-same-height row-full-height">
  <div class="col span-11-of-23">
    <h2 class="text-center">{{t 'orchestrationWelcome.addHosts.title'}}</h2>

    <div class="box mb-20 text-center">
      <div class="row">
        <div class="col span-3">
          <i class="icon icon-kubernetes icon-2x"></i>
        </div>
        <div class="col span-9">
          <div>Add Hosts powered by Kubernetes</div>
          <ul>
            <li>Tastes Great</li>
          </ul>
        </div>
      </div>
      {{#link-to "hosts.new" class="btn bg-primary"}}Add Kubernetes Hosts{{/link-to}}
    </div>

    <div class="box text-center">
      <div class="row">
        <div class="col span-3">
          <i class="icon icon-docker icon-2x"></i>
        </div>
        <div class="col span-9">
          <div>Add Docker-only Hosts</div>
          <ul>
            <li>Less Filling</li>
          </ul>
        </div>
      </div>
      {{#link-to "hosts.new" class="btn bg-primary"}}Add Docker Hosts{{/link-to}}
    </div>
  </div>

  <div class="col span-1-of-23 vertical-middle">
    or
  </div>

  <div class="col span-11-of-23">
    <h2 class="text-center">{{t 'orchestrationWelcome.import.title'}}</h2>

    <div class="box text-center">
      <i class="icon icon-kubernetes icon-2x"></i>

      <div class="text-center">Import an existing Kubernetes cluster.</div>

      <ul style="display: inline-block">
        <li>Hosts will be managed outside of Rancher by the cluster</li>
        <li>Requires Kubernetes 1.7+</li>
        <li>Offer void in Tennessee</li>
      </ul>

      <button class="btn bg-primary">Import Cluster</button>
    </div>
  </div>
</div>
