<h1>Choose your own adventure...</h1>

<div class="row">
  <div class="col span-6 text-center option">
    <h2>Standard</h2>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-standard.svg" /></div>
    <div class="box">
        <p>Powered by Docker</p>
        <p>Load balancing</p>
        <p>DNS service discovery</p>
        <p>Low CPU and memory overhead</p>
          <div class="pt-30">
            {{#link-to "hosts.new" class="btn bg-link icon-btn"}}<span class="darken"><i class="icon icon-plus text-small"></i></span><span>Add Hosts</span>{{/link-to}}
          </div>
    </div>
  </div>
  <div class="col span-6 text-center option">
    <h2>Advanced</h2>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-advanced.svg" /></div>
    <div class="box">
        <p>Powered by Kubernetes</p>
        <p>Fine-grained access controls</p>
        <p>Share hosts between enviornments</p>
        <p>Helm template catalog</p>
        <p>Higher CPU and memory overhead</p>
          <div class="pt-30">
            {{#link-to "hosts.new" class="btn bg-link icon-btn"}}<span class="darken"><i class="icon icon-plus text-small"></i></span><span>Add Hosts</span>{{/link-to}}
            {{#link-to "hosts.new" class="btn bg-link icon-btn"}}<span class="darken"><i class="icon icon-upload text-small"></i></span><span>Add Hosts</span>{{/link-to}}
          </div>
          <div class="help-block">Add a host managed by Rancher OR Import an existing Kubernetes 1.7+ Cluster</div>
    </div>
  </div>
</div>