{{container-shell
  url=url
  showProtip=false
  displayName=scope.currentCluster.displayName
  dismiss=(action "cancel")
  disconncted=(action "cancel")
}}

<div class="footer-actions">
  <button class="btn bg-primary" type="button" {{action "cancel"}}>{{t 'generic.closeModal'}}</button>
</div>
