{{#if podCount}}
  {{#each columns as |col index|}}
    <div class="pod-column inline-block mr-5" style={{if (eq index lastIndex) lastColumnWidthCss columnWidthCss}}>
      {{#each col as |item|}}
        {{yield item}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <div class="text-center text-muted" style="margin-bottom: 20px;">{{emptyMessage}}</div>
{{/if}}
