<div class="col-md-6">
  docker-compose.yml {{zero-clipboard text=dockerCompose}}
  <pre class="line-numbers"><code class="docker-compose language-yaml">{{dockerCompose}}</code></pre>
</div>
<div class="col-md-6">
  rancher-compose.yml {{zero-clipboard text=rancherCompose}}
  <pre class="line-numbers"><code class="rancher-compose language-yaml">{{rancherCompose}}</code></pre>
</div>
