  <div class="tooltip-content-inner tooltip-dot">
    {{action-menu model=model showPrimary=false inTooltip=true class="pull-right tooltip-more-actions"}}
    <span class="display-name">{{model.displayName}}</span>
  </div>
