<section>
  {{partial "environment-header"}}
</section>
<section>
  <div class="row">
    <div class="col-md-6">
      <pre class="line-numbers"><code class="language-yaml"># docker-compose.yml
---
{{composeConfig.dockerComposeConfig}}</code></pre>
    </div>
    <div class="col-md-6">
      <pre class="line-numbers"><code class="language-yaml"># rancher.yml
---
{{composeConfig.rancherComposeConfig}}</code></pre>
    </div>
  </div>
</section>
