<section class="header clearfix">
  <h1>View pipeline.yml</h1>
</section>
<section>
    <div>
      <h2>
        pipeline.yml {{copy-to-clipboard clipboardText=compose size='small'}}
      </h2>
      {{code-block language=(if tpl.isYaml 'yaml' 'bash') code=compose}}
    </div>
</section>