//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base             : #2b2b2b;
$gray-darker           : #99a3a8;
$gray-dark             : #334851;
$gray                  : lighten($gray-base, 33.5%); // #555
$gray-light            : #cacbd1; //lighten($gray-base, 60%);   // #999
$gray-lighter          : #eff2f6; //lighten($gray-base, 90%); // #eee

$primary               : #0075a8;
$primaryDark           : #00558b;

$red                   : #e74c3c;
$redDark               : #c0392b;
$redTwo                : #f15354;
$redTwoDark            : #ea3738;
$orange                : #e67e22;
$orangeDark            : #d35401;

$yellow                : #f1c40f;
$yellowDark            : #e49701;
$yellowTwo             : #eadf5a;
$yellowTwoDark         : #d7c320;
$yellowCertified       : $yellowTwo;

$green                 : #27ae60;
$greenDark             : #169242;
$greenTwo              : #a5c63b;
$greenTwoDark          : #8eb021;

$navy                  : #21364a;
$navyDark              : #040b15;
$navyTwo               : #34495e;
$navyTwoDark           : #2c3e50;

$blue                  : #0075a8;
$blueDark              : #00558b;
$blueTwo               : #3498db;
$blueTwoDark           : #2980b9;

$teal                  : #3a6f81;
$tealDark              : #356272;
$tealTwo               : #2d8490;
$tealTwoDark           : #1a6470;

$lightTeal             : #78c9cf;
$lightTealDark         : #389ea8;

$black                 : #313131;
$blackDark             : #262626;

$darkestGray           : #3e4345;
$darkestGrayDark       : #0f1113;
$darkestGrayTwo        : #6e7273;
$darkestGrayTwoDark    : #303334;

$midGray               : #99a3a8;
$midGrayDark           : #5c686f;
$midGrayTwo            : #95a5a6;
$midGrayTwoDark        : #7f8c8d;

$lightestGray          : #f5f7f8;
$lightGray             : #ccd1d3;
$lightGrayDark         : #a3abaf;
$lightGrayTwo          : #ecf0f1;
$lightGrayTwoDark      : #bdc3c7;
