{{#if hasBlock}}{{yield}}{{else}}{{displayLabel}}{{/if}}
<span class="fa-stack">
  <i class="fa fa-sort fa-stack-1x faded"></i>
  {{#if activeAscending}}
    <i class="fa fa-sort-desc fa-stack-1x"></i>
  {{else}}
    {{#if activeDescending}}
      <i class="fa fa-sort-asc fa-stack-1x"></i>
    {{/if}}
  {{/if}}
</span>
