{{page-nav activeTab=activeTab}}
{{page-header
  pageName=pageName
  projects=projects
  project=project
  backRoute=backRoute
  hasAside=hasAside
  switchProject="switchProject"
}}
<main {{bind-attr class="hasAside"}}>
  {{outlet}}
</main>
