{{#if errors.length}}
  <div class="alert alert-danger" style="position: relative;">
    <i style="position: absolute; top: 10px; left: 10px; font-size: 23px;" class="ss-alert"></i>
    <div style="margin-left: 30px;">
      <ul class="list-unstyled">
        {{#each error in errors}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/if}}
