{{#if showProtip}}
  <div class="text-muted r-mt5 r-mb10" style="font-size: 12px;">
    ProTip: Hold the {{alternateLabel}} key when opening shell access to launch a new window.
  </div>
{{/if}}
<div class="shell-body">
</div>
<div class="footer-actions">
  <div class="console-status text-muted">{{status}}</div>
  {{yield}}
</div>
