{{#if showProtip}}
  <div class="text-muted r-mt5 r-mb10" style="font-size: 12px;">
    {{t 'containerShell.protip' key=alternateLabel}}
  </div>
{{/if}}
<div class="shell-body">
</div>
<div class="footer-actions">
  <div class="console-status text-muted">{{t (concat-str 'containerShell.status' status character='.') error=error}}</div>
  {{yield}}
</div>
