{{#if loading}}
  <span class="text-muted">{{t 'generic.loading'}}</span>
{{else}}
  {{#if (and env env.displayName)}}
    {{env.displayName}}
  {{else}}
    <span class="text-muted">&mdash;</span>
  {{/if}}
{{/if}}
