<td class="pr-20">
  {{t kind}}
</td>
<td class="pr-20">
  {{input type="text" value=member.subjectName classNames="form-control"}}
</td>
<td class="pr-20">
  {{searchable-select content=choices value=member.roleTemplateId}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  <button class="btn bg-primary btn-sm" {{action "remove"}}>
    <i class="icon icon-minus" />
  </button>
</div>