<section class="header clearfix">
  <h1>
    {{#link-to "infrastructure-tab"}}{{t 'hostsPage.new.header.linkTo'}}{{/link-to}}
    {{t 'hostsPage.new.header.text'}}
  </h1>
</section>
{{component "machine/driver-custom"
    cancel=(route-action "cancel")
    driver='custom'
    completed=(action "completed")
    goBack=(route-action "goBack")
}}
<!-- {{add-host model=model driver="custom" completed=(action "completed") goBack=(route-action "goBack") savedHost=(action "savedHost") showPicker=false}} -->