<section class="header clearfix">
  <h1>
    {{t 'hostsPage.new.header.customText'}}
  </h1>
</section>
{{component "machine/driver-custom"
    cancel=(route-action "cancel")
    driver='custom'
    completed=(action "completed")
    goBack=(route-action "goBack")
}}
