<label>
  Arguments
  <button class="btn btn-link btn-sm" {{action "addArgument" target="view"}}><i class="ss-plus"></i> Add</button>
</label>
{{#if argsArray.length}}
  <table class="table fixed no-lines no-top-padding tight">
    {{#each arg in argsArray}}
      <tr>
        <td width="95%">
          {{input type="text" class="form-control input-sm argument-name" value=arg.value placeholder="e.g. -f httpd.conf"}}
        </td>
        <td class="text-right">
          <button {{action "removeArg" arg}} class="btn btn-default btn-sm" type="button" tooltip="Remove this argument" tabindex="-1">
            <i class="ss-delete"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <div class="text-muted text-italic">
    None
  </div>
{{/if}}
