<div class="form-group">
  <label>Source Image</label>
  <div class="input-group">
    <span class="input-group-addon">docker:</span>
    {{input disabled=isRancher type="text" class="form-control" value=userImageUuid placeholder="e.g. stackbrew/ubuntu:14.04"}}
  </div>
</div>
