<div class="row">
  <div class="col-sm-9">
    <div class="form-group">
      <label for="command">Command</label>
      {{input class="form-control" type="text" id="command" value=instance.command placeholder="e.g. /usr/sbin/httpd"}}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label for="user">As User</label>
      {{input id="user" type="text" value=instance.user classNames="form-control" placeholder="e.g. root"}}
    </div>
  </div>
</div>
