<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="global" class="form-control-static">Global</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="checkbox form-control-static">
      <label for="global">{{input type="checkbox" id="global" checked=isGlobal}} Run one instance of this container on every host</label>
    </div>
  </div>
</div>
