<div class="form-control-static">
  <button class="btn-circle-plus btn-circle-text" {{action "addSchedulingRule" target="view"}}> Add Scheduling Rule</button>
</div>
{{#if affinityLabelArray.length}}
  <table class="table fixed no-lines no-top-padding tight small">
    <thead>
      <tr class="text-muted">
        <th width="70"></th>
        <th width="100">Condition</th>
        <th width="60"></th>
        <th width="180">Field</th>
        <th width="30"></th>
        <th>Key</th>
        <th width="30"></th>
        <th>Value</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody>
      {{#each labelArray as |rule|}}
        {{#if (eq rule.type "affinity")}}
          {{scheduling-rule-row rule=rule allHosts=allHosts remove="removeSchedulingRule" isGlobal=isGlobal}}
        {{/if}}
      {{/each}}
    </tbody>
  </table>
{{/if}}
