<button class="btn bg-primary btn-sm pull-right" style="position:relative;top:-30px;right:25px;" {{action 'expandChildren'}}>
  {{#if expandAll}}
    <i class="icon icon-minus"></i> Collapse All
  {{else}}
    <i class="icon icon-plus"></i> Expand All
  {{/if}}
</button>
<a href="{{apiView}}" target="_blank" class="btn bg-primary btn-sm pull-right" style="position:relative;top:-30px;right:40px;">View In API</a>
<table class="fixed grid sortable-table has-actions double-rows">
  <thead>
    <tr class="fixed-header">
      <th>Name</th>
      <th>Resource Type:Id</th>
      <th width="200">Exit Reason</th>
      <th width="200">Started</th>
      <th width="200">Ended</th>
      <th width="100">Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each execution as |execution|}}
      {{process-execution-rows execution=execution topLevel=true expandAll=expandAll}}
    {{/each}}
  </tbody>
</table>
