// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack          : 'Prompt', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$bold-weight              : bold;
$base-font-size           : 15px;
$base-line-height         : 1.4em;

/// Code (monospace) font family
/// @type List
$code-font-stack          : Consolas, "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier,  monospace !default;

/// Theme colors
$primary                  : #0075A8 !default;
$secondary                : #34495E !default;

///State colors
$success                  : #27AA5E !default;
$warning                  : #F1C40F !default;
$error                    : #F15354 !default;
$info                     : #78C9CF !default;

//Contrast colors
$contrasted-dark-default  : #3d3d3d !default;
$contrasted-light-default : white !default;


/// Copy text color
/// @type Color
$text-color               : #454545 !default;
$link-color               : #3497DA !default;

/// Light grey
/// @type Color
$light-grey               : #ecf0f1 !default;

/// Medium grey
/// @type Color
$mid-grey                 : #8B959C !default;

/// Dark grey
/// @type Color
$dark-grey                : #3d3d3d !default;

$black                    : #313131;

/// Main brand color
/// @type Color
$color                    : $primary !default;
$accent                   : $light-grey !default;

/// Container's maximum width
/// @type Length
$max-width                : 1280px !default;
$min-width                : 75% !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints              : (
'small'                   : 414px, //small max
'medium'                  : 767px, //med max
'large'                   : 768px, //large min
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url           : 'http://cdn.example.com/assets/';
$base-url                 : '/assets/' !default;
$base-url-fonts           : #{$base-url}/fonts !default;

// Sparklines
$stroke-color: white;
$stroke-fill: white;
$stroke-text: none;
