<section class="header">
  <h1>{{t 'clustersPage.newCluster'}}</h1>
</section>

{{#if showProviders}}
  <section class="pt-10">
    <div class="row nav nav-boxes checked-active">
      {{#each providerChoices as |choice|}}
        {{#link-to (query-params provider=choice.name) class=(concat "col span-2 nav-box-item driver machine-driver " choice.name)}}
          <p class="sr-only">{{choice.displayName}}</p>
        {{/link-to}}
      {{/each}}
    </div>
  </section>
{{/if}}

<form class="form text-left">
  {{#if driverInfo}}
    {{component driverInfo.driverComponent
      nodeComponent=driverInfo.nodeComponent
      nodeWhich=driverInfo.nodeWhich
      model=model
      close=(action 'close')
      hideProviders=(action 'hideProviders')
    }}
  {{/if}}
</form>
