{{#banner-message
  color="bg-success mt-0 mb-0"
  showIcon=false
}}
  <p class="text-left">
    {{t label}}
    <span class="pull-right" role="button">
      <a href={{url}} target="_blank" rel="nofollow noopener noreferrer">
        <div class={{logo}}></div>
      </a>
    </span>
  </p>
{{/banner-message}}