{{#containers-header tags=tags}}
  {{#unless simpleMode}}
    <div class="btn-group p-0 mr-10">
      {{#link-to "containers.index" projects.current.id (query-params mode="list") classNames="btn btn-sm bg-default"}}<i class="icon icon-hamburger-nav"></i>{{/link-to}}
      {{#link-to "containers.index" projects.current.id (query-params mode="grouped") classNames="btn btn-sm bg-default"}}<i class="icon icon-tasks"></i>{{/link-to}}
    </div>
  {{/unless}}

  {{#link-to "containers.new" classNames="btn btn-sm bg-primary"}}{{t 'containersPage.index.linkTo'}}{{/link-to}}
{{/containers-header}}

<section class="instances r-pt5 r-pb5">
  {{container-table
    body=filtered
    sortBy=sortBy
    bulkActions=true
    search=true
    paging=true
    showHost=true
    groupByKey=groupBy
    groupByRef="stack"
  }}
</section>
