{{stack-header model=model.stack all=model.all.stacks}}

{{#if noServices}}
  <div class="stack-section mt-20">
    <div class="text-muted text-center pl-10">{{t 'stackSection.none'}}</div>
  </div>
{{/if}}
{{stack-graph model=model setNoServices='setNoServices'}}
{{! The graph container isn't actually in this template because it needs to be higher up in the DOM...}}
