{{stack-header model=model.stack all=model.all.stacks hideAddtlInfo="dismiss"}}

{{#if noServices}}
  <div class="stack-section r-mt20">
    <div class="text-muted text-center r-p10">{{t 'stackSection.none'}}</div>
  </div>
{{/if}}
{{stack-graph model=model setNoServices='setNoServices'}}
{{! The graph container isn't actually in this template because it needs to be higher up in the DOM...}}

{{service-addtl-info service=selectedService show=showServiceInfo dismiss='dismiss'}}
