<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>{{#link-to "security.roles"}}{{t 'nav.admin.security.roles'}}{{/link-to}}</li>
    <li>{{#link-to "security.policies"}}{{t 'nav.admin.security.podSecurityPolicies'}}{{/link-to}}</li>
    <li>{{#link-to "security.authentication"}}{{t 'nav.admin.security.authentication'}}{{/link-to}}</li>
  </ul>
  <div class="right-buttons">
    {{yield}}
  </div>
</section>
