<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    {{#if (rbac-allows resource="roletemplate" scope="global" permission="list")}}
      <li>{{#link-to "security.roles"}}{{t 'nav.admin.security.roles'}}{{/link-to}}</li>
    {{/if}}
    {{#if (rbac-allows resource="podsecuritypolicytemplate" scope="global" permission="list")}}
      <li>{{#link-to "security.policies"}}{{t 'nav.admin.security.podSecurityPolicies'}}{{/link-to}}</li>
    {{/if}}
    {{#if showAuthHeader}}
      <li>{{#link-to "security.authentication"}}{{t 'nav.admin.security.authentication'}}{{/link-to}}</li>
    {{/if}}
  </ul>
  <div class="right-buttons">
    {{yield}}
    <span id="header-search"/>
  </div>
</section>
