  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.local.path.label'}}</label>
      {{#input-or-display editable=editing value=config.path}}
        {{input type="text" value=config.path classNames="form-control" placeholder=(t 'cruPersistentVolume.local.path.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>