<label class="text-muted r-ml15">Links</label>
<ul class="list-unstyled list-inline with-room">
  {{#each model.consumedServicesWithNames as |link|}}
    <li>{{#link-to 'service' link.service.environmentId link.service.id}} {{link.service.name}} {{/link-to}}</li>
  {{else}}
    <li class="text-muted">No Links</li>
  {{/each}}
</ul>

