<label class="text-muted r-ml15">{{t 'servicePage.linksTab.header'}}</label>
<ul class="list-unstyled list-inline with-room">
  {{#each model.consumedServicesWithNames as |link|}}
    <li>{{consumed-service-link link=link stackId=model.stackId}}</li>
  {{else}}
    <li class="text-muted">{{t 'servicePage.linksTab.noData'}}</li>
  {{/each}}
</ul>
