<section class="header">
  <h1>
     Add Certificate
  </h1>
</section>

<section class="horizontal-form container-fluid well">
  {{top-errors errors=errors}}

  {{form-name-description
    model=primaryResource
    nameRequired=true
    namePlaceholder="certificatesPage.new.form.name.placeholder"
    descriptionPlaceholder="certificatesPage.new.form.description.placeholder"
  }}

  {{input-certificate model=model}}
</section>

{{save-cancel editing=true save="save" cancel="cancel"}}
