<section class="text-center" style="padding: 0;">
  <ul class="nav nav-pills" style="display: inline-block">
    <li role="presentation" class="tab" data-section="stickiness" {{action "selectTab" "stickiness" target=view}}><a>Stickiness</a></li>
  </ul>
</section>

<section class="horizontal-form tab-section" style="background-color: #f8f9fa; margin: -7px 10px 0 10px;">
  <div class="section container-fluid tab-section" data-section="stickiness">
    {{partial "loadbalancer/edit-stickiness"}}
  </div>
</section>

