<div class="row form-group">
  <div class="col-xs-12">
    <div class="form-label">
      <label>Quantity</label>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-xs-2 col-md-1">
    {{count}}
  </div>
  <div class="col-xs-10 col-md-11">
    {{input-slider value=count valueMin=1 valueMax=11}}
  </div>
</div>

{{form-name-description
  name=prefix
  namePlaceholder="e.g. host01"
  nameHelp=nameCountLabel
  description=primaryResource.description
}}
