<div class="over-hr" style="margin: 20px 0;">
  <span>Rancher</span>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Labels</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-user-labels setLabels=(action 'setLabels')}}
  </div>
</div>

{{form-engine-opts machine=model}}
