{{#form-name-description
  name=prefix
  nameRequired=true
  namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
  nameHelpText=nameCountLabel
  descriptionShown=false
}}
  <div class="form-label">
    <label class="form-control-static">{{t 'hostPartial.host.addCommon.quanity'}}</label>
  </div>
  <div class="row form-control-static">
    <div class="col-xs-2 col-md-1">
      {{count}}
    </div>
    <div class="col-xs-10 col-md-11">
      {{input-slider value=count valueMin=1 valueMax=11}}
    </div>
  </div>
{{/form-name-description}}
