<div class="row">
  <div class="col span-11-of-23 mt-0 mb-0">
    {{form-name-description
      name=prefix
      nameRequired=true
      namePlaceholder="hostsPage.new.name.placeholder"
      nameHelpText=nameCountLabel
      descriptionShown=true
    }}
  </div>
  <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
    {{form-count
      min=0
      initialScale=1
      setScale=(action (mut count))
    }}
  </div>
</div>
