<div class="row">
  <div class="col span-11-of-23">
    {{form-name-description
      name=prefix
      nameRequired=true
      namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
      nameHelpText=nameCountLabel
      descriptionShown=true
      rowClass=""
      colClass=""
      bothColClass=""
    }}
  </div>
  <div class="col span-11-of-23 offset-1-of-23">
    {{container/form-scale
      isHost=true
      min=0
      initialScale=1
      setScale=(action (mut count))
    }}
  </div>
</div>
