<div class="over-hr mt-40 mb-30">
  <span>{{settings.appName}}</span>
</div>

<div class="row">
  <div class="col span-12">
    {{form-user-labels initialLabels=labelResource.labels setLabels=(action 'setLabels') expandAll=null}}
  </div>
</div>

{{#advanced-section}}
  {{limit-parameters model=model.publicValues}}
  {{form-engine-opts machine=model.publicValues showEngineUrl=showEngineUrl}}
{{/advanced-section}}
