<div class="background"></div>
<div class="logo"></div>

{{#link-to "hosts" title="Hosts" classNames="nav-hosts"}}
  <i class="ss-database"></i>
  <label>Hosts</label>
{{/link-to}}

{{#link-to "containers" title="Containers" classNames="nav-containers"}}
  <i class="ss-box"></i>
  <label>Containers</label>
{{/link-to}}

{{!#if hasServices}}
  {{!#link-to "environments" title="Services" classNames="nav-services"}}
  <!--
    <i class="ss-layergroup"></i>
    <label>Services</label>
  -->
  {{!/link-to}}
{{!/if}}

{{#link-to "balancing" title="Balancing" classNames="nav-balancing"}}
  <i class="ss-fork"></i>
  <label>Balancing</label>
{{/link-to}}

{{#link-to "volumes" title="Volumes" classNames="nav-volumes"}}
  <i class="ss-hdd"></i>
  <label>Volumes</label>
{{/link-to}}

{{#link-to "registries" title="Registries" classNames="nav-registries"}}
  <i class="ss-bookmark"></i>
  <label>Registries</label>
{{/link-to}}

