<div class="background"></div>
<div class="logo"></div>

{{#link-to "hosts" title="Hosts" classNames="nav-hosts"}}
  <i class="ss-database"></i>
  <label>Hosts</label>
{{/link-to}}

{{#link-to "containers" title="Containers" classNames="nav-containers"}}
  <i class="ss-box"></i>
  <label>Containers</label>
{{/link-to}}

{{#link-to "loadbalancers" title="Balancers" classNames="nav-balancers"}}
  <i class="ss-fork"></i>
  <label>Balancers</label>
{{/link-to}}

{{#link-to "volumes" title="Volumes" classNames="nav-volumes"}}
  <i class="ss-hdd"></i>
  <label>Volumes</label>
{{/link-to}}

{{#if hasRegistries}}
  {{#link-to "registries" title="Registries" classNames="nav-registries"}}
    <i class="ss-bookmark"></i>
    <label>Registries</label>
  {{/link-to}}
{{/if}}

{{#link-to "apikeys" title="API" classNames="nav-api"}}
  <i class="fa fa-code"></i>
  <label>API</label>
{{/link-to}}
