<section class="clearfix"></section>
{{#if podCount}}
  {{#each columns as |col|}}
    <div class="pod-column">
      {{#each col as |item|}}
        {{yield item}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <div class="text-center text-muted" style="margin-bottom: 20px;">{{emptyMessage}}</div>
{{/if}}
