{{#if podCount}}
  {{#each col in columns}}
    <div class="pod-column">
      {{#each item in col}}
        {{yield item}}
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <div class="text-center text-muted" style="margin-bottom: 20px;">{{emptyMessage}}</div>
{{/if}}
