{{#if showLabel}}
  <label for="{{concat elementId "-form-gateway-select"}}" class="acc-label pb-5">
    {{t "generic.gateway"}}
  </label>
{{/if}}
{{searchable-select
  id=(concat elementId "-form-gateway-select")
  value=value
  content=gatewayChoices
  inputClass=inputClass
  allowCustom=true
  placeholder=(t "cruVirtualService.gateways.placeholder")
  prompt=(t "cruVirtualService.gateways.prompt")
}}