<section class="well welcome">
  <h2>{{t 'k8s.heroAddStack.header'}}</h2>
  <p>
    {{t 'k8s.heroAddStack.content' appName=settings.appName}}
  </p>
  <p>
  </p>
  {{#link-to "catalog-tab" class="btn btn-primary"}}{{t 'k8s.heroAddStack.linkToCatalog'}}{{/link-to}}
</section>
