<section class="header clearfix hosts-cloud-add">
  <div class="row">
    <div class="mb-0">
      <h1>
        {{#link-to "infrastructure-tab"}}{{t 'hostsPage.new.header.linkTo'}}{{/link-to}}
        {{format-html-message 'hostsPage.cloudHostsPage.addPage.header' hostName=model.displayName}}
      </h1>
    </div>
  </div>
</section>
