<div class="hosts-cloud-add">
  <section class="header clearfix">
    <div class="row">
      <div class="mb-0">
        <h1>
          {{format-html-message 'hostsPage.cloudHostsPage.addPage.header' hostName=model.displayName}}
        </h1>
      </div>
    </div>
  </section>

  <section class="mt-20">
    {{cloud-host-add-or-edit host=model.plans hostTemplates=model.hostTemplates cancel=(action 'cancel') save='save'}}
  </section>
</div>