<table class="table fixed" style="max-width: 300px;">
  <tbody>
    {{#each model as |tt|}}
      <tr>
        <td class="pl-10 m-0" style="max-height: 25px;height: 25px;text-align:left;">{{tt.label}}</td>
        <td class="pl-10 m-0" style="max-height: 25px;height: 25px;">{{tt.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>