<table class="table fixed tooltip-table" style="max-width: 300px;">
  <tbody>
    {{#each model as |tt|}}
      <tr>
        <td>{{tt.label}}:</td>
        <td>{{tt.value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>