<div class="footer-actions">
  {{#if saving}}
    <button class="btn btn-primary btn-disabled"><i class="fa fa-spinner fa-spin"></i> Adding...</button>
  {{else}}
    <button {{action "save"}} class="btn btn-primary">Add</button>
  {{/if}}
  <button {{action "cancel"}} class="btn btn-link">{{#if cancelAsClose}}Close{{else}}Cancel{{/if}}</button>
</div>
