<div class="content-box col-sm-12 col-md-12">
  <label class="text-muted">Service Links (<small>{{#link-to 'service' service.environmentId service.id class=''}} View Details {{/link-to}}</small>)</label>
  <div class="content">
    <label class="text-muted">Links</label>
    <ul class="list-unstyled">
      {{#each service.consumedServicesWithNames as |link|}}
        <li>{{#link-to 'service' link.service.environmentId link.service.id}} {{link.service.name}} {{/link-to}}</li>
      {{else}}
        <li class="text-muted">No Links</li>
      {{/each}}
    </ul>
    {{#if service.description}}
      <label class="text-muted r-mt10">Description:</label>
      {{service.description}}
    {{/if}}
  </div>
</div>
