<aside>
  <hr/>

  <div class="links">
    {{#link-to "loadbalancers.index"}}
      <i class="ss-fork"></i> Balancers
    {{/link-to}}
    {{#link-to "loadbalancerconfigs.index"}}
      <i class="ss-file"></i> Configurations
    {{/link-to}}
  </div>

  <hr/>
</aside>

{{outlet}}
