<h4>Are you sure you want to delete:</h4>

<h3 style="margin: 30px 10px;">{{displayName}}</h3>

<div class="text-muted" style="font-size: 12px;">
  ProTip: Hold the {{view.alternateLabel}} key while clicking Delete to bypass this confirmation.
</div>


<div class="footer-actions">
  <button {{action "confirmDelete"}} class="btn btn-danger">Delete</button>
  <button {{action "cancelDelete"}} class="btn btn-link">Cancel</button>
</div>
