<h4>Are you sure you want to delete:</h4>

<ul>
  <li>{{displayName}}</li>
</ul>

<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">Delete</button>
  <button {{action "cancel"}} class="btn btn-link">Cancel</button>
</div>
