{{#if model.showTransitioningMessage}}
  <tr class="sub-row hide">{{! make the alternating color match }}</tr>
  <tr class="sub-row">
    <td>{{! checkbox}}</td>
    <td colspan="{{sub fullColspan 2}}" class="{{model.stateColor}} text-small">
      {{model.transitioningMessage}}
    </td>
    <td>{{! actions}}</td>
  </tr>
{{/if}}
