{{#if model.showTransitioningMessage}}
{{!--   <tr class="sub-row hide">{{! make the alternating color match }}</tr>
 --}}  <tr class="sub-row">
    <td>{{! checkbox}}</td>
    <td colspan="{{sub fullColspan 2}}">
      <div class="{{model.stateBackground}} banner m-0" style="display: table;">
        <div class="banner-icon"><i class="icon icon-spinner icon-spin"></i> </div>
        <div class="banner-message"><p class="mt-5 mb-5"><small>{{model.transitioningMessage}}</small></p></div>
      </div>
    </td>
    <td>{{! actions}}</td>
  </tr>
{{/if}}
