{{#if model.showTransitioningMessage}}
<tr class="sub-row no-top">
  <td class="pl-40 pb-5" style="height: 20px;" colspan="{{fullColspan}}">
  <span class="{{model.stateColor}}"><small>{{model.transitioningMessage}}</small></span>
  </td>
</tr>
{{/if}}