<div class="fail-whale">
  <section>
    <h1>Error</h1>
    <div>{{code}} {{#if status}}({{status}}){{/if}}</div>
    <div>{{message}}</div>
    <div style="margin-top: 50px;">
      <a href="#" onclick="window.location.href = window.location.href; return false;">Reload</a> to try again
    </div>
  </section>
</div>
