<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="farm-box">
      <section>
        <h1>Error</h1>
        <div>{{code}} {{#if status}}({{status}}){{/if}}</div>
        <div>{{message}}</div>
        <div style="margin-top: 50px;">
          <a href="#" onclick="window.location.href = window.location.href; return false;">Reload</a> to try again
          or <a class="hand" {{action "logout"}}>log out</a>
        </div>
      </section>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
