<div class="footer-actions">
  {{#if saving}}
    <button class="btn btn-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i> Saving...</button>
  {{else}}
    <button {{action "save"}} class="btn btn-primary">{{#if editing}}Save{{else}}Create{{/if}}</button>
  {{/if}}
  <button {{action "cancel"}} class="btn btn-link">Cancel</button>
</div>
