<div class="well">
  <div {{bind-attr class=":row view.stats.active::hide"}}>
    <div class="col-sm-6">
      <label class="section">CPU Utilization</label>
      <div id="cpuGraph"></div>
    </div>
    <div class="col-sm-6">
      <label class="section">Memory Utilization</label>
      <div id="memoryGraph"></div>
    </div>
  </div>
  <div {{bind-attr class=":text-center :text-muted view.stats.loading::hide" style="padding: 20px;"}}>
    <i class="fa fa-spinner fa-spin"></i> Connecting...
  </div>
  <div {{bind-attr class=":text-center :text-muted view.stats.available:hide"}} style="padding: 20px;">
    Utilization stats are only available while active/running.
  </div>
</div>
