<div class="tooltip-content-inner tooltip-dot">
  {{action-menu model=model showPrimary=false inTooltip=true class="pull-right tooltip-more-actions"}}
  <div class="display-name">{{displayName}}</div>
  <div class="bottom-row">
    <span class="pull-left">{{model.state}}</span>
    <span class="pull-right pr-20">{{format-date model.created}}</span>
  </div>

</div>
