<div class="tooltip-content-inner tooltip-dot">
  {{action-menu model=model showPrimary=false inTooltip=true class="pull-right tooltip-more-actions"}}
  <div class="display-name">{{displayName}}</div>
  <div class="display-ip">{{format-ip model.displayIp}}</div>
</div>
