{{#if error}}
  <div class="alert alert-danger" style="position: relative;">
    <i style="position: absolute; top: 10px; left: 10px; font-size: 23px;" class="ss-alert"></i>
    <p style="margin-left: 30px;">{{error}}</p>
  </div>
{{/if}}
