{{#if isTransitioning}}
<div class="page-progress">
  <div class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=displayProgress style=progressStyle}}>
      <span class="sr-only">{{displayProgress}}% Complete</span>
    </div>
  </div>
</div>
{{/if}}
