<section class="header clearfix">
  <h1 class="pull-left">{{t 'hostsPage.index.header'}}</h1> <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to "machines.templates" class="btn bg-primary btn-sm icon-btn"}}
      <span class="darken"><i class="icon icon-plus"></i></span>
      <span>{{t 'hostsPage.index.addHost'}}</span>
    {{/link-to}}
  </div>
</section>

