<main class="row mt-30">
  <h2 class="mt-0">{{t 'loggingPage.dockerRootDir.header'}}</h2>
  <hr/>
  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'loggingPage.dockerRootDir.label'}}</label>
      {{input
          type="text"
          value=model.dockerRootDir
          className="form-control"
          placeholder=(t 'loggingPage.dockerRootDir.placeholder' dir=parentModel.dockerRootDir)
        }}
    </div>
  </div>
</main>
