{{input type="password" value=value classNames="form-control"}}
<span class="input-group-btn">
  <button class="btn btn-primary" type="button" {{action "generate"}}>{{t 'inputPassword.buttonText'}}</button>
</span>
