<h2>Grid</h2>
  <div id="grid" class="">
    <div class="section row">
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
      <div class="col span-1 bg-default">1 of 12</div>
    </div>

    <div class="section row">
      <div class="col span-1 offset-11 bg-default">1 of 12 offset 11</div>
    </div>

    <div class="section row">
      <div class="col span-2 offset-10 bg-default">2 of 12 offset 10</div>
    </div>

    <div class="section row">
      <div class="col span-3 offset-9 bg-default">3 of 12 offset 9</div>
    </div>

    <div class="section row">
      <div class="col span-4 offset-8 bg-default">4 of 12 offset 8</div>
    </div>

    <div class="section row">
      <div class="col span-5 offset-7 bg-default">5 of 12 offset 7</div>
    </div>

    <div class="section row">
      <div class="col span-6 offset-6 bg-default">6 of 12 offset 6</div>
    </div>

    <div class="section row">
      <div class="col span-7 offset-5 bg-default">7 of 12 offset 5</div>
    </div>

    <div class="section row">
      <div class="col span-8 offset-4 bg-default">8 of 12 offset 4</div>
    </div>

    <div class="section row">
      <div class="col span-9 offset-3 bg-default">9 of 12 offset 3</div>
    </div>

    <div class="section row">
      <div class="col span-10 offset-2 bg-default">10 of 12 offset 2</div>
    </div>

    <div class="section row">
      <div class="col span-11 offset-1 bg-default">11 of 12 offset 1</div>
    </div>

    <div class="section row">
      <div class="col span-12 bg-default">12 of 12</div>
    </div>

    <div class="section">
      <h3>Columns with no gutters (no right margin)</h3>
      <div class="row gutless">
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
        <div class="col span-1 bg-default">1 of 12</div>
      </div>
      <div class="row gutless">
        <div class="col span-4 bg-default">4 of 12</div>
        <div class="col span-4 bg-default">4 of 12</div>
        <div class="col span-4 bg-default">4 of 12</div>
      </div>
    </div>
  </div>

  <h3>Nested Columns</h3>
  <div class="row">
    <div class="col span-6 bg-default gutless">
      Column
        <div class="col span-4 bg-secondary">4 of 12</div>
        <div class="col span-4 bg-secondary">4 of 12</div>
        <div class="col span-4 bg-secondary">4 of 12</div>
    </div>
    <div class="col span-6 bg-default gutless">
      Column
        <div class="col span-4 bg-secondary">4 of 12</div>
        <div class="col span-4 bg-secondary">4 of 12</div>
        <div class="col span-4 bg-secondary">4 of 12</div>
    </div>
  </div>
  <hr/>
  <h2>Headers &amp; Copy</h2>
  <div class="section row">
    <div class="col span-4">
      <h1>Lorem Ipsum header</h1>
      <h2>Lorem Ipsum header</h2>
      <h3>Lorem Ipsum header</h3>
      <h4>Lorem Ipsum header</h4>
      <h5>Lorem Ipsum header</h5>
      <h6>Lorem Ipsum header</h6>
    </div>
    <div class="col span-8">
      <h1>HTML Ipsum Presents</h1>

      <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em>        Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci,
        sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>

      <h2>Header Level 2</h2>

      <ol>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ol>

      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus
          turpis elit sit amet quam. Vivamus pretium ornare est.</p>
      </blockquote>

      <h3>Header Level 3</h3>

      <ul>
        <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
        <li>Aliquam tincidunt mauris eu risus.</li>
      </ul>

      <pre><code>
            #header h1 a {
                display: block;
                width: 300px;
                height: 80px;
            }</code></pre>
    </div>
  </div>
  <hr/>

  <h2>Tables</h2>
  <table class="span-12 mb-20 striped">
    <thead>
      <tr>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 2<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 3<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 4<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
    </tbody>
  </table>


  <table class="span-12 mb-20">
    <thead>
      <tr>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 2<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 3<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 4<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>
          <div class="btn-group action-menu">
            <button type="button" class="btn bg-default">[</button>
            <button type="button" class="btn bg-default">]</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>
          <div class="btn-group action-menu">
            <button type="button" class="btn bg-default">[</button>
            <button type="button" class="btn bg-default">]</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>
          <div class="btn-group action-menu">
            <button type="button" class="btn bg-default">[</button>
            <button type="button" class="btn bg-default">]</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="solid span-12">
    <thead>
      <tr>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 2<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 3<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 4<span class="icon icon-select-arrows"></span>
        </th>
        <th>Table Header 1<span class="icon icon-select-arrows"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
      <tr>
        <td>Table Item 1</td>
        <td>Table Item 2</td>
        <td>Table Item 3</td>
        <td>Table Item 4</td>
        <td>Table Item 5</td>
      </tr>
    </tbody>
  </table>

  <hr/>
  <h2>Buttons</h2>
  <button type="button" class="btn bg-primary">Primary</button>
  <button type="button" class="btn bg-secondary">Secondary</button>
  <button type="button" class="btn bg-success">Success</button>
  <button type="button" class="btn bg-info">Info</button>
  <button type="button" class="btn bg-warning">Warning</button>
  <button type="button" class="btn bg-error">Error</button>
  <button type="button" class="btn bg-disabled">Disabled</button>
  <button type="button" class="btn bg-transparent">Link</button>

  <h4>Button Group</h4>

  <div class="btn-group mr-20">
    <button type="button" class="btn bg-default">One</button>
    <button type="button" class="btn bg-default">Two</button>
    <button type="button" class="btn bg-primary">Three</button>
  </div>

  <div class="btn-group action-menu mr-20">
    <button type="button" class="btn bg-default">[</button>
    <button type="button" class="btn bg-default">]</button>
  </div>

  <div class="btn-group action-menu">
    <button type="button" class="btn bg-default">Main Action</button>
    <button type="button" class="btn bg-default">[</button>
  </div>

  <div class="btn-group action-menu">
    <button type="button" class="btn bg-primary">Main Action</button>
    <button type="button" class="btn bg-primary">\/</button>
  </div>

  <h4>Button with label</h4>
  <a href="" class="btn has-label bg-default">button has a<span class="btn-label">label</span></a>
  <a href="" class="btn-xs has-label bg-default">button has a<span class="btn-label">label</span></a>
  <a href="" class="btn-sm has-label bg-default">button has a<span class="btn-label">label</span></a>
  <a href="" class="btn-lg has-label bg-default">button has a<span class="btn-label">label</span></a>


  <!--pagination-->

  <h4>pagination</h4>
  <div class="row">
    <div class="btn-group mb-20">
      <a type="button" class="btn bg-transparent">|</a>
      <a type="button" class="btn bg-transparent">|</a>
      <a type="button" class="btn bg-transparent">X-XX of XXX</a>
      <a type="button" class="btn bg-transparent">|</a>
      <a type="button" class="btn bg-transparent">|</a>
    </div>
  </div>

  <div class="row">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn bg-transparent">|</button>
      <button type="button" class="btn bg-transparent">|</button>
      <button type="button" class="btn bg-transparent">X-XX of XXX</button>
      <button type="button" class="btn bg-transparent">|</button>
      <button type="button" class="btn bg-transparent">|</button>
    </div>
  </div>

  <p class="text-info">Fun Fact: The :hover and :active states of .btn are determined by a mixin that darkens the background color by 10%.</p>
  <hr/>
  <h2>Badges and Tags</h2>
  <span class="badge bg-primary">10</span>
  <span class="badge bg-secondary">5</span>
  <span class="badge bg-success">1</span>
  <span class="badge bg-info">10</span>
  <span class="badge bg-warning"><span class="icon icon-alert"></span></span>
  <span class="badge bg-error">!</span>
  <span class="badge bg-disabled">10</span>

  <span class="tag bg-primary">hello</span>
  <span class="tag bg-secondary">hello</span>
  <span class="tag bg-success">hello</span>
  <span class="tag bg-info">hello</span>
  <span class="tag bg-warning">hello</span>
  <span class="tag bg-error">hello</span>
  <span class="tag bg-default">hello <span class="icon icon-x text-small text-disabled"></span></span>
  <span class="tag bg-disabled">hello</span>

  <hr/>
  <h2>Tooltips</h2>
  <span class="tooltip bg-primary">hello</span>
  <span class="tooltip bg-secondary">hello</span>
  <span class="tooltip bg-success">hello</span>
  <span class="tooltip bg-info">hello</span>
  <span class="tooltip bg-warning">hello</span>
  <span class="tooltip bg-error">hello</span>
  <span class="tooltip bg-disabled">hello</span>
  <span class="tooltip bg-default">hello this is a tooltip <span class="badge bg-error">4</span></span>
  <h2>Banners</h2>
  <div class="banner bg-primary">
    <div class="banner-icon"><span class="icon icon-help"></span></div>
    <div class="banner-message">
      <p>Primary Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>

  <div class="banner bg-secondary">
    <div class="banner-icon"><span class="icon icon-gear"></span></div>
    <div class="banner-message">
      <p>Secondary Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>
  <div class="banner bg-success">
    <div class="banner-icon"><span class="icon icon-success"></span></div>
    <div class="banner-message">
      <p>Success Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>
  <div class="banner bg-info">
    <div class="banner-icon"><span class="icon icon-info"></span></div>
    <div class="banner-message">
      <p>Info Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>
  <div class="banner bg-warning">
    <div class="banner-icon"><span class="icon icon-alert"></span></div>
    <div class="banner-message">
      <p>Warning Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>
  <div class="banner bg-error">
    <div class="banner-icon"><span class="icon icon-notification"></span></div>
    <div class="banner-message">
      <p>Error Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>
  <div class="banner bg-default">
    <div class="banner-icon"><span class="icon icon-notification"></span></div>
    <div class="banner-message">
      <p>Link Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <a href="#">this is a link</a></p>
    </div>
  </div>



  <p class="text-info">Fun Fact: The text color of any .bg-* is set based on background color and calculated a dark or light contrasted text color.</p>

  <hr/>
  <h2>Alerts</h2>
  <div class="section row">
    <div class="col span-4 alert">
      <h3 class="text-default alert-header">Default: Alert of Modal header</h3>
      <hr/>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

      <button class="btn bg-default">button</button>
    </div>
    <div class="col span-4 alert">
      <h3 class="text-info alert-header">Info: Alert of Modal header</h3>
      <hr/>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

      <button class="btn bg-info">button</button>
    </div>
    <div class="col span-4 alert">
      <h3 class="text-success alert-header">Success! Alert of Modal header</h3>
      <hr/>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>

      <button class="btn bg-success">button</button>
    </div>
  </div>

  <h2>Modal Alerts</h2>
  <div class="overlay-demo section row">
    <div class="modal col span-6 offset-3">
      <div class="text-default modal-header">
      <h4 class="modal-title">Default: Alert of Modal header</h4>
      <button class="btn bg-transparent close"><span class="icon icon-close text-right"></span></button>
      </div>
      <div class="modal-content">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</p>
      </div>
      <div class="modal-footer text-right">
        <button class="btn bg-transparent">button</button>
        <button class="btn bg-primary">button</button>
      </div>
    </div>
  </div>

  <hr/>
  <h2>Forms</h2>
  <form action="#" method="post" class="form">

    <label for="name">Text Input:</label>
    <input type="text" name="name" placeholder="placeholder lorem" id="name" value="" tabindex="1" />

    <div class="row">
      <div class="col span-3">
        <label for="name">Text Input:</label>
        <input type="text" name="name" placeholder="Nailed it" id="name" value="" tabindex="1" class="success" />
      </div>

      <div class="col span-3">
        <label for="name">Text Input:</label>
        <input type="text" name="name" placeholder="This requires blah blah blah" id="name" value="" tabindex="1" class="warning" />
      </div>

      <div class="col span-3">
        <label for="name">Text Input:</label>
        <input type="text" name="name" placeholder="Bzzz! Wrong!" id="name" value="" tabindex="1" class="error" />
      </div>

      <div class="col span-3">
        <label for="name">Text Input:</label>
        <input type="text" name="name" placeholder="Nope" id="name" value="" tabindex="1" class="disabled" />
      </div>
    </div>

    <div class="row inline-form">
      <div class="col span-2 inline-label">
        <label for="name">Text Input:</label>
      </div>
      <div class="col span-10">
        <input type="text" name="name" id="name" value="" tabindex="1" />
      </div>
    </div>

    <div class="row inline-form gutless">
      <div class="col span-11">
        <input type="text" name="name" placeholder="lorem ipsume dolor" id="name" value="" tabindex="1" />
      </div>
      <div class="col span-1">
        <button class="btn bg-primary" type="button">Edit</button>
      </div>
    </div>

    <div class="row inline-form gutless">
      <div class="col span-11">
        <input type="text" name="name" placeholder="lorem ipsume dolor" id="name" value="" tabindex="1" />
      </div>
      <div class="col span-1">
        <button class="btn bg-success" type="button">Save</button>
      </div>
    </div>

{{!--     <h4>Input group</h4>
    <div class="row inline-form gutless">
      <div class="col span-11">
        <input type="text" name="name" placeholder="lorem ipsume dolor" id="name" value="" tabindex="1" />
      </div>
      <div class="col span-1">
        <span class="input-label bg-default" type="button">unit</span>
      </div>
    </div>

    <div class="row inline-form gutless">
        <span class="col span-1 input-label bg-default">unit</span>
        <input class="col span-11" type="text" name="name" placeholder="lorem ipsume dolor" id="name" value="" tabindex="1" />    
    </div>

    <div class="row inline-form gutless">
        <span class="col span-1 input-label bg-default btn-sm"><label>unit</label></span>
        <input class="col span-11 input-sm" type="text" name="name" placeholder="lorem ipsume dolor" id="name" value="" tabindex="1" />    
    </div> --}}
    <h4>Input group addons</h4>
  <div>
      <div class="input-group">
      <span class="input-group-addon bg-default" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
      <span class="input-group-addon bg-default" id="basic-addon2">@example.com</span>
    </div>
    <br>
    <label for="basic-url">Your vanity URL</label>
    <div class="input-group">
      <span class="input-group-addon bg-default" id="basic-addon3">https://example.com/users/</span>
      <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon bg-default">$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-addon bg-default">.00</span>
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon bg-default">$</span>
      <span class="input-group-addon bg-default">0.00</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    </div>
  </div>
    <label for="textarea">Textarea:</label>
    <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>

    <label for="checkbox">Checkbox:</label>
    <input type="checkbox" name="checkbox" id="checkbox" />

    <h4>Radio Button Choice</h4>

    <label for="radio-choice-1">Choice 1</label>
    <input type="radio" name="radio-choice-1" id="radio-choice-1" tabindex="2" value="choice-1" />

    <label for="radio-choice-2">Choice 2</label>
    <input type="radio" name="radio-choice-2" id="radio-choice-2" tabindex="3" value="choice-2" />

    <div class="row inline-form">
      <div class="col span-2 inline-label">
        <label for="select-choice">Select Dropdown Choice:</label>
      </div>
      <div class="col span-2">
        <select name="select-choice" id="select-choice">
          <option value="Choice 1">Choice 1</option>
          <option value="Choice 2">Choice 2</option>
          <option value="Choice 3">Choice 3</option>
        </select>
      </div>
    </div>


    <button type="submit" value="Submit" class="btn bg-default">submit</button>

  </form>
  <hr/>
  <h2>Tabs</h2>

  <div class="tabs">
    <ul class="tab-header">
      <li><a href="#">Tab Header 1</a></li>
      <li><a href="#" class="active">Tab Header 2</a></li>
      <li><a href="#">Tab Header 3</a></li>
    </ul>

    <div class="tab-content">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        Mauris placerat eleifend leo.</p>

      <div class="row inline-form">
        <div class="col span-2 inline-label text-right">
          <label for="name">Text Input for a thing:</label>
        </div>
        <div class="col span-10">
          <input type="text" name="name" id="name" value="" tabindex="1" />
        </div>
      </div>

      <div class="row inline-form">
        <div class="col span-2 inline-label text-right">
          <label for="name">Text Input:</label>
        </div>
        <div class="col span-10">
          <input type="text" name="name" id="name" value="" tabindex="1" />
        </div>
      </div>

    </div>
  </div>